////
/// Toggle Module : Variants
/// @group toggle
////

/*
 * Passage du label ferré à gauche, le toggle ferré à droite
 */
#{ns(toggle--label-left)} {
  #{ns(toggle__input)} {
    order: 1;
    @include margin(0 0 0 auto);

    &#{ns-attr(checked-label)} ~ #{ns(toggle__label)} {
      @include padding-left(0);
      @include padding-right(4v);
    }
  }

  #{ns(toggle__label)} {
    justify-content: space-between;
    @include padding-left(0);
    width: calc(100% - #{space(10v)});

    @include before {
      flex-shrink: 0;
      order: 1;
      @include margin-right(-10v);
      @include margin-left(4v);
      text-align: right;
    }

    @include after {
      left: auto;
      right: space(4v);
    }
  }

  #{ns(hint-text)} {
    order: 2;
  }
}
