////
/// Tabs Module
/// @group tabs
////

.#{$prefix}-tabs {
  position: relative;

  /**
   * ul : srollable button element
   */
  &__list {
    display: flex;
    overflow-x: auto;
    list-style: none;

    /**
    * overflow 4px for focus
    */
    width: calc(100% + 4px);
    margin: -4px;
    padding: 4px;

    transition: margin-bottom 0.3s; // Todo: change animation

    @include pseudo-element() {
      flex: 1 1 auto;
      @include scheme-element-box-shadow-color(bf500, true, 'inset 0 -0.125rem 0 0 $COLOR');
    }

    /**
    * Reset default li behaviour
    */
    li {
      display: block;
      flex: 0 0 auto;
      margin: 0;
      @include pseudo-element(before, none);
    }
  }

  /**
  * Tab button
  */
  &__tab {
    @include build-tab();
    @include scheme-element-bg-color(t-plain, true, true);
    @include scheme-element-text-color(bf500);
    @include disabled(g600, g300);
    @include scheme-element-box-shadow-color(bf500, true, 'inset 0 -0.125rem 0 0 $COLOR');

    &[aria-selected=true] {
      @include scheme-element-box-shadow-color(bf500, true, 'inset 0.125rem 0 0 0 $COLOR, inset -0.125rem 0.125rem 0 0 $COLOR');
    }
  }

  /**
  * Tab Panel
  */
  &__panel {
    display: block;
    height: auto;
    left: 0;
    width: 100%;
    position: absolute;
    visibility: visible;
    transition: all ease-out 0.2s; // Todo: channge animation

    &--selected {
      opacity: 1;
    }

    &[hidden] {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }
}
