////
/// Tabs Module
/// @group tabs
////

#{dse(tabs)} {
  position: relative;
  @include padding-bottom(1px); // fix next element margin

  // retire le padding du container en mobile
  @include respond-to(sm) {
    @include margin-left(-4v);
    @include margin-right(-4v);
    .#{$prefix}-tabs {
      @include margin-left(0);
      @include margin-right(0);
    }
  }

  /**
   * ul : element srollable des boutons
   */
  @include list {
    @include display-flex(null, flex-end);
    overflow-x: auto;
    list-style: none;
    @include size(100%);

    /**
    * overflow vertical de 4px pour le focus
    */
    @include margin(-1v 0);
    @include padding(1v 2v);

    /**
    * Animation de la hauteur du panel
    */
    transition: margin-bottom 0.1s; // Todo: change animation

    @include after(block, '') {
      flex: 1 1 auto;
      height: 1px;
      @include margin-left(-2v);
      @include margin-right(-2v);
      @include scheme-element-box-shadow-color(g300, true, '0 1px 0 0 $COLOR');
    }

    /**
    * Reset du style par défaut du li
    */
    li {
      display: block;
      flex: 0 0 auto;
      @include margin(0 2v);
      @include before(none, none);

      &:not(:first-child) {
        @include margin-left(0);
        @include before(block, '') {
          position: sticky;
          @include margin-left(-2v);
          @include size(2v, 1px);
          top: 100%;
          @include scheme-element-box-shadow-color(g300, true, '0 1px 0 0 $COLOR');
        }
      }

      &:last-child {
        @include padding-right(4v);

        @include after(block, '') {
          min-width: 1rem;
          @include margin-left(100%);
          flex: 1 1 auto;
          @include size(auto, 1px);
          top: 100%;
          @include margin-top(-1px);
          @include scheme-element-box-shadow-color(g300, true, '0 1px 0 0 $COLOR');
        }
      }

      &:first-child {
        @include before(block, '') {
          position: sticky;
          @include margin-left(-100%);
          @include size(100%, 1px);
          top: 100%;
          @include scheme-element-box-shadow-color(g300, true, '0 1px 0 0 $COLOR');
        }
      }
    }
  }

  /**
  * Tab button
  */
  &__tab {
    @include build-tab();
    @include relative;
    overflow: visible;
    font-weight: bold;
    @include z-index(over);

    &:not([aria-selected=true]) {
      @include scheme-element-bg-color(bf100-g750, true, true);
      @include scheme-element-text-color(g700);
      @include disabled(g600, g300);
      @include scheme-element-focus(t-plain);
      @include scheme-element-box-shadow-color(g300, true, '0 1px 0 0 $COLOR');
    }

    &[aria-selected=true] {
      @include scheme-element-box-shadow-color(bf500, true, 'inset 0 0.125rem 0 0 $COLOR');
      @include scheme-element-bg-color(t-plain, true, true);
      @include scheme-element-text-color(bf500);
      @include remove-hover();
      cursor: default;

      @include after(block, '') {
        @include absolute(2px, 1px, 0, 1px, auto, calc(100% - 1px));
        @include scheme-element-box-shadow-color(g300, true, '-1px 0 0 0 $COLOR, 1px 0 0 0 $COLOR');
        // @include scheme-element-box-shadow-color(w, true, 'inset 0 -3px 0 0 $COLOR');
        @include z-index(over);
      }
    }
  }

  /**
  * Tab Panel
  */
  &__panel {
    display: block;
    @include size(100%, auto);
    left: 0;
    @include absolute;
    visibility: visible;
    @include padding(4v);
    @include padding(8v, md);
    @include scheme-element-box-shadow-color(g300, true, 'inset 1px -1px 0 0 $COLOR, inset -1px 0 0 $COLOR');
    transition: opacity 0.1s, visibility 0.1s; // Todo: change animation

    &--selected {
      opacity: 1;
      @include scheme-element-focus();

      &:focus {
        outline-offset: calc(-1rem + 2px);
        @include respond-from(md) {
          outline-offset: calc(-2rem + 2px);
        }
      }
    }

    &[hidden] {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }
}
