<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- sample('lien interne', '../../../../component/link/example/sample/link-default', { link: { id: uniqueId('link'), label: 'Libellé lien', href:'../' }}); %>
</div>
