////
/// Stepper Module
/// @group stepper
////

#{ns(stepper)} {
  @include set-title-margin(0);
  @include set-text-margin(0);
  @include margin-bottom(8v);
  @include display-flex(column);

  @include title {
    @include title-style(h6);
  }

  &__state {
    @include text-style(sm);
    @include margin-bottom(1v);
    order: -1;
  }

  &__details {
    @include text-style(xs);
  }

  &__steps {
    @include margin-y(3v);
    @include size(100%, 1.5v);
    background-repeat: no-repeat;
    background-size: calc(100% + #{space(1.5v)});
    background-position: 50%;
    @include stepper-build();
  }
}
