////
/// Core Module : Reset lists
/// @group core
////

@if (map-get($reset-settings, list)) {
  @include enable-list-style;

  ol,
  ul {
    @include list-reset;
    @include padding(var(--li-pt) 0 var(--li-pb) var(--li-pl));
  }

  ul {
    --li-content: var(--ul-content);
    --li-font-weight: inherit;
    --li-increment: none;
  }

  ol {
    counter-reset: var(--ol-increment);

    --li-content: var(--ol-content);
    --li-font-weight: var(--ol-font-weight);
    --li-increment: var(--ol-increment);
  }

  li {
    counter-increment: var(--li-increment);

    @include before(var(--li-content)) {
      @include margin-right(1v);
      font-weight: var(--li-font-weight);
    }
    @include padding-bottom(var(--li-pb));
  }

  #{ns(raw-list)} {
    @include disable-list-style;
  }

  #{ns(list)} {
    @include enable-list-style;
  }
}
