////
/// Core Module : Reset lists
/// @group core
////

@if (map-get($reset-settings, list)) {
  @include enable-list-style;

  ol,
  ul {
    @include list-reset;
    @include padding(var(--li-pt) 0 var(--li-pb) var(--li-pl));
  }

  ul {
    --li-indent-base: calc(var(--li-indent) - 1em);
    --li-content: var(--ul-content);
    --li-font-weight: inherit;
    --li-max-width: var(--ul-max-width);
    --li-overflow: var(--ul-overflow);
    --li-display: var(--ul-display);
    --li-vertical-align: var(--ul-vertical-align);
    --li-letter-spacing: var(--ul-letter-spacing);
    --li-increment: none;
  }

  ol {
    counter-reset: var(--ol-increment);

    --li-content: var(--ol-content);
    --li-font-weight: var(--ol-font-weight);
    --li-max-width: none;
    --li-indent-base: 0;
    --li-overflow: initial;
    --li-display: initial;
    --li-vertical-align: initial;
    --li-letter-spacing: 0;
    --li-increment: var(--ol-increment);
  }

  li {
    counter-increment: var(--li-increment);

    --li-indent: var(--li-indent-base);

    @include before(var(--li-content)) {
      @include margin-right(1v);
      font-weight: var(--li-font-weight);
      overflow: var(--li-overflow);
      max-width: var(--li-max-width);
      text-indent: #{'max(var(--li-indent), -5.1em)'};
      display: var(--li-display);
      vertical-align: var(--li-vertical-align);
      letter-spacing: var(--li-letter-spacing);
    }
    @include padding-bottom(var(--li-pb));

    ul {

    }
  }

  #{ns(raw-list)} {
    @include disable-list-style;
  }

  #{ns(list)} {
    @include enable-list-style;
  }
}
