<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- section('Onglets', null, 0) %>
  <%- sample('tab', '../../../component/tab/example//sample/tabs-default', {tabs: { tabsCount: 4, icon: 'checkbox-circle-line' }});  %>
</div>
