$options: (
  width: (
    from: 0,
    through: 8,
    half: 2,
    special: 25% 50% 100% 25vw 50vw 100vw,
    breakpoints: md
  ),
  min-width: (
    from: 0,
    through: 8,
    half: 2,
    special: 25% 50% 100% 25vw 50vw 100vw,
    breakpoints: md
  ),
  max-width: (
    from: 0,
    through: 8,
    half: 2,
    special: 25% 50% 100% 25vw 50vw 100vw,
    breakpoints: md
  ),
  height: (
    from: 0,
    through: 8,
    half: 2,
    special: 25% 50% 100% 25vw 50vw 100vw,
    breakpoints: md
  ),
  min-height: (
    from: 0,
    through: 8,
    half: 2,
    special: 25% 50% 100% 25vw 50vw 100vw,
    breakpoints: md
  ),
  max-height: (
    from: 0,
    through: 8,
    half: 2,
    special: 25% 50% 100% 25vw 50vw 100vw,
    breakpoints: md
  ),
);
