
$encoding-reference: (
  ('<','%3C'),
  ('>','%3E'),
  ('"','\''),
  ('#','%23'),
  ('&','%26')
);

@function svg-encode($svg) {
  @each $char, $encoded in $encoding-reference {
    $svg: str-replace($svg, $char, $encoded);
  }
  @return 'data:image/svg+xml,' + $svg;
}
