////
/// Media query
/// @group media-query
////

$breakpoints: (
  xs: 0 35.98em,
  sm: 36em 47.98em,
  md: 48em 61.98em,
  lg: 62em 77.98em,
  xl: 78em,
) !default;

/// Set media query styles
///
/// @param {String} $media [md] - Layout size `['xs', 'sm', 'md', 'lg', 'xl']`
///
/// @example scss -
///   .foo {
///     @include respond-from(md) {
///     }
///   }
@mixin respond-from($media) {
  $limits: map_get($breakpoints, $media);

  @if $limits != null {
    @media (min-width: nth($limits, 1)) {
      @content;
    }
  }
  @else {
    @content;
  }
}
