////
/// Core Standalone : Reset box-sizing
/// @group core
////

@mixin standalone-box-sizing($hasDescendants: false) {
  box-sizing: border-box;
  @include _pseudo(before after) {
    box-sizing: inherit;
  }

  @if $hasDescendants {
    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }
  }
}
