////
/// Tag Module
/// @group tag
////

@mixin _tag-scheme($legacy: false) {
  #{ns(tag)} {
    @include scheme-element-text-color(label grey, (legacy: $legacy));
    @include scheme-element-bg-color(contrast grey, (legacy: $legacy));
  }

  @include clickable-selector {
    &#{ns(tag)} {
      @include scheme-element-text-color(action-high blue-france, (legacy: $legacy));
      @include scheme-element-bg-color(action-low blue-france, (legacy: $legacy));

      @include accent-modifiers {
        @include scheme-element-text-color(action-high accent, (legacy: $legacy));
        @include scheme-element-bg-color(action-low accent, (legacy: $legacy));
      }

      @include pressed-selector(false) {
        @include scheme-element-text-color(action-high blue-france, (legacy: $legacy));
        @include scheme-element-bg-color(action-low blue-france, (legacy: $legacy));
      }

      @include pressed-selector(true) {
        @include scheme-element-text-color(inverted grey, (legacy: $legacy));
        @include scheme-element-bg-transparent((legacy:$legacy));
        @include scheme-element-bg-image-color(action-high blue-france, (legacy: $legacy), (radial-gradient(circle at 100% space(1v), transparent space(2.3125v), var(--hsla) space(2.5v)), radial-gradient(circle at 100% space(1v), transparent space(2.3125v), $COLOR space(2.5v)) ));

        @include disabled {
          background-image: none;
        }

        @include after {
          @include scheme-element-text-color(action-high blue-france, (legacy: $legacy));
        }

        &#{ns(tag)}--sm {
          @include scheme-element-bg-image-color(action-high blue-france, (legacy: $legacy), (radial-gradient(circle at 100% space(0.75v), transparent space(1.79v), var(--hsla) space(2v)), radial-gradient(circle at 100% space(0.75v), transparent space(1.79v), $COLOR space(2v)) ));
        }
      }

      &#{ns(tag)}--dismiss {
        @include scheme-element-text-color(inverted grey, (legacy: $legacy));
        @include scheme-element-bg-color(action-high blue-france, (legacy: $legacy));
      }

      @include disabled((legacy: $legacy, can-be-link: true, text: true, background: true));
    }
  }

  #{ns-group(tags)} {
    &#{ns-group(tags)}--sm {
      @include clickable-selector {
        &#{ns(tag)} {
          @include pressed-selector(true) {
            @include scheme-element-bg-image-color(action-high blue-france, (legacy: $legacy), (radial-gradient(circle at 100% space(0.75v), transparent space(1.79v), var(--hsla) space(2v)), radial-gradient(circle at 100% space(0.75v), transparent space(1.79v), $COLOR space(2v)) ));
          }
        }
      }
    }
  }
}
