////
/// Tag Tool
/// @group tag
////

@mixin build-tag() {
  @include _build-link($tags-settings);
}

@mixin nest-tag($size:md, $place: null, $icon:null, $from: null, $insert: true) {
  @include _nest-link($tags-settings, $size, $place, $icon, $from, $insert) {
    @content;
  }
}
