$static-font-path: '~@gouvfr/core/fonts';
$icon-font-path: '/icons/font';

@import '~@gouvfr/schemes/main';
@import '~@gouvfr/core/main';
@import '~@gouvfr/grid/main';
@import '~@gouvfr/utilities/main';

@import '~@gouvfr/form/main';
@import '~@gouvfr/radios/main';
@import '~@gouvfr/ie11/main';

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
}
