$static-font-path: '~@frds/core/fonts';
$icon-font-path: '~@frds/icons/fonts';

@import '~@frds/core/main';
@import '~@frds/icons/main';
@import '~@frds/schemes/main';
@import '~@frds/grid/main';
@import '~@frds/typography/main';
@import '~@frds/utilities/main';

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
}