$static-font-path: '~@gouvfr/core/fonts';
$icon-font-path: '/icons/font';

@import '~@gouvfr/schemes/main';
@import '~@gouvfr/core/main';
@import '~@gouvfr/utilities/main';
@import '~@gouvfr/forms/main';
@import '~@gouvfr/checkboxes/main';
@import '~@gouvfr/links/main';
@import '~@gouvfr/accordions/main';

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
}

.test-controls {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -8px 16px 0 rgba(0, 0, 0, 0.1), 0 -8px 16px -16px rgba(0, 0, 0, 0.32);
  @include padding(1v 8v);

  @include scheme-element-bg-color(w-g750);

  .#{$prefix}-form-group {
    @include margin-bottom(0);
  }
}
