////
/// Form Legacy
/// @group core
////

@use 'src/module/path';
@use 'src/module/shame/media-query';

@include path.to-dist(2);
@include media-query.order;

@import 'index';
@import 'style/scheme';
@import 'style/legacy';

@include _form-scheme(true);

// deprecated
@import 'deprecated/style/scheme';
@import 'deprecated/style/legacy';

@include _deprecated-form-scheme(true);
