<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- section('Navigation principale', null, 0) %>
  <div style="position:relative">
    <div class="<%= prefix%>-container">
      <%- sample('navigation', '../../../component/navigation/example/sample/navigation', {}); %>
    </div>
  </div>
</div>
