////
/// Footer module : Partners
/// @group Footer
////

/**
 * La partie "partners" du footer est constituée de logos organisés
 * en partenaires principaux (ferré à gauche) et secondaires (ferrés à droite)
 */

&__partners {
  @include margin-top(4v);
  @include padding-top(4v);

  /**
   * Style des liens qui entourent les logos partenaires
   */
  a {
    @include display-flex(null, center, center);
    @include scheme-element-no-box-shadow;
  }

  /**
   * On surcharge le style du logo de base
   */
  #{ns(footer__logo)} {
    @include size(auto, auto);
    @include margin(1v);
  }

  + #{ns(footer__bottom)} {
    @include margin-top(2v);
  }
}

&__partners-title {
  @include text-style(sm);
  @include margin(0);
  flex-basis: 100%;
  text-align: center;

  @include respond-from(sm) {
    text-align: left;
  }
}

/**
 * Container des logos partenaires (principaux et secondaires)
 */
&__partners-logos {
  @include display-flex(column, null, null, wrap);
  @include margin(1v 0 -1v 0);

  @include respond-from(sm) {
    @include display-flex(row, flex-start, flex-start);
    @include margin(1v 0 -1v -1v);
    @include before('', block) {
      order: 2;
      flex: 1;
    }
  }

  @include respond-from(md) {
    flex-wrap: nowrap;
    @include margin(1v -3v -1v -1v);
  }
}

/**
 * Container des logos partenaires principaux
 */
&__partners-main {
  @include display-flex(row,null,center);
  @include margin-x(auto);
  @include margin-bottom(2v);

  + #{ns(footer__partners-sub)} {

    @include respond-from(md) {
      & > ul {
        justify-content: flex-end;

        & > li {
          @include margin(0 2v 0 0);
        }
      }
      @include padding-left(8v);
      @include padding-top(0);
    }
  }

  @include respond-from(sm) {
    order: 1;
  }
}

/**
 * Container des logos partenaires secondaires
 */
&__partners-sub {
  @include margin-bottom(2v);

  &,
  & > ul {
    @include display-flex(column, center, null, wrap);
    @include respond-from(sm) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  /**
   * On surcharge le style du lien pour les logos secondaires
   */
  #{ns(footer)}__partners-link {
    @include scheme-element-no-box-shadow;
  }

  @include respond-from(sm) {
    order: 3;
  }
}
