////
/// Card Legacy
/// @group card
////

@include legacy(ie11) {
  #{ns(card)} {
    @include icon-legacy(arrow-right-line, md, before);

    &--no-icon {
      @include before(none);
    }

    &__title,
    &__desc {
      flex: 1 0 auto;
    }

    &__title {
      @include target-blank {
        @include icon-size-legacy(lg, after);
      }
    }

    &__detail {
      @include icon-size-legacy(sm, before);
    }

    &--horizontal &__body {
      flex-basis: 100%;
    }
  }
}
