<%

let data = locals;


if (!isNaN(data.tabs)) {
  const length = data.tabs;
  data.tabs = [];
  for (let i = 0; i < length; i++) {
    let content = '';
    for (let j = 0; j < (i + 1 + (locals.repeat || 0)); j++) content += '<p>' + lorem() + '</p>';
    data.tabs[i] = {
      label: `Label Tab ${i + 1}`,
      content: randomContent(i + 1)
    }
  }
}

%>

<%- include('../../template/ejs/tabs', data) %>
