////
/// Core Setting : Spacing
/// @group core
////

$spacing-settings: (
  props: (
    margin: (
      from: -8,
      through: 32,
      special: auto
    ),
    padding: (
      from: 0,
      through: 32
    )
  ),
  breakpoints: md
);

$spacing-sides: (top right bottom left);
