////
/// Core Setting : Spacing
/// @group core
////

$spacing-settings: (
  margin: (
    from: -8,
    through: 32,
    half: 2,
    special: auto,
    breakpoints: md
  ),
  padding: (
    from: 0,
    half: 2,
    through: 32,
    breakpoints: md
  )
) !default;

@if (map_has_key($variables, spacing)) {
  $spacing-settings: map-get($variables, spacing);
}

$spacing-sides: (top right bottom left);
