////
/// Schemes Settings : Colors
/// @group schemes
////

// échelle des gris
// @type color
$grey-800: #1e1e1e;
$grey-750: #2a2a2a;
$grey-700: #383838;
$grey-600: #6a6a6a;
$grey-500: #9c9c9c;
$grey-400: #cecece;
$grey-300: #e7e7e7;
$grey-200: #f0f0f0;
$grey-100: #f8f8f8;

$white: #fff;
$beige:#f9f8f6;

// échelle des bleus France
// @type color
$blue-france-700: #00006d;
$blue-france-600: #000074;
$blue-france-500: #000091;
$blue-france-400: #7f7fc8;
$blue-france-300: #9a9aff;
$blue-france-200: #ececff;
$blue-france-100: #f5f5ff;

// échelle des rouges Marianne
// @type color
$red-marianne-700: #a9000b;
$red-marianne-600: #ca000d;
$red-marianne-500: #e1000f;
$red-marianne-400: #f07087;
$red-marianne-300: #f7bfc3;
$red-marianne-200: #fce5e7;
$red-marianne-100: #fdf2f3;

// échelles des couleurs illustratives
// @type color
$green-warm-700: #706849;
$green-warm-600: #877e59;
$green-warm-500: #958b62;
$green-warm-400: #cac5b0;
$green-warm-300: #e4e2d8;
$green-warm-200: #f4f3ef;

$green-light-700: #6d823b;
$green-light-600: #88a34a;
$green-light-500: #91ae4f;
$green-light-400: #c8d6a7;
$green-light-300: #e3ebd3;
$green-light-200: #f4f7ed;

$green-medium-700: #107449;
$green-medium-600: #19905b;
$green-medium-500: #169b62;
$green-medium-400: #8acdb0;
$green-medium-300: #c5e6d8;
$green-medium-200: #e7f5ef;

$green-dark-700: #344f4b;
$green-dark-600: #40605b;
$green-dark-500: #466964;
$green-dark-400: #a2b4b1;
$green-dark-300: #d1d9d8;
$green-dark-200: #ecf0ef;
$green-dark-100: #f6f7f7;

$green-soft-700: #008169;
$green-soft-600: #22967e;
$green-soft-500: #00ac8c;
$green-soft-400: #80d5c6;
$green-soft-300: #bfeae2;
$green-soft-200: #e5f7f4;

$blue-soft-700: #41548e;
$blue-soft-600: #5266a1;
$blue-soft-500: #5770be;
$blue-soft-400: #abb8df;
$blue-soft-300: #d5dbef;
$blue-soft-200: #ededf2;

$blue-dark-700: #363a5b;
$blue-dark-600: #444871;
$blue-dark-500: #484d7a;
$blue-dark-400: #a3a6bc;
$blue-dark-300: #d1d2de;
$blue-dark-200: #ecedf1;
$blue-dark-100: #f6f6f8;

$pink-soft-700: #bf6a5e;
$pink-soft-600: #d07c75;
$pink-soft-500: #ff8d7e;
$pink-soft-400: #ffc6be;
$pink-soft-300: #ffe2df;
$pink-soft-200: #fff4f2;

$pink-dark-700: #9c6759;
$pink-dark-600: #c0806f;
$pink-dark-500: #d08a77;
$pink-dark-400: #e8c5bb;
$pink-dark-300: #f3e2dd;
$pink-dark-200: #faf3f1;

$pink-light-700: #bf9176;
$pink-light-600: #ddb094;
$pink-light-500: #ffc29e;
$pink-light-400: #ffe0cf;
$pink-light-300: #fff0e7;
$pink-light-200: #fff9f5;

$yellow-medium-700: #bfae00;
$yellow-medium-600: #ead737;
$yellow-medium-500: #ffe800;
$yellow-medium-400: #fff480;
$yellow-medium-300: #fff9bf;
$yellow-medium-200: #fffde6;

$yellow-dark-700: #be9b31;
$yellow-dark-600: #e3bd41;
$yellow-dark-500: #fdcf41;
$yellow-dark-400: #fee7a0;
$yellow-dark-300: #fef3cf;
$yellow-dark-200: #fffaec;

$orange-medium-700: #bf7330;
$orange-medium-600: #d38742;
$orange-medium-500: #ff9940;
$orange-medium-400: #ffcc9f;
$orange-medium-300: #ffe6cf;
$orange-medium-200: #fff5ec;

$orange-dark-700: #a9664a;
$orange-dark-600: #d0805b;
$orange-dark-500: #e18863;
$orange-dark-400: #f0c5b1;
$orange-dark-300: #f7e1d8;
$orange-dark-200: #fcf3ef;

$orange-soft-700: #bf5339;
$orange-soft-600: #cb634b;
$orange-soft-500: #ff6f4c;
$orange-soft-400: #ffb7a5;
$orange-soft-300: #ffdbd2;
$orange-soft-200: #fff0ed;

$purple-700: #5e3a44;
$purple-600: #714753;
$purple-500: #7d4e5b;
$purple-400: #bea7ad;
$purple-300: #ded3d6;
$purple-200: #f2edef;
$purple-100: #f8f6f7;

$brown-700: #794e43;
$brown-600: #956052;
$brown-500: #a26859;
$brown-400: #d1b4ac;
$brown-300: #e8dad5;
$brown-200: #f6f0ee;

// Couleurs fonctionnelles
// @type color
$info-dark-mode: #2b8bf7;
$info: #0762c8;
$success: #008941;
$success-dark-mode: #00eb5e;
$warning: #fa5c00;
$warning-dark-mode: #ff6105;
$error: #e10600;
$error-dark-mode: #f33;

// Couleurs du focus
// @type color
$color-focus: #2a7ffe;
$color-focus-dark-mode: #5398ff;
