<%#
# paramètres media-img

// TODO: documentation

%>
<% eval(include('../../../../core/index.ejs')); %>

<div class="<%= prefix %>-content-media__img" >
    <%- include('../../../../core/template/ejs/medias/responsive-img.ejs', locals.img); %>
</div>
<% if (locals.caption != undefined) { %>
    <figcaption class="<%= prefix %>-content-media__caption" ><%= caption %></figcaption>
<% } %>
