<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- sample(getText('sample.default', 'upload'), '../../../../component/upload/example/sample/upload.ejs', { upload: { id: 'file-upload' }}); %>
</div>
