<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- sample(getText('sample.default', 'upload'), '../../../../component/upload/example/sample/upload.ejs', { upload: {id:'file-upload'}}); %>
  <%- sample(getText('sample.error', 'upload'), '../../../../component/upload/example/sample/upload.ejs', { upload: {id:'file-upload-with-error', error: true }}); %>
  <%- sample(getText('sample.multiple', 'upload'), '../../../../component/upload/example/sample/upload-multiple.ejs', { upload: {id:'file-upload-multiple' }}); %>
</div>
