////
/// Stepper Tool
/// @group stepper
////

@mixin stepper-build () {
  @for $i from 2 through map-get($stepper-settings, max-steps) {
    &#{ns-attr(steps, $i)} {
      --steps: #{$i};
      --step-width: calc(100% / #{$i});
    }
  }

  --current-step: 0;
  @for $i from 1 through map-get($stepper-settings, max-steps) {
    &#{ns-attr(current-step, $i)} {
      --current-step: #{$i};
    }
  }
}

// cache le detail de la dernière étape
@mixin hide-last-step-detail () {
  $lastActives: ();

  @for $i from 2 through map-get($stepper-settings, max-steps) {
    $lastActives: append($lastActives, '#{ns(stepper__steps)}#{ns-attr(steps, $i)}#{ns-attr(current-step, $i)} + #{ns(stepper__details)}', $separator: comma);
  }

  #{$lastActives} {
    display: none;
  }
}
