////
/// Cockade Module
/// @group cockade
////

#{ns(cockade)} {
  &__title {
    @include padding(1.5v 0);
    @include padding(1v 0, md);
    @include relative;
  }

  &__button {
    @include padding(0);
    @include text-style(xs);
    font-weight: font-weight(bold);
    @include display-flex(row, center);

    @include before('', 'block') {
      @include absolute(0,0,0,0);
    }

    @include icon(arrow-down-s-line, sm, after) {
      display: block;
      @include margin-left(1v);
      transition: transform 0.3s;
    }

    &[aria-expanded="true"] {
      @include after {
        transform: rotate(-180deg);
      }
    }
  }

  &__content {
    #{ns(container)} {
      @include padding-top(4v);
      @include padding-top(6v, md);
      @include padding-bottom(0);
      @include padding-bottom(2v, md);
    }

    #{ns(cockade__col)} {
      @include relative;
      @include padding-left(0);
      @include display-flex(column, flex-start, flex-start);
      @include size(100%, 100%);

      @include has-icon {
        @include padding-left(16v);
      }

      @include before {
        @include display-flex(row, center, center);
        @include absolute(0,null,null,0,12v,12v);
        border-radius: 50%;
      }

      &:first-child {
        word-break: break-word;
      }

      p {
        @include margin-bottom(2v);

        &:last-child {
          @include margin-bottom(6v);
        }
      }
    }
  }
}
