////
/// Core Tool : Reset
/// @group core
////

$underline-thickness: 0.0625em;

@mixin a-reset {
  text-decoration: none;
  color: inherit;
}

@mixin enable-underline() {
  --underline-img: linear-gradient(0deg, currentColor, currentColor);
}

@mixin disable-underline() {
  --underline-img: none;
}

@mixin link-underline() {
  background-image: var(--underline-img), var(--underline-img);
  background-position: 50% calc(50% + #{11.5 * $underline-thickness }), 50% calc(50% + #{10.5 * $underline-thickness });
  background-repeat: no-repeat, no-repeat;
  transition: background-size 0s;
  @include link-underline-background-size(100%, 0);
}

@mixin link-underline-background-size($base-width: 100%, $hover-width: 100%) {
  background-size: #{$hover-width} #{$underline-thickness }, #{$base-width} #{$underline-thickness };
}

@mixin hover-underline () {
  &:hover,
  &:active {
    @include link-underline-background-size(100%, 100%);
  }
}

@mixin link-blank() {
  @include icon(external-link-line, sm, after){
    @include margin-left(1v);
    @include margin-bottom(1v);
  };
}
