/*!
 * DSFR v1.1.0 | SPDX-License-Identifier: MIT | License-Filename: LICENCE.md | restricted use (see terms and conditions)
 */
/* ------------------------------------ *\
  ERROR MAIN
\* ------------------------------------ */
.fr-error-img-container {
  text-align: center;
}

.fr-error-img {
  width: 100%;
  height: auto;
  max-width: 28.75rem;
}
