@use 'module/selector';
@use 'module/direction';

@mixin _link-direction($is-supported: true) {
  #{selector.ns('link')} {
    &--download {
      #{selector.ns('link__detail')} {
        @include direction.ltr($is-supported) {
          left: 0;
        }

        @include direction.rtl($is-supported) {
          right: 0;
          left: auto;
        }
      }
    }
  }

  #{selector.ns-group('links')} {
    > li {
      @include direction.rtl($is-supported) {
        display: inline-block;
      }
    }
  }
}
