////
/// Link Setting
/// @group link
////

$links-settings:(
  selector: link,
  sizes: (
    xs: (
      font-size: 3v,
      min-height: 0,
      padding-x: 0,
      icon: xs,
      icon-margin-x: 2v,
      icon-only: xs,
    ),
    sm: (
      font-size: 3.5v,
      min-height: 0,
      padding-x: 0,
      icon: sm,
      icon-margin-x: 2v,
      icon-only: sm,
    ),
    md: (
      font-size: 4v,
      min-height: 0,
      padding-x: 0,
      icon: sm,
      icon-margin-x: 2v,
      icon-only: md,
    ),
    lg: (
      font-size: 4.5v,
      min-height: 0,
      padding-x: 0,
      icon: md,
      icon-margin-x: 2v,
      icon-only: lg,
    )
  ),
  places: left right,
  underline: true,
  blank: true,
  forced-color: linktext
);
