////
/// Core Tool : Icon legacy
/// @group core
////

@mixin icon-size-legacy($size:md, $pseudo: null) {
  $selector: null;
  @if $pseudo == before or $pseudo == after {
    $selector: '&::#{$pseudo}';
  }
  @include nest($selector) {
    $size: icon-size($size);
    @include size($size, $size);
  }
}

@mixin icon-image-legacy($icon, $pseudo: before, $important: false, $content: null) {
  @include _pseudo($pseudo, $content) {
    $url: get-icon-url($icon, $important);
    background-image: $url;
  }
}

@mixin icon-style-legacy($pseudo: before, $content: null) {
  @include _pseudo($pseudo, $content) {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

@mixin icon-legacy($icon: null, $size: md, $pseudo: before, $init: true) {
  @if $init {
    $content: null;
    @if $icon != null {
      content: '';
    }
    @include icon-style-legacy($pseudo, $content);
  }

  @if $icon != null {
    @include icon-image-legacy($icon, $pseudo);
  }

  @if $size != null {
    @include icon-size-legacy($size, $pseudo);
  }

  @include _pseudo($pseudo) {
    @content;
  }
}

@mixin generate-icons-legacy($config: $icons-config) {
  @each $icon, $setting in $config {
    #{ns(icon-#{$icon})} {
      @include icon-image-legacy($icon, before, true);
    }
  }
}
