////
/// Radio Module : radio md
/// @group radio
////

@use '../../../../../../../sass/display';
@use '../../../../../../../sass/selector';
@use '../../../../../../../sass/spacing';
@use '../../../../../../../sass/typography';

@mixin first() {
  #{selector.ns-group(radio)} {
    @include spacing.relative;

    input[type='radio'] {
      @include spacing.absolute;
      @include spacing.margin(0);
      opacity: 0;
      top: 50%;
      transform: translateY(-50%);

      + label {
        @include spacing.relative;
        -webkit-tap-highlight-color: transparent;
        @include display.flex(row, center, flex-start, wrap);
        @include spacing.margin-left(8v);

        #{selector.ns(hint-text)} {
          @include spacing.margin(0);
          @include spacing.size(100%);
        }

        @include selector.before('', inline-block) {
          @include spacing.absolute(0, null, null, -8v);
          @include spacing.size(6v, 6v);
          @include spacing.margin-top(3v);
          @include spacing.margin-right(2v);
          border-radius: 50%;
          // transition: box-shadow 0.3s;
        }
      }
    }
  }
}
