@use 'replace';

@function encode-svg($svg, $legacy) {
  $svg: replace.replace($svg, '#', '%23');
  @if $legacy {
    $svg: replace.replace($svg, '<', '%3C');
    $svg: replace.replace($svg, '>', '%3E');
    $svg: replace.replace($svg, '"', '\'');
    $svg: replace.replace($svg, '{', '%7B');
    $svg: replace.replace($svg, '}', '%7D');
    $svg: replace.replace($svg, '’', '%E2%80%99');
  }
  @return $svg;
}
