////
/// Schemes Settings
/// @group schemes
////

// Attribut utilisé pour le dark mode
$dt: '#{ns-attr(theme, "dark")}';

// Sélecteur du dark mode
$dark-theme-selector: ':root#{$dt}';

// Sélecteur du light mode
$not-dark-theme-selector: ':root:not(#{$dt})';

// Base de construction de classe de block de combinaison
$base-scheme: #{ns(scheme, '')};

// Base de construction de sélecteur de block de combinaison
$base-scheme-selector: #{ns(scheme)};

// Sélecteur de transition de couleur
$theme-transition-selector: ':root#{ns-attr(transition)}';

// Durée de transition de couleur
$theme-transition-duration: 0.3s;

// Les transitions sont incluses dans le code
$theme-allow-transition: false;

// Variable de couleur utilisée dans les mixin d'éléments de combinaison de couleur
$COLOR:unquote('$COLOR') !global;

@import 'settings/colors';
@import 'settings/sets';
@import 'settings/blocks';
