////
/// Core Tools : Global reset
/// @group core
////

%btn-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

%a-reset {
  text-decoration: none;
}

%list-reset {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
