$values: (
  default: (
    raised: raised grey,
    overlap: overlap grey,
    lifted: lifted grey
  ),
  alt: (
    raised: alt-raised grey,
    overlap: alt-overlap grey,
    lifted: lifted grey
  ),
  contrast: (
    raised: contrast-raised grey,
    overlap: contrast-overlap grey,
    lifted: lifted grey
  ),
);
