@use '../function/space';

@mixin width($width:null) {
  @if $width != null {
    width: #{space.space($width)};
  }
}

@mixin min-width($width:null) {
  @if $width != null {
    min-width: #{space.space($width)};
  }
}

@mixin max-width($width:null) {
  @if $width != null {
    max-width: #{space.space($width)};
  }
}

@mixin height($height:null) {
  @if $height != null {
    height: #{space.space($height)};
  }
}

@mixin min-height($height:null) {
  @if $height != null {
    min-height: #{space.space($height)};
  }
}

@mixin max-height($height:null) {
  @if $height != null {
    max-height: #{space.space($height)};
  }
}

@mixin size($width:null, $height:null) {
  @if $width != null {
    width: #{space.space($width)};
  }
  @if $height != null {
    height: #{space.space($height)};
  }
}

@mixin min-size($min-width:null, $min-height:null) {
  @if $min-width != null {
    min-width: #{space.space($min-width)};
  }
  @if $min-height != null {
    min-height: #{space.space($min-height)};
  }
}

@mixin max-size($max-width:null, $max-height:null) {
  @if $max-width != null {
    max-width: #{space.space($max-width)};
  }
  @if $max-height != null {
    max-height: #{space.space($max-height)};
  }
}
