@use 'sass:meta';
@use 'sass:list';
@use 'sass:map';
@use '../function/selector';
@use 'space';

@mixin utility ($prop, $directions: null, $value:1, $unit: null, $breakpoint: null, $important: false) {
  $directions: if(meta.type-of($directions) == list, list.join((null), $directions), null);
  $size: if($unit, '#{$value}#{$unit}', $value);

  @each $direction in $directions {
    #{selector.selector($prop, $direction, $value, $unit, $breakpoint)} {
      @include space.space($prop, $size, $direction, $important);
    }
  }
}

@mixin utilities ($prop, $options, $breakpoint: null, $important: false) {
  $from: map.get($options, from);
  $through: map.get($options, through);
  $half: map.get($options, half);
  $specials: map.get($options, special);
  $directions: map.get($options, directions);

  @for $i from $from through $through {
    @include utility($prop, $directions, $i, v, $breakpoint, $important);
    @if $i >= -$half and $i < $half {
      @include utility($prop, $directions, $i + 0.5 , v, $breakpoint, $important);
    }
  }

  @each $special in $specials {
    @include utility($prop, $directions, $special, null, $breakpoint, $important);
  }
}
