@mixin absolute-overlay($size: 100% 100%, $position: 0 0 0 0, $is-media-query:false) {

  @if $is-media-query == false and $size == (100% 100%) and $position == (0 0 0 0) {
    @extend %absolute-overlay;
  }
  @else {
    position: absolute;
    width: nth($size, 1);
    height: nth($size, 2);
    top: nth($position, 1);
    right: nth($position, 2);
    bottom: nth($position, 3);
    left: nth($position, 4);
  }

  @content;
}

%absolute-overlay {
  @include absolute-overlay(100% 100%, 0 0 0 0, true);
}
