@mixin absolute-overlay($size: 100% 100%, $position: 0 0 0 0) {
  position: absolute;
  width: nth($size, 1);
  height: nth($size, 2);
  top: nth($position, 1);
  right: nth($position, 2);
  bottom: nth($position, 3);
  left: nth($position, 4);

  @content;
}
