%btn-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

%a-reset {
  text-decoration: none;
  box-shadow: none;
}
