@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

@mixin sr-only-from() {
  @each $bp, $limits in $breakpoints {
    .#{$prefix}-sr-only-#{$bp} {
      @include respond-from($bp) {
        @include sr-only();
      }
    }
  }
}

@mixin sr-only-to() {
  @each $bp, $limits in $breakpoints {
    .#{$prefix}-sr-only-to-#{$bp} {
      @include respond-to($bp) {
      @include sr-only();
    }
  }
}
}


