<% const sample = getSample(include, 887); %>
<%
  const accordion = {
    label: 'Libellé accordéon',
    content: randomContent(),
    id: uniqueId('accordion'),
  }
%>

<div class="<%= prefix %>-container" >

  <div class="<%= prefix %>-mb-6v">
    <%- section('Accordéon', null, 0) %>
    <%- include('../../../../component/accordion/template/ejs/accordion', {accordion: accordion}); %>
  </div>
</div>
