<%#
# paramètres groupe de tags

* tagsGroup.tags (array, required): paramètres spécifique de chaque tag du groupe

* tagsGroup.size (string, optional) : définie la taille des tags dans le groupe (default md)
  * sm : Tags taille sm

* tagsGroup.classes (array, optionnal) : Classes suplémentaires sur le groupe de tags

* tagsGroup.attributes (object, optionnal) : Attributs suplémentaires sur le groupe de tags

#%>

<% eval(include('../../../../core/index.ejs')); %>

<%
const tagsGroup = locals.tagsGroup || {};
let groupClasses = tagsGroup.classes || [];
let groupAttrs = tagsGroup.attributes || {};
let tags = tagsGroup.tags || [];
groupClasses.push(prefix + '-tags-group');

switch(tagsGroup.size) {
  case 'sm':
    groupClasses.push(prefix + '-tags-group--sm');
    break;
 }
 %>

<ul <%- includeClasses(groupClasses) %> <%- includeAttrs(groupAttrs) %>>
<% for (let i = 0; i < tags.length; i++) { %>
  <li>
    <%- include('./tag.ejs', { tag: tags[i] }); %>
  </li>
<% } %>
</ul>
