<!doctype html>
<html lang="fr" data-fr-theme>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Pagination - Design System</title>
        <link rel="apple-touch-icon" href="../../../_dist/favicon/apple-touch-icon.png"><!-- 180×180 -->
        <link rel="icon" href="../../../_dist/favicon/favicon.svg" type="image/svg+xml">
        <!-- si favicon.ico peut etre placé à la racine du serveur, retirer la ligne ci-dessous -->
        <link rel="shortcut icon" href="../../../_dist/favicon/favicon.ico" type="image/x-icon"><!-- 32×32 -->
        <link rel="manifest" href="../../../_dist/favicon/manifest.webmanifest" crossorigin="use-credentials">
        <!-- Modifier les chemins relatifs des favicons en fonction de la structure du projet -->
        <!-- Dans le fichier manifest.webmanifest aussi, modifier les chemins vers les images -->
        <link href="../../../_dist/core/core.main.css" rel="stylesheet" file="main">
        <link href="../../../_dist/scheme/scheme.css" rel="stylesheet" file="main">
        <link href="../../../_dist/component/link/link.main.css" rel="stylesheet" file="main">
        <link href="../../../_dist/component/form/form.main.css" rel="stylesheet" file="main">
        <link href="../../../_dist/legacy/legacy.css" rel="stylesheet" file="main">
        <link href="../../../_dist/component/pagination/pagination.main.css" rel="stylesheet" file="main">
        <link href="../../../_dist/component/accordion/accordion.main.css" rel="stylesheet" file="main">
        <link href="../../../_dist/component/checkbox/checkbox.main.css" rel="stylesheet" file="main">
        <link href="../../../_dist/component/button/button.main.css" rel="stylesheet" file="main">
        <link href="../../../_dist/core/core.scheme.css" rel="stylesheet" file="scheme">
        <link href="../../../_dist/component/link/link.scheme.css" rel="stylesheet" file="scheme">
        <link href="../../../_dist/component/form/form.scheme.css" rel="stylesheet" file="scheme">
        <link href="../../../_dist/component/pagination/pagination.scheme.css" rel="stylesheet" file="scheme">
        <link href="../../../_dist/component/accordion/accordion.scheme.css" rel="stylesheet" file="scheme">
        <link href="../../../_dist/component/checkbox/checkbox.scheme.css" rel="stylesheet" file="scheme">
        <link href="../../../_dist/component/button/button.scheme.css" rel="stylesheet" file="scheme">
        <link href="../../../_dist/core/core.legacy.css" rel="stylesheet" file="legacy">
        <style>
            code[class*="language-"],
            pre[class*="language-"] {
                white-space: pre-wrap;
            }

            .example-controls {
                z-index: 100000;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 16px -16px rgba(0, 0, 0, 0.32);
            }

            .example-controls>button {
                position: absolute;
                right: 0;
                top: 0;
            }

            .example-controls__content {

                padding: 16px;
                background-color: var(--w-g750);
            }

            .example-controls .fr-collapse--expanded~[aria-expanded] {
                display: none;
            }

            .example-controls .fr-collapse:not(.fr-collapse--expanded)~button:not([aria-expanded]) {
                display: none;
            }

            .example-controls [class*="-form-group"] {
                margin-bottom: 0;
            }

        </style>
        <script>
            window['dsfr'] = {
                verbose: true,
                //mode: 'manual'
            }

        </script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.css" rel="stylesheet" />
    </head>

    <body class="fr-mb-12w" style="margin:0; padding:0;">
        <div class="example-controls">
            <div class="fr-collapse" id="controls">
                <div class="example-controls__content">
                    <div class="fr-form-group">
                        <fieldset class="fr-fieldset">
                            <legend class="fr-sr-only">Interface de contrôle des tests</legend>
                            <div class="fr-fieldset__content">
                                <div class="fr-checkbox-group">
                                    <input type="checkbox" id="theme-checkbox" name="checkboxes-inline-1">
                                    <label class="fr-label" for="theme-checkbox">Thème clair / sombre</label>
                                </div>
                                <div class="fr-checkbox-group">
                                    <input type="checkbox" id="mourning-checkbox" name="checkboxes-inline-2">
                                    <label class="fr-label" for="mourning-checkbox">En deuil</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <button class="fr-btn fr-btn--sm fr-fi-add-line" aria-expanded="false" aria-controls="controls">Interface de contrôle</button>
            <button class="fr-btn fr-btn--sm fr-fi-subtract-line" aria-controls="controls">Fermer</button>
        </div>
        <div class="fr-container fr-mt-2v fr-mb-8w">
            <a class="fr-link fr-fi-arrow-left-line fr-link--icon-left" href="../">Retour</a>
            <h1>Pagination (pagination)</h1>
            <p>La pagination permet à l’utilisateur de naviguer entre les différentes pages d’une liste d'éléments.</p>
            <a href="https://gouvfr.atlassian.net/wiki/spaces/DB/pages/223051980/Pagination+-+Pagination" target="_blank">Documentation</a>
        </div>
        <div class="fr-mb-12w">
            <div class="fr-container">
                <h4>élément de navigation icône seule (par défaut)</h4>
                <div class="fr-mb-6v">
                    <nav role="navigation" class="fr-pagination" aria-label="Pagination">
                        <ul class="fr-pagination__list">
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--prev" href="#">
                                    Page précédente
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="fr-mb-12v">
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="snippet-848">Extrait de code</button>
                        </h3>
                        <div class="fr-collapse" id="snippet-848">
                            <pre class=" language-html"><code>&lt;nav role="navigation" class="fr-pagination" aria-label="Pagination"&gt;
    &lt;ul class="fr-pagination__list"&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-pagination__link--prev" href="#"&gt;
                Page précédente
            &lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;
</code></pre>
                        </div>
                    </section>
                </div>
                <h4>élément de navigation avec label</h4>
                <div class="fr-mb-6v">
                    <nav role="navigation" class="fr-pagination" aria-label="Pagination">
                        <ul class="fr-pagination__list">
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--label" href="#">
                                    Page précédente
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="fr-mb-12v">
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="snippet-849">Extrait de code</button>
                        </h3>
                        <div class="fr-collapse" id="snippet-849">
                            <pre class=" language-html"><code>&lt;nav role="navigation" class="fr-pagination" aria-label="Pagination"&gt;
    &lt;ul class="fr-pagination__list"&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--label" href="#"&gt;
                Page précédente
            &lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;
</code></pre>
                        </div>
                    </section>
                </div>
                <h4>élément de navigation avec label à partir du breakpoint LG</h4>
                <div class="fr-mb-6v">
                    <nav role="navigation" class="fr-pagination" aria-label="Pagination">
                        <ul class="fr-pagination__list">
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label" href="#">
                                    Page précédente
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="fr-mb-12v">
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="snippet-850">Extrait de code</button>
                        </h3>
                        <div class="fr-collapse" id="snippet-850">
                            <pre class=" language-html"><code>&lt;nav role="navigation" class="fr-pagination" aria-label="Pagination"&gt;
    &lt;ul class="fr-pagination__list"&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label" href="#"&gt;
                Page précédente
            &lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;
</code></pre>
                        </div>
                    </section>
                </div>
                <h4>pagination première page</h4>
                <div class="fr-mb-6v">
                    <nav role="navigation" class="fr-pagination" aria-label="Pagination">
                        <ul class="fr-pagination__list">
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--first">
                                    Première page
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label">
                                    Page précédente
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link" aria-current="page" title="Page 1">
                                    1
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link" href="#" title="Page 2">
                                    2
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 3">
                                    3
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-displayed-lg">
                                    …
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 130">
                                    130
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 131">
                                    131
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link" href="#" title="Page 132">
                                    132
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label" href="#">
                                    Page suivante
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--last" href="#">
                                    Dernière page
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="fr-mb-12v">
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="snippet-851">Extrait de code</button>
                        </h3>
                        <div class="fr-collapse" id="snippet-851">
                            <pre class=" language-html"><code>&lt;nav role="navigation" class="fr-pagination" aria-label="Pagination"&gt;
    &lt;ul class="fr-pagination__list"&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-pagination__link--first"&gt;
                Première page
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label"&gt;
                Page précédente
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link" aria-current="page" title="Page 1"&gt;
                1
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link" href="#" title="Page 2"&gt;
                2
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 3"&gt;
                3
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-displayed-lg"&gt;
                …
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 130"&gt;
                130
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 131"&gt;
                131
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link" href="#" title="Page 132"&gt;
                132
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label" href="#"&gt;
                Page suivante
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-pagination__link--last" href="#"&gt;
                Dernière page
            &lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;
</code></pre>
                        </div>
                    </section>
                </div>
                <h4>pagination deuxième page</h4>
                <div class="fr-mb-6v">
                    <nav role="navigation" class="fr-pagination" aria-label="Pagination">
                        <ul class="fr-pagination__list">
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--first" href="#">
                                    Première page
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label" href="#">
                                    Page précédente
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link" href="#" title="Page 1">
                                    1
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link" aria-current="page" title="Page 2">
                                    2
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 3">
                                    3
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-displayed-lg">
                                    …
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 130">
                                    130
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 131">
                                    131
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link" href="#" title="Page 132">
                                    132
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label" href="#">
                                    Page suivante
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--last" href="#">
                                    Dernière page
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="fr-mb-12v">
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="snippet-852">Extrait de code</button>
                        </h3>
                        <div class="fr-collapse" id="snippet-852">
                            <pre class=" language-html"><code>&lt;nav role="navigation" class="fr-pagination" aria-label="Pagination"&gt;
    &lt;ul class="fr-pagination__list"&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-pagination__link--first" href="#"&gt;
                Première page
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label" href="#"&gt;
                Page précédente
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link" href="#" title="Page 1"&gt;
                1
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link" aria-current="page" title="Page 2"&gt;
                2
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 3"&gt;
                3
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-displayed-lg"&gt;
                …
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 130"&gt;
                130
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 131"&gt;
                131
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link" href="#" title="Page 132"&gt;
                132
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label" href="#"&gt;
                Page suivante
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-pagination__link--last" href="#"&gt;
                Dernière page
            &lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;
</code></pre>
                        </div>
                    </section>
                </div>
                <h4>pagination dernière page</h4>
                <div class="fr-mb-6v">
                    <nav role="navigation" class="fr-pagination" aria-label="Pagination">
                        <ul class="fr-pagination__list">
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--first" href="#">
                                    Première page
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label" href="#">
                                    Page précédente
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link" href="#" title="Page 1">
                                    1
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link" href="#" title="Page 2">
                                    2
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 3">
                                    3
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-displayed-lg">
                                    …
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 130">
                                    130
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 131">
                                    131
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link" aria-current="page" title="Page 132">
                                    132
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label">
                                    Page suivante
                                </a>
                            </li>
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--last">
                                    Dernière page
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="fr-mb-12v">
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="snippet-853">Extrait de code</button>
                        </h3>
                        <div class="fr-collapse" id="snippet-853">
                            <pre class=" language-html"><code>&lt;nav role="navigation" class="fr-pagination" aria-label="Pagination"&gt;
    &lt;ul class="fr-pagination__list"&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-pagination__link--first" href="#"&gt;
                Première page
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label" href="#"&gt;
                Page précédente
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link" href="#" title="Page 1"&gt;
                1
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link" href="#" title="Page 2"&gt;
                2
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 3"&gt;
                3
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-displayed-lg"&gt;
                …
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 130"&gt;
                130
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 131"&gt;
                131
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link" aria-current="page" title="Page 132"&gt;
                132
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label"&gt;
                Page suivante
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a class="fr-pagination__link fr-pagination__link--last"&gt;
                Dernière page
            &lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;
</code></pre>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <script type="module" src="../../../_dist/core/core.module.js"></script>
        <script type="module" src="../../../_dist/scheme/scheme.module.js"></script>
        <script type="module" src="../../../_dist/component/accordion/accordion.module.js"></script>
        <script type="text/javascript" nomodule src="../../../_dist/core/core.nomodule.js"></script>
        <script type="text/javascript" nomodule src="../../../_dist/scheme/scheme.nomodule.js"></script>
        <script type="text/javascript" nomodule src="../../../_dist/component/accordion/accordion.nomodule.js"></script>
        <script>
            const schemeAttr = 'data-fr-theme';
            const mourningAttr = 'data-fr-mourning';

            class DemoCheckbox {
                constructor(id) {
                    this.checkbox = document.getElementById(id);
                    this.init();
                    this.checkbox.addEventListener('change', this.change.bind(this));
                    window.requestAnimationFrame(this.change.bind(this));
                }

                init() {}

                change() {}
            }

            class AttributeDemoCheckbox extends DemoCheckbox {
                constructor(id, attributeName, checkedValue, uncheckedValue) {
                    super(id);
                    this.attributeName = attributeName;
                    this.checkedValue = checkedValue;
                    this.uncheckedValue = uncheckedValue;
                }

                init() {
                    this.observer = new MutationObserver(this.mutate.bind(this));
                    this.observer.observe(document.documentElement, {
                        attributes: true
                    });
                }

                get state() {
                    const value = document.documentElement.getAttribute(this.attributeName);
                    const has = document.documentElement.hasAttribute(this.attributeName);

                    switch (true) {
                        case this.checkedValue === value:
                            return true;

                        case this.uncheckedValue === value:
                            return false;

                        case this.checkedValue === true && has:
                            return true;

                        case this.uncheckedValue === true && has:
                            return true;
                    }
                    return false;
                }

                mutate(mutations) {
                    mutations.forEach((mutation) => {
                        if (mutation.type === 'attributes' && mutation.attributeName === this.attributeName) this.checkbox.checked = this.state;
                    });
                }

                change() {
                    const value = this.checkbox.checked ? this.checkedValue : this.uncheckedValue;

                    switch (value) {
                        case null:
                            document.documentElement.removeAttribute(this.attributeName);
                            break;

                        case true:
                            document.documentElement.setAttribute(this.attributeName, '');
                            break;

                        default:
                            document.documentElement.setAttribute(this.attributeName, value);
                    }
                }
            }

            new AttributeDemoCheckbox('theme-checkbox', schemeAttr, 'dark', 'light');
            new AttributeDemoCheckbox('mourning-checkbox', mourningAttr, true, null);

        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-core.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    </body>

</html>
