////
/// Inputs Module
/// @group inputs
////

#{ns(input)} {
  display: block;
  @include size(100%);
  border: 0;
  border-radius: space(1v) space(1v) 0 0;
  @include text-style(md);
  @include padding(2v 4v);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /**
   * Style du placeholder
   */
  @include placeholder {
    opacity: 1;
    font-style: italic;
  }

  /**
   * On applique une hauteur maximale si l'élément n'est pas un textarea
   */
  &:not(textarea) {
    max-height: 2.5rem;
  }

  &[type=date] {
    min-height: 2.5rem;

    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}

/**
 * Ajout d'un wrapper quand on a besoin de mettre une icône
 */
#{ns(input-wrap)} {
  @include relative;
  display: block;

  @include custom-icons(sm) {
    @include absolute(3v, 3v, 3v);
    @include margin(auto);
  }

  &#{ns(fi-calendar-line)} {
    > #{ns(input)}[type=date] {
      &::-webkit-calendar-picker-indicator {
        display: block;
        @include margin-right(-8v);
        z-index: z-index(over);
        opacity: 0;
      }
    }
  }

  #{ns(input)} {
    @include padding-right(10v);
  }
}
