////
/// Inputs Module
/// @group inputs
////

#{dse(input)} {
  display: block;
  @include size(100%);
  border: 0;
  border-radius: space(0-5N) space(0-5N) 0 0;
  font-size: font-size(14);
  line-height: 1.5rem;
  font-family: $font-family-sans;
  @include padding(2v 4v);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @include scheme-element-text-color(g800, true);
  @include scheme-element-bg-color(g200, true);
  @include scheme-element-box-shadow-color(g800, true, inset 0 -2px 0 0 $COLOR);
  @include scheme-element-focus();

  @include placeholder {
    @include scheme-element-text-color(g600-g400, true);
  }

  &--valid {
    @include scheme-element-box-shadow-color(success, false, inset 0 -2px 0 0 $COLOR);
  }

  &--error,
  &:invalid {
    @include scheme-element-box-shadow-color(error, false, inset 0 -2px 0 0 $COLOR);
  }

  @include disabled-form-field(input);

  &:not(textarea) {
    max-height: 2.5rem;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    @include scheme-element-box-shadow-color(g200, true, inset 0 0 0 100px $COLOR);
    @include _scheme-element(g800, -webkit-text-fill-color, true);
  }
}

#{dse(input-wrap)} {
  @include relative;
  display: block;

  @include custom-icons() {
    @include absolute(3v, 3v, 3v);
    @include margin(auto);
  }

  #{dse(input)} {
    @include padding-right(10v);
  }
}
