////
/// Inputs Schemes
/// @group inputs
////

textarea#{ns(input)} {
  @include scheme-element-box-shadow-color(g600, true, 0 2px 0 0 $COLOR);
  min-height: space(15v);
}

#{ns(input)} {
  @include scheme-element-text-color(g800, true);
  @include scheme-element-bg-color(g200, true);
  @include scheme-element-box-shadow-color(g600, true, inset 0 -2px 0 0 $COLOR);

  /**
   * Style du placeholder
   */
  @include placeholder {
    @include scheme-element-text-color(g600-g400, true);
  }

  /**
   * Style pour l'input désactivé
   */
  @include disabled-form-field(input);

  /**
   * Modificateur pour les champs validés
   */
  &--valid {
    @include scheme-element-box-shadow-color(success, false, inset 0 -2px 0 0 $COLOR);
  }

  /**
   * Modificateur pour les champs présentant des erreurs
   */
  &--error {
    @include scheme-element-box-shadow-color(error, false, inset 0 -2px 0 0 $COLOR);
  }

  /**
   * On applique un style lorsque la valeur est automatiquement remplie par le navigateur
   * sur les navigateurs webkit.
   */
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    @include scheme-element-box-shadow-color(g200, true, inset 0 0 0 100px $COLOR);
    @include _scheme-element(g800, -webkit-text-fill-color, true);
  }
}
