////
/// Logo Setting
/// @group logo
////

$follow-icons: (
  facebook: facebook-circle-fill,
  twitter: twitter-fill,
  linkedin: linkedin-box-fill,
  youtube: youtube-fill,
  dailymotion: dailymotion-fill,
  instagram: instagram-fill,
  github: github-fill,
  tiktok: tiktok-fill,
  snapchat: snapchat-fill,
  telegram: telegram-fill,
  twitch: twitch-fill,
  vimeo: vimeo-fill,
  mastodon: mastodon-fill
);
