<%
const data = {
  id: 'recovery',
  legend: `<h6>${getText('recovery.legend', 'recovery')}</h6>`,
  classes: [`${prefix}-mb-0`],
  elements:[
    {
      type: 'paragraph',
      data: {
        content: getText('recovery.desc', 'recovery'),
        size: 'sm'
      }
    },
    {
      type: 'input',
      data: {
        id: uniqueId('username'),
        label: getText('recovery.username', 'recovery'),
        hint: getText('recovery.username.hint', 'recovery'),
        name: 'username'
      }
    },
    {
      type: 'buttonsGroup',
      data: {
        inline: true,
        classes: [`${prefix}-btns-group--right`, `${prefix}-mt-2v`],
        buttons: [
          {
            label: getText('recovery.button', 'recovery'),
            type: 'submit',
            kind: 1
          }
        ]
      }
    }
  ]
};
 %>

<%- JSON.stringify(data); %>
