<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >

  <%- sample('Boutons de partage actifs', '../../../component/share/example/sample/share-default', {}, true); %>

  <%- sample('Boutons de partage version inactive', '../../../component/share/example/sample/share-default', {share:{disabled: true}}, true); %>

</div>
