<%
  const sample = getSample(include);
  let dataFooterButtons = {
    title: 'Titre de la modale',
    icon: 'arrow-right-line',
    body: include('../../../../component/modal/example/sample/body/text'),
    footer: include('../../../../component/modal/example/sample/footer/buttons')
  }
%>

<div class="<%= prefix %>-container">
  <%- sample('Modale avec zone d\'action et boutons', '../../../../component/modal/example/sample/modal-default', {modal: { ...dataFooterButtons, label: 'Libellé bouton modale'}});  %>
</div>
