////
/// Links Settings
/// @group links
////

$links-settings:(
  sizes: (
    sm: (
      font-size: 14,
      line-height: space(2N),
      min-height: space(4N),
      padding-x: space(1-5N),
      icon: md,
      icon-margin-x: space(1N),
      icon-only: md,
    ),
    md: (
      font-size: 16,
      line-height: space(2-5N),
      min-height: space(4N),
      padding-x: space(1-5N),
      icon: md,
      icon-margin-x: space(1N),
      icon-only: lg,
    ),
    lg: (
      font-size: 20,
      line-height: space(3N),
      min-height: space(6N),
      padding-x: space(2N),
      icon: lg,
      icon-margin-x: space(1N),
      icon-only: xl,
    )
  ),
  places: (
    left: arrow-left-line,
    right: arrow-right-line,
    only: arrow-down-line
  )
);
