////
/// Core Module : Display hr
/// @group core
////

// TODO: inclure le reset dans les variables
hr {
  @include build-hr();
}

@include build-utility (display, hr) {
  @include build-hr();

  &--sm {
    @include width(40v);
    @include margin-x(auto);
  }

  &-or {
    @include text-style(sm);
    text-transform: uppercase;
    @include font-weight(bold);
    @include display-flex(row, center, center, nowrap, inline);
    @include _pseudo(before after, '', inline-flex) {
      height: 1px;
      width: 100%;
    }
    @include before {
      @include margin-right(3v);
    }
    @include after {
      @include margin-left(3v);
    }
  }
}
