////
/// Tile Module : default
/// @group tile
////

#{ns(tile)} {
  @include relative;
  @include display-flex(column);
  @include set-text-margin(0);
  @include set-title-margin(0 0 1v);
  background-size: 100% 4px, 1px 100%, 1px 100%, 100% 1px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 100% 100%, 0 0, 100% 0, 100% 0;
  @include padding(6v 6v 7v);
  @include padding(8v 8v 9v, md);
  text-align: center;

  #{ns(grid-row)} & {
    @include size(null, 100%);
  }

  &__header {
    order: 1;
    @include margin-bottom(4v);
  }

  &__pictogram {
    @include display-flex(null, center, center);
    flex-shrink: 0;
    @include size(20v, 20v);
    @include margin(0 auto);
    overflow: hidden;

    > svg {
      @include size(100%, 100%);
    }
  }

  &__content {
    @include display-flex(column, center, space-between);
    @include height(100%);
  }

  &__body {
    @include height(100%);
    order: 2;
    flex: 1 1 auto;
  }

  @include title {
    @include title-style(h6);
    @include margin-bottom(1v);
    order: 2;
  }

  &__desc {
    @include text-style(md);
    flex: 1 1 auto;
    order: 3;
  }

  &__start {
    order: 1;
    @include margin-bottom(4v);

    #{ns(badges-group)},
    #{ns(tags-group)} {
      @include margin-bottom(-2v);
    }
  }

  &__detail {
    @include text-style(xs);
    @include display-flex(row, flex-start);
    @include margin-bottom(0);
    @include margin-top(3v);
    order: 4;

    @include has-icon {
      @include icon-size(sm, before) {
        @include margin-right(2v);
      }
    }
  }
}
