////
/// Tile module : Variations
/// @group Tile
////

@use 'module/spacing';

/**
 * Modificateur tuile horizontale
 **/
#{ns(tile)} {
  &--horizontal {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;

    #{ns(tile__header)} {
      @include margin-right(8v);
    }

    #{ns(tile__pictogram)} {
      @include size(16v, 16v);
    }

    #{ns(tile__content)} {
      align-items: flex-start;
    }
  }
}
