////
/// Tile module : Variations
/// @group Tile
////

@use 'module/spacing';

#{ns(tile)} {
  &--horizontal,
  &--download {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;

    #{ns(tile__header)} {
      @include margin-right(8v);
      @include margin-bottom(0);
    }

    #{ns(tile__pictogram)} {
      @include size(16v, 16v);
    }

    #{ns(tile__content)} {
      align-items: flex-start;
    }

    #{ns(tile__detail)} {
        @include margin-top(4v);
    }

    &:not(#{ns(tile--no-icon)}) {
      #{ns(tile__detail)} {
        @include padding-right(8v);
        @include margin-bottom(-8v);
      }

      #{ns(tile__content)} {
        @include padding-bottom(8v);
      }
    }
  }
}
