////
/// Footer Module
/// @group footer
////

#{ns(footer)} {
  @include disable-link-style;
  @include disable-list-style;
  @include size(100%);
  @include scheme-element-border-color(bf500, true, top, 2px solid $COLOR);
  @include scheme-element-border-color(g400, true, bottom, 1px solid $COLOR);
  @include padding-top(10v);

  @include body {
    @include display-flex(row, center, null, wrap);
    @include margin-bottom(4v);
    @include margin-bottom(6v, md);

    & + #{ns(footer__bottom)} {
      @include margin-top(4v);
    }
  }

  /**
   * Conteneur du bloc marque, avec le logo principal et éventuellement
   * un logo opérateur
   */
  &__brand {
    @include display-flex(row, center);
    flex-basis: 100%;

    @include logo(md, lg) {
      @include margin(-1em);
    }

    /**
     * Si on ajoute un logo opérateur à côté du logo principal, on lui applique une marge à gauche
     * On prévoit que le logo soit encapsulé dans un <a>, ou bien directement en img ou en svg
     * (Eventuellement prévoir une classe pour pouvoir le mettre en background image)
     */
    #{ns(logo)} + #{ns(footer__brand-link)} {
      @include margin-left(6v);
      @include margin-left(12v, md);
    }

    /**
     * Styles quand un logo opérateur est présent
     */
    #{ns(footer__body--operator)} & {
      // flex-basis: 100%;

      #{ns(footer__brand-link)} + #{ns(footer__brand-link)} {
        #{ns(footer__logo)} {
          @include size(auto);
          min-width: initial;
          max-height: 100px;
        }
      }

      #{ns(footer__logo)} {
        min-width: initial;
        max-width: 100%;

        @include respond-from(sm) {
          max-width: 200px;
        }

        @include respond-from(lg) {
          min-width: 200px;
          max-width: 100%;
        }
      }
    }

    @include respond-from(md) {
      flex-basis: auto;
      @include padding-right(4v);
    }
  }

  /**
   * On fixe une largeur maximale pour le logo opérateur
   */
  &__logo {
    @include size(200px, auto);
    max-height: 100%;
  }

  @import 'modules/content';
  @import 'modules/top';
  @import 'modules/bottom';
  @import 'modules/partners';
}
