<%
let data = { img: true, horizontal: true };
%>
<div class="<%= prefix %>-grid-row <%= prefix %>-grid-row--gutters">
   <%
    for (let i = 0; i < 4; i++) {
   %>
    <div class="<%= prefix %>-col-12">
        <%- include('./card-default', {card:data}); %>
    </div>
    <% } %>
</div>
