////
/// Core Tools : Typography font-style
/// @group core
////

/// Return font-style value from font-style map.
///
/// @param {String} $style ["normal"] - Type style value from `$style-type` (Default to "normal")
///
/// @example scss - Set font-style to italic
///   .foo {
///     font-style: font-style("italic");
///   }

@function font-style($type: normal) {
  @return map-get($font-style-type, $type);
}

@mixin font-style($type) {
  font-style: font-style($type);
}

@mixin build-font-style() {
  $font-style-vars: map-get($typography-vars, font-style);
  $buildBreakpoints: map-get($font-style-vars, breakpoints);
  $breakpointsList: if($buildBreakpoints == all, $breakpoints, $buildBreakpoints);

  @if ($font-style-vars == true or map-get($font-style-vars, active)) {
    @each $name, $style in $font-style-type {
      #{ns('text--' + $name)} {
        font-style: #{$style} !important;
      }
    }

    @each $bp, $limit in $breakpointsList {
      @each $name, $style in $font-style-type {
        @include respond-from($bp) {
          #{ns('text--' + $name + '-' + $bp)} {
            font-style: #{$style} !important;
          }
        }
      }
    }
  }
}
