////
/// Core Tools : Typography build
/// @group core
////

@function get-text-style($font-size) {
  @return map-get($text-styles, $font-size);
}

@function get-title-style($font-size) {
  @return map-get($title-styles, $font-size);
}

@mixin _stylize($font-size, $styles, $prepend, $append) {
  $style: map-get($styles, $font-size);

  @if $prepend == null {
    $prepend: '';
  }

  @if $append == null {
    $append: '';
  }

  font-size: #{$prepend} #{px-rem($font-size)} #{$append};

  @if map-has-key($style, line-height) {
    line-height: #{$prepend} space(map-get($style, line-height)) #{$append};
  }
}

@mixin _responsive-styles($settings, $styles, $is-responsive, $prepend, $append) {
  $breakpoints: map-get($settings, breakpoints);

  @if map-has-key($settings, weight) {
    font-weight: #{$prepend} map-get($font-weight-scale, map-get($settings, weight)) #{$append};
  }

  @if $is-responsive {
    @each $breakpoint, $size in $breakpoints {
      @if $breakpoint == first {
        @include _stylize($size, $styles, $prepend, $append);
      }
      @else {
        @include respond-from($breakpoint) {
          @include _stylize($size, $styles, $prepend, $append);
        }
      }
    }
  }
  @else {
    @if map-has-key($breakpoints, md) {
      @include _stylize(map-get($breakpoints, md), $styles);
    }
    @else {
      @include _stylize(map-get($breakpoints, first), $styles);
    }
  }
}

@mixin _space-text($settings) {
  @include margin(map-get($settings, margin));
}

@mixin _space-title($settings) {
  @include margin(map-get($settings, margin));
}

@mixin text-style($name, $with-spacing: false, $is-responsive: true, $prepend: null, $important: false) {
  $settings: map-get($text-settings, $name);
  $append: '';
  @if $important {
    $append: ' !important';
  }

  @include _responsive-styles($settings, $text-styles, $is-responsive, $prepend, $append);

  @if $with-spacing {
    @include _space-text($settings);
  }
}

@mixin title-style($name, $with-spacing: false, $is-responsive: true, $prepend: null, $important: false) {
  $settings: map-get($title-settings, $name);
  $append: '';
  @if $important {
    $append: ' !important';
  }

  @include _responsive-styles($settings, $title-styles, $is-responsive, $prepend, $append);

  @if $with-spacing {
    @include _space-title($settings);
  }
}
