////
/// Core Tools : Typography build text align
/// @group core
////

@function text-align($place) {
  @return map-get($text-align-settings, $place);
}

@mixin text-align($value: start, $breakpoint: null) {
  @include respond-from($breakpoint) {
    text-align: $value;
  }
}

@mixin build-text-align() {
  $places: map-get($text-align-settings, 'places');
  $text-align-vars: map-get($typography-vars, text-align);
  $buildBreakpoints: map-get($text-align-vars, breakpoints);
  $breakpointsList: if($buildBreakpoints == all, $breakpoints, $buildBreakpoints);

  @if ($text-align-vars == true or map-get($text-align-vars, active)) {
    @each $place in $places {
      #{ns(text-align)}--#{$place} {
        text-align: $place !important;
      }
    }

    @each $bp, $limit in $breakpointsList {
      @each $place in $places {
        @include respond-from($bp) {
          #{ns(text-align)}--#{$place}-#{$bp} {
            text-align: $place !important;
          }
        }
      }
    }
  }
}
