////
/// Core Tools : Typography build text align
/// @group core
////

@mixin build-vertical-align() {
  $places: map-get($vertical-align-settings, 'places');
  $buildBreakpoints: map-get($vertical-align-settings, 'breakpoints');

  @each $place in $places {
    #{ns(text-align)}--#{$place} {
      vertical-align: $place !important;
    }
  }

  @if $buildBreakpoints {
    @each $place in $places {
      @each $bp, $limits in $breakpoints {
        #{ns(text-align)}--#{$place}-#{$bp} {
          text-align: $place !important;
        }
      }
    }
  }
}
