////
/// Core Tools : Typography build text align
/// @group core
////

@function vertical-align($place) {
  @return map-get($vertical-align-settings, $place);
}

@mixin vertical-align($place: baseline, $breakpoint: null) {
  @include respond-from($breakpoint) {
    vertical-align: vertical-align($place);
  }
}

@mixin build-vertical-align() {
  $places: map-get($vertical-align-settings, places);
  $vertical-align-vars: map-get($typography-vars, vertical-align);
  $buildBreakpoints: map-get($vertical-align-vars, breakpoints);
  $breakpointsList: if($buildBreakpoints == all, $breakpoints, $buildBreakpoints);

  @if ($vertical-align-vars == true or map-get($vertical-align-vars, active)) {
    @each $place in $places {
      #{ns(text-align)}--#{$place} {
        vertical-align: $place !important;
      }
    }

    @each $bp, $limits in $breakpointsList {
      @each $place in $places {
        @include respond-from($bp) {
          #{ns(text-align)}--#{$place}-#{$bp} {
            vertical-align: $place !important;
          }
        }
      }
    }
  }
}
