////
/// Schemes Tools : Properties
/// @group schemes
////

@mixin build-decisions() {
  $options: ();
  $decisions: ();
  @include theme-selector {
    @each $part, $tokens in $scheme-decisions {
      @each $token, $families in $tokens {
        @each $family, $shade in $families {
          @each $tint, $shades in map-get($scheme-sets, $family) {
            @if map-has-key($shades, $shade) {
              $set: map-get($shades, $shade);

              #{_get-decision-prop($part, $token, $tint)}: var(--#{_get-set-prop($set)});
            }
          }
        }
      }
    }
  }
}
