////
/// Schemes Tools : Properties
/// @group schemes
////

@mixin define-hover-props () {
  $default: map-get($action-hover, dark);
  $lightness: map-get($default, lightness);

  @include theme-selector(dark) {
    --ah-lb: #{map-get($lightness, base)};
    --ah-lm: #{map-get($lightness, modifier)};
  }
}
