////
/// Schemes Tools : Properties
/// @group schemes
////

@mixin define-hover-props () {
  @include theme-selector(dark) {
    --hover-red: #{$hover-white-level};
    --hover-green: #{$hover-white-level};
    --hover-blue: #{$hover-white-level};
  }
}
