////
/// Schemes Tools : Sets
/// @group schemes
////

@mixin build-sets($theme: light) {
  $index: 1;
  @if $theme == dark {
    $index: 2;
  }
  $background: map-get($scheme-decisions, background);
  $lookup: (
    neutral: (),
    primary: (),
    system: (),
    accent: (),
  );
  @each $token, $families in $background {
    @each $family, $shade in $families {
      $list: map-get($lookup, $family);
      @if index($list, $shade) == null {
        $list: append($list, $shade);
        $lookup: map-merge($lookup, ($family: $list));
      }
    }
  }

  @include theme-selector($theme) {
    @each $family, $tints in $scheme-sets {
      $list: map-get($lookup, $family);
      @each $tint, $shades in $tints {
        @each $shade, $set in $shades {
          $options: _get-scheme-set-by-shade($shade, $family, $tint);
          $option: nth($options, $index);

          --#{_get-set-prop($set)}: #{_get-color-from-option($option, hex)};

          @if index($list, $shade) {
            --#{_get-set-prop($set)}-blend: #{_get-blend-hsl-color($option, $theme)};
          }
        }
      }
    }
  }
}
