<%
  const layout = locals.layout || {};
  const collapseId = uniqueId('collapse');
  const position = 'right';
  const button = {label: 'Filtrer', kind: 2, icon :'filter-fill', iconPlace: 'left', attributes: {'aria-controls': collapseId, 'aria-expanded': true}};
  const elements = layout.drawers || [{path: '../../../../component/drawer/template/ejs/drawer.ejs', data: { drawer: {position: position, sticky: true, title: 'Afficher la recherche', closeLabel: 'Fermer la recherche', collapse: { id: collapseId }, content: include('content/drawer-form.ejs')}}}];
%>

<div class="<%=prefix%>-container">
  <%- include('../../../button/example/sample/button-default', {button: {...button, sizes:{md : {size:'md'}}, inline:'lg'}}) %>
</div>

<%- include('../../../../core/template/ejs/layout/layout.ejs', {layout: { ...layout, content: {data: include('content/layout-cards.ejs')}, elements: elements }}) %>
