<%
  const elements = [
    {
      path:'reset',
      title:'Reset',
      wrapper: 'col-8'
    },
    {
      path:'typography',
      title:'Typography',
      wrapper: 'col-8'
    },
    {
      path:'icons',
      title:'Icons',
      wrapper: 'col-8'
    },
    {
      path:'favicons',
      title:'Favicons',
      wrapper: 'col-8'
    },
    {
      path:'medias',
      title:'Medias',
      wrapper: 'col-8'
    },
    {
      path:'grid',
      title:'Grid'
    },
    {
      path:'collapse',
      title:'Collapse',
      wrapper: 'col-8'
    },
    {
      path:'display',
      title:'Display',
      wrapper: 'col-8'
    }
  ];

  const accordions = [];

  for (let element of elements) {
    let prepend = '';
    let append = '';

    if (element.wrapper === 'col-8') {
        prepend = `<div class="${ prefix }-container" ><div class="${ prefix }-grid-row ${ prefix }-grid-row--center" ><div class="${ prefix }-col-md-8 ${ prefix }-col-12" >`;
        append = '</div></div></div>';
    }

    accordions.push({
        label: element.title,
        collapseId: uniqueId('core'),
        content: prepend + include(element.path + '/index') + append
    })
  }

  const data = {
    accordions: accordions
  }
%>

<div class="<%= prefix %>-container">
  <%- include('../../accordions/templates/ejs/accordions-group', data); %>
</div>
