<%
  const elements = [
    {
      path:'reset',
      title:'Reset',
      wrapper: 'col-8'
    },
    {
      path:'display',
      title:'Affichage',
      wrapper: 'col-8'
    },
    {
      path:'typography',
      title:'Typographie',
      wrapper: 'col-8'
    },
    {
      path:'icon',
      title:'Icône',
      wrapper: 'col-8'
    },
    {
      path:'favicon',
      title:'Icône de favori',
      wrapper: 'col-8'
    },
    {
      path:'media',
      title:'Média',
      wrapper: 'col-8'
    },
    {
      path:'grid',
      title:'Grille'
    },
    {
      path:'collapse',
      title:'Panneau dépliant',
      wrapper: 'col-8'
    },
    {
      path:'spacing',
      title:'Espacement',
      wrapper: 'col-8'
    },
    {
      path:'utility',
      title:'Utilitaire',
      wrapper: 'col-8'
    }
  ];

  const accordions = [];

  for (let element of elements) {
    let prepend = '';
    let append = '';

    if (element.wrapper === 'col-8') {
        prepend = `<div class="${ prefix }-container" ><div class="${ prefix }-grid-row ${ prefix }-grid-row--center" ><div class="${ prefix }-col-md-8 ${ prefix }-col-12" >`;
        append = '</div></div></div>';
    }

    accordions.push({
        label: element.title,
        id: uniqueId('core'),
        content: prepend + include(element.path + '/index') + append
    })
  }

  const data = {
    accordions: accordions
  }
%>

<%- include('../../component/accordion/template/ejs/accordions-group', {accordionsGroup: data}); %>
