////
/// Tiles module : Variants
/// @group Tiles
////

/**
 * Modificateur tuile horizontale
 **/
&--horizontal {
  flex-direction: row-reverse;
  align-items: center;

  #{ns(tile__img)} {
    @include size(12v, 12v);
    @include margin(6v 0 6v 6v);

    @include respond-from(md) {
      @include size(20v, 20v);
      @include margin(8v 0 8v 8v);
    }
  }

  #{ns(tile__body)} {
    align-items: flex-start;
    @include padding(0);
    @include margin(6v);
    @include margin(8v, md);
    text-align: left;
  }
}

/**
 * Modificateur vertical à partir du breakpoint md -> horizontal en dessous du breakpoint md
 **/
&--vertical-md {
  flex-direction: row-reverse;
  align-items: center;

  #{ns(tile__img)} {
    @include size(12v, 12v);
    @include margin(6v 0 6v 6v);

    @include respond-from(md) {
      @include size(20v, 20v);
      @include margin(8v auto 0);
    }
  }

  #{ns(tile__body)} {
    align-items: flex-start;
    @include padding(0);
    @include margin(6v);
    text-align: left;

    @include respond-from(md) {
      align-items: center;
      @include padding(6v);
      @include margin(0);
      text-align: center;
    }
  }

  @include respond-from(md) {
    flex-direction: column-reverse;
    align-items: initial;
  }
}

/**
 * Modificateur horizontal à partir du breakpoint md -> vertical en dessous du breakpoint md
 **/
&--horizontal-md {
  flex-direction: column-reverse;

  #{ns(tile__img)} {
    @include size(20v, 20v);
    @include margin(8v auto 0);

    + #{ns(tile__body)} {
      min-height: initial;

      @include respond-from(md) {
        @include padding(0);
        @include margin(8v);
        min-height: space(20v);
      }
    }

    @include respond-from(md) {
      @include margin(8v 0 8v 8v);
    }
  }

  #{ns(tile__body)} {
    align-items: center;
    @include padding(4v);
    @include margin(0);
    text-align: center;

    @include respond-from(md) {
      align-items: flex-start;
      @include padding(0);
      @include margin(8v);
      text-align: left;
    }
  }

  @include respond-from(md) {
    flex-direction: row-reverse;
    align-items: center;
  }
}
