<%#
# paramètres groupe de boutons

* tagsGroup.tags (array, required): paramètres spécifique de chaque bouton du groupe

* tagsGroup.size (string, optional) : définie la taille des boutons dans le groupe (default md)
  * sm : Tags taille sm

* tagsGroup.classes (array, optionnal) : Classes suplémentaires sur le groupe de bouton

* tagsGroup.attributes (object, optionnal) : Attributs suplémentaires sur le groupe de boutons

#%>

<% eval(include('../../../../core/index.ejs')); %>

<%
 const tagsGroup = locals.tagsGroup || {};
 let groupClasses = tagsGroup.classes || [];
 let groupAttrs = tagsGroup.attributes || {};
 let tags = tagsGroup.tags || [];
 groupClasses.push(prefix + '-tags-group');

 switch(tagsGroup.size) {
     case 'sm':
        groupClasses.push(prefix + '-tags-group--sm');
        break;
 }
 %>

<ul <%- includeClasses(groupClasses) %> <%- includeAttrs(groupAttrs) %>>
<% for (let i = 0; i < tags.length; i++) { %>
   <li>
      <%- include('./tag.ejs', {tag:{...tags[i]}}); %>
   </li>
<% } %>
</ul>
