////
/// Footer module : Bottom
/// @group Footer
////

/**
 * La partie "bottom" du footer est constituée d'une liste de liens simples (ferrée à gauche)
 * ainsi que du copyright (ferré à droite)
 */

&__bottom {
  @include display-flex(row, center, null, wrap);
  @include margin-top(10v);
}

/**
 * Liste de liens avec séparateur
 */
&__bottom-list {
  flex-wrap: wrap;
  align-items: center;
  @include size(100%);
  @include padding(2v 0 4v);
  @include size(100%);
  @include margin(0);
}

&__bottom-item {
  @include relative;
  @include margin(2v 0 0 1v);
  @include margin(2v 0 0 3v, md);
  display: inline;

  @include before(inline-block, '') {
    vertical-align: middle;
    @include relative;
    @include size(1px, 4v);
    @include margin-right(1v);
    @include margin-right(3v, md);
    @include margin-bottom(2v);
    @include margin-bottom(1v, md);
    @include margin-top(2v);
    @include margin-top(1v, md);
  }

  &:first-child {
    @include margin(2v 0 0);
    @include before(null, none);
  }
}

/**
 * Style du lien de la liste
 */
&__bottom-link {
  @include text-style(xs);
}

/**
 * Copyright
 */
&__bottom-copy {
  * {
    @include enable-link-style;
    @include text-style(xs);
    @include margin-bottom(4v);
    @include margin-top(2v);
  }
}
