////
/// Footer module : Bottom
/// @group Footer
////

&__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: space(5N);
  padding: 0 0 space(2N);
  @include scheme-element-border-color(g400, true, top, 1px solid $COLOR);

  @include respond-from(sm) {
    flex-wrap: nowrap;
    padding: 0;
  }
}

&__bottom-list {
  flex-wrap: wrap;
  align-items: center;
  padding: space(1N) 0;
  width: 100%;
  margin: 0;

  > li {
    position: relative;
    margin: space(1N) 0 0 space(1N);
    display: inline;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      position: relative;
      height: space(2N);
      width: 1px;
      margin-right: space(1N);
      @include scheme-element-bg-color(g400, true);

      @include respond-from(sm) {
        margin-right: space(0-5N);
      }
    }

    &:first-child {
      margin: space(1N) 0 0;

      &::before {
        content: none;
      }
    }

    > a {
      box-shadow: none;
      font-size: font-size(12);
      @include scheme-element-text-color(g600, true);
    }

    @include respond-from(sm) {
      margin: space(1N) 0 0 space(0-5N);
    }
  }

  @include respond-from(sm) {
    padding: space(2N) 0;
  }
}

&__bottom-copy {
  flex-shrink: 0;
  font-size: font-size(12);
  @include scheme-element-text-color(g600, true);
  margin-top: space(2N);

  @include respond-from(sm) {
    margin-top: 0;
    margin-left: space(4N);
  }
}
