////
/// Footer module : Content
/// @group Footer
////

&__content {
  @include display-flex(null, null, null, wrap);
  flex-basis: 100%;
  @include margin-top(6v);

  @include respond-from(md) {
    @include margin-top(0);
    flex-basis: calc(100% - (100% / 3));
  }

  #{dse(footer__body--operator)} & {
    @include margin-top(6v);

    @include respond-from(lg) {
      @include margin-top(0);
      flex-basis: 50%;
    }
  }
}

&__content-desc {
  @include margin(0 0 4v);
  line-height: line-height(normal);
}

&__content-list {
  @extend %list-reset;
  @include display-flex(column);
  align-self: flex-end;
  @include margin-bottom(-4v);

  > li {
    @include margin-right(6v, sm);
    @include margin-right(14v, sm);
    @include margin-top(2v);

    @include before(null, none);

    &:last-child {
      @include margin-right(0);
    }
  }

  @include respond-from(sm) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

&__content-link {
  @extend %a-reset;
  @include override-reset-link-style;
  @include scheme-element-text-color(g800);
  display: inline-flex;
  font-weight: font-weight(bold);
}
