////
/// Footer module : Content
/// @group Footer
////

&__content {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin-top: space(3N);

  @include respond-from(md) {
    margin-top: 0;
    flex-basis: calc(100% - (100% / 3));
  }

  .#{$prefix}-footer__body--operator & {
    margin-top: space(3N);

    @include respond-from(lg) {
      margin-top: 0;
      flex-basis: 50%;
    }
  }
}

&__content-desc {
  margin: 0 0 space(2N);
  line-height: line-height(normal);
}

&__content-links {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: -(space(2N));

  > li {
    margin-right: space(3N);
    margin-top: space(1N);

    &::before {
      content: none;
    }

    &:last-child {
      margin-right: 0;
    }

    > a {
      display: inline-flex;
      font-weight: font-weight(bold);
      box-shadow: none;
    }

    @include respond-from(sm) {
      margin-right: space(7N);
    }
  }

  @include respond-from(sm) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
