////
/// Footer module : Partners
/// @group Footer
////

&__partners {
  margin-top: space(4w);
  padding-top: space(2w);
  @include scheme-element-border-color(g400, true, top, 1px solid $COLOR);

  /**
   * Style des liens qui entourent les logos partenaires
   */
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background: $white;
    padding: space(2w);
    box-shadow: none;

    @include respond-from(sm) {
      width: 160px;
      height: 90px;
    }

    @include respond-from(md) {
      margin: 0 0 0 space(2w);
    }
  }

  /**
   * On surcharge le style du logo de base
   */
  #{dse(footer__logo)} {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: calc(90px - #{space(2w)});
  }
}

&__partners-title {
  @include force-over-reset {
    @include text-styles(sm, null, regular);
  }
  flex-basis: 100%;
  margin: 0;
  text-align: center;

  @include respond-from(sm) {
    text-align: left;
  }
}

/**
 * Container des logos partenaires (principaux et secondaires)
 */
&__partners-logos {
  display: flex;
  flex-wrap: wrap;

  @include respond-from(md) {
    flex-wrap: nowrap;
    margin: 0 (-(space(2w))) (-(space(4w)));
  }
}

/**
 * Container des logos partenaires principaux
 */
&__partners-main {
  flex-basis: 100%;
  padding-top: space(1w);

  + #{dse(footer__partners-sub)} {

    @include respond-from(md) {
      justify-content: flex-end;
      padding-left: space(6w);
    }
  }

  @include respond-from(sm) {
    flex-basis: auto;
    padding-top: 0;
    margin-top: space(1w);
  }
}

/**
 * Container des logos partenaires secondaires
 */
&__partners-sub {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 100%;
  padding-top: space(4w);

  /**
   * On surcharge le style du lien pour les logos secondaires
   */
  > a {
    box-shadow: none;
    margin: 0 0 space(2w);

    @include respond-from(sm) {
      margin: 0 space(2w) space(4w);
    }

    @include respond-from(md) {
      margin: 0 space(2w) space(3w);
    }
  }

  @include respond-from(sm) {
    margin: space(2w) (-(space(2w))) 0;
  }

  @include respond-from(md) {
    margin: space(1w) 0 0;
    padding-top: 0;
  }
}
