////
/// Footer module : Top
/// @group Footer
////

/**
 * La partie "top" du footer est constituée de colonnes basées sur le système de grille du Design System
 * Ces colonnes sont constituées d’une catégorie (optionnel) et d'une liste verticale de liens
 */

&__top {
  @include display-flex(null);
  @include margin(-10v 0 4v);
  @include margin(-10v 0 10v, md);
  @include padding(8v 0 4v);
}

/**
 * Catégorie (optionnel)
 */
&__top-cat {
  @include margin(0 0 3v);
  @include text-style(xs);
  font-weight: font-weight(bold);
  text-align: left;
}

/**
 * Style de la liste
 */
&__top-list {
  @include margin(0);
}

/**
 * Style du lien
 */
&__top-link {
  display: block;
  @include text-style(xs);
  @include margin-bottom(3v);
}
