////
/// Footer module : Top
/// @group Footer
////

&__top {
  @include display-flex;
  @include scheme-element-bg-color(beige, true);
  @include margin(-10v 0 10v);
  @include padding(4v 0);
}

&__top-cat {
  @include margin(0 0 2v);
  font-size: font-size(12);
  font-weight: font-weight(bold);
  text-align: center;

  @include respond-from(sm) {
    text-align: left;
  }
}

&__top-list {
  @extend %list-reset;
  text-align: center;
  @include margin(0);

  @include respond-from(sm) {
    text-align: left;
  }
}

&__top-link {
  @extend %a-reset;
  @include override-reset-link-style;
  font-size: font-size(12);
  @include force-over-reset {
    @include scheme-element-text-color(g600, true);
  }
}
