<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- sample('Pied de page', '../../../../component/footer/example/sample/footer.ejs', {footer: {brand: true, operator: true, bottom: true, content: true, partners: true, top: true, href: '../'}}); %>
</div>
