////
/// Accordion Module
/// @group accordion
////

.#{$prefix}-accordion {
  position: relative;
  @include scheme-element-border-color(g300, true, top);
  @include scheme-element-border-color(g300, true, bottom);

  // add heading style for accessibility concerns and reset margins
  &__title {
    margin: 0;
  }

  @include _link(accordion__btn, md, right, add-line, null, false, $ac-btn-settings, false, true) {
    @include _reset-links-tags(button);
    width: 100%;
    text-align: left;
    @include scheme-element-text-color(g700, true);
    @include scheme-element-bg-color(t-plain, true, after);

    &::before {
      margin-right: 0;
      margin-left: auto;
    }

    &[aria-expanded="true"] {
      font-weight: font-weight('bold');
      border: 0;

      &::before {
        @include font-icon-content(subtract-line);
      }
    }

    @include respond-from(md) {
      padding: space(1-5N) space(2N);
    }
  }

  &__body {
    @include collapse();
    margin: 0 (-(space(0-5N)));
    padding: 0 space(0-5N);
  }

  &__inner {
    padding: space(1N) 0 space(3N);

    @include respond-from(md) {
      padding: space(1N) space(2N) space(4N);
    }
  }
}

.#{$prefix}-accordion-group {
  &__item {
    margin: 0;

    .#{$prefix}-accordion {
      border-bottom: 0;
    }

    &:last-child {
      .#{$prefix}-accordion {
        @include scheme-element-border-color(g300, true, bottom);
      }
    }

    &::before {
      content: none;
    }
  }
}
