////
/// Accordion Module
/// @group accordion
////

.#{$prefix}-accordion {
  position: relative;
  @include scheme-element-border-color(g300, true, top);
  @include scheme-element-border-color(g300, true, bottom);

  // add heading style for accessibility concerns and reset margins
  @include title {
    @include margin(0);
  }

  @include _nest-link(accordion__btn, md, right, add-line, null, false, $ac-btn-settings, false, true) {
    @include _reset-links-tags(button);
    width: 100%;
    text-align: left;
    @include scheme-element-text-color(g700, true);
    @include scheme-element-bg-color(t-plain, true, after);

    @include before {
      @include margin-right(0);
      @include margin-left(auto);
    }

    &[aria-expanded="true"] {
      @include font-weight('bold');
      border: 0;

      @include before {
        @include font-icon-content(subtract-line);
      }
    }

    @include respond-from(md) {
      padding: space(1-5N) space(2N);
    }
  }

  @include body {
    @include collapse();
    @include margin(0 -1v);
    @include padding(0 1v);
  }

  &__inner {
    @include padding(2v 0 6v);

    @include respond-from(md) {
      @include padding(2v 4v 8v);
    }
  }

  $accordion: &;

  @include group {
    @include group-item {
      @include margin(0);

      #{$accordion} {
        border-bottom: 0;
      }

      &:last-child {
        #{$accordion} {
          @include scheme-element-border-color(g300, true, bottom);
        }
      }

      @include before(null, none);
    }
  }
}
