////
/// Accordion Settings
/// @group accordion
////

$ac-btn-settings:(
  sizes: (
    md: (
      font-size: 16,
      line-height: 6v,
      min-height: 12v,
      padding-x: 4v,
      icon: md,
      icon-margin-x: 1v
    )
  ),
  places: right
);
