////
/// Accordion Settings
/// @group accordion
////

$ac-btn-settings:(
  sizes: (
    md: (
      font-size: 16,
      line-height: space(3N),
      min-height: space(6N),
      padding-x: space(2N),
      icon: md,
      icon-margin-x: space(0-5N)
    )
  ),
  places: right
);
