node_modules/
.DS_Store
lerna-debug.log
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/design-system-developpement.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/templateLanguages.xml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/.idea/
public/
