node_modules/
*/sassdoc/

.DS_Store
lerna-debug.log
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/design-system-developpement.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/templateLanguages.xml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/.idea/
public/

.config/
.dist/
.example/

src/main.scss
src/scheme.scss
src/legacy.scss
src/component/main.scss
src/component/scheme.scss
src/component/legacy.scss
src/pattern/main.scss
src/pattern/scheme.scss
src/pattern/legacy.scss
src/page/main.scss
src/page/scheme.scss
src/page/legacy.scss

src/main.js
src/legacy.js
src/component/main.js
src/component/legacy.js
src/pattern/main.js
src/pattern/legacy.js
src/page/main.js
src/page/legacy.js

yarn.lock
package-lock.json
