////
/// Core Legacy : Icon
/// @group core
////

@use 'src/module/legacy';

@include legacy.is(ie11) {
  @include has-icon {
    @include icon-legacy(null, md, before);
  }

  #{ns(icon)} {
    @each $size, $value in $icon-size-map {
      &--#{$size} {
        @include icon-legacy(null, $size, before, false);
      }
    }
  }
}
