////
/// Sidemenu Module : collapse wrapper for level 1 and 2
/// @group sidemenu
////

/**
 * Wrapper des listes déployables niveau 1 et 2
 */
#{dse(sidemenu__content)} {
  @include collapse();
  max-height: 100%;
  @include padding(1v);
  @include margin(-1v);
  transition: max-height 0.3s;

  &:not(&--expanded) {
    #{dse(sidemenu__item)} {
      max-height: 0;
      @include margin-bottom(0);
    }
  }

  @include list {
    @include margin(0 0 0 4v);
  }

  /**
  * Styles spécifiques aux items de liste de niveaux 2 et 3
  */
  @include list-item {
    @include margin(0);

    #{dse(sidemenu__btn)} {
      @include padding(3v 0);
      @include padding(3v 4v 3v 3v, md);

      @include font-icon(arrow-down-s-line, md) {
        @include margin-right(0);
      }
    }

    #{dse(sidemenu__link)} {
      @include padding(3v 0);
      @include padding(3v, md);
      font-weight: font-weight();
    }
  }
}
