////
/// Sidemenu Module : variants
/// @group sidemenu
////

/**
 * Variantes du sidemenu proposées juste à partir du breakpoint md
 */
#{dse(sidemenu)} {
  @include respond-from(md) {
    @include padding-right(8v);
    box-shadow: none;

    @include before(null, none);

    /**
     * Modificateur pour que le sidemenu s'adapte à un affichage à droite du contenu
     * La bordure se met sur la gauche
     */
    &--right {
      @include padding-left(8v);
      @include padding-right(0);

      #{dse(sidemenu__inner)} {
        @include padding(0 4v 0 8v);
        border-right: 0;
        @include scheme-element-border-color(g300, true, left);
      }
    }

    /**
     * Modificateur pour que le sidemenu soit sticky
     */
    &--sticky {
      position: sticky;
      top: 0;
      overflow: auto;
      height: 100vh;
      max-height: 100%;
    }

    /**
     * Modificateur pour que le sidemenu soit à la fois sticky et prenne toute la hauteur de la page
     */
    &--sticky-full-height {
      position: sticky;
      top: 0;
      overflow: auto;
      height: 100vh;
      max-height: 100%;

      #{dse(sidemenu__inner)} {
        overflow: auto;
        height: 100vh;
      }
    }

    /**
     * Modificateur pour avoir une bordure tout autour du sidemenu
     */
    &--full-border {

      #{dse(sidemenu__title)} {
        @include margin-top(2v);
      }
      #{dse(sidemenu__inner)} {
        @include scheme-element-border-color(g300, true);
        @include padding(0 1v 0 1v, md);
      }
    }
  }
}
