////
/// Sidemenu Module : variants
/// @group sidemenu
////

/**
 * Variantes du sidemenu proposées juste à partir du breakpoint md
 */
@include respond-from(md) {
  /**
   * Modificateur pour que le sidemenu s'adapte à un affichage à droite du contenu
   * La bordure se met sur la gauche
   */
  &--right {
    @include padding-left(8v);
    @include padding-right(0);

    #{ns(sidemenu__inner)} {
      @include padding(0 4v 0 8v);
      border-right: 0;
    }
  }

  /**
   * Modificateur pour que le sidemenu soit sticky
   */
  &--sticky {
    @include sticky(0, null, null, null, null, 100vh);
    overflow: auto;
  }

  /**
   * Modificateur pour que le sidemenu soit à la fois sticky et prenne toute la hauteur de la page
   */
  &--sticky-full-height {
    @include sticky(0, null, null, null, null, 100vh);
    overflow: auto;

    #{ns(sidemenu__inner)} {
      overflow: auto;
      @include size(null, 100vh);
    }
  }

  /**
   * Modificateur pour avoir une bordure tout autour du sidemenu
   */
  &--full-border {

    #{ns(sidemenu__title)} {
      @include margin-top(2v);
    }
    #{ns(sidemenu__inner)} {
      @include padding(0 1v 0 1v, md);
    }
  }
}
