<%#
# paramètres groupe de badge

* badgesGroup.badges (array, required): paramètres spécifique de chaque badge du groupe

* badgesGroup.size (string, optional) : définie la taille des badges dans le groupe (default md)
  * sm : Badge taille sm

* badgesGroup.classes (array, optionnal) : Classes suplémentaires sur le groupe de badges

* badgesGroup.attributes (object, optionnal) : Attributs suplémentaires sur le groupe de badges

#%>

<% eval(include('../../../../core/index.ejs')); %>

<%
const badgesGroup = locals.badgesGroup || {};
let groupClasses = badgesGroup.classes || [];
let groupAttrs = badgesGroup.attributes || {};
let badges = badgesGroup.badges || [];
groupClasses.push(prefix + '-badges-group');

switch(badgesGroup.size) {
  case 'sm':
    groupClasses.push(prefix + '-badges-group--sm');
    break;
 }
 %>

<ul <%- includeClasses(groupClasses) %> <%- includeAttrs(groupAttrs) %>>
<% for (let i = 0; i < badges.length; i++) { %>
  <li>
    <%- include('./badge.ejs', { badge:badges[i] }); %>
  </li>
<% } %>
</ul>
