////
/// Core Scheme : Reset headings
/// @group core
////

@use 'sass:list';
@use 'src/module/color';
@use 'src/module/typography';

@mixin _core-typography-scheme-heading($legacy: false) {
  @include title-selector {
    @include color.text(title grey, (legacy:$legacy));
  }

  $titles: ();
  @each $title, $variation in ($title-settings) {
    @if typography.is-heading($title) {
      $titles: list.append($titles, $title, comma);
    }
  }
  #{$titles} {
    @include color.text(title grey, (legacy: $legacy));
  }
}
