////
/// Share Module
/// @group share
////

@include build-share();

#{ns(share)} {
  @include display-flex(column);
  @include set-text-margin(0 0 4v);
  @include set-title-margin(0 0 4v);

  &__link {
    @include margin-x(1v);
    @include margin-bottom(2v);
  }

  &__title {
    @include text-style(md);
    order: 1;
  }

  &__text {
    @include text-style(xs);
    @include max-width(72v, md);
    order: 3;
  }

  &__group {
    @include disable-list-style;
    @include display-flex;
    flex-wrap: wrap;
    @include margin-x(-1v);
    @include margin-bottom(2v);
    order: 2;
  }
}

@include build-social-share-link(facebook, facebook-circle-line);
@include build-social-share-link(twitter, twitter-line);
@include build-social-share-link(linkedin, linkedin-box-line);
@include build-social-share-link(mail, mail-line);
@include build-social-share-link(copy, links-fill);
