////
/// Logo Setting
/// @group logo
////

$share-icons: (
  facebook: facebook-circle-line,
  linkedin: linkedin-box-line,
  mastodon: mastodon-line,
  threads: threads-line,
  twitter: twitter-line,
  twitter-x: twitter-x-line
);
