////
/// Icon Business Main
/// @group icons-business
////

/* ¯¯¯¯¯¯¯¯¯ *\
  ICON BUSINESS
\* ˍˍˍˍˍˍˍˍˍ */

@use 'src/module/path';
@use 'src/module/shame/media-query';

@include path.to-dist(3);
@include media-query.order;

@import 'index';
@import 'style/module';

// deprecated
@import 'deprecated/style/setting';
@import 'deprecated/style/module';
