////
/// Share Module
/// @group share
////

@include build-share();

#{ns(share)} {
  &__title {
    @include margin-bottom(2v);
  }

  .fr-links-group {
    @include disable-list-style;
    display: flex;
    flex-wrap: wrap;
    @include margin-bottom(0);

    > li {
      display: inline-flex;
      @include margin(2v);
      @include size(#{space(12v)});
      background: red;
    }
  }
}
