////
/// Share Module
/// @group share
////

@include build-share();

#{ns(share)} {
  &__title {
    @include margin-bottom(2v);
  }

  &__text {
    @include text-style(xs);
    @include max-size(#{space(72v)}, null, md)
  }

  &__group {
    @include disable-list-style;
    display: flex;
    flex-wrap: wrap;
    @include margin-x(-2v);
    @include margin-bottom(0);

    > li {
      display: inline-flex;
      @include margin(2v);
    }
  }

  &__link {
    &--facebook {
      @include nest-share(md, only, facebook-circle-line, null, false);
    }

    &--twitter {
      @include nest-share(md, only, twitter-line, null, false);
    }

    &--linkedin {
      @include nest-share(md, only, linkedin-box-line, null, false);
    }

    &--mail {
      @include nest-share(md, only, mail-line, null, false);
    }

    &--copy {
      @include nest-share(md, only, links-fill, null, false);
    }
  }
}
