<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- sample('Gestionnaire de consentement', '../../../../component/consent/example/sample/banner.ejs', {}); %>

  <%- sample('Panneau de gestion des cookies', '../../../../component/consent/example/sample/modal.ejs', {} ); %>
</div>
