/*!
 * DSFR v1.5.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  ICON COMMUNICATION
\* ˍˍˍˍˍˍˍˍˍ */

[class^="fr-icon-"]::before,
[class*=" fr-icon-"]::before,
[class^="fr-fi-"]::before,
[class*=" fr-fi-"]::before {
  content: "";
}

.fr-icon-bluetooth-fill::before {
  -webkit-mask-image: url("../../../icons/device/bluetooth-fill.svg") !important;
  mask-image: url("../../../icons/device/bluetooth-fill.svg") !important;
}

.fr-icon-bluetooth-line::before {
  -webkit-mask-image: url("../../../icons/device/bluetooth-line.svg") !important;
  mask-image: url("../../../icons/device/bluetooth-line.svg") !important;
}

.fr-icon-computer-fill::before {
  -webkit-mask-image: url("../../../icons/device/computer-fill.svg") !important;
  mask-image: url("../../../icons/device/computer-fill.svg") !important;
}

.fr-icon-computer-line::before {
  -webkit-mask-image: url("../../../icons/device/computer-line.svg") !important;
  mask-image: url("../../../icons/device/computer-line.svg") !important;
}

.fr-icon-dashboard-3-fill::before {
  -webkit-mask-image: url("../../../icons/device/dashboard-3-fill.svg") !important;
  mask-image: url("../../../icons/device/dashboard-3-fill.svg") !important;
}

.fr-icon-dashboard-3-line::before {
  -webkit-mask-image: url("../../../icons/device/dashboard-3-line.svg") !important;
  mask-image: url("../../../icons/device/dashboard-3-line.svg") !important;
}

.fr-icon-database-fill::before {
  -webkit-mask-image: url("../../../icons/device/database-fill.svg") !important;
  mask-image: url("../../../icons/device/database-fill.svg") !important;
}

.fr-icon-database-line::before {
  -webkit-mask-image: url("../../../icons/device/database-line.svg") !important;
  mask-image: url("../../../icons/device/database-line.svg") !important;
}

.fr-icon-device-fill::before {
  -webkit-mask-image: url("../../../icons/device/device-fill.svg") !important;
  mask-image: url("../../../icons/device/device-fill.svg") !important;
}

.fr-icon-device-line::before {
  -webkit-mask-image: url("../../../icons/device/device-line.svg") !important;
  mask-image: url("../../../icons/device/device-line.svg") !important;
}

.fr-icon-hard-drive-2-fill::before {
  -webkit-mask-image: url("../../../icons/device/hard-drive-2-fill.svg") !important;
  mask-image: url("../../../icons/device/hard-drive-2-fill.svg") !important;
}

.fr-icon-hard-drive-2-line::before {
  -webkit-mask-image: url("../../../icons/device/hard-drive-2-line.svg") !important;
  mask-image: url("../../../icons/device/hard-drive-2-line.svg") !important;
}

.fr-icon-mac-fill::before {
  -webkit-mask-image: url("../../../icons/device/mac-fill.svg") !important;
  mask-image: url("../../../icons/device/mac-fill.svg") !important;
}

.fr-icon-mac-line::before {
  -webkit-mask-image: url("../../../icons/device/mac-line.svg") !important;
  mask-image: url("../../../icons/device/mac-line.svg") !important;
}

.fr-icon-phone-fill::before {
  -webkit-mask-image: url("../../../icons/device/phone-fill.svg") !important;
  mask-image: url("../../../icons/device/phone-fill.svg") !important;
}

.fr-icon-phone-line::before {
  -webkit-mask-image: url("../../../icons/device/phone-line.svg") !important;
  mask-image: url("../../../icons/device/phone-line.svg") !important;
}

.fr-icon-qr-code-fill::before {
  -webkit-mask-image: url("../../../icons/device/qr-code-fill.svg") !important;
  mask-image: url("../../../icons/device/qr-code-fill.svg") !important;
}

.fr-icon-qr-code-line::before {
  -webkit-mask-image: url("../../../icons/device/qr-code-line.svg") !important;
  mask-image: url("../../../icons/device/qr-code-line.svg") !important;
}

.fr-icon-rss-fill::before {
  -webkit-mask-image: url("../../../icons/device/rss-fill.svg") !important;
  mask-image: url("../../../icons/device/rss-fill.svg") !important;
}

.fr-icon-rss-line::before {
  -webkit-mask-image: url("../../../icons/device/rss-line.svg") !important;
  mask-image: url("../../../icons/device/rss-line.svg") !important;
}

.fr-icon-save-3-fill::before {
  -webkit-mask-image: url("../../../icons/device/save-3-fill.svg") !important;
  mask-image: url("../../../icons/device/save-3-fill.svg") !important;
}

.fr-icon-save-3-line::before {
  -webkit-mask-image: url("../../../icons/device/save-3-line.svg") !important;
  mask-image: url("../../../icons/device/save-3-line.svg") !important;
}

.fr-icon-save-fill::before {
  -webkit-mask-image: url("../../../icons/device/save-fill.svg") !important;
  mask-image: url("../../../icons/device/save-fill.svg") !important;
}

.fr-icon-save-line::before {
  -webkit-mask-image: url("../../../icons/device/save-line.svg") !important;
  mask-image: url("../../../icons/device/save-line.svg") !important;
}

.fr-icon-server-fill::before {
  -webkit-mask-image: url("../../../icons/device/server-fill.svg") !important;
  mask-image: url("../../../icons/device/server-fill.svg") !important;
}

.fr-icon-server-line::before {
  -webkit-mask-image: url("../../../icons/device/server-line.svg") !important;
  mask-image: url("../../../icons/device/server-line.svg") !important;
}

.fr-icon-smartphone-fill::before {
  -webkit-mask-image: url("../../../icons/device/smartphone-fill.svg") !important;
  mask-image: url("../../../icons/device/smartphone-fill.svg") !important;
}

.fr-icon-smartphone-line::before {
  -webkit-mask-image: url("../../../icons/device/smartphone-line.svg") !important;
  mask-image: url("../../../icons/device/smartphone-line.svg") !important;
}

.fr-icon-tablet-fill::before {
  -webkit-mask-image: url("../../../icons/device/tablet-fill.svg") !important;
  mask-image: url("../../../icons/device/tablet-fill.svg") !important;
}

.fr-icon-tablet-line::before {
  -webkit-mask-image: url("../../../icons/device/tablet-line.svg") !important;
  mask-image: url("../../../icons/device/tablet-line.svg") !important;
}

.fr-icon-tv-fill::before {
  -webkit-mask-image: url("../../../icons/device/tv-fill.svg") !important;
  mask-image: url("../../../icons/device/tv-fill.svg") !important;
}

.fr-icon-tv-line::before {
  -webkit-mask-image: url("../../../icons/device/tv-line.svg") !important;
  mask-image: url("../../../icons/device/tv-line.svg") !important;
}

.fr-icon-wifi-fill::before {
  -webkit-mask-image: url("../../../icons/device/wifi-fill.svg") !important;
  mask-image: url("../../../icons/device/wifi-fill.svg") !important;
}

.fr-icon-wifi-line::before {
  -webkit-mask-image: url("../../../icons/device/wifi-line.svg") !important;
  mask-image: url("../../../icons/device/wifi-line.svg") !important;
}

.fr-fi-phone-fill::before {
  -webkit-mask-image: url("../../../icons/device/phone-fill.svg") !important;
  mask-image: url("../../../icons/device/phone-fill.svg") !important;
}

.fr-fi-phone-line::before {
  -webkit-mask-image: url("../../../icons/device/phone-line.svg") !important;
  mask-image: url("../../../icons/device/phone-line.svg") !important;
}

.fr-fi-rss-fill::before {
  -webkit-mask-image: url("../../../icons/device/rss-fill.svg") !important;
  mask-image: url("../../../icons/device/rss-fill.svg") !important;
}

.fr-fi-rss-line::before {
  -webkit-mask-image: url("../../../icons/device/rss-line.svg") !important;
  mask-image: url("../../../icons/device/rss-line.svg") !important;
}

.fr-fi-save-fill::before {
  -webkit-mask-image: url("../../../icons/device/save-fill.svg") !important;
  mask-image: url("../../../icons/device/save-fill.svg") !important;
}

.fr-fi-save-line::before {
  -webkit-mask-image: url("../../../icons/device/save-line.svg") !important;
  mask-image: url("../../../icons/device/save-line.svg") !important;
}

@media (min-width: 36em) {
  /*! media sm */
}

@media (min-width: 48em) {
  /*! media md */
}

@media (min-width: 62em) {
  /*! media lg */
}

@media (min-width: 78em) {
  /*! media xl */
}
