<%
let footer = locals.footer || {};
let data = {
    id: footer.id || uniqueId('footer'),
    top: {
      categories: { label: 'Nom de la catégorie', link: 'Lien de navigation'}
    },
    brand: {
      logo: footer.logo
    },
    content: {
      desc: lorem(),
      links: [
        {label: 'legifrance.gouv.fr'},
        {label: 'gouvernement.fr'},
        {label: 'service-public.fr'},
        {label: 'data.gouv.fr'}
      ]
    },
    bottom: {
      links: [
        {label: 'Plan du site'},
        {label: 'Accessibilité : non/partiellement/totalement conforme'},
        {label: 'Mentions légales'},
        {label: 'Données personnelles'},
        {label: 'Gestion des cookies'}
      ],
      copyright: 'Sauf mention contraire, tous les contenus de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a>'
    }
}
%>

<%- include('../../template/ejs/footer', {footer: data}); %>
