////
/// Tiles Module
/// @group tiles
////

.#{$prefix}-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  @include scheme-element-bg-color(beige, true, true);
  @include scheme-element-focus(true);
  @include scheme-element-box-shadow-color(bf500, true, inset 0 -(#{space(0-5N)}) 0 0 $COLOR);

  /**
   * Forcer la hauteur à 100% pour que les tuiles aient la même hauteur dans le contexte de la grille
   */
  .#{$prefix}-grid-row & {
    height: 100%;
  }

  &:not(&--horizontal) {
    text-align: center;

    .#{$prefix}-tile__link {
      justify-content: center;
    }
  }

  &__link {
    position: static;
    display: inline-flex;
    width: 100%;
    box-shadow: none;
    text-decoration: none;

    @include pseudo-element() {
      @include absolute-overlay();
      @include scheme-element-focus();
    }

    &:focus {
      outline-offset: 9999px;
    }
  }

  /**
   * Conteneur pour l'image, on force les dimensions à 80x80 tout en permettant de mettre une image
   * ne respectant pas cette taille :
   * Si l'image est plus grande, elle sera croppée afin de ne jamais dépasser 80x80.
   * Si l'image est plus petite, elle sera centrée, en hauteur, en largeur ou bien les deux.
   */
  &__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin: space(4N) auto 0;
    overflow: hidden;

    /**
     * Dans le cas d'un svg inline sans largeur et hauteur spécifiées, on lui attribue une largeur de 100%.
     */
    > svg {
      width: 100%;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: space(2N);

    @include respond-from(sm) {
      padding: space(3N);
    }
  }

  &__title {
    margin: 0;
    @include text-styles(md);
    font-weight: font-weight(bold);
  }

  &__desc {
    margin: space(1N) 0 0;
    @include text-styles(sm);
  }

  &--horizontal {
    flex-direction: row;

    .#{$prefix}-tile__img-wrap {
      width: 48px;
      height: 48px;
      margin: auto 0 auto space(3N);

      + .#{$prefix}-tile__body {
        min-height: 80px;
      }

      @include respond-from(sm) {
        width: 80px;
        height: 80px;
        margin: auto 0 auto space(4N);
      }
    }

    .#{$prefix}-tile__body {
      align-items: flex-start;
      padding: 0;
      margin: space(3N);

      @include respond-from(sm) {
        margin: space(4N);
      }
    }
  }
}
