////
/// Tiles Module
/// @group tiles
////

#{dse(tile)} {
  @extend %default-text-color;
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  @include scheme-element-bg-color(beige, true);

  #{dse(grid-row)} & {
    height: 100%;
  }

  &__link {
    @extend %a-reset;
    @include override-reset-link-style;
    position: static;
    display: inline-flex;
    width: 100%;

    @include after(null, '') {
      @include absolute(0, 0, 0, 0);
    }

    @include force-over-reset {
      &:focus {
        outline-offset: 9999px;
      }
    }
  }

  &__img {
    position: relative;
    margin: space(6N) space(6N) 0;
    flex: 0 0 auto;

    @include aspect-ratio(1x1);

    img {
      @include absolute(0, 0, 0, 0, 100%, 100%);
      @extend %fit-cover-center;
    }
  }

  &__body {
    padding: space(2N);
    flex-grow: 1;
  }

  &__img + &__body {
    padding: space(3N) space(2N);
  }

  &__title {
    @include force-over-reset {
      @include text-styles(md, null, bold);
    }
    margin: 0;

    + #{dse(tile__desc)} {
      margin: space(1N) 0 0;
      @include text-styles(sm);
    }
  }

  &__desc {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: space(0-5N);
    left: 0;
    bottom: 0;
    @include scheme-element-bg-color(bf500, true);
  }

  @include scheme-element-focus(true);

  @include respond-from(md) {
    &--horizontal {
      flex-direction: row;

      #{dse(tile__img)} {
        margin: space(4N) 0 space(4N) space(4N);
        flex-grow: 1;
        flex-basis: auto;
        width: auto;
      }

      #{dse(tile__body)} {
        padding: space(4N);
        flex-basis: 70%;
      }
    }
  }
}
