////
/// Core Tools : Typography font-face
/// @group core
////

@mixin font-face($name, $filename, $font-weight: 400, $font-style: normal) {
  @font-face {
    font-family: #{$name};
    src:
      url('#{$static-font-path}/#{$filename}.woff2') format('woff2'),
      url('#{$static-font-path}/#{$filename}.woff') format('woff');
    font-weight: #{$font-weight};
    font-style: #{$font-style};
  }
}

@mixin font-faces($name, $settings) {
  @each $type, $variation in $settings {
    $font-weight: map_get($variation, font-weight);
    $font-style: map_get($variation, font-style);
    $filename: map_get($variation, file);

    @if $font-style == null {
      $font-style: normal;
    }
    @include font-face ($name, $filename, $font-weight, $font-style);
  }
}
