////
/// Core Tools : Typography lists
/// @group core
////

%base-list {
  font-size: font-size();
  line-height: line-height();
  @include margin(0 0 2v);
  @include padding(0);

  li {
    @include margin-bottom(2v);
  }

  ul,
  ol {
    @include margin(2v 0 4v);
  }
}

%unordered-list {
  @extend %base-list;

  li {
    @include before(null, '\2022') {
      font-size: 1.4em;
      @include margin-right(2v);
    }
  }

  ul {
    list-style-type: none;
    @include margin(2v 0 2v 6v);

    li {
      @include before(null, '•') {
        font-size: 0.9em;
      }
    }
  }
}

%ordered-list {
  @extend %base-list;
  counter-reset: list-number;

  ol {
    @include padding-left(6v);

    li {
      @include before {
        font-size: 0.9em;
      }
    }
  }

  li {
    counter-increment: list-number;
    @include before(null, counters(list-number, ".") ".") {
      font-weight: 700;
      @include margin-right(2v);
    }
  }
}
