////
/// Tabs Module
/// @group tabs
////

#{ns(tabs)} {
  @include disable-list-style;
  @include disable-link-style;
  @include relative;
  overflow: hidden;
  @include margin-top(-4px);
  @include padding-top(4px);
  @include display-flex(row, flex-start);

  /**
    * Animation de la hauteur du panel
    */
  transition: height $tabs-transition-duration;

  // retire le padding du container en mobile
  @include margin-x(calc(50% - 50vw));
  @include margin-x(0, md);

  #{ns(tabs)} {
    @include margin-x(0);
  }

  @include after(block, '') {
    @include absolute(11v, 0, 0, 0);
    pointer-events: none;
  }

  /**
   * ul : element srollable des boutons
   */
  @include list {
    @include display-flex(null, flex-end);
    overflow-x: auto;
    @include size(100%, 12v);
    @include absolute;

    /**
    * overflow vertical de 4px pour le focus
    */
    @include margin(-4px 0);
    @include padding(4px 2v);

    @include after(block, '') {
      flex: 1 1 auto;
      height: 1px;
      @include margin-x(-2v);
    }

    /**
    * Reset du style par défaut du li
    */
    // TODO: BEM, pour éviter de styliser les li du content
    > li {
      display: block;
      flex: 0 0 auto;
      @include margin(0 2v);

      &:not(:first-child) {
        @include margin-left(0);
        @include before(block, '') {
          @include sticky(100%, null, null, null, 2v, 1px);
          @include margin-left(-2v);
        }
      }

      &:last-child {
        @include padding-right(4v);

        @include after(block, '') {
          min-width: 1rem;
          @include margin-left(100%);
          flex: 1 1 auto;
          @include sticky(100%, null, null, null, auto, 1px);
          @include margin-top(-1px);
        }
      }

      &:first-child {
        @include before(block, '') {
          @include sticky(100%, null, null, null, 100%, 1px);
          position: sticky;
          @include margin-left(-100%);
        }
      }
    }
  }

  /**
  * Tab button
  */
  &__tab {
    @include build-tab();
    @include relative;
    overflow: visible;
    font-weight: bold;
    @include z-index(over);

    &[aria-selected=true] {
      cursor: default;
      background: transparent;

      @include after(block, '') {
        @include absolute(2px, 1px, 0, 1px, auto, calc(100% - 1px));
        @include z-index(over);
      }
    }
  }

  /**
  * Tab Panel
  */
  &__panel {
    @include enable-link-style;
    @include enable-list-style;
    display: block;
    @include relative(null, null, null, 0, 100%, auto);
    @include padding(4v);
    @include padding(8v, md);
    @include margin-top(10v);
    @include margin-right(-100%);
    flex: 0 0 100%;
    transition: visibility $tabs-transition-duration, transform $tabs-transition-duration;

    &:focus,
    &:focus-visible {
      outline-offset: calc(-1rem + 2px);
      @include respond-from(md) {
        outline-offset: calc(-2rem + 2px);
      }
    }

    /**
    * Les éléments non sélectionnés sont cachés et rendus innaccessibles au focus
    * Point d'attention : visibility hidden sur le panel et surcharge sur l'élément selected avec visibility visible créé des problèmes dans la gestion du focus en cas d'imbrication d'onglets
    *
    * tabs
    * └─ panel selected
    * └─ panel (visibility hidden, tabindex -1)
    *    └─ tabs
    *       └─ panel selected (visibility visible tabindex 0)
    *            ↑ ce panel est accessible alors que caché par son panel parent
    * solution : visibility hidden seulement sur les éléments non sélectionnés
    **/
    @at-root #{&}:not(&--selected) {
      visibility: hidden;
    }
  }
}
