<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- section('Bouton radio', null, 0) %>
  <%- sample('Ensemble de boutons radio', '../../../component/radio/example/sample/radios.ejs', { radios: { id:'radio', checked: true } });  %>
</div>
