<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- sample('lien download', '../../../../../component/link/example/sample/link-default', { link: { id: uniqueId('link'), label: 'Libellé téléchargement', href:'../../../../../example/img/image.jpg', download: true } }); %>
</div>
