////
/// Footer module : Content
/// @group Footer
////

/**
 * La partie "content" représente les informations sous forme de texte rajoutées dans le footer
 * ainsi que les éventuels liens simples
 */
#{ns(footer)} {
  &__content {
    @include display-flex(null, null, null, wrap);
    flex-basis: 100%;
    @include margin-top(6v);

    @include respond-from(md) {
      @include margin-left(auto);
    }

    @include respond-from(lg) {
      @include margin-top(0);
      flex-basis: calc(100% - (100% / 2));
      @include max-width(147v);
    }
  }

  /**
  * Contenu texte simple
  */
  &__content-desc {
    @include enable-underline;
    @include set-text-margin(0 0 0 0);
    @include size(100%);
    @include text-style(sm);
  }

  /**
  * Liste des liens situés en dessous de la partie texte
  */
  &__content-list {
    @include display-flex(row);
    align-self: center;
    @include margin-bottom(-2v);
    @include margin-top(4v);
    @include margin-top(2v, md);
    flex-wrap: wrap;

    > li {
      @include margin-right(5v);
      @include margin-right(6v, sm);
      @include margin-top(2v);
      @include margin-bottom(2v);

      @include before(none);

      &:last-child {
        @include margin-right(0);
      }
    }
  }

  &__content-link {
    font-weight: bold;
    @include text-style(sm);

    &:not(:hover):not(:active) {
      @include link-underline-hover-only;
    }
  }
}
