////
/// Footer module : Top
/// @group Footer
////

/**
 * La partie "top" du footer est constituée de colonnes basées sur le système de grille du Design System
 * Ces colonnes sont constituées d’une catégorie (optionnel) et d'une liste verticale de liens
 */
#{ns(footer)} {
  &__top {
    @include display-flex(null);
    @include margin(-7.5v 0 6v);
    @include margin(-7.5v 0 8v, md);
    @include padding(8v 0 5v);
  }

  /**
  * Catégorie (optionnel)
  */
  &__top-cat {
    @include margin(0 0 3v);
    @include text-style(xs);
    display: block;
    font-weight: font-weight(bold);
    text-align: left;
  }

  /**
  * Style de la liste
  */
  &__top-list {
    @include text-style(xs);
    @include margin(0);

    li {
      @include margin-bottom(3v);
    }
  }

  /**
  * Style du lien
  */
  &__top-link {
    @include text-style(xs);

    &:not(:hover):not(:active) {
      @include link-underline-hover-only;
    }
  }
}
