////
/// Content Main
/// @group content
////

/* ¯¯¯¯¯¯¯¯¯ *\
  CONTENT
\* ˍˍˍˍˍˍˍˍˍ */

@import 'index';
@import 'style/module';
@import 'style/scheme';

// deprecated
@import 'deprecated/style/module';
@import 'deprecated/style/scheme';

@include _content-scheme;

// deprecated
@include _content-deprecated-scheme;
