////
/// Callout Main
/// @group callout
////

/* ¯¯¯¯¯¯¯¯¯ *\
  CALLOUT
\* ˍˍˍˍˍˍˍˍˍ */

@use 'src/module/path';
@use 'src/module/shame/media-query';

@include path.to-dist(2);
@include media-query.order;

@import 'index';
@import 'style/module';
@import 'style/scheme';

@include _callout-scheme;
