<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >

  <%- section('Étiquette d’élément button' , null, 0) %>
  <%- include('../../../../../component/breadcrumb/example/sample/sample-button', { }); %>
</div>
