<% const sample = getSample(include); %>

<div class="<%= prefix %>-container">
  <%- sample('Étiquette d’élément button', '../../../../../component/breadcrumb/example/sample/sample-button'); %>
</div>
