<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >

  <%- sample('Se connecter avec FranceConnect', '../../../../component/connect/example/sample/connect-default.ejs'); %>

</div>
