////
/// Share Module
/// @group share
////

@use '../../../../../../sass/display';
@use '../../../../../../sass/icon';
@use '../../../../../../sass/selector';
@use '../../../../../../sass/spacing';
@use '../../../../../../sass/typography';
@import './tool';
@import '../../../../button/_content/style/tmp/tool';

@mixin first() {
  #{selector.class(share)} {
    @include display.flex(column);
    @include typography.set-text-margin(0 0 4v);
    @include typography.set-title-margin(0 0 4v);

    &__title {
      @include typography.text-style(md);
      order: 1;
    }

    &__text {
      @include typography.text-style(xs);
      @include spacing.max-width(72v, md);
      order: 3;
    }

    #{selector.class(btns, (group: true))} {
      @include horizontal-btns-group;
      @include spacing.width(auto);
      order: 2;

      #{selector.class(btn)} {
        justify-content: flex-start;
      }

      &:not(#{selector.class(btns, (group: true, modifier: sm)), selector.class(btns, (group: true, modifier: lg))}) {
        #{selector.class(btn)} {
          @include icon.not-selector {
            @include nest-btn(md, only, null, null, false);
            @include icon.icon(null, md, before);
          }
        }
      }
    }
  }

  @include build-share-social-icons();
  @include build-share-icon(mail, mail-line);
  @include build-share-icon(copy, links-fill);
}
