////
/// Core Module : Action enlarge link
/// @group core
////

#{ns(enlarge-link)} {
  position: relative;

  a {
    background-image: none !important;
    outline-width: 0 !important;
    @include enable-blend;
    @include before('', block) {
      @include hover-media-query {
        @include hover-blend-background;
      }
      @include absolute(0, 0, 0, 0, 100%, 100%);
      outline-offset: 2px;
      outline-style: inherit;
      outline-color: inherit;
      outline-width: 2px;
      @include z-index(over);
    }
  }
}
