////
/// Core Module : Action hover
/// @group core
////

@include hover-media-query {
  @include hover-type-selector($action-elements, blend) {
    // background-size: 2048px 2048px;
    // background-position: 50% 50%;

    --hover-hsla: #{css-hsl-alpha(var(--hsl), var(--a))};

    &:hover,
    &:active {
      background-image: radial-gradient(circle at center, var(--hover-hsla), var(--hover-hsla) 10%);
    }

    &:hover {
      --a: #{$hover-alpha};
    }

    &:active {
      --a: #{$active-alpha};
    }
  }
}
