////
/// Core Module : Reset input & form field
/// @group core
////

@use 'module/reset';

input,
select,
textarea {
  @include reset.appearance(none);
  @include font-family;
  @include text-adjustments;
  border-radius: 0;
  border: 0;
  background-color: transparent;
  margin: 0; // Address margins set differently in Firefox 4+, Safari, and Chrome.
}

// Fix for normalize.css
input[type=search] {
  @include reset.appearance(none);
}

// Fix for NVDA
input[type="checkbox"],
input[type="radio"] {
  @include reset.appearance;
}
