////
/// Core Module : Action link
/// @group core
////

a {
  @include a-reset;
}

:root {
  @include init-underline;
  @include enable-underline;
  @include enable-external;

  --text-decoration: none;
}

// TODO: à checker avec <area href="" >
[href] {
  @include link-underline;
}

@include target-blank {
  @include external-link;

  @include has-icon {
    @include external-link;
  }
}

form {
  @include target-blank(true) {
    @include after(none);
  }
}

#{ns(raw-link)} {
  --text-decoration: none;

  &[href],
  [href] {
    @include disable-underline;
    @include disable-external;
  }
}

#{ns(reset-link)} {
  --text-decoration: underline;

  &[href],
  [href] {
    @include disable-underline;
    text-underline-offset: 2px;
  }
}
