////
/// Connect Setting : Size
/// @group connect
////

$login-size: (
  fr: (
    width: 133,
    height: 17
  ),
  en: (
    width: 95,
    height: 17
  ),
  de: (
    width: 112,
    height: 17
  ),
  es: (
    width: 142,
    height: 17
  )
);

$brand-size: (
  default: (
    width: 133,
    height: 18
  ),
  agent: (
    width: 134,
    height: 19
  )
);
