////
/// Core Tool : Collapse
/// @group core
////

@use 'module/selector';

@mixin collapse-margin-top($className: collapse) {
  --collapse-max-height: 0;
  --collapse: -99999px;
  --collapser: '';

  overflow: hidden;
  transition: visibility 0.3s;
  max-height: 0;
  max-height: var(--collapse-max-height);

  #{&}::before {
    display: block;
    content: '';
    content: var(--collapser);
    transition: margin-top 0.3s;
    margin-top: 0;
  }

  #{&}:not(#{selector.ns(collapse--expanded)}) {
    visibility: hidden;

    @include before {
      margin-top: -99999px;
      margin-top: var(--collapse);
    }
  }
}

@mixin collapse-width($className: collapse) {
  --collapseSize: 0;

  width: 0;
  width: var(--collapseSize);
  transition: visibility 0.3s, width 0.3s;

  #{&}:not(#{selector.ns(collapse--expanded)}) {
    visibility: hidden;
  }

  #{selector.ns(collapse--expanded)} {
    width: auto;
  }
}
