////
/// Core Tool : Collapse
/// @group core
////

@use 'module/selector';

@mixin collapse () {
  overflow: hidden;

  @at-root #{&}:not(#{selector.ns(collapse--expanded)}) {
    visibility: hidden;
  }
}

@mixin collapse-margin-top() {
  --collapse-max-height: 0;
  --collapse: -99999px;
  --collapser: '';

  transition: visibility 0.3s;
  max-height: 0;
  max-height: var(--collapse-max-height);

  @at-root #{&}::before {
    display: block;
    content: '';
    content: var(--collapser);
    transition: margin-top 0.3s;
    margin-top: 0;
  }

  @at-root #{&}:not(#{selector.ns(collapse--expanded)}) {
    @include before {
      margin-top: -99999px;
      margin-top: var(--collapse);
    }
  }
}

@mixin collapse-width() {
  --collapse-width: auto;
  transition: visibility 0.3s, width 0.3s;

  @at-root #{&}:not(#{selector.ns(collapse--expanded)}) {
    width: 0;
  }

  @at-root #{&}#{selector.ns(collapse--expanded)} {
    width: var(--collapse-width);
  }
}

@mixin collapse-height() {
  --collapse-height: auto;
  transition: visibility 0.3s, height 0.3s;

  @at-root #{&}:not(#{selector.ns(collapse--expanded)}) {
    height: 0;
  }

  @at-root #{&}#{selector.ns(collapse--expanded)} {
    height: var(--collapse-height);
  }
}
