<%#
# paramètres accordionGroup

* accordionGroup.accordions (array, required) : tableau d'accordion

* accordionGroup.group (boolean, optional) : permet de dégrouper les accordions

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
let accordionsGroup = locals.accordionsGroup || {accordions: []}
let attributes = accordionsGroup.attributes || {};
if (accordionsGroup.group !== undefined)  attributes[`data-${prefix}-group`] = accordionsGroup.group;
%>

<div <%- includeAttrs(attributes); %> class="<%= prefix %>-accordions-group">
<%
  for (let i = 0; i < accordionsGroup.accordions.length; i++) {
%>
  <%- include('./accordion', {accordion: accordionsGroup.accordions[i]}); %>
<% } %>
</div>
