////
/// Share Main
/// @group share
////

/* ¯¯¯¯¯¯¯¯¯ *\
  SHARE
\* ˍˍˍˍˍˍˍˍˍ */

@use 'src/module/path';
@use 'src/module/shame/media-query';

@include path.to-dist(2);
@include media-query.order;

@import 'index';
@import 'style/module';
@import 'style/scheme';

// deprecated
@import 'deprecated/style/tool';
@import 'deprecated/style/module';
@import 'deprecated/style/scheme';

@include _share-scheme;

// deprecated
@include _share-deprecated-scheme;
