<%#
# paramètres checkbox

// TODO: templatisation et documentation

%>
<% eval(include('../../../core/index.ejs')); %>
<ul class="<%= prefix %>-toggle__list">
  <%
    for (let i = 0; i < 5; i++) {
      let groupToggleId = 'group-' + i
  %>
    <li>
        <%- include('./toggle', {toggleId: locals.hint ? 'toggle-hint-' + i : 'toggle-' + i} ); %>
    </li>
  <% } %>
</ul>
