////
/// Core Setting : Color decisions
/// @group core
////

$scheme-decisions: (
  background: (
    default: (
      neutral: white
    ),
    elevated: (
      neutral: elevated
    ),
    alt: (
      neutral: lightest,
      primary: lightest,
      accent: lightest
    ),
    contrast: (
      neutral: lighter,
      primary: lighter,
      accent: lighter,
    ),
    flat: (
      neutral: strongest,
      primary: strong,
      accent: strong,
      system: strong,
    ),
    action-high: (
      primary: strong,
      accent: strong,
      system: strong,
    ),
    action-low: (
      neutral: light,
      primary: light,
      accent: light,
    ),
    active: (
      primary: strong,
      accent: strong,
    ),
    open: (
      primary: light,
      accent: light,
    ),
    disabled: (
      neutral: light
    )
  ),
  text: (
    default: (
      neutral: strongest,
      system: strong
    ),
    action-high: (
      neutral: black,
      primary: strong,
      accent: strong
    ),
    title: (
      neutral: black,
      primary: strong,
      accent: strong
    ),
    label: (
      neutral: black,
      primary: strong,
      accent: strong
    ),
    active: (
      neutral: black,
      primary: strong,
      accent: strong
    ),
    mention: (
      neutral: strong
    ),
    inverted: (
      neutral: white,
      primary: inverted,
      system: light,
      accent: light
    ),
    disabled: (
      neutral: soft
    )
  ),
  border: (
    default: (
      neutral: light,
      system: strong,
      primary: main,
      accent: main
    ),
    active: (
      primary: strong,
      accent: strong,
    ),
    action-high: (
      neutral: black,
      primary: strong,
      accent: strong
    ),
    action-low: (
      primary: softest,
      accent: softest
    ),
    open: (
      primary: light
    ),
    thick: (
      neutral: strongest,
      primary: strong
    ),
    disabled: (
      neutral: light
    )
  )
);
