////
/// Core Setting : Color options
/// @group core
////

// Chaque couleur est définie suivant ce modèle :
// [color-name]-[grade]: [hex] [hue] [saturation] [lightness];

$scheme-options: (
  // grey
  grey-50: #161616 0deg 0% 8.6%,
  grey-75: #1e1e1e 0deg 0% 11.8%,
  grey-100: #242424 0deg 0% 14.1%,
  grey-125: #2a2a2a 0deg 0% 16.5%,
  grey-200: #3a3a3a 0deg 0% 22.7%,
  grey-425: #666 0deg 0% 40%,
  grey-625: #929292 0deg 0% 57.3%,
  grey-850: #cecece 0deg 0% 80.8%,
  grey-925: #e5e5e5 0deg 0% 89.8%,
  grey-950: #eee 0deg 0% 93.3%,
  grey-975: #f6f6f6 0deg 0% 96.5%,
  grey-1000: #fff 0deg 0% 100%,
  grey-main-525: #7b7b7b 0deg 0% 48.2%,
  // blue-france
  blue-france-75: #1b1b35 240deg 32.1% 15.7%,
  blue-france-100: #21213f 240deg 30.7% 18.8%,
  blue-france-125: #272747 240deg 29.8% 21.6%,
  blue-france-200: #313178 240deg 41.8% 33.1%,
  blue-france-625: #8585f6 240deg 86.5% 74.4%,
  blue-france-850: #cacafb 240deg 86.8% 88.8%,
  blue-france-925: #e3e3fd 240deg 86.5% 94.2%,
  blue-france-950: #ececfe 240deg 86.4% 96.1%,
  blue-france-975: #f5f5fe 240deg 86.3% 98%,
  blue-france-sun-113: #000091 240deg 100% 28.4%,
  blue-france-main-525: #6a6af4 240deg 85.8% 68.5%,
  // red-marianne
  red-marianne-75: #2b1919 359.5deg 26.3% 13.3%,
  red-marianne-100: #331f1f 359.5deg 25% 16.1%,
  red-marianne-125: #3b2424 359.5deg 24.1% 18.6%,
  red-marianne-200: #5e2a2b 359.4deg 38% 26.6%,
  red-marianne-425: #c9191e 358.1deg 78% 44.3%,
  red-marianne-625: #f95c5e 359.2deg 92.8% 66.8%,
  red-marianne-850: #fcbfbf 359.5deg 89.9% 86.7%,
  red-marianne-925: #fddede 359.6deg 88.9% 93.2%,
  red-marianne-950: #fee9e9 359.6deg 88.6% 95.4%,
  red-marianne-975: #fef4f4 359.6deg 88.3% 97.7%,
  red-marianne-main-472: #e1000f 356deg 100% 44.1%,
  // info
  info-75: #171d2e 223.7deg 32.9% 13.6%,
  info-100: #1d2437 223.7deg 31.3% 16.3%,
  info-125: #222a3f 223.7deg 30.2% 18.9%,
  info-200: #273961 221.4deg 42.4% 26.6%,
  info-425: #0063cb 210.8deg 100% 39.8%,
  info-625: #518fff 218.7deg 100% 65.9%,
  info-850: #bccdff 225.3deg 100% 86.9%,
  info-925: #dde5ff 226.5deg 100% 93.4%,
  info-950: #e8edff 226.9deg 100% 95.5%,
  info-975: #f4f6ff 227.2deg 100% 97.8%,
  info-main-525: #0078f3 210.4deg 100% 47.6%,
  // success
  success-75: #142117 135.1deg 23.9% 10.3%,
  success-100: #19271d 135.1deg 22.4% 12.6%,
  success-125: #1e2e22 135.1deg 21.4% 14.8%,
  success-200: #204129 137deg 33.2% 19%,
  success-425: #18753c 143deg 65.5% 27.7%,
  success-625: #27a658 143deg 62.1% 40.2%,
  success-850: #3bea7e 143deg 80.9% 57.5%,
  success-925: #88fdaa 137.4deg 97.1% 76.3%,
  success-950: #b8fec9 135deg 96.5% 85.8%,
  success-975: #dffee6 133.6deg 96% 93.5%,
  success-main-525: #1f8d49 143deg 63.5% 33.8%,
  // warning
  warning-75: #2d1814 9.7deg 38.8% 12.8%,
  warning-100: #361e19 9.7deg 36.8% 15.5%,
  warning-125: #3e231e 9.7deg 35.5% 18%,
  warning-200: #5d2c20 11.6deg 48.2% 24.5%,
  warning-425: #b34000 21.3deg 100% 35.1%,
  warning-625: #fc5d00 22.1deg 100% 49.4%,
  warning-850: #ffbeb4 8.3deg 100% 85.2%,
  warning-925: #ffded9 7.4deg 100% 92.6%,
  warning-950: #ffe9e6 7.1deg 100% 95.1%,
  warning-975: #fff4f3 6.9deg 100% 97.6%,
  warning-main-525: #d64d00 21.7deg 100% 42%,
  // error
  error-75: #301717 0.2deg 35.4% 13.8%,
  error-100: #391c1c 0.2deg 33.6% 16.6%,
  error-125: #412121 0.2deg 32.5% 19.2%,
  error-200: #642626 0.3deg 45.2% 26.9%,
  error-425: #ce0500 1.4deg 100% 40.4%,
  error-625: #ff5655 0.4deg 100% 66.6%,
  error-850: #ffbdbd 0.2deg 100% 87.1%,
  error-925: #fdd 0.2deg 100% 93.4%,
  error-950: #ffe9e9 0.2deg 100% 95.6%,
  error-975: #fff4f4 0.1deg 100% 97.8%,
  error-main-525: #f60700 1.8deg 100% 48.2%,
  // green-tilleul-verveine
  green-tilleul-verveine-75: #201e14 49.5deg 23.5% 10.2%,
  green-tilleul-verveine-100: #272419 49.5deg 22% 12.4%,
  green-tilleul-verveine-125: #2d2a1d 49.5deg 21% 14.6%,
  green-tilleul-verveine-200: #3f3a20 50.5deg 32.8% 18.6%,
  green-tilleul-verveine-850: #e2cf58 51.8deg 70.4% 61.5%,
  green-tilleul-verveine-925: #fbe769 51.6deg 95% 69.8%,
  green-tilleul-verveine-950: #fceeac 49.8deg 93.5% 83.1%,
  green-tilleul-verveine-975: #fef7da 48.6deg 92.3% 92.4%,
  green-tilleul-verveine-sun-418: #66673d 61.4deg 25.6% 32.2%,
  green-tilleul-verveine-moon-817: #d8c634 53.4deg 67.8% 52.5%,
  green-tilleul-verveine-main-707: #b7a73f 52deg 48.8% 48.2%,
  // green-bourgeon
  green-bourgeon-75: #182014 98.5deg 23.7% 10.1%,
  green-bourgeon-100: #1e2719 98.5deg 22.2% 12.4%,
  green-bourgeon-125: #232d1d 98.5deg 21.2% 14.6%,
  green-bourgeon-200: #2a401a 95deg 42.1% 17.6%,
  green-bourgeon-850: #95e257 93.2deg 70.5% 61.4%,
  green-bourgeon-925: #a9fb68 93.7deg 95.1% 69.7%,
  green-bourgeon-950: #c9fcac 98deg 93.6% 83.1%,
  green-bourgeon-975: #e6feda 100.1deg 92.4% 92.4%,
  green-bourgeon-sun-425: #447049 126.8deg 24.1% 35.3%,
  green-bourgeon-moon-759: #99c221 75.3deg 70.9% 44.5%,
  green-bourgeon-main-640: #68a532 91.8deg 53.5% 42.2%,
  // green-emeraude
  green-emeraude-75: #142018 140.2deg 23.5% 10.3%,
  green-emeraude-100: #19271e 140.2deg 22% 12.6%,
  green-emeraude-125: #1e2e23 140.2deg 21.1% 14.8%,
  green-emeraude-200: #21402c 142.2deg 32.8% 19%,
  green-emeraude-850: #6fe49d 143.6deg 68.7% 66.5%,
  green-emeraude-925: #9ef9be 141.2deg 87.5% 79.8%,
  green-emeraude-950: #c3fad5 139.4deg 85.8% 87.4%,
  green-emeraude-975: #e3fdeb 138.2deg 84.3% 94.1%,
  green-emeraude-sun-425: #297254 155.5deg 47% 30.5%,
  green-emeraude-moon-753: #34cb6a 141.5deg 59.2% 50%,
  green-emeraude-main-632: #00a95f 153.7deg 100% 33.1%,
  // green-menthe
  green-menthe-75: #15201e 169deg 21.1% 10.3%,
  green-menthe-100: #1a2624 169deg 19.8% 12.6%,
  green-menthe-125: #1f2d2a 169deg 18.9% 14.8%,
  green-menthe-200: #223f3a 170deg 30.1% 19%,
  green-menthe-850: #73e0cf 170.6deg 63.8% 66.4%,
  green-menthe-925: #8bf8e7 170.3deg 88.9% 76%,
  green-menthe-950: #bafaee 169deg 87.3% 85.5%,
  green-menthe-975: #dffdf7 168deg 86% 93.2%,
  green-menthe-sun-373: #37635f 174.5deg 28.6% 30.2%,
  green-menthe-moon-652: #21ab8e 167.4deg 67.6% 40%,
  green-menthe-main-548: #009081 173.7deg 100% 28.2%,
  // green-archipel
  green-archipel-75: #152021 186.3deg 21.6% 10.6%,
  green-archipel-100: #1a2628 186.3deg 20.2% 12.9%,
  green-archipel-125: #1f2c2e 186.3deg 19.3% 15.1%,
  green-archipel-200: #233e41 185.7deg 30.6% 19.5%,
  green-archipel-850: #60e0eb 184.9deg 77.6% 64.8%,
  green-archipel-925: #a6f2fa 186deg 90.4% 81.6%,
  green-archipel-950: #c7f6fc 186.6deg 89.6% 88.4%,
  green-archipel-975: #e5fbfd 187deg 88.9% 94.5%,
  green-archipel-sun-391: #006a6f 182.7deg 100% 21.8%,
  green-archipel-moon-716: #34bab5 177.8deg 56.3% 46.7%,
  green-archipel-main-557: #009099 183.5deg 100% 30%,
  // blue-ecume
  blue-ecume-75: #171d2f 224.7deg 33.3% 13.7%,
  blue-ecume-100: #1d2437 224.7deg 31.7% 16.5%,
  blue-ecume-125: #222940 224.7deg 30.6% 19.1%,
  blue-ecume-200: #273962 222.5deg 42.8% 27%,
  blue-ecume-850: #bfccfb 226.6deg 88.8% 86.7%,
  blue-ecume-925: #dee5fd 227.6deg 88.4% 93.2%,
  blue-ecume-950: #e9edfe 227.9deg 88.3% 95.4%,
  blue-ecume-975: #f4f6fe 228.2deg 88.1% 97.7%,
  blue-ecume-sun-247: #2f4077 225.8deg 43.4% 32.5%,
  blue-ecume-moon-675: #869ece 220deg 42.4% 66.7%,
  blue-ecume-main-400: #465f9d 222.8deg 38.3% 44.5%,
  // blue-cumulus
  blue-cumulus-75: #171e2b 217.6deg 30.5% 12.8%,
  blue-cumulus-100: #1c2433 217.6deg 28.9% 15.4%,
  blue-cumulus-125: #212a3a 217.6deg 27.9% 17.9%,
  blue-cumulus-200: #263b58 215.2deg 40.1% 24.7%,
  blue-cumulus-850: #b6cffb 218.9deg 90.1% 85%,
  blue-cumulus-925: #dae6fd 220.4deg 89.6% 92.4%,
  blue-cumulus-950: #e6eefe 220.9deg 89.4% 94.9%,
  blue-cumulus-975: #f3f6fe 221.3deg 89.2% 97.5%,
  blue-cumulus-sun-368: #3558a2 220.7deg 50.7% 42.2%,
  blue-cumulus-moon-732: #7ab1e8 210deg 70.5% 69.4%,
  blue-cumulus-main-526: #417dc4 212.5deg 52.6% 51.2%,
  // purple-glycine
  purple-glycine-75: #251a24 304.6deg 16.4% 12.4%,
  purple-glycine-100: #2c202b 304.6deg 15.6% 15%,
  purple-glycine-125: #332632 304.6deg 15% 17.5%,
  purple-glycine-200: #502e4d 304.1deg 26.5% 24.7%,
  purple-glycine-850: #fbb8f6 304.5deg 89.9% 85.3%,
  purple-glycine-925: #fddbfa 304.9deg 89.4% 92.6%,
  purple-glycine-950: #fee7fc 305deg 89.2% 95%,
  purple-glycine-975: #fef3fd 305.2deg 89% 97.5%,
  purple-glycine-sun-319: #6e445a 328.6deg 23.6% 34.9%,
  purple-glycine-moon-630: #ce70cc 301.3deg 49% 62.4%,
  purple-glycine-main-494: #a558a0 303.9deg 30.4% 49.6%,
  // pink-macaron
  pink-macaron-75: #261b19 9.7deg 21.3% 12.4%,
  pink-macaron-100: #2e211f 9.7deg 20.2% 15%,
  pink-macaron-125: #352724 9.7deg 19.4% 17.5%,
  pink-macaron-200: #52312a 11.4deg 32.5% 24.3%,
  pink-macaron-850: #fcc0b4 9.9deg 91.4% 84.6%,
  pink-macaron-925: #fddfda 8.8deg 90.3% 92.3%,
  pink-macaron-950: #fee9e6 8.6deg 90% 94.8%,
  pink-macaron-975: #fef4f2 8.3deg 89.6% 97.4%,
  pink-macaron-sun-406: #8d533e 15.9deg 38.9% 39.8%,
  pink-macaron-moon-833: #ffb7ae 6.7deg 100% 84.1%,
  pink-macaron-main-689: #e18b76 11.8deg 64.1% 67.3%,
  // pink-tuile
  pink-tuile-75: #281b19 6.9deg 22.7% 12.7%,
  pink-tuile-100: #2f211f 6.9deg 21.5% 15.3%,
  pink-tuile-125: #372624 6.9deg 20.7% 17.8%,
  pink-tuile-200: #55302a 8.3deg 34% 24.9%,
  pink-tuile-850: #fcbfb7 6.8deg 90.9% 85.3%,
  pink-tuile-925: #fddfdb 6.1deg 89.9% 92.6%,
  pink-tuile-950: #fee9e7 5.9deg 89.6% 95%,
  pink-tuile-975: #fef4f3 5.7deg 89.2% 97.5%,
  pink-tuile-sun-425: #a94645 0.6deg 41.8% 46.6%,
  pink-tuile-moon-750: #ff9575 13.9deg 100% 72.9%,
  pink-tuile-main-556: #ce614a 10.5deg 57.4% 54.9%,
  // yellow-tournesol
  yellow-tournesol-75: #221d11 43.9deg 33.1% 10%,
  yellow-tournesol-100: #292416 43.9deg 30.9% 12.3%,
  yellow-tournesol-125: #302a1a 43.9deg 29.5% 14.4%,
  yellow-tournesol-200: #43391a 45.6deg 43.7% 18.2%,
  yellow-tournesol-850: #efcb3a 47.9deg 85.4% 58.3%,
  yellow-tournesol-925: #fde39c 44deg 96.5% 80.3%,
  yellow-tournesol-950: #feecc2 42.5deg 95.9% 87.8%,
  yellow-tournesol-975: #fef6e3 41.4deg 95.4% 94.3%,
  yellow-tournesol-sun-407: #716043 37.8deg 25.6% 35.3%,
  yellow-tournesol-moon-922: #ffe552 51deg 100% 66.1%,
  yellow-tournesol-main-731: #c8aa39 47.4deg 56.5% 50.4%,
  // yellow-moutarde
  yellow-moutarde-75: #231d14 37.4deg 27% 10.7%,
  yellow-moutarde-100: #2a2319 37.4deg 25.3% 13%,
  yellow-moutarde-125: #30291d 37.4deg 24.3% 15.2%,
  yellow-moutarde-200: #453820 39.3deg 36.5% 19.8%,
  yellow-moutarde-850: #fcc63a 43.5deg 96.6% 60.7%,
  yellow-moutarde-925: #fde2b5 37deg 95.2% 85.2%,
  yellow-moutarde-950: #feebd0 35.8deg 94.7% 90.5%,
  yellow-moutarde-975: #fef5e8 34.8deg 94.2% 95.4%,
  yellow-moutarde-sun-348: #695240 26.3deg 24.3% 33.1%,
  yellow-moutarde-moon-860: #ffca00 47.5deg 100% 50%,
  yellow-moutarde-main-679: #c3992a 43.5deg 64.6% 46.5%,
  // orange-terre-battue
  orange-terre-battue-75: #281a16 13.2deg 28.4% 12.3%,
  orange-terre-battue-100: #31201c 13.2deg 26.9% 15%,
  orange-terre-battue-125: #382621 13.2deg 25.9% 17.4%,
  orange-terre-battue-200: #543125 15.2deg 38.3% 23.7%,
  orange-terre-battue-850: #fcc0b0 12.7deg 91.9% 83.8%,
  orange-terre-battue-925: #fddfd8 11.4deg 90.8% 91.9%,
  orange-terre-battue-950: #fee9e5 11deg 90.4% 94.6%,
  orange-terre-battue-975: #fef4f2 10.7deg 90% 97.3%,
  orange-terre-battue-sun-370: #755348 14.7deg 23.8% 37.1%,
  orange-terre-battue-moon-672: #ff732c 20.2deg 100% 58.6%,
  orange-terre-battue-main-645: #e4794a 18.3deg 74% 59.2%,
  // brown-cafe-creme
  brown-cafe-creme-75: #211d16 38.9deg 19.2% 10.9%,
  brown-cafe-creme-100: #28241c 38.9deg 18.1% 13.3%,
  brown-cafe-creme-125: #2e2a21 38.9deg 17.3% 15.5%,
  brown-cafe-creme-200: #423925 40.6deg 28.3% 20.2%,
  brown-cafe-creme-850: #e7ca8e 40.6deg 65.4% 73.2%,
  brown-cafe-creme-925: #f4e3c7 38.3deg 65.9% 86.8%,
  brown-cafe-creme-950: #f7ecdb 37.6deg 64% 91.3%,
  brown-cafe-creme-975: #fbf6ed 37deg 62.2% 95.7%,
  brown-cafe-creme-sun-383: #685c48 37.5deg 18.2% 34.5%,
  brown-cafe-creme-moon-885: #ecd7a2 43deg 66.1% 78%,
  brown-cafe-creme-main-782: #d1b781 40.5deg 46.5% 66.3%,
  // brown-caramel
  brown-caramel-75: #251c16 23.2deg 24.1% 11.6%,
  brown-caramel-100: #2c221c 23.2deg 22.8% 14.1%,
  brown-caramel-125: #332821 23.2deg 21.9% 16.4%,
  brown-caramel-200: #4b3525 25.4deg 33.8% 22%,
  brown-caramel-850: #eac7b2 22.5deg 57.1% 80.7%,
  brown-caramel-925: #f3e2d9 21deg 53.1% 90.2%,
  brown-caramel-950: #f7ebe5 20.6deg 51.9% 93.4%,
  brown-caramel-975: #fbf5f2 20.3deg 50.7% 96.7%,
  brown-caramel-sun-425: #845d48 21deg 29.9% 40%,
  brown-caramel-moon-901: #fbd8ab 33.8deg 90.9% 82.7%,
  brown-caramel-main-648: #c08c65 25.7deg 41.9% 57.5%,
  // brown-opera
  brown-opera-75: #241c17 26deg 23.1% 11.5%,
  brown-opera-100: #2b221c 26deg 21.8% 13.9%,
  brown-opera-125: #322821 26deg 20.9% 16.2%,
  brown-opera-200: #493625 28.2deg 32.7% 21.6%,
  brown-opera-850: #eac7ad 25.7deg 59.3% 79.8%,
  brown-opera-925: #f3e2d7 24deg 54.9% 89.8%,
  brown-opera-950: #f7ece4 23.5deg 53.6% 93.2%,
  brown-opera-975: #fbf5f2 23.1deg 52.4% 96.6%,
  brown-opera-sun-395: #745b47 26.7deg 24.1% 36.7%,
  brown-opera-moon-820: #e6be92 31.4deg 62.7% 73.7%,
  brown-opera-main-680: #bd987a 26.9deg 33.7% 61%,
  // beige-gris-galet
  beige-gris-galet-75: #211d19 31.9deg 14.1% 11.3%,
  beige-gris-galet-100: #28231f 31.9deg 13.3% 13.8%,
  beige-gris-galet-125: #2e2924 31.9deg 12.7% 16.1%,
  beige-gris-galet-200: #433829 33.8deg 23.6% 21.3%,
  beige-gris-galet-850: #e0cab0 32.3deg 44% 78.6%,
  beige-gris-galet-925: #eee4d9 30.9deg 39.1% 89.2%,
  beige-gris-galet-950: #f3ede5 30.5deg 37.7% 92.7%,
  beige-gris-galet-975: #f9f6f2 30.2deg 36.5% 96.4%,
  beige-gris-galet-sun-407: #6a6156 33deg 10.4% 37.6%,
  beige-gris-galet-moon-821: #d0c3b7 28.8deg 21% 76.7%,
  beige-gris-galet-main-702: #aea397 31.3deg 12.4% 63.7%,
);
