////
/// Core Colors Settings : Sets
/// @group core
////

$scheme-sets: (
  neutral: (
    grey: (
      black: $grey-50 $white-1000,
      darkest: $grey-75 $grey-975,
      darker: $grey-100 $grey-950,
      dark: $grey-125 $grey-925,
      strongest: $grey-200 $grey-850,
      strong: $grey-425 $grey-625,
      soft: $grey-625 $grey-425,
      softest: $grey-850 $grey-200,
      light: $grey-925 $grey-125,
      lighter: $grey-950 $grey-100,
      lightest: $grey-975 $grey-75,
      white: $white-1000 $grey-50,
    ),
  ),
  primary: (
    blue-france: (
      strong: $blue-france-main-113 $blue-france-625,
      softer: $blue-france-725 $blue-france-325,
      softest: $blue-france-850 $blue-france-200,
      light: $blue-france-925 $blue-france-125,
      lighter: $blue-france-950 $blue-france-100,
      lightest: $blue-france-975 $blue-france-75,
      divider: $blue-france-650 $blue-france-400,
    ),
    red-marianne: (
      strong: $red-marianne-main-472 $red-marianne-625,
    ),
  ),
  status: (
    info: (
      strong: $info-425 $info-625,
      softer: $info-725 $info-325,
      softest: $info-850 $info-200,
      light: $info-925 $info-125,
      lighter: $info-950 $info-100,
      lightest: $info-975 $info-75,
      divider: $info-650 $info-400,
    ),
    success: (
      strong: $success-425 $success-625,
      softer: $success-725 $success-325,
      softest: $success-850 $success-200,
      light: $success-925 $success-125,
      lighter: $success-950 $success-100,
      lightest: $success-975 $success-75,
      divider: $success-650 $success-400,
    ),
    warning: (
      strong: $warning-425 $warning-625,
      softer: $warning-725 $warning-325,
      softest: $warning-850 $warning-200,
      light: $warning-925 $warning-125,
      lighter: $warning-950 $warning-100,
      lightest: $warning-975 $warning-75,
      divider: $warning-650 $warning-400,
    ),
    error: (
      strong: $error-425 $error-625,
      softer: $error-725 $error-325,
      softest: $error-850 $error-200,
      light: $error-925 $error-125,
      lighter: $error-950 $error-100,
      lightest: $error-975 $error-75,
      divider: $error-650 $error-400,
    ),
  ),
  accent: (
    tilleul-verveine: (
      strong: $green-tilleul-verveine-sun-418 $green-tilleul-verveine-moon-817,
      softer: $green-tilleul-verveine-725 $green-tilleul-verveine-325,
      softest: $green-tilleul-verveine-850 $green-tilleul-verveine-200,
      light: $green-tilleul-verveine-925 $green-tilleul-verveine-125,
      lighter: $green-tilleul-verveine-950 $green-tilleul-verveine-100,
      lightest: $green-tilleul-verveine-975 $green-tilleul-verveine-75,
      divider: $green-tilleul-verveine-650 $green-tilleul-verveine-400,
    ),
    bourgeon: (
      strong: $green-bourgeon-sun-425 $green-bourgeon-moon-759,
      softer: $green-bourgeon-725 $green-bourgeon-325,
      softest: $green-bourgeon-850 $green-bourgeon-200,
      light: $green-bourgeon-925 $green-bourgeon-125,
      lighter: $green-bourgeon-950 $green-bourgeon-100,
      lightest: $green-bourgeon-975 $green-bourgeon-75,
      divider: $green-bourgeon-650 $green-bourgeon-400,
    ),
    emeraude: (
      strong: $green-emeraude-sun-425 $green-emeraude-moon-753,
      softer: $green-emeraude-725 $green-emeraude-325,
      softest: $green-emeraude-850 $green-emeraude-200,
      light: $green-emeraude-925 $green-emeraude-125,
      lighter: $green-emeraude-950 $green-emeraude-100,
      lightest: $green-emeraude-975 $green-emeraude-75,
      divider: $green-emeraude-650 $green-emeraude-400,
    ),
    menthe: (
      strong: $green-menthe-sun-373 $green-menthe-moon-652,
      softer: $green-menthe-725 $green-menthe-325,
      softest: $green-menthe-850 $green-menthe-200,
      light: $green-menthe-925 $green-menthe-125,
      lighter: $green-menthe-950 $green-menthe-100,
      lightest: $green-menthe-975 $green-menthe-75,
      divider: $green-menthe-650 $green-menthe-400,
    ),
    archipel: (
      strong: $green-archipel-sun-391 $green-archipel-moon-716,
      softer: $green-archipel-725 $green-archipel-325,
      softest: $green-archipel-850 $green-archipel-200,
      light: $green-archipel-925 $green-archipel-125,
      lighter: $green-archipel-950 $green-archipel-100,
      lightest: $green-archipel-975 $green-archipel-75,
      divider: $green-archipel-650 $green-archipel-400,
    ),
    ecume: (
      strong: $blue-ecume-sun-247 $blue-ecume-moon-675,
      softer: $blue-ecume-725 $blue-ecume-325,
      softest: $blue-ecume-850 $blue-ecume-200,
      light: $blue-ecume-925 $blue-ecume-125,
      lighter: $blue-ecume-950 $blue-ecume-100,
      lightest: $blue-ecume-975 $blue-ecume-75,
      divider: $blue-ecume-650 $blue-ecume-400,
    ),
    cumulus: (
      strong: $blue-cumulus-sun-368 $blue-cumulus-moon-732,
      softer: $blue-cumulus-725 $blue-cumulus-325,
      softest: $blue-cumulus-850 $blue-cumulus-200,
      light: $blue-cumulus-925 $blue-cumulus-125,
      lighter: $blue-cumulus-950 $blue-cumulus-100,
      lightest: $blue-cumulus-975 $blue-cumulus-75,
      divider: $blue-cumulus-650 $blue-cumulus-400,
    ),
    glycine: (
      strong: $purple-glycine-sun-319 $purple-glycine-moon-630,
      softer: $purple-glycine-725 $purple-glycine-325,
      softest: $purple-glycine-850 $purple-glycine-200,
      light: $purple-glycine-925 $purple-glycine-125,
      lighter: $purple-glycine-950 $purple-glycine-100,
      lightest: $purple-glycine-975 $purple-glycine-75,
      divider: $purple-glycine-650 $purple-glycine-400,
    ),
    macaron: (
      strong: $pink-macaron-sun-406 $pink-macaron-moon-833,
      softer: $pink-macaron-725 $pink-macaron-325,
      softest: $pink-macaron-850 $pink-macaron-200,
      light: $pink-macaron-925 $pink-macaron-125,
      lighter: $pink-macaron-950 $pink-macaron-100,
      lightest: $pink-macaron-975 $pink-macaron-75,
      divider: $pink-macaron-650 $pink-macaron-400,
    ),
    tuile: (
      strong: $pink-tuile-sun-425 $pink-tuile-moon-750,
      softer: $pink-tuile-725 $pink-tuile-325,
      softest: $pink-tuile-850 $pink-tuile-200,
      light: $pink-tuile-925 $pink-tuile-125,
      lighter: $pink-tuile-950 $pink-tuile-100,
      lightest: $pink-tuile-975 $pink-tuile-75,
      divider: $pink-tuile-650 $pink-tuile-400,
    ),
    tournesol: (
      strong: $yellow-tournesol-sun-407 $yellow-tournesol-moon-922,
      softer: $yellow-tournesol-725 $yellow-tournesol-325,
      softest: $yellow-tournesol-850 $yellow-tournesol-200,
      light: $yellow-tournesol-925 $yellow-tournesol-125,
      lighter: $yellow-tournesol-950 $yellow-tournesol-100,
      lightest: $yellow-tournesol-975 $yellow-tournesol-75,
      divider: $yellow-tournesol-650 $yellow-tournesol-400,
    ),
    moutarde: (
      strong: $yellow-moutarde-sun-348 $yellow-moutarde-moon-860,
      softer: $yellow-moutarde-725 $yellow-moutarde-325,
      softest: $yellow-moutarde-850 $yellow-moutarde-200,
      light: $yellow-moutarde-925 $yellow-moutarde-125,
      lighter: $yellow-moutarde-950 $yellow-moutarde-100,
      lightest: $yellow-moutarde-975 $yellow-moutarde-75,
      divider: $yellow-moutarde-650 $yellow-moutarde-400,
    ),
    terre-battue: (
      strong: $orange-terre-battue-sun-370 $orange-terre-battue-moon-672,
      softer: $orange-terre-battue-725 $orange-terre-battue-325,
      softest: $orange-terre-battue-850 $orange-terre-battue-200,
      light: $orange-terre-battue-925 $orange-terre-battue-125,
      lighter: $orange-terre-battue-950 $orange-terre-battue-100,
      lightest: $orange-terre-battue-975 $orange-terre-battue-75,
      divider: $orange-terre-battue-650 $orange-terre-battue-400,
    ),
    cafe-creme: (
      strong: $brown-cafe-creme-sun-383 $brown-cafe-creme-moon-885,
      softer: $brown-cafe-creme-725 $brown-cafe-creme-325,
      softest: $brown-cafe-creme-850 $brown-cafe-creme-200,
      light: $brown-cafe-creme-925 $brown-cafe-creme-125,
      lighter: $brown-cafe-creme-950 $brown-cafe-creme-100,
      lightest: $brown-cafe-creme-975 $brown-cafe-creme-75,
      divider: $brown-cafe-creme-650 $brown-cafe-creme-400,
    ),
    caramel: (
      strong: $brown-caramel-sun-425 $brown-caramel-moon-901,
      softer: $brown-caramel-725 $brown-caramel-325,
      softest: $brown-caramel-850 $brown-caramel-200,
      light: $brown-caramel-925 $brown-caramel-125,
      lighter: $brown-caramel-950 $brown-caramel-100,
      lightest: $brown-caramel-975 $brown-caramel-75,
      divider: $brown-caramel-650 $brown-caramel-400,
    ),
    opera: (
      strong: $brown-opera-sun-395 $brown-opera-moon-820,
      softer: $brown-opera-725 $brown-opera-325,
      softest: $brown-opera-850 $brown-opera-200,
      light: $brown-opera-925 $brown-opera-125,
      lighter: $brown-opera-950 $brown-opera-100,
      lightest: $brown-opera-975 $brown-opera-75,
      divider: $brown-opera-650 $brown-opera-400,
    ),
    galet: (
      strong: $brown-galet-sun-407 $brown-galet-moon-821,
      softer: $brown-galet-725 $brown-galet-325,
      softest: $brown-galet-850 $brown-galet-200,
      light: $brown-galet-925 $brown-galet-125,
      lighter: $brown-galet-950 $brown-galet-100,
      lightest: $brown-galet-975 $brown-galet-75,
      divider: $brown-galet-650 $brown-galet-400,
    ),
  ),
);
