////
/// Core Settings : Color static
/// @group core
////

$focus-color: #0a76f6;
$black: get-color(grey-50);
$white: get-color(grey-1000);
$blue-france: get-color(blue-france-sun-113);
$red-marianne: get-color(red-marianne-main-472);

// Variable de couleur utilisée dans les mixin d'éléments de combinaison de couleur
$COLOR: unquote('$COLOR');
