$color-variable: (
  utilities: (
    decisions: (
      background: default elevated alt contrast flat,
      text: default title label mention inverted,
      border: default plain,
      artwork: major minor decorative
    )
  )
);
