////
/// Card Module - content
/// @group card
////

#{ns(card)} {
  &__content {
    order: 1;
    display: flex;
    flex-direction: column;
    @include padding(8v);
  }

  &__content &__taxonomy {
    order: 1;
  }

  &__detail {
    order: 2;
    @include text-style(xs);
    display: flex;
    flex-direction: row;

    @include has-icon {
      @include before {
        @include icon-size(sm);
        @include margin-right(2v);
      }
    }

    &--bottom {
      order: 5;
      @include margin-top(7v); // 6v (marge texte icon) + 1v (diff icon detail)
      @include margin-bottom(0);
    }
  }

  &#{ns(enlarge-link)}:not(&--no-icon) &__detail--bottom {
    @include margin-bottom(-12v); // 6v (icon) + 6v (marge texte icon)
    @include padding-right(8v); // 6v (icon) + 2v (marge)
  }

  &__title {
    order: 3;
    @include title-style(h5);
    @include font-weight(bold);
  }

  &__desc {
    order: 4;
    @include text-style(sm);
    margin-bottom: 0;
  }

  &__link {
    @include size(100%);
    @include margin-top(auto);
  }
}
