////
/// Card Module - default
/// @group card
////

#{ns(card)} {
  @include display-flex(column);
  @include relative();
  @include icon(arrow-right-line);

  &--no-icon,
  &:not(#{ns(enlarge-link)}) {
    @include before(none);
  }

  @include before {
    @include absolute(null, 8v, 8v);
    @include icon-size(md);
  }

  @include body() {
    @include display-flex(column);
    flex: 1 1 auto;
    order: 2;
  }

  #{ns(grid-row)} & {
    @include size(null, 100%);
  }
}
