////
/// Card Module - default
/// @group card
////

#{ns(card)} {
  @include display-flex(column);
  @include relative();
  @include icon(arrow-right-line);

  &:not(&--no-border):not(&--shadow) {
    background-size: 100% 1px, 1px 100%, 1px 100%, 100% 1px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 100% 100%, 0 0, 100% 0, 100% 0;
    @include padding(1px);
  }

  &--no-icon,
  &:not(#{ns(enlarge-link)}) {
    @include before(none);
  }

  @include before {
    @include absolute(null, 8v, 8v);
    @include icon-size(md);
  }

  @include body() {
    @include display-flex(column);
    flex: 1 1 auto;
    order: 2;
  }

  #{ns(grid-row)} & {
    @include size(null, 100%);
  }
}
