@use '../../../../../module/media-query';

#{ns(card--download)} {
  @include media-query.respond-from(md) {
    flex-direction: row;

    #{ns(card__header)} {
      @include width(40%);
      flex: 0 0 40%;
      aspect-ratio: auto;

      #{ns(card__img)} {
        img {
          object-position: 50% 0;
        }
      }
    }

    #{ns(card__img)} {
      height: 100%;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  #{ns(card__header)} {
    aspect-ratio: #{16/9};

    #{ns(card__img)} {
      @include absolute(2v, null, null, 2v, calc(100% - 4v), calc(100% - 4v));

      img {
        @include max-width(100%);
        @include max-height(100%);
        object-fit: contain;
      }
    }
  }

  #{ns(card__title a)} {
    @include icon(download-line, null, after);
  }

  &#{ns(enlarge-link)} {
    @include hover-media-query {
      &:hover {
        #{ns(card__header)} {
          background-color: var(--hover);
        }
      }

      &:active {
        #{ns(card__header)} {
          background-color: var(--active);
        }
      }
    }
  }
}
