@use '../../../../../module/media-query';

#{ns(card--download)} {
  #{ns(card__header)} {
    aspect-ratio: #{16/9};

    #{ns(card__img)} {
      @include absolute(2v, null, null, 2v, calc(100% - 4v), calc(100% - 4v));

      img {
        @include max-width(100%);
        @include max-height(100%);
        object-fit: contain;
      }
    }
  }

  &#{ns(card--horizontal)} {
    @include media-query.respond-from(md) {
      #{ns(card__header)} {
        aspect-ratio: auto;

        #{ns(card__img)} {
          img {
            object-position: 50% 0;
          }
        }

        width: 25%;
        flex: 0 0 25%;
      }
    }
  }

  &#{ns(enlarge-link)} {
    #{ns(card__title a)} {
      @include icon(download-line, null, after);
    }

    @include hover-media-query {
      &:hover {
        #{ns(card__header)} {
          background-color: var(--hover);
        }
      }

      &:active {
        #{ns(card__header)} {
          background-color: var(--active);
        }
      }
    }
  }
}
