////
/// Card Module - horizontal
/// @group card
////

#{ns(card)} {
  @include respond-from(md) {
    &--horizontal,
    &--horizontal-half,
    &--horizontal-tier {
      flex-direction: row-reverse;
    }

    &--horizontal &__img {
      @include width(40%);
      flex: 1 0 40%;
    }

    &--horizontal-half &__img {
      @include width(50%);
      flex: 1 0 50%;
    }

    &--horizontal-tier &__img {
      $tier: 100% / 3;
      @include width($tier);
      flex: 1 0 #{$tier};
    }
  }
}
