////
/// Card Module - lg
/// @group card
////

#{ns(card)} {
  &--lg &__content {
    @include padding(10v);
  }

  &--lg &__title {
    @include title-style(h4);

    a,
    button {
      @include icon-size(md, after);
    }
  }

  &--lg &__desc {
    @include text-style(md);
    @include margin-top(4v);
  }

  &--lg &__start {
    @include margin-bottom(2v);

    #{ns(badges-group)},
    #{ns(tags-group)} {
      @include margin-bottom(2v);
    }
  }

  &--lg &__start &__detail {
    @include margin-bottom(4v);
  }

  &--sm &__end {
    @include margin-top(6v);
    @include padding-top(2v);
  }

  &--lg#{ns(enlarge-link)}:not(&--no-icon) &__end,
  &--lg#{ns(enlarge-button)}:not(&--no-icon) &__end {
    @include margin-bottom(-16v); // 8v (icon) + 2v (padding end) + 6v (marge texte icon)
    @include min-height(10v); // 8v (icon) + 2v (padding end)
    @include padding-right(10v); // 8v (icon) + 2v (padding)
  }

  &--lg#{ns(enlarge-link)}:not(&--no-icon) &__content,
  &--lg#{ns(enlarge-button)}:not(&--no-icon) &__content {
    @include padding-bottom(26v); // 10v (padding card) + 8v (icon) + 2v (padding end) + 6v (marge texte icon)
  }

  &--lg#{ns(enlarge-link)}:not(&--no-icon) &__title,
  &--lg#{ns(enlarge-button)}:not(&--no-icon) &__title {
    a,
    button {
      @include icon-size(lg, after) {
        @include right(10v);
        @include bottom(10v);
      }
    }
  }

  &--lg &__footer {
    @include padding(2v 10v 10v);
  }
}
