////
/// Core Tools : Body lists
/// @group core
////

%base-body-list {
  font-size: font-size();
  line-height: line-height();
  @include margin(0 0 2v);
  @include padding(0);

  li {
    @include margin-bottom(2v);
  }

  ul,
  ol {
    @include margin(2v 0 4v);
  }
}

%override-base-body-list {
  font-size: inherit;
  @include margin(0);

  li {
    @include margin-bottom(0);
  }

  ul,
  ol {
    @include margin(0);
  }
}

%body-unordered-list {
  @extend %base-body-list;

  li {
    @include before(null, '\2022') {
      font-size: 1.4em;
      @include margin-right(2v);
    }
  }

  ul {
    list-style-type: none;
    @include margin(2v 0 2v 6v);

    li {
      @include before(null, '•') {
        font-size: 0.9em;
      }
    }
  }
}

%override-body-unordered-list {
  @extend %override-base-body-list;

  li {
    @include before(null, none) {
      font-size: inherit;
      @include margin-right(0);
    }
  }

  ul {
    @include margin(0);

    li {
      @include before(null, none) {
        font-size: inherit;
      }
    }
  }
}

%body-ordered-list {
  @extend %base-body-list;
  counter-reset: list-number;

  ol {
    @include padding-left(6v);

    li {
      @include before {
        font-size: 0.9em;
      }
    }
  }

  li {
    counter-increment: list-number;
    @include before(null, counters(list-number, ".") ".") {
      font-weight: 700;
      @include margin-right(2v);
    }
  }
}

%override-body-ordered-list {
  @extend %override-base-body-list;
  counter-reset: none;

  ol {
    @include padding-left(0);

    li {
      @include before {
        font-size: inherit;
      }
    }
  }

  li {
    counter-increment: none;
    @include before(null, none) {
      font-weight: inherit;
      @include margin-right(0);
    }
  }
}
