////
/// Core Tools : Body lists
/// @group core
////

@mixin override-body {
  @at-root {
    #{&},
    #{dse(body)} & {
      @content;
    }
  }
}

@mixin override-body-link-style($position: static, $color-set: null) {
  @include override-body {
    box-shadow: none;
    @if $position != null {
      position: #{$position};
    }
    @if $color-set != null {
      @include scheme-element-text-color($color-set);
    }
    @content;
  }
}

@mixin override-base-body-list {
  font-size: inherit;
  @include margin(0);

  li {
    @include margin-bottom(0);
  }

  ul,
  ol {
    @include margin(0);
  }
}

@mixin override-body-ul-style($li-before-content:none) {
  @include override-body {
    @include override-base-body-list;

    li {
      @include before(null, $li-before-content) {
        font-size: inherit;
        @include margin-right(0);
      }
    }

    ul {
      @include margin(0);

      li {
        @include before(null, $li-before-content) {
          font-size: inherit;
        }
      }
    }
    @content;
  }
}

@mixin override-body-ol-style($li-before-content:none) {
  @include override-body {
    @include override-base-body-list;
    counter-reset: none;

    ol {
      @include padding-left(0);

      li {
        @include before {
          font-size: inherit;
        }
      }
    }

    li {
      counter-increment: none;
      @include before(null, $li-before-content) {
        font-weight: inherit;
        @include margin-right(0);
      }
    }

    @content;
  }
}

@mixin _override-body-heading($font-size: null, $line-height: null,$font-weight: null, $color-set: null) {
  @if $font-size != null {
    font-size: font-size($font-size);
  }
  @if $line-height != null {
    line-height: line-height($line-height);
  }
  @if $font-weight != null {
    font-weight: font-weight($font-weight);
  }
  @if $color-set != null {
    @include scheme-element-text-color($color-set);
  }
  @content;
}

@mixin override-body-heading($font-size: null, $line-height: null,$font-weight: null, $color-set: null, $from: null) {
  @include override-body {
    @if $from {
      @include respond-from(md) {
        @include _override-body-heading($font-size, $line-height, $font-weight, $color-set) {
          @content;
        }
      }
    }
    @else {
      @include _override-body-heading($font-size, $line-height, $font-weight, $color-set) {
        @content;
      }
    }
  }
}

@mixin override-body-text-style($size) {
  @include override-body {
    @include text-styles($size);
    @content;
  }
}
