<% const sample = getSample(include); %>

<div class="<%= prefix %>-container">
  <%- sample('Liste déroulante', '../../../../component/select/example/sample/select', {select: { id:'select'}}); %>
</div>
