////
/// Upload Module
/// @group upload
////

#{ns-group(upload)} {

  #{ns(label)} {
    #{ns(hint-text)} {
      @include margin-top(3v);
    }

    + #{ns(upload)} {
      @include margin-top(4v);
    }
  }
}

#{ns(upload)} {
  @include text-style(sm);
  @include width(100%);
  display: inline-flex;
  @include margin(0);

  &:disabled {
    &::-webkit-file-upload-button {
      outline-style: none;
      cursor: not-allowed;
    }
  }

  &::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
    cursor: pointer;
    @include margin-right(2v);
  }
}
