<% let sizes = ['xl', 'lg', 'md', 'sm', 'xs']; %>
<% for (let i = 0; i < sizes.length; i++) { %>
<h5 class="<%= prefix %>-display--<%= sizes[i] %>" >Test de titre h5 avec class <%= prefix%>-display-<%= sizes [i] %></h5>
<% } %>
