// TODO
@use 'namespace';
@use 'src/module/utilities';

@mixin theme($theme: null) {
  @if $theme != 'dark' {
    $theme: null;
  }
  $selector: &;
  @at-root {
    :root#{namespace.ns-attr(theme, $theme)} {
      @include utilities.nest($selector) {
        @content;
      }
    }
  }
}
