<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- section('Menu latéral'); %>
</div>

<%- sample('', '../../../../component/sidemenu/example/sample/sidemenu', {sidemenu: {href: '../'}}, false, '../../../../component/sidemenu/example/layout'); %>
