////
/// Schemes Settings
/// @group schemes
////

/// Attribut utilisé pour le dark mode
/// @type String
$dt: '[data-theme="dark"]';

/// Sélecteur du dark mode
/// @type String
$dark-theme-selector: ':root#{$dt}';

/// Sélecteur du light mode
/// @type String
$not-dark-theme-selector: ':root:not(#{$dt})';

/// Base de construction de classe de block de combinaison
/// @type String
$base-scheme: '#{$prefix}-scheme';

/// Base de construction de sélecteur de block de combinaison
/// @type String
$base-scheme-selector: '.#{$base-scheme}';

/// Sélecteur de transition de couleur
/// @type String
$theme-transition-selector: ':root[data-transition]';

/// Durée de transition de couleur
/// @type Time
$theme-transition-duration: 0.3s;

/// Variable de couleur utilisée dans les mixin d'éléments de combinaison de couleur
/// @type String
$COLOR:unquote('$COLOR') !global;

@import 'settings/sets';
@import 'settings/blocks';
