<% eval(include('../../../../core/index.ejs')); %>

<%
let tooltip = locals.tooltip || {};
let tooltipId = uniqueId('tooltip');
let data = {
  id: tooltipId,
  content: lorem(),
  ...tooltip
};
let triggerText = tooltip.triggerText || getText('sample.example', 'tooltip');
let tooltipTarget = `<span class="${prefix}-text--bold" aria-describedby="${tooltipId}">${triggerText}</span>`;
let paragraphInsert = tooltipTarget + include('../sample/tooltip-default', {tooltip: data});
%>

<%- include('../../../../core/template/ejs/typography/paragraph', {paragraph: {content: lorem(paragraphInsert)} }); %>
