////
/// footer Scheme
/// @group footer
////

@use 'src/module/color';

@mixin _footer-scheme($legacy: false) {
  #{ns(footer)} {
    @include color.box-shadow((plain blue-france) (default grey), (legacy:$legacy), top-2-in bottom-1-in);

    &__content-link {
      @include color.text(default grey, (legacy:$legacy));
    }

    &__top-cat {
      @include color.text(title grey, (legacy:$legacy));
    }

    &__top {
      @include color.background(alt grey, (legacy:$legacy));
    }

    &__bottom {
      @include color.box-shadow(default grey, (legacy:$legacy), top-1-in);
      #{ns(btn)} {
        @include color.text(mention grey, (legacy:$legacy));
      }
    }

    &__bottom-item {
      @include before {
        @include color.box-shadow(default grey, (legacy:$legacy));
      }
    }

    &__bottom-link {
      @include color.text(mention grey, (legacy:$legacy));
    }

    &__bottom-copy {
      @include color.text(mention grey, (legacy:$legacy));
    }

    &__partners {
      @include color.box-shadow(default grey, (legacy:$legacy), top-1-in);

      &-title {
        @include color.text(default grey, (legacy:$legacy));
      }

      #{ns(footer__logo)} {
        @include color.background(default grey, (legacy:$legacy));
        @include color.box-shadow(default grey, (legacy:$legacy));
      }

      @if not $legacy {
        #{ns(footer__partners-link)} {
          &,
          &:hover,
          &:active {
            background: color.$white;
          }
        }
      }
    }
  }
}
