////
/// Footer Setting
/// @group footer
////

$footer-bottom-btns-settings:(
  selector: btn,
  sizes: (
    xs: (
      font-size: 3v,
      min-height: 5v,
      padding-x: 2v,
      icon: sm,
      icon-margin-x: 2v,
      icon-only: sm,
    )
  ),
  places: only left right
);
