////
/// Radio Module : radio md
/// @group radio
////

#{ns-group(radio)} {
  @include relative;

  input[type="radio"] {
    @include absolute;
    @include margin(0);
    @include size(6v, 6v);
    opacity: 0;

    + label {
      @include relative;
      -webkit-tap-highlight-color: transparent;
      @include display-flex(row, center, flex-start, wrap);
      @include padding-left(8v);
      background-position: calc(-#{space(1v)} + 1px) calc(-#{space(1v)} + 1px), calc(-#{space(1v)} + 1px) calc(-#{space(1v)} + 1px);
      background-size: #{space(7.5v)} #{space(7.5v)}, #{space(7.5v)} #{space(7.5v)};
      background-repeat: no-repeat, no-repeat;

      // empty efore for the focus
      @include before('') {
        @include size(6v, 6v);
        @include absolute;
        border-radius: #{space(6v)};
        @include margin-left(-8v);
      }

      #{ns(hint-text)} {
        @include margin(0);
        @include size(100%);
      }
    }
  }
}
