////
/// Radio Module : radio md
/// @group radio
////

/**
 * L'input de type radio avec son label est contenu dans un groupe
 * Ce groupe contient également le texte d'aide (optionnels)
 */
#{ns-group(radio)} {
  /**
   * Dans le cas d'un groupe de radios, on supprime l'espacement du premier groupe
   */
  &:first-child {
    @include margin-top(-3v);

    input[type="radio"] + label {
      @include margin-top(0);
    }
  }

  /**
   * Dans le cas d'un groupe de radios, on supprime l'espacement du dernier groupe
   */
  &:last-child {
    @include margin-bottom(-3v);

    input[type="radio"] + label {
      @include radio-rich() {
        @include margin-bottom(6v);
      }
    }
  }

  /**
   * On cache l'input de type radio pour le styler via le label
   */
  input[type="radio"] {
    @include absolute;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);

    /**
     * On applique un display grid sur le label afin de gérer le positionnement des élements
     */
    + label {
      @include relative;
      @include padding(3v 0);
      @include text-style(md);
      -webkit-tap-highlight-color: transparent;
      @include display-flex(row, center, flex-start, wrap);
      @include margin-left(8v);

      /**
       * Style du texte d'aide dans le label
       */
      #{ns(hint-text)} {
        @include margin(0);
        @include size(100%);
      }

      /**
       * On utilise un pseudo element before pour customiser l'aspect du bouton radio
       */
      @include before('', inline-block) {
        @include absolute(0, null, null, -8v);
        @include size(6v, 6v);
        @include margin-top(3v);
        @include margin-right(2v);
        border-radius: 50%;
        // transition: box-shadow 0.3s;
      }
    }

    /**
     * On applique les styles au pseudo élément before du label quand l'input présente
     * un état check
     */
    &:checked {
      + label {
        /**
         * Cas du radio riche
         */
        @include radio-rich() {
          @include size(100%);
        }
      }
    }
  }
}
