////
/// Radio Module : radio rich
/// @group radio
////

@use 'module/spacing';

#{ns(radio-rich)} {
  @include relative;

  input[type="radio"] {
    @include size(4v, 4v);
    left: #{space(7v)};
    top: calc(50% - #{space(2v)});

    + label {
      @include padding-left(14v);
      @include margin-left(0);
      min-height: spacing.space(22v);
      @include size(100%);
      @include padding-top(2v);
      @include padding-bottom(2v);
      @include padding-right(26v);
      @include display-flex(column, flex-start, center);

      @include before {
        @include size(4v, 4v);
        @include absolute(50%, null, null, 7v);
        @include margin-top(-2v);
      }

      #{ns(hint-text)} {
        @include margin-left(0);
      }
    }

    &:disabled,
    &[disabled] {
      ~ #{ns(radio-rich__img)} {
        filter: grayscale(1);
      }
    }

    &:not(:disabled) ~ label {
      @include hover-tint;
      @include enable-tint;
    }

    @include hover-brighten('&:not(:disabled) ~ label', '~ #{ns(radio-rich__img)}');
  }

  &__img {
    @include hover-brighten-filter;
    @include padding-left(1v);
    @include size(21v, 20v);
    @include absolute(1v, 1v);
    @include display-flex;
    pointer-events: none;

    img,
    svg {
      max-width: spacing.space(20v);
      object-fit: cover;
    }
  }
}

#{ns(control)} {
  > #{ns(radio-rich)}#{ns-group(radio)} {
    @include margin-y(0);
  }
}
