////
/// Radio Module : radio rich
/// @group radio
////

@use 'module/spacing';
@use 'module/selector';

#{selector.ns(radio-rich)} {
  @include relative;
  @include display-flex(row, center);
  @include max-width(100%);

  input[type="radio"] {
    @include size(4v, 4v);
    left: #{space(7v)};
    top: calc(50% - #{space(2v)});

    + label {
      @include padding-left(14v);
      @include margin-left(0);
      align-self: stretch;
      min-height: spacing.space(20v);
      @include size(100%);
      @include padding-top(2v);
      @include padding-bottom(2v);
      @include padding-right(6v);
      @include display-flex(column, stretch, center);
      background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%, #{space(4.5v)} #{space(4.5v)}, #{space(4.5v)} #{space(4.5v)};
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: 0 0, 100% 0, 0 100%, 0 0, #{space(7v)} 50%, #{space(7v) 50%};

      @include before('', block) {
        @include absolute(0, 0, 0, 0, 100%, 100%);
        @include margin-left(0);
        border-radius: 0;
      }

      #{selector.ns(hint-text)} {
        @include margin-left(0);
      }
    }

    &:not(:disabled) ~ label {
      @include hover-tint;
      @include enable-tint;

      &:hover {
        + #{ns(radio-rich__pictogram)} {
          background-color: var(--hover);
        }
      }

      &:active {
        + #{ns(radio-rich__pictogram)} {
          background-color: var(--active);
        }
      }
    }
  }

  &__pictogram {
    @include display-flex(row, center, center);
    @include margin-left(-1px);
    @include padding(1v);
    @include size(22v);
    @include min-width(22v);
    align-self: stretch;
    pointer-events: none;
    background-size: 100% 1px, 100% 1px, 1px 100%, 1px calc(100% - 0.5rem);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 0 0, 0 100%, 100% 0, 0 0.25rem;

    img,
    svg {
      @include max-size(14v, 14v);
    }
  }
}

#{selector.ns(control)} {
  > #{selector.ns(radio-rich)}#{selector.ns-group(radio)} {
    @include margin-y(0);
  }
}
