////
/// Radio Module : radio sm
/// @group radio
////

#{ns-group(radio)}--sm {
  input[type="radio"] {
    @include size(4v, 4v);
    top: #{space(1v)};

    & + label {
      @include padding-left(6v);
      background-position: calc(-#{space(0.5v)} + 1px) calc(#{space(1v)} - 1px), calc(-#{space(0.5v)} + 1px) calc(#{space(1v)} - 1px);
      background-size: #{space(4.5v)} #{space(4.5v)}, #{space(4.5v)} #{space(4.5v)};

      @include before {
        @include size(4v, 4v);
        border-radius: #{space(4v)};
        @include margin-left(-6v);
      }
    }
  }
}
