<%#
# paramètres hint

* label.hint (string, required) : texte additionel

%>
<% eval(include('../../../../../_content/env.js')); %>
<%
let form = locals.form || {hint:'texte additionel'};
%>
<span class="<%= prefix%>-hint-text"><%= form.hint %></span>
