<% eval(include('../../../../core/index.ejs')); %>
<%
const label = locals.label;
const classes = [...label.classes || [], `${prefix}-label`];
const attributes = { ...label.attributes, 'for': label.for };
%>
<label <%- includeClasses(classes); %> <%- includeAttrs(attributes); %>>
  <%- label.label %>
  <% if (label.hint) { %><%- include('./hint', { hint: { text: label.hint } });%><% } %>
</label>
