@import '../../../page-test/styles';

@import '~@frds/logo/main';
@import '~@frds/links/main';
@import '~@frds/buttons/main';
@import '~@frds/inputs/main';
@import '~@frds/search/main';
@import '~@frds/navigation/main';
@import '~@frds/header/main';
@import '~@frds/footer/main';
@import '~@frds/ie11/main';
@import '../main';
