<% if (locals.title !== undefined && locals.title.length) { %>
<h4><%= title %></h4>
<% } %>
<% if (locals.snippet !== undefined) { %>
<div class="<%= prefix %>-mb-12v" >
    <%- snippet %>
</div>
<% } %>
