/*!
 * DSFR v1.1.0 | SPDX-License-Identifier: MIT | License-Filename: LICENCE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ------------------------------------ *\
  RADIO
\* ------------------------------------ */

/**
 * L'input de type radio avec son label est contenu dans un groupe
 * Ce groupe contient également le texte d'aide (optionnels)
 */
.fr-radio-group {
  /**
   * Dans le cas d'un groupe de radios, on supprime l'espacement du premier groupe
   */

  /**
   * Dans le cas d'un groupe de radios, on supprime l'espacement du dernier groupe
   */

  /**
   * On cache l'input de type radio pour le styler via le label
   */

  /**
   * Modificateur pour la taille sm
   */
  /**
   * On cache l'input de type radio pour le styler via le label
   */

  /**
   * Modificateur pour la taille sm
   */
}

.fr-radio-group:first-child {
  margin-top: -0.75rem;
}

.fr-radio-group:first-child input[type="radio"] + label {
  margin-top: 0;
}

.fr-radio-group:last-child {
  margin-bottom: -0.75rem;
}

.fr-radio-group:last-child input[type="radio"] + label[style*='background-image:'],
.fr-radio-group:last-child input[type="radio"] + label[class^="fr-ifi-"],
.fr-radio-group:last-child input[type="radio"] + label[class*=" fr-ifi-"] {
  margin-bottom: 1.5rem;
}

.fr-radio-group input[type="radio"] {
  position: absolute;
  opacity: 0;

  /**
     * On applique un display grid sur le label afin de gérer le positionnement des élements
     */

  /**
     * On applique les styles au pseudo élément before du label quand l'input présente
     * un état check
     */
  /**
     * On applique les styles au pseudo élément before du label quand l'input présente
     * un état check
     */

  /**
     * Mixins pour appliquer les styles correspondant au focus ainsi qu'à l'état disabled
     */
}

.fr-radio-group input[type="radio"] + label {
  position: relative;
  padding: 0.75rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 2rem;

  /**
       * Style du texte d'aide dans le label
       */

  /**
       * On utilise un pseudo element before pour customiser l'aspect du bouton radio
       */
}

.fr-radio-group input[type="radio"] + label .fr-hint-text {
  margin: 0;
  width: 100%;
}

.fr-radio-group input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -2rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.75rem;
  margin-right: 0.5rem;
  border: 1px solid;
  border-radius: 50%;
  transform-origin: center;
}

.fr-radio-group input[type="radio"]:checked + label {
  /**
         * Cas du radio riche
         */
}

.fr-radio-group input[type="radio"]:checked + label[style*='background-image:'],
.fr-radio-group input[type="radio"]:checked + label[class^="fr-ifi-"],
.fr-radio-group input[type="radio"]:checked + label[class*=" fr-ifi-"] {
  width: 100%;
}

.fr-radio-group--sm input[type="radio"] + label::before {
  width: 1rem;
  height: 1rem;
  margin-top: 1rem;
}

.fr-radio-rich input[type="radio"] + .fr-label {
  padding-left: 3.5rem;
  margin-left: 0;
  min-height: 5.5rem;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 6.5rem;
  background-position: calc(100% - 0.25rem) center;
  background-size: 5rem 5rem;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  /**
      * On applique la taille sm pour le bouton radio riche
      */

  /**
      * On délimite l'espace pour l'image de droite et une icône illustrative par défaut
      */
}

.fr-radio-rich input[type="radio"] + .fr-label::before {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  left: 1.75rem;
  margin-top: -0.5rem;
}

.fr-radio-rich input[type="radio"] + .fr-label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  margin: 0.25rem;
  margin-top: -2.5rem;
  padding-left: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.25rem;
  height: 5rem;
  vertical-align: middle;
  border-left: 1px solid var(--g300);
}

.fr-radio-rich input[type="radio"] + .fr-label .fr-hint-text {
  margin-left: 0;
}

.fr-radio-rich__icon {
  width: 5rem;
  height: 5rem;
  position: absolute;
  right: 0.25rem;
  object-fit: cover;
  border-left: 1px solid var(--g300);
}

/**
 * Style spécifique des radios intégrés dans un fiedset
 */
.fr-fieldset {
  /**
   * Modificateur pour afficher les radios en ligne
   */
}

.fr-fieldset .fr-radio-rich:first-child input[type="radio"] + label {
  margin-top: 0.75rem;
}

.fr-fieldset .fr-radio-rich input[type="radio"] + label {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.fr-fieldset .fr-radio-rich:last-child input[type="radio"] + label {
  margin-bottom: 1.75rem;
}

.fr-fieldset--inline {
  /**
     * Écart entre le text d'aide et les radios riches dans le cas des radios inline
     */
}

.fr-fieldset--inline .fr-radio-rich:not(:last-child) input[type="radio"] + label {
  margin-right: 0.75rem;
  margin-bottom: 0.5rem;
}

.fr-fieldset--inline .fr-radio-rich:last-child {
  margin-bottom: 0;
}

.fr-fieldset--inline .fr-radio-rich:last-child input[type="radio"] + label {
  margin-bottom: 0.75rem;
}

.fr-fieldset--inline .fr-hint-text + .fr-fieldset__content .fr-radio-rich:first-child input[type="radio"] + label {
  margin-top: 1.5rem;
}

.fr-radio-group input[type="radio"]:checked + label::before {
  box-shadow: inset 0 0 0 5px var(--w);
  background-color: var(--bf500);
  border: 1px solid var(--bf500);
}

.fr-radio-group input[type="radio"][disabled] + label,
.fr-radio-group input[type="radio"]:disabled + label {
  color: var(--g600-g400);
}

.fr-radio-group input[type="radio"][disabled] + label::before,
.fr-radio-group input[type="radio"]:disabled + label::before {
  background-color: var(--g200);
  border: 1px solid var(--g400);
}

.fr-radio-group--sm input[type="radio"]:checked + label::before {
  box-shadow: inset 0 0 0 3px var(--w);
}

.fr-radio-rich input[type="radio"]:not(:checked) + label {
  box-shadow: inset 0 0 0 1px var(--g300);
  background-color: var(--w);
}

.fr-radio-rich input[type="radio"]:checked + label {
  background-color: var(--w);
  box-shadow: inset 0 0 0 1px var(--bf500);
}

.fr-radio-rich input[type="radio"]:checked + label::before {
  box-shadow: inset 0 0 0 3px var(--w);
}

.fr-radio-rich input[type="radio"][disabled] + label,
.fr-radio-rich input[type="radio"]:disabled + label {
  color: var(--g600-g400);
  filter: grayscale(1);
}

.fr-radio-rich input[type="radio"][disabled] + label::before,
.fr-radio-rich input[type="radio"]:disabled + label::before {
  background-color: var(--g200);
  border: 1px solid var(--g400);
}

.fr-radio-rich input[type="radio"][disabled] + label::after,
.fr-radio-rich input[type="radio"]:disabled + label::after {
  background-color: transparent;
}
