<%#
# paramètres select group

* select.valid (string, optional) : message de validation

* select.error (string, optional) : message d'erreur

* select.disabled (boolean, optional) : si true, désactive le select

%>
<% eval(include('../../../../../core/index.ejs')); %>

<%
let select = locals.select || {};
let groupClasses = [`${prefix}-select-group`];

if (select.error !== undefined) groupClasses.push(`${prefix}-select-group--error`);
if (select.disabled !== undefined) groupClasses.push(`${prefix}-select-group--disabled`);
if (select.valid !== undefined) groupClasses.push(`${prefix}-select-group--valid`);
%>

<div <%- includeClasses(groupClasses); %>>
  <%- include('./select', {select:select}); %>
</div>
