////
/// Content Module
/// @group content
////

.#{$prefix}-content-media {
  width: 100%;
  margin: space(5N) 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 100%;
    position: relative;

    //le padding permettant de définir le ratio d'aspect est appliqué sur un pseudo-élément before qui hérite de la modification de taille --lg et --sm de l'élément img ou vid
    //@include aspect-ratio();
  }

  &__img img {
    @extend %media-overlay-cover;
  }

  &__caption,
  &__transcription {
    width: 100%;
    text-align: right;
    margin-top: space(1N);
  }

  &__caption {
    @include text-styles(xs);
  }

  &__transcription {
    @include link(sm, right, menu-2-fill, null, true);
  }

  $medias: (&__img, '.#{$prefix}-responsive-vid');
  $captions: (&__caption, &__transcription);

  @include content-media-sizes($medias, $captions, 25%);
}
