@use 'sass:map';
@use 'module/legacy';

@mixin drop($options: ()) {
  $legacy: map.get($options, legacy);
  @if $legacy {
    @include legacy.is(ie11) {
      z-index: auto;
      background: transparent;
    }
  }
  @else {
    z-index: auto;
    background: transparent;
    filter: none;
  }
}
