<% const sample = getSample(include); %>

<div class="<%= prefix %>-container">
  <%- sample('Pagination', '../../../../component/pagination/example/sample/pagination', {pagination: {index:1, href: '../'}}); %>
</div>
