<%#
# paramètres accordionGroup

* accordionGroup.accordions (array, required) : tableau d'accordion

%>
<% eval(include('../../../../core/index.ejs')); %>

<% let accordionsGroup = locals.accordionsGroup || {accordions: []} %>
<ul class="<%= prefix %>-accordions-group" >
<%
  for (let i = 0; i < accordionsGroup.accordions.length; i++) {
%>
  <li>
    <%- include('./accordion', {accordion: accordionsGroup.accordions[i]}); %>
  </li>
<% } %>
</ul>
