<%#
# paramètres accordionGroup

* accordionGroup.accordions (array, required) : tableau d'accordion

%>
<% eval(include('../../../../core/index.ejs')); %>

<% 
let accordionsGroup = locals.accordionsGroup || {accordions: []}
let classes = accordionsGroup.classes || [];
classes.push(prefix + '-accordions-group');
if (accordionsGroup.dissociate) classes.push(prefix + '-accordions-group--dissociate');
%>

<div <%- includeClasses(classes); %>>
<%
  for (let i = 0; i < accordionsGroup.accordions.length; i++) {
%>
  <%- include('./accordion', {accordion: accordionsGroup.accordions[i]}); %>
<% } %>
</div>
