<%#
# paramètres accordionGroup

* accordionGroup.accordions (array, required) : tableau d'accordion

%>
<% eval(include('../../../../core/index.ejs')); %>

<% let accordionsGroup = locals.accordionsGroup || {accordions: []} %>
<div class="<%= prefix %>-accordions-group" >
<%
  for (let i = 0; i < accordionsGroup.accordions.length; i++) {
%>
  <%- include('./accordion', {accordion: accordionsGroup.accordions[i]}); %>
<% } %>
</div>
