<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- sample('Ensemble de boutons radio riches', '../../../../../component/radio/example/sample/radios-rich.ejs', { radios: { id:'radio-rich', checked: true } });  %>
</div>
