////
/// Highlights Module
/// @group Highlights
////

.#{$prefix}-highlight {
  padding-left: space(2w);
  @include scheme-element-border-color(bf500, true, left, space(1v) solid $COLOR);
  @include text-styles();

  @include respond-from(md) {
    padding-left: space(4w);
    margin-left: space(4w);
  }

  &--lg {
    @include text-styles(lg);
  }

  &--sm {
    @include text-styles(sm);
  }
}
