$options: (
  top: (
    from: -8,
    through: 8,
    half: 2,
    breakpoints: md
  ),
  right: (
    from: -8,
    through: 8,
    half: 2,
    breakpoints: md
  ),
  bottom: (
    from: -8,
    through: 8,
    half: 2,
    breakpoints: md
  ),
  left: (
    from: -8,
    through: 8,
    half: 2,
    breakpoints: md
  ),
);
