////
/// Badge Module - badge
/// @group badge
////

@include build-badge();

#{ns(badge)} {
  @include nest-badge(md, left, null, null, false);
  @include icon-style(before, null);
  @include font-weight(bold);
  @include max-width(100%);
  text-transform: uppercase;
  border-radius: space(1v);

  &--sm {
    @include nest-badge(sm, left, null, null, false);
  }

  &,
  &--sm {
    &#{ns(badge)}--info {
      @include icon-content(info-fill, before, false, '');
    }

    &#{ns(badge)}--success {
      @include icon-content(success-fill, before, false, '');
    }

    &#{ns(badge)}--error {
      @include icon-content(error-fill, before, false, '');
    }

    &#{ns(badge)}--warning {
      @include icon-content(warning-fill, before, false, '');
    }

    &#{ns(badge)}--new {
      @include icon-content(flashlight-fill, before, false, '');
    }

    &#{ns(badge)}--no-icon {
      @include before {
        content: none;
      }
    }
  }
}
