<%
let tabsGroup = locals.tabs || {tabsCount: 2,tabs: []};
let tabs = tabsGroup.tabs || [];
let data = {tabs: []};

if (!isNaN(tabsGroup.tabsCount)) {
  const length = tabsGroup.tabsCount;
  for (let i = 0; i < length; i++) {
    let content = '';
    for (let j = 0; j < (i + 1 + (tabsGroup.repeat || 0)); j++) content += '<p>' + lorem() + '</p>';
    data.tabs[i] = {
      id:  uniqueId('tab-accordion'),
      label: `Libellé onglet ${i + 1}`,
      content: include('../../../accordion/example/sample/accordion'),
      icon: tabsGroup.icon
    }
  }
}

%>

<%- include('../../template/ejs/tabs', {tabs: data}) %>
