<%
let tabsGroup = locals.tabs || {tabsCount: 2, tabs: []};
let data = {tabs: []};

for (let i = 0; i < tabsGroup.tabsCount; i++) {
  let content = '';
  for (let j = 0; j < (i + 1 + (tabsGroup.repeat || 0)); j++) content += '<p>' + lorem() + '</p>';
  data.tabs[i] = {
    label: `Label Tab ${i + 1}`,
    content: randomContent(i + 1),
    icon: tabsGroup.icon
  }
}

%>

<%- include('../../template/ejs/tabs', {tabs: data}) %>
