<%

const block = locals.block || {};
const classes = {
  outer: {
    col: [`${prefix}-col-12`, `${prefix}-col-lg-6`,  `${prefix}-col-offset-lg-2`]
  },
}

%>


    <div <%- includeClasses(classes.outer.col); %> >

      <% if (block.segments) { %>
      <%- include('../segments/segments', { segments: block.segments }); %>
      <% } %>

    </div>

