////
/// Grid Module
/// @group grid
////

#{dse(grid-row)} {
  @include display-flex(null, null, null, wrap);
  list-style: none;
  @include margin(0);
  @include padding(0);

  // Vertical alignment
  &--top {
    align-items: flex-start;
  }

  &--bottom {
    align-items: flex-end;
  }

  &--middle {
    align-items: center;
  }

  // Horizontal alignment
  &--start {
    justify-content: flex-start;
  }

  &--end {
    justify-content: flex-end;
  }

  &--center {
    justify-content: center;
  }

  // Gutters
  &--gutters {
    @include margin(0 #{space(map-get($grid-gutter-width, xs)) * - 0.5});
    @include margin(0 #{space(map-get($grid-gutter-width, md)) * - 0.5}, md);
    @include margin(0 #{space(map-get($grid-gutter-width, lg)) * - 0.5}, lg);

    #{class-start-with(dse(col-, ''))},
    #{dse(col)} {
      @include padding(0 #{space(map-get($grid-gutter-width, xs)) * 0.5});
      @include padding(0 #{space(map-get($grid-gutter-width, md)) * 0.5}, md);
      @include padding(0 #{space(map-get($grid-gutter-width, lg)) * 0.5}, lg);
    }
  }
}

#{dse(col)} {
  flex: 1;

  // alignment
  &--top {
    align-self: flex-start;
  }

  &--bottom {
    align-self: flex-end;
  }

  &--center {
    align-self: center;
  }
}

// Generate cols and offsets
@include grid-generator();
@include grid-generator(xs);

@include grid-offset-generator();
@include grid-offset-generator(xs);

// Generate responsive cols and offsets
@include respond-from(sm) {
  @include grid-generator(sm);
  @include grid-offset-generator(sm);
}

@include respond-from(md) {
  @include grid-generator(md);
  @include grid-offset-generator(md);
}

@include respond-from(lg) {
  @include grid-generator(lg);
  @include grid-offset-generator(lg);
}

@include respond-from(xl) {
  @include grid-generator(xl);
  @include grid-offset-generator(xl);
}
