////
/// Follow Legacy
/// @group follow
////

@use 'src/module/legacy';

@include legacy.is(ie11) {
  #{ns(follow)} {
    @include social-deprecated-legacy-icon(facebook, facebook-circle-fill);
    @include social-deprecated-legacy-icon(twitter, twitter-fill);
    @include social-deprecated-legacy-icon(twitter-x, twitter-x-fill);
    @include social-deprecated-legacy-icon(instagram, instagram-fill);
    @include social-deprecated-legacy-icon(linkedin, linkedin-box-fill);
    @include social-deprecated-legacy-icon(youtube, youtube-fill);

    #{ns-group(links)} {
      &:not(#{ns-group(links)}--sm):not(#{ns-group(links)}--lg) {
        #{ns(link)} {
          @include has-not-icon {
            @include icon-legacy(null, md);
          }
        }
      }

      &--lg {
        #{ns(link)} {
          @include has-not-icon {
            @include icon-legacy(null, lg);
          }
        }
      }
    }
  }
}
