.#{$prefix}-search-bar {
  display: flex;
  flex-direction: row;

  .#{$prefix}-label {
    @include sr-only();
  }

  .#{$prefix}-input {
    @include scheme-element-box-shadow-color(bf500, false, inset 0 -2px 0 0 $COLOR);
    margin-top: 0;
    border-radius: space(0-5N) 0 0;
    max-height: none;

    &::placeholder {
      font-style: italic;
    }
  }

  @include btn(md, only, search-line) {
    flex: 1 0 auto;
    border-radius: 0 space(0-5N) 0 0;
  }

  &--lg {
    @include btn(lg, left, null, md);
  }
}
