////
/// Search Module
/// @group search
////

#{ns(search-bar)} {
  @include display-flex(row);

  #{ns(label)} {
    @include sr-only();
  }

  #{ns(input)} {
    @include margin-top(0);
    border-radius: space(1v) 0 0;
    max-height: none;

    &::placeholder {
      font-style: italic;
    }
  }

  @include nest-btn(md, only, search-line) {
    flex: 1 0 auto;
    border-radius: 0 space(1v) 0 0;
  }

  &--lg {
    @include nest-btn(lg, left, null, md);
  }
}
