////
/// Header Legacy
/// @group header
////

@include respond-from(lg) {
  @include legacy(ie11) {
    /**
    * Correctif valeur 'initial' non prise en compte par IE
    */
    #{ns(header)} {
      &__tools-links {
        display: block;
      }

      #{ns(modal)} {
        position: static;
        overflow: visible;
      }
    }
  }
}

@include legacy(ie11) {
  #{ns(header)} {
    &__tools-links {
      #{ns(link)} {
        overflow: visible;
      }
    }
  }
}
