////
/// Header Legacy
/// @group header
////

@include legacy(ie11) {
  #{ns(header)} {
    @include disable-list-style-legacy;
    @include disable-underline-legacy;

    #{ns-group(btns)} {
      &:not(#{ns-group(btns)}--sm):not(#{ns-group(btns)}--lg) {
        @include class-not-start-with(#{ns(btns-group--icon-, '')}) {
          #{ns(btn)} {
            @include has-not-icon {
              &:not(#{ns(btn--display)}) {
                @include icon-legacy(null, sm, before, false);
              }
            }

            @include has-icon {
              @include icon-legacy(null, sm, before, false);
            }

            &#{ns(btn--display)} {
              @include icon-legacy(null, sm, before, false);
            }
          }
        }
      }
    }

    &__tools-links {
      #{ns(link)} {
        overflow: visible;
      }
    }
  }
}

@include respond-from(lg) {
  @include legacy(ie11) {
    #{ns(header)} {
      &__tools-links {
        display: block;
      }

      #{ns(modal)} {
        position: static;
        overflow: visible;
      }
    }
  }
}
