////
/// header Scheme
/// @group header
////

@use 'module/color';
@use 'module/elevation';
@use 'module/media-query';

@mixin _header-scheme($legacy: false) {
  #{ns(header)} {
    &__brand {
      @include elevation.elevate(raised, (legacy: $legacy));
    }

    @include media-query.respond-from(lg) {
      &__brand {
        @include elevation.drop();
      }
      @include elevation.elevate(raised, (legacy: $legacy));
    }

    &__service {
      @include color.box-shadow(default grey, (legacy:$legacy), top-1-in);
      @include color.no-box-shadow(lg);
    }

    &__menu-links {
      @include after {
        @include color.box-shadow(default grey, (legacy:$legacy), top-1-in);
      }

      #{ns(btn)} {
        @include btn-kind-scheme(4, $legacy);
        @include color.box-shadow(default grey, (legacy:$legacy), bottom-1-in);
        @include color.no-box-shadow;
      }

      ul > li:last-child #{ns(btn)} {
        @include color.no-box-shadow;
      }
    }

    &__tools-links {
      #{ns(btn)} {
        @include btn-kind-scheme(4, $legacy);
        @include after {
          @include color.box-shadow(default grey, (legacy:$legacy));
        }
      }
    }

    &__navbar {
      #{ns(service)} {
        @include title {
          @include color.text(title grey, (legacy:$legacy));
        }
      }

      #{ns(btn)} {
        @include btn-kind-scheme(4, $legacy);

        &--menu {
          @include color.text(default grey, (legacy:$legacy));
        }
      }
    }

    #{ns(header__menu)} {
      @include respond-from(lg) {
        @include color.box-shadow(default grey, (legacy:$legacy), top-1-in);
      }
    }

    #{ns(modal)} {
      @include color.background(lifted grey, (legacy:$legacy));
    }
  }
}
