////
/// Core Tools : Reset
/// @group core
////

%a-reset {
  text-decoration: none;
  color: inherit;
}

@mixin link-underline($prepend: '') {
  box-shadow: #{$prepend} 0 1px 0 0 currentColor;
}

@mixin enable-link-style() {
  --is-link: ;
}

@mixin disable-link-style() {
  --is-link: false;
}

@mixin enlarge-link {
  outline-width: 0 !important;
  @include before(block, '') {
    @include absolute(0, 0, 0, 0, 100%, 100%);
    outline-offset: 2px;
    outline-style: inherit;
    outline-color: inherit;
    outline-width: 2px;
    @include z-index(over);
  }
}
