////
/// Core Tools : Reset list
/// @group core
////

@mixin list-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin enable-list-style() {
  $selector: null;

  @if & == null {
    $selector: ':root';
  }

  @include nest($selector) {
    --li-pb: #{space(2v)};
    --li-pt: 0;
    --li-pl: 0;
    --li-indent: 0.9em;
    --ul-content: "●○■□◆◇";
    --ul-max-width: 0.75em;
    --ul-letter-spacing: 0.4em;
    --ul-overflow: hidden;
    --ul-display: inline-block;
    --ul-vertical-align: top;
    --ol-content: counters(li-counter, ".") ".";
    --ol-font-weight: 700;
    --ol-increment: li-counter;
    counter-set: none;
  }

  li {
    --li-pl: #{space(4v)};
    --li-pt: #{space(2v)};
  }
}

@mixin disable-list-style() {
  --li-pb: 0;
  --li-pt: 0;
  --li-pl: 0;
  --li-indent: initial;
  --ul-content: none;
  --ul-max-width: none;
  --ul-letter-spacing: 0;
  --ul-overflow: inherit;
  --ul-display: inline-block;
  --ul-vertical-align: top;
  --ol-content: none;
  --ol-font-weight: inherit;
  --ol-increment: none;

  li {
    --li-pt: 0;
    --li-pl: 0;
  }
}
