////
/// Manager Module
/// @group consent
////

#{ns(consent-manager)} {
  &__header {
    @include padding-top(0);

    #{ns(consent-service)}__title {
      width: 100%;
      @include padding(0 0 3v 0);
      @include text-style(md);
      @include font-weight(regular);

      @include respond-from(lg) {
        width: 44%;
      }

      @include respond-from(xl) {
        width: 50%;
      }
    }

    #{ns(consent-service)}__radios {
      width: 100%;
      justify-content: flex-start;
      top: 0;
      position: initial;

      @include respond-from(lg) {
        width: 56%;
        position: absolute;
        justify-content: flex-end;
      }

      @include respond-from(xl) {
        width: 50%;
      }
    }
  }

  &__buttons {
    @include margin-bottom(-12v);
    @include margin-top(4v);
  }

  #{ns(consent-service)}:last-of-type {
    @include scheme-element-no-box-shadow;
  }
}
