////
/// services Module
/// @group consent
////

/**
* Consent service correspond à un bloc de finalité (titre, radios, description)
**/
#{ns(consent-service)} {
  @include relative;

  > #{ns(fieldset)} {
    @include padding(0 0 5v);
    @include padding(0 0 5v, md);
    @include display-flex(column);
    @include size(100%);
    position: initial;

    @include respond-from(md) {
      @include display-flex(row,null,null,wrap);
    }
  }

  &:last-child {
    > #{ns(fieldset)} {
      @include padding(8v 0 4v);
      @include padding(5v 0 4v, md);

      #{ns(consent-service)} > #{ns(fieldset)}:last-child {
        @include margin-bottom(0);
      }
    }
  }

  /**
  * Nom du service
  **/
  &__title {
    @include title-style(h6);
    @include padding(8v 0 3v);
    @include margin(0);

    @include respond-from(md) {
      @include size(50%);
    }
  }

  /**
  * Description du service
  **/
  &__desc {
    @include text-style(sm);
    @include margin-bottom(3v);
    @include margin-top(3v);
    @include margin-top(1v,md);
    @include margin-right(6v,md);
    @include respond-from(md) {
      @include size(60%);
    }
  }

  /**
  * Bloc dépliable, contient des sous services
  **/
  &__collapse {
    @include margin-top(-1v);
    @include margin-bottom(3v);
    @include size(100%);

    @include _nest-link($collapse-btn-settings, sm, right, arrow-down-s-line) {
      background: transparent;
      @include padding(0);
      color: inherit;

      &[aria-expanded="true"] {
        @include icon(arrow-up-s-line, sm);
      }
    }

    /**
    * Bouton d'ouverture/fermeture du collapse
    **/
    &-btn {
      @include display-flex(row, center, null, null, true);
      position: relative;

      @include disable-blend;

      @include after('','block') {
        @include absolute(0,0,0,0,calc(100% - #{space(4v)}),calc(100% - #{space(1v)}));
        @include link-underline;
      }
    }
  }

  /**
  * Conteneur des radio-group
  **/
  &__radios {
    // @include margin-bottom(3v);
    @include display-flex(row, null, null, wrap);

    @include respond-from(md) {
      @include display-flex(row,center,flex-end);
      @include margin-bottom(0);
      @include absolute(5v, 0);
      @include size(50%);
    }
  }

  /**
  * Groupe de radios avec séparateur
  **/
  #{ns-group(radio)} {
    position: relative;

    &:not(:last-child) input[type="radio"] + label {
      @include margin-right(12v);
    }

    &:not(:first-child) {
      @include before('','block') {
        @include size(1px, 6v);
        @include absolute;
        left: calc(#{space(-6v)} - 1px);
        top: space(3v);
      }
    }
  }
}

/**
* fr-consent-services contient les sous services
**/
#{ns(consent-services)} {
  @include margin-top(2v);
  @include margin-bottom(-2v);
  @include size(100%);

  #{ns(consent-service)} {
    &,
    &:last-child {
      @include scheme-element-no-box-shadow;
      > #{ns(fieldset)} {
        @include padding(0);
      }
    }

    &:last-child {
      > #{ns(fieldset)} {
        @include margin-bottom(5v);
      }
    }

    & + #{ns(consent-service)} {
      @include margin-top(-1v, md);
    }

    &__title {
      @include padding-top(3v);
    }

    &__radios {
      top: 0;
    }

    &__desc {
      @include margin-bottom(3v);
      @include margin-bottom(1v,md);
      @include margin-top(1v);
    }
  }
}
