<div class="<%= prefix %>-container" >
  <a href="#" data-<%= prefix %>-analytics-click="libellé envoyé à l'analytics" id="attr-1" >libellé du lien</a>
  <a href="https://systeme-de-design.gouv.fr" data-<%= prefix %>-analytics-click="libellé envoyé à l'analytics" id="attr-2" >libellé du lien</a>
</div>
