<%
let header = locals.header || {};
let navbar = header.navbar || {};
let label;
%>
<div class="<%= prefix %>-header__navbar">
    <%
        const attrs = {};
        attrs[`data-${prefix}-opened`] = false;

        if (navbar.search) {
            label = navbar.search.label || 'Rechercher';
    %>
    <%- include('../../../button/template/ejs/button', {button: {
        classes: [prefix + '-btn--search'],
        title: label,
        attributes: {
            ...attrs,
            'aria-controls': navbar.search.modalId,
        },
        label: label,
        id: navbar.search.id
    }}); %>
    <% } %>

    <%
        if (navbar.menu) {
            label = navbar.menu.label || 'Menu';

    %>
    <%- include('../../../button/template/ejs/button', {button: {
        classes: [prefix + '-btn--menu'],
        title: label,
        attributes: {
            ...attrs,
            'aria-controls': navbar.menu.modalId,
            'aria-haspopup': 'menu'
        },
        label: label,
        id: navbar.menu.id
    }}); %>
    <% } %>
</div>
