<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- sample('Bandeau d\'information simple', '../../../../component/notice/example/sample/notice-default', {notice: {id: uniqueId('notice'), type: "info", title: "Titre du bandeau d'information"}}); %>
</div>
