<%#
# paramètres Tab-panel

* tab.id (string, required) : id du panel

* tab.content (string, required) : contenu du panel

* tab.isActive (bool, required): défini le panel actif (1 max)

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
let tab = locals.tab || {};
let classes = [prefix + '-tabs__panel']
if(tab.isActive) classes.push(prefix + '-tabs__panel--selected');
%>
<div id="<%= tab.id %>-panel" <%- includeClasses(classes) %> role="tabpanel" aria-labelledby="<%= tab.id %>" tabindex="0" >
  <%- tab.content %>
</div>