////
/// Core Module : Global Reset
/// @group core
////

/**
 * Reset global des éléments du design system
 */
@include dse-all-selector() {
  box-sizing: border-box;
}

@include dse-class() {
  font-family: $font-family-sans;
  @include scheme-element-text-color(g700, true);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  @include dse-class() {
    list-style: none;
  }
}
