////
/// Content Module
/// @group content
////

#{selector.ns(content-media)} {
  @include spacing.size(100%);
  @include spacing.margin(10v 0);
  @include display.flex(column, center);
  @include typography.set-text-margin(0);
  @include typography.set-title-margin(0);

  &__img {
    @include spacing.size(100%);
  }

  #{class-start-with(ns('responsive-img', ''))},
  #{class-start-with(ns('responsive-vid', ''))} {
    @include aspect-ratio();
  }

  &__caption,
  &__transcription {
    @include spacing.size(100%);
    @include spacing.margin-top(2v);
    text-align: right;
  }

  &__caption {
    @include typography.text-style(xs);
  }

  &__transcription {
    @include nest-btn(sm, right, menu-2-fill, null, true, true);
  }

  $medias: (#{&}__img, selector.ns(responsive-vid));
  $captions: (#{&}__caption, #{&}__transcription);
  @include content-media-sizes($medias, $captions, 25%);
}
