////
/// Navigation Scheme : Nav
/// @group navigation
////

@mixin _navigation-scheme-nav($legacy: false) {
  #{ns(nav)} {
    &__link,
    &__btn {
      @include scheme-element-text-color(action-high grey, (legacy: $legacy));

      &[aria-current] {
        @include scheme-element-text-color(active blue-france, (legacy: $legacy));
        @include before {
          @include scheme-element-bg-color(active blue-france, (legacy: $legacy));
        }
      }
    }

    &__btn {
      &[aria-expanded="true"] {
        @include respond-from(lg) {
          @include scheme-element-text-color(active blue-france, (legacy: $legacy));
          @include scheme-element-bg-color(open blue-france, (legacy: $legacy));
        }
      }
    }

    @include list-item {
      @include scheme-element-box-shadow-color(default grey, (legacy: $legacy), bottom-1-in);
      @include scheme-element-no-box-shadow(lg);
    }
  }
}
