////
/// Core Legacy : Action link
/// @group core
////

@use 'module/legacy';

@include legacy.is(ie11) {
  [href],
  #{ns(reset-link)} {
    &[href],
    [href] {
      text-decoration: underline;
    }
  }

  #{ns(raw-link)} {
    &[href],
    [href] {
      text-decoration: none;
      @include after(none);
    }
  }

  [target="_blank"] {
    @include icon-legacy(external-link-line, sm, after) {
      content: "";
    }
  }
}
