////
/// Core Legacy : Typography
/// @group core
////

@use 'src/module/legacy';

@include legacy.is(ie11) {
  @include enable-list-style-legacy;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include margin(0 0 6v);
  }

  p {
    @include margin(0 0 4v);
  }
}
