<%
const segment = locals.segment || {};
const data = segment.data;
%>
<% if (data.title) { %>
  <h2 class="<%= prefix %>-h5"><%= data.title %></h2>
<% } %>
<% if (data.buttonsGroup) { %>
  <%- include('../../../../../component/button/template/ejs/buttons-group', { buttonsGroup: data.buttonsGroup })  %>
<% } else if (data.button) { %>
  <%- include('../../../../../component/button/template/ejs/button', { button: data.button })  %>  %>
<% } %>

