////
/// Tile Module
/// @group tile
////

#{ns(tile)} {
  @include relative;
  @include display-flex(column-reverse);
  @include set-text-margin(0);
  @include set-title-margin(0 0 2v);

  /**
   * Forcer la hauteur à 100% pour que les tuiles aient la même hauteur dans le contexte de la grille
   */
  #{ns(grid-row)} & {
    @include size(null, 100%);
  }

  &__link {
    display: inline-flex;
    @include disable-link-style;
    @include size(100%);
  }

  /**
   * Conteneur pour l'image, on force les dimensions à 80x80 tout en permettant de mettre une image
   * ne respectant pas cette taille :
   * Si l'image est plus grande, elle sera croppée afin de ne jamais dépasser 80x80.
   * Si l'image est plus petite, elle sera centrée, en hauteur, en largeur ou bien les deux.
   */
  &__img {
    @include display-flex(null, center, center);
    flex-shrink: 0;
    @include size(20v, 20v);
    @include margin(8v auto 0);
    overflow: hidden;

    /**
     * Dans le cas d'un svg inline sans largeur et hauteur spécifiées, on lui attribue une largeur de 100%.
     */
    > svg {
      @include size(100%);
    }
  }

  /**
   * Partie de la tuile contenant le titre (obligatoire) et la description (optionnel)
   */
  @include body {
    @include display-flex(column, center, center);
    flex-grow: 1;
    @include padding(4v);
    @include padding(6v,md);
    text-align: center;
  }

  /**
   * Titre de la tuile
   */
  @include title {
    @include text-style(md);
    @include font-weight(bold);
  }

  /**
   * Description de la tuile
   */
  &__desc {
    @include text-style(md);
  }

  @import 'module/variations';
}
