////
/// Pagination Module
/// @group pagination
////

@include build-pagination();

#{ns(pagination)} {
  @include disable-link-style;
  @include disable-list-style;

  @include list {
    @include display-flex(row, center, flex-start, wrap);

    & > *:first-child {
      &,
      & * {
        @include margin-left(0);
      }
    }

    & > *:last-child {
      &,
      & * {
        @include margin-right(0);
      }
    }
  }

  &__link {
    @include min-size(8v);
    @include margin-x(0.5v);
    @include margin-bottom(4v);

    &[aria-current] {
      cursor: default !important;
    }

    &--first {
      @include nest-pagination(only, arrow-left-s-first-line);
    }

    &--prev {
      @include nest-pagination(only, arrow-left-s-line);
    }

    &--next {
      @include nest-pagination(only, arrow-right-s-line);
    }

    &--last {
      @include nest-pagination(only, arrow-right-s-last-line);
    }

    &--first,
    &--prev {
      @include margin-right(3.5v);
      @include margin-left(-2.5v);

      &#{ns(pagination__link--label)} {
        @include nest-pagination(left);
      }

      &#{ns(pagination__link--lg-label)} {
        @include nest-pagination(left, null, lg);
      }
    }

    &--next,
    &--last {
      @include margin-right(-2.5v);
      @include margin-left(3.5v);

      &#{ns(pagination__link--label)} {
        @include nest-pagination(right);
      }

      &#{ns(pagination__link--lg-label)} {
        @include nest-pagination(right, null, lg);
      }
    }
  }
}
