////
/// Pagination Scheme
/// @group pagination
////

@mixin _pagination-scheme($legacy: false) {
  #{ns(pagination)} {
    @include scheme-element-text-color(action-high grey, (legacy: $legacy));

    &__link {
      &[aria-current] {
        @include scheme-element-bg-color(active blue-france, (legacy: $legacy));
        @include scheme-element-text-color(inverted blue-france, (legacy: $legacy));
      }

      &:not([aria-current]) {
        @include disabled((legacy: $legacy, text: true, can-be-link: true));
      }
    }
  }
}
