////
/// Button Setting
/// @group button
////

$pagination-build-settings:(
  selector: pagination__link,
  sizes: (
    md: (
      font-size: 3.5v,
      min-height: 8v,
      padding-x: 3v,
      icon: sm,
      icon-margin-x: 2v,
      icon-only: sm,
    )
  ),
  display: flex
);

$pagination-nest-settings: map-merge($pagination-build-settings, (places: only left right));
