.#{$prefix}-icon {
  @include icons-size();
  fill: currentColor;
}

/*
[class*="#{$prefix}-fi-"] {
  display: inline-block;
  font: normal normal normal 16px/1 "icons";
  font-size: inherit;
}
*/

.#{$prefix}-fi {
  &--sm::before {
    font-size: icon-size(sm);
  }

  &--md::before {
    font-size: icon-size(md);
  }

  &--lg::before {
    font-size: icon-size(lg);
  }

  &--xl::before {
    font-size: icon-size(xl);
  }
}
