@font-face {
  font-family: "icons";
  src: url("data:font/truetype;charset=utf-8;base64,#{$icons-base64}") format("truetype");
}

span[class^="#{$prefix}-fi-"],
span[class*=" #{$prefix}-fi-"] {
  @include before {
    @extend %font-icon;
  }

  $not:'';

  @each $size, $value in $icon-size-map {
    @if $size != md {
      $not:'#{$not}:not([class*="#{$prefix}-fi--#{$size}"])';
    }
  }

  &#{$not} {
    @include before {
      font-size: icon-size(md);
    }
  }
}

.#{$prefix}-fi {
  @each $size, $value in $icon-size-map {
    @if $size != md {
      &--#{$size} {
        @include before {
          font-size: icon-size($size);
        }
      }
    }
  }
}

/*
* @var: $icons-mames - générée dans generated/_icons.scss
*/
@include generate-icons-content($icons-names);
