////
/// Tags Module
/// @group tags
////

#{dse(tag)} {
  @include build-tag();

  @include scheme-element-text-color(g-800, true);
  @include scheme-element-bg-color(g200, true);

  @at-root {
    #{selector-unify(&, a)},
    #{selector-unify(&, button)} {
      @include scheme-element-text-color(bf500-plain, true);
      @include scheme-element-bg-color(bf200-bf300, true, true);
    }
  }

  @include disabled-link(true, true);
}

#{dse-group(tags)} {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
  @include margin-bottom(0);

  > li {
    display: inline-flex;
    @include margin-bottom(0);

    @include before(null, none);
  }

  #{dse(tag)} {
    @include margin-right(2v);
    @include margin-bottom(2v);
  }

  a#{dse(tag)},
  button#{dse(tag)} {
    @include margin-right(3v);
    @include margin-bottom(3v);

    &--sm {
      @include margin-right(6v);
      @include margin-bottom(6v);
    }
  }
}
