$tags-settings:(
  sizes: (
    sm: (
      font-size: 12,
      line-height: 4v,
      min-height: 6v,
      padding-x: 2v,
      icon: md,
      icon-margin-x: 1v
    ),
    md: (
      font-size: 14,
      line-height: 5v,
      min-height: 8v,
      padding-x: 4v,
      icon: md,
      icon-margin-x: 1v
    )
  ),
  places: left right
);
