/*!
 * DSFR v1.1.0 | SPDX-License-Identifier: MIT | License-Filename: LICENCE.md | restricted use (see terms and conditions)
 */
.fr-nav__link,
.fr-nav__btn {
  color: var(--g800);
  background-color: var(--t-plain);
}

:root:not([data-fr-theme="dark"]) .fr-nav__link,
:root:not([data-fr-theme="dark"]) .fr-nav__btn {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-fr-theme="dark"]) [class*="fr-scheme-light"] .fr-nav__link,
:root:not([data-fr-theme="dark"]) [class*="fr-scheme-light"] .fr-nav__btn,
:root:not([data-fr-theme="dark"]) [class*="--scheme-light-"] .fr-nav__link,
:root:not([data-fr-theme="dark"]) [class*="--scheme-light-"] .fr-nav__btn {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-fr-theme="dark"]) [class*="fr-scheme-dark"] .fr-nav__link,
:root:not([data-fr-theme="dark"]) [class*="fr-scheme-dark"] .fr-nav__btn,
:root:not([data-fr-theme="dark"]) [class*="--scheme-dark-"] .fr-nav__link,
:root:not([data-fr-theme="dark"]) [class*="--scheme-dark-"] .fr-nav__btn {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root[data-fr-theme="dark"] .fr-nav__link,
.fr-nav__btn {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

.fr-nav__link[aria-current],
.fr-nav__btn[aria-current] {
  color: var(--bf500);
}

.fr-nav__link[aria-current]::before,
.fr-nav__btn[aria-current]::before {
  background-color: var(--bf500);
}

.fr-nav__item {
  box-shadow: inset 0 -1px 0 0 var(--g300);
}

.fr-mega-menu {
  background-color: var(--w-g750);
}

.fr-mega-menu__list {
  box-shadow: 0 1px 0 0 var(--g300);
}

@media (min-width: 62em) {
  .fr-nav__btn[aria-expanded="true"] {
    color: var(--bf500-plain);
    background-color: var(--bf200-bf300);
  }

  .fr-menu::after {
    background-color: var(--w-g750);
  }

  .fr-menu .fr-nav__link {
    box-shadow: 0 calc(-1rem - 1px) 0 -1rem var(--g300);
  }

  .fr-mega-menu > .fr-container::before {
    background-color: var(--bf200-bf300);
  }

  .fr-mega-menu__category {
    box-shadow: 0 calc(1rem + 1px) 0 -1rem var(--g300);
  }
}

@media (hover: hover) and (pointer: fine) {
  .fr-nav__link:not(a):not(:disabled):hover,
  a.fr-nav__link[href]:hover,
  a.fr-nav__btn[href]:hover,
  .fr-nav__btn:not(a):not(:disabled):hover {
    background-image: linear-gradient(0deg, var(--color-hover), var(--color-hover));
  }

  .fr-nav__link:not(a):not(:disabled):active,
  a.fr-nav__link[href]:active,
  a.fr-nav__btn[href]:active,
  .fr-nav__btn:not(a):not(:disabled):active {
    background-image: linear-gradient(0deg, var(--color-active), var(--color-active));
  }
}
