<%#
# paramètres recovery confirmation

* title (String, optional) : Titre du bloc
* alert (object, optional) : paramètre une alerte

%>

<%
const recovery = locals.recovery;
%>

<% if(recovery) { %>
  <div>
    <% if (recovery.alert) { %>
      <%- include('../../../../../component/alert/template/ejs/alert.ejs', {alert: recovery.alert})  %>
    <% } %>

    <% if (recovery.hint) { %>
      <p class="<%= prefix %>-hint-text"><%= recovery.hint %></p>
    <% } %>
  </div>
<% } %>
