////
/// Modal Module
/// @group modal
////

@use '../../../../../../sass/spacing/index';
@use '../../../../../../sass/elevation/index';
@use '../../../../../../sass/color/index';

#{selector.ns(modal)} {
  // reset dialog @TODO à déplacer dans reset ?
  border: none;
  color: inherit;
  visibility: hidden;
  opacity: 0;
  background-color: color.$black-a64;

  @include elevation.ground(modal);

  @include spacing.padding(0);
  @include spacing.margin(0);
  @include display.flex(column, stretch, space-between);
  @include spacing.fixed(0, 0, 0, 0, 100%, 100%);
  // transition in/out
  transition: opacity 0.3s, visibility 0.3s;

  & > #{selector.ns(container)} {
    pointer-events: none;
  }

  &:focus {
    outline: none;
  }

  @include selector.before('', block) {
    @include spacing.size(0, 8v);
    flex: 1 0 spacing.space(8v);
  }

  @include selector.after(none, block) {
    @include spacing.size(0, 8v);
    flex: 1 0 spacing.space(8v);
  }

  /**
  * Modifier pour fixer la modale en haut en mobile (par defaut en bas)
  */
  &--top {
    @include selector.before {
      content: none;
      @include media-query.from(md) {
        content: '';
      }
    }

    @include selector.after {
      content: '';
    }
  }

  @include media-query.from(md) {
    @include selector.before {
      @include spacing.size(0, 10vh);
      flex: 1 0 10vh;
    }

    @include selector.after('') {
      @include spacing.size(0, 10vh);
      flex: 1 0 10vh;
    }
  }

  &--opened {
    // transition in/out
    visibility: inherit;
    opacity: 1;
    @include spacing.size(100%, 100%);
    transition: opacity 0.3s, visibility 0.3s;
  }

  @include selector.body {
    --modal-max-height: calc(100vh - 2rem);
    pointer-events: all;
    overflow-y: auto;
    flex: 1 1 auto;
    max-height: var(--modal-max-height);

    @include media-query.from(md) {
      max-height: 80vh !important;
    }
  }

  &__header {
    flex: auto 0 0;
    @include display.flex(null, center);
    @include spacing.padding(4v 4v 2v);
    @include spacing.padding(4v 8v, md);
  }

  &__content {
    @include spacing.padding-x(4v);
    @include spacing.padding-x(8v, md);
    @include spacing.margin-bottom(14v);
    @include spacing.margin-bottom(16v, md);
  }

  &__footer {
    flex: auto 0 0;
    @include display.flex(null);
    @include spacing.padding(4v);
    @include spacing.padding(8v, md);
    @include spacing.margin-top(-10v);
    @include spacing.margin-top(-12v, md);
    @include sticky(null,null,0);
    transition: box-shadow 0.3s;
    z-index: z-index(modal-footer);

    #{selector.ns-group(btns)} {
      margin-bottom: -1rem;
      width: calc(100% + #{space(4v)});
    }
  }

  &__title {
    @include typography.set-title-margin(0 0 4v 0);
    @include typography.title-style('h4');
    @include typography.font-weight('bold');

    @include icon.selector {
      @include spacing.margin-right(2v);
    }
  }

  &__body#{selector.ns(scroll-shadow)} {
    #{selector.ns(modal)}__footer {
      box-shadow: spacing.space(inset 0 -8v 6v -8v color.$black);
    }
  }
}
