$V: 0.25rem;
$W: 0.5rem;

$values: ('v': 1v, 'w': 1w, 'px': 1px, 'cm': 1cm, 'mm': 1mm, '%': 1%, 'ch': 1ch, 'in': 1in, 'em': 1em, 'rem': 1rem, 'pt': 1pt, 'pc': 1pc, 'ex': 1ex, 'vw': 1vw, 'vh': 1vh, 'vmin': 1vmin, 'vmax': 1vmax, 'deg': 1deg, 'turn': 1turn, 'rad': 1rad, 'grad': 1grad, 's': 1s, 'ms': 1ms, 'Hz': 1Hz, 'kHz': 1kHz, 'dppx': 1dppx, 'dpcm': 1dpcm, 'dpi': 1dpi);
