////
/// Connect action
/// @group connect
////

#{ns(connect)} {
  &:focus,
  &:focus-visible {
    z-index: z-index(focus);
  }
}

$connect-elements: (
  a: map-get($action-elements, a),
  button: map-get($action-elements, button),
  input-buttons: map-get($action-elements, input-buttons),
);

@include focusable-selector ($connect-elements) {
  @at-root #{selector-unify(&, ns(connect))} {
    outline-offset: 2px;
    outline-width: 2px;
    outline-color: $focus-color;
  }
}

@include focusable-selector-focus ($connect-elements) {
  @at-root #{selector-unify(&, ns(connect))} {
    outline-style: solid;
  }
}

@include focusable-selector-focus-not-visible ($connect-elements) {
  @at-root #{selector-unify(&, ns(connect))} {
    outline-style: none;
  }
}

@include focusable-selector-focus-visible ($connect-elements) {
  @at-root #{selector-unify(&, ns(connect))} {
    outline-style: solid;
  }
}
