////
/// Connect action
/// @group connect
////

#{ns(connect)} {
  background-repeat: no-repeat, no-repeat;
  background-size: 0, 0;
  background-position: 50%, 50%;

  $color: get-color(background action-high blue-france, blend);
  $hsla-hover: unquote('hsla(#{$color}, #{$hover-alpha})');
  $hsla-active: unquote('hsla(#{$color}, #{$active-alpha})');
  background-image: linear-gradient(0deg, $hsla-hover, $hsla-hover), linear-gradient(0deg, $hsla-active, $hsla-active);

  @include hover-media-query {
    &:hover {
      background-size: 100%, 0;
    }

    &:active {
      background-size: 0, 100%;
    }
  }

  @include disabled((can-be-link: true)) {
    background-image: none;
  }
}
