////
/// Table module : Shadow
/// @group Table
////

$shadow-wrapper: #{ns(table__wrapper)};

/*
* Ombres ajoutées en Js si le contenu est plus grand que le conteneur
*/
&--shadow {
  caption {
    @include absolute;
  }

  #{$shadow-wrapper} {
    overflow: visible;
    @include relative;

    table {
      @include before(block, '') {
        @include absolute(0, 0, 0, 0);
        @include z-index(over);
        opacity: 1;
        pointer-events: none;
        transition: box-shadow ease-out 0.2s;
      }
    }
  }

  table {
    @include size(100%);
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
  }
}
