<%#
# paramètres du bouton du tooltip

* tooltipButton.id (string, required) : Identifiant du composant (lie le bouton au collapse).

#%>

<% eval(include('../../../../core/index.ejs')); %>

<%
const tooltipButton = locals.tooltipButton || {};
%>

<button class="<%= prefix %>-btn <%= prefix %>-btn--tooltip" aria-describedby="<%= tooltipButton.id %>"><%= tooltipButton.text %></button>
