////
/// Tooltip Module : tooltip
/// @group tooltip
////

@use 'module/spacing';

#{ns(tooltip)} {
  display: block;
  max-width: min(spacing.space(96v), spacing.space(calc((100vw - 8v) * 2 / 3)));
  @include padding(2v);
  @include text-style(xs);

  &:not(&--shown) {
    // transition in/out
    visibility: hidden;
    opacity: 0;
  }
}
