////
/// layout Module
/// @group layout
////

@use 'module/selector';
@use 'module/media-query';

#{selector.ns(layout)} {
  @include display-flex(column, stretch, flex-start, wrap);

  @include media-query.respond-from(lg) {
    flex-direction: row;
  }

  &__content {
    flex: 1;
    @include width(100%);
    @include padding(4v);
    @include padding(6v, lg);

    @include media-query.respond-from(lg) {
      order: 3;
    }
  }
}

#{selector.ns(panel)} {
  @include width(100%);
  @include width(auto, lg);

  @include media-query.respond-from(lg) {
    &--top {
      order: 1;
    }

    &--left {
      order: 2;
    }

    &--right {
      order: 4;
    }

    &--bottom {
      order: 5;
    }

    &--sticky {
      > * {
        position: sticky;
        top: 0;
      }
    }
  }

  &__header {
    @include display-flex(row, center, space-between);
    @include set-title-margin(0);
    @include padding(4v);
    @include padding(6v, lg);

    #{selector.ns(btn--close)} {
      @include nest-btn(sm, only, close-line, null, false);
    }
  }

  &__content {
    @include padding(4v);
    @include padding(6v, lg);
  }

  &__title {
    @include title-style(h6);
    @include margin-right(4v);
    @include margin-top(0.5v);
  }
}
