////
/// Navigation Legacy
/// @group navigation
////

@use 'module/color';
@use 'module/legacy';

@include legacy.is(ie11) {
  /**
  * reset liste à puce
  */
  #{ns(nav)} {
    @include disable-underline-legacy;
    @include disable-list-style-legacy;

    &__link,
    &__btn {
      @include color.transparent-background((legacy: true, hover: true));
    }

    &__btn {
      @include icon-legacy(arrow-down-s-line, sm, after);
    }
  }

  /**
  * reset margin
  */
  #{ns(mega-menu)} {
    &__category {
      margin: 0;
    }
  }
}

@include respond-from(lg) {
  @include legacy.is(ie11) {
    /**
    * Correctif de l'alignement des menus sur la droite
    */
    #{ns(nav)}__item {
      position: static;

      &--align-right {
        #{ns(collapse)} {
          transform: translateX(-100%);
        }
      }
    }

    /**
    * Override du reset des marges des ul
    **/
    #{ns(menu)} {
      #{ns(menu__list)} {
        @include margin-bottom(8v);
      }
    }
  }
}
