////
/// Accordion Setting
/// @group accordion
////

$accordions-settings:(
  selector: accordion__btn,
  sizes: (
    md: (
      font-size: 4v,
      min-height: 12v,
      padding-x: 4v,
      icon: sm,
      icon-margin-x: 1v
    )
  ),
  places: right,
  display: flex
);
