////
/// Core Module : Media - responsive img/vid
/// @group core
////

@if (map-get($media-settings, responsive)) {
  #{ns(responsive-img)} {
    @include size(100%, auto);
  }

  #{ns(responsive-vid)} {
    @include relative;
    @include size(100%);
    @include aspect-ratio();
    display: block;

    &__player {
      @include size(100%, 100%);
      display: block;
      border: 0;
    }

    & > #{ns(consent-placeholder)} {
      @include media-overlay-cover;
    }
  }
}
