<%
const table = locals.table || {};
const thead = JSON.parse(include('./data-simple-thead.json.ejs', { table: table }));
const tbodies = [JSON.parse(include('./data-simple-tbody.json.ejs', { table: table }))];
const rows = table.rows || {};

const getCheckbox = (checkbox) => include('../partials/getCheckbox.ejs', {checkbox});
const getSrOnlyCell = (content) => `<span class="${prefix}-sr-only">${content}</span>`;

thead.forEach((row, rowIndex) => {
    row.forEach((th, thIndex) => {
        th.attributes = {
            ...th.attributes,
            scope: 'col'
        };
    });
});

if (table.selectable) {
    thead.forEach((row) => {
        row.unshift({
            attributes: {
                role: 'columnheader'
            },
            classes: [`${prefix}-cell__fixed`, `${prefix}-cell__col--select`],
            content: getCheckbox({attributes: {'aria-label': getText('data.cell.action.selectAll', 'table')}})
        });
    });
    tbodies.forEach((tbody) => {
        tbody.forEach((row, index) => {
            row.unshift({
                classes: [`${prefix}-cell__fixed`, `${prefix}-cell__row--select`],
                content:  getCheckbox({id: `${uniqueId('table-select-checkbox')}--${index}`, attributes: {'aria-label': `${getText('data.cell.action.selectRow', 'table')} ${index + 1}`}})
            });
        });
    });
}

if (table.doubleEntry) {
    thead.forEach((row) => {
        row.unshift({
            attributes: {
                scope: 'row'
            },
            classes: [`${prefix}-cell__fixed`],
            content: getSrOnlyCell(getText('data.cell.hours', 'table'))
        });
    });

    tbodies.forEach((tbody) => {
        tbody.forEach((row, index) => {
            row.unshift({
                markup: 'th',
                attributes: {scope: 'row'},
                classes: [`${prefix}-cell__fixed`],
                content: `${8 + index}h`
            });
        });
    });
}

const data = {
  table: {
    ...table,
    thead,
    tbodies
  }
};

%>

<%- JSON.stringify(data); %>