<%
const table = locals.table || {};
table.id = uniqueId('table');

const actionCellEmpty = `<span class="${prefix}-sr-only">${getText('data.cell.action.empty', 'table')}</span>`;
const getTextCell = (tag = 'span') => `<${tag} class="${prefix}-cell__desc">${getText('data.cell.text', 'table')}</${tag}>`;
const getTitleCell = (tag = 'span') => `<${tag} class="${prefix}-cell__title">${getText('data.cell.title', 'table')}</${tag}>`;

const getBadge = (badge) => include('../../../badge/template/ejs/badge.ejs', {badge});
const getButton = (button) => include('../partials/getButton.ejs', {button});
const getCheckbox = (checkbox) => include('../partials/getCheckbox.ejs', {checkbox});
const getIcon = (icon) => include('../../../../core/template/ejs/icon/icon.ejs', {icon});
const getInput = (input) => include('../../../input/input-base/template/ejs/input-group.ejs', {input});
const getLink = (link) => include('../../../link/template/ejs/link.ejs', {link});
const getPictogram = (pictogram) => include('../../../../core/template/ejs/artwork/pictogram.ejs', {pictogram});
const getTag = (tag) => include('../../../tag/template/ejs/tag.ejs', {tag});
const getToggle = (toggle) => include('../../../toggle/template/ejs/toggle.ejs', {toggle});

const thead = [
  {
    attributes: {
      role: 'columnheader'
    },
    classes: [`${prefix}-cell__fixed`, `${prefix}-cell__col--select`],
    content: getCheckbox({attributes: {'aria-label': getText('data.cell.action.selectAll', 'table')}}) + getText('data.cell.title', 'table')
  },
  {
    content: getTextCell()
  },
  {
    classes: [`${prefix}-col__lg`, `${prefix}-cell__col--select`],
    content: getCheckbox({label: getText('data.cell.label', 'table')})
  },
  {
    content: getTitleCell('div') + getTextCell('div')
  },
  {
    content: getTitleCell()
  },
  {
    classes: [`${prefix}-cell__col--select`],
    content: `<div class="${prefix}-cell__inline">${getCheckbox({label: getText('data.cell.label', 'table'), checked: true})} ${getTextCell()}</div>`
  },
  {
    classes: [`${prefix}-cell__center`],
    content: getButton({id: uniqueId('table-thead-sort-asc-desc'), label: `${getText('data.cell.action.sort', 'table')}`, classes: [`${prefix}-btn--sort`]})
  },
  {
    content: `<div class="${prefix}-cell__inline">${getTextCell()} ${getButton({label: getText('data.cell.text', 'table'), classes: [`${prefix}-btn--tooltip`], tooltip: {id: uniqueId('table-thead-tooltip'), content: lorem()}})}</div>`
  },
  {
    classes: [`${prefix}-cell__sm`, `${prefix}-cell__center`],
    content: `${getButton({id: uniqueId('table-thead-sort-asc'), label: `${getText('data.cell.action.sort', 'table')}`, classes: [`${prefix}-btn--sort`], attributes: {'aria-sorting': 'asc'}})}</div>`
  },
  {
    classes: [`${prefix}-cell__sm`],
    content: getToggle({id: uniqueId('table-thead-toggle'), label: '', inputAttr: {'aria-label': getText('data.cell.action.select', 'table')}})
  },
  {
    content: getTextCell()
  },
  {
    content: getText('data.cell.text', 'table')
  },
  {
    classes: [`${prefix}-cell__col--select`],
    content: getCheckbox({label: getText('data.cell.label', 'table')}) + getButton({id: uniqueId('table-thead-sort-desc'), label: `${getText('data.cell.action.sort', 'table')}`, classes: [`${prefix}-btn--sort`, `${prefix}-ml-4v`], attributes: {'aria-sorting': 'desc'}})
  },
  {
    classes: [`${prefix}-cell__sm`],
    content: getIcon({name: 'arrow-right-s-line', size: 'sm', classes: [`${prefix}-mr-1v`]}) + getText('data.cell.text', 'table')
  }
];

const tbody = new Array(table.rows.length);
for(let r = 0; r < table.rows.length; r++) {
  tbody[r] = [
    {
      tag: 'th',
      attributes: {scope: 'row'},
      classes: [`${prefix}-cell__fixed`, `${prefix}-cell__row--select`],
      content:  getCheckbox({id: `${uniqueId('table-select-checkbox')}-${r}`, attributes: {checked: table.rows[r].selected, 'aria-label': getText('data.cell.action.selectRow', 'table')}}) + getText('data.cell.title', 'table')
    },
    {
      content: getText('data.cell.text', 'table')
    },
    {
      content: getBadge({type: 'success', label: getText('data.cell.label', 'table'), classes: [`${prefix}-mr-1v`], size: 'sm'}) + getText('data.cell.text', 'table')
    },
    {
      content: getBadge({type: 'info', label: getText('data.cell.label', 'table'), classes: [`${prefix}-mr-1v`], size: 'sm'}) + getTitleCell('div') + getTextCell('div')
    },
    {
      content: getText('data.cell.text', 'table')
    },
    {
      content: getBadge({type: 'error', label: getText('data.cell.label', 'table'), classes: [`${prefix}-mr-1v`], size: 'sm'}) + getTitleCell('div') + getTextCell('div')
    },
    {
      content: getText('data.cell.text', 'table')
    },
    {
      content: getInput({id: `text-input-text-${r}`})
    },
    {
      classes: [`${prefix}-cell__sm`],
      content: getText('data.cell.number', 'table')
    },
    {
      classes: [`${prefix}-cell__sm`],
      content: getBadge({label: getText('data.cell.label', 'table')})
    },
    {
      content: getButton({kind: 2})
    },
    {
      content: getTag({type: 'clickable', href: '#', label: getText('data.cell.label', 'table')})
    },
    {
      content: getLink({download: true, href: '/example/img/image.jpg', label: getText('data.cell.download.lable', 'table'), detail: getText('data.cell.download.detail', 'table')})
    },
    {
      classes: [`${prefix}-cell__sm`],
      content: getPictogram({name: 'leaf'})
    }
  ];
}

const data = {
  table: {
    ...table,
    thead,
    tbodies: [tbody]
  }
};
%>

<%- JSON.stringify(data); %>