<%
const table = locals.table || {};
const thead = JSON.parse(include('./data-simple-thead.json.ejs', { table: table }));
const tbodies = [JSON.parse(include('./data-simple-tbody.json.ejs', { table: table }))];
const rows = table.rows || {};

const getCheckbox = (checkbox) => include('../partials/getCheckbox.ejs', {checkbox});
const getButton = (button) => include('../partials/getButton.ejs', {button});
const getSrOnlyCell = (content) => `<span class="${prefix}-sr-only">${content}</span>`;

if (table.selectable) {
    thead.unshift({
        attributes: {
            role: 'columnheader'
        },
        classes: [`${prefix}-cell__fixed`, `${prefix}-cell__col--select`],
        content: getCheckbox({attributes: {'aria-label': getText('data.cell.action.selectAll', 'table')}})
    });
    tbodies.forEach((tbody) => {
        tbody.forEach((row, index) => {
            row.unshift({
                classes: [`${prefix}-cell__fixed`, `${prefix}-cell__row--select`],
                content:  getCheckbox({id: `${uniqueId('table-select-checkbox')}--${index}`, attributes: {'aria-label': getText('data.cell.action.selectRow', 'table')}})
            });
        });
    });
}

if (table.doubleEntry) {
    thead.unshift({
        attributes: {
            scope: 'row'
        },
        classes: [`${prefix}-cell__fixed`],
        content: getSrOnlyCell(getText('data.cell.doubleEntry', 'table'))
    });

    tbodies.forEach((tbody) => {
        tbody.forEach((row, index) => {
            row.unshift({
                tag: 'th',
                attributes: {scope: 'row'},
                classes: [`${prefix}-cell__fixed`],
                content: `${8 + index}h`
            });
        });
    });
}

const data = {
  table: {
    ...table,
    thead,
    tbodies
  }
};

%>

<%- JSON.stringify(data); %>