<%
const thead = [
  [
    {
      attributes: {
        role: 'columnheader',
        rowspan: 2
      },
      classes: [`${prefix}-cell--fixed`],
      content: `<span class="${prefix}-sr-only">Horaires</span>`
    },
    {
      content: 'Lundi'
    },
    {
      content: 'Mardi'
    },
    {
      attributes: {
        colspan: 2
      },
      content: 'Mercredi & Jeudi<br><i>Exemple de 2 cellules fusionnées dans le Header</i>'
    },
    {
      content: 'Vendredi'
    }
  ],
  [
    {
      attributes: {
        headers: 'complex-thead-0-col-1'
      },
      content: 'Groupes 1 & 2'
    },
    {
      attributes: {
        headers: 'complex-thead-0-col-2'
      },
      content: 'Groupes 1 & 2'
    },
    {
      attributes: {
        headers: 'complex-thead-0-col-3'
      },
      content: 'Groupe 1'
    },
    {
      attributes: {
        headers: 'complex-thead-0-col-3'
      },
      content: 'Groupe 2'
    },
    {
      attributes: {
        headers: 'complex-thead-0-col-4'
      },
      content: 'Groupes 1 & 2'
    }
  ]
];
%>

<%- JSON.stringify(thead); %>
