////
/// Scheme Main
/// @group scheme
////

/* ¯¯¯¯¯¯¯¯¯ *\
  SCHEME
\* ˍˍˍˍˍˍˍˍˍ */

@use 'src/module/path';
@use 'src/module/shame/media-query';

@include path.to-dist(1);
@include media-query.order;

@import 'index';
@import 'style/module';
