////
/// Checkboxes Module
/// @group checkboxes
////

#{dse(checkbox-group)} {
  @extend %default-text-color;
  position: relative;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;

    + label {
      position: relative;
      cursor: pointer;
      padding: space(1-5N) 0;
      font-size: font-size(14);
      -webkit-tap-highlight-color: transparent;
      display: grid;
      display: -ms-grid;
      grid-row: 1;
      -ms-grid-row: 2;
      grid-column: 2;
      -ms-grid-column: 2;
      align-items: center;
      -ms-align-items: center;
      grid-template-columns: 1fr space(8v);
      -ms-grid-columns: 1fr space(8v);
      text-align: left;
      direction: rtl;

      @include font-icon(check-line, md, before) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: space(3N);
        height: space(3N);
        margin-right: space(1N);
        border-radius: space(0-5N);
        @include scheme-element-border-color(g800, true);
        color: transparent;
        transition: background-color 0.1s, color 0.1s;
        grid-row: 1;
        -ms-grid-row: 1;
        grid-column: 2;
        -ms-grid-column: 2;
        -ms-align-items: center;
      }

      .rf-hint-text {
        margin: 0;
        grid-row: 2;
        grid-column: 1;
        -ms-grid-row: 2;
        -ms-grid-column: 1;
      }
    }

    &:checked,
    &:active {
      + label {
        @include before() {
          @include scheme-element-bg-color(bf500);
          @include scheme-element-text-color(g100);
        }
      }
    }

    @include scheme-element-focus(false, '+ label::before');

    @include disabled-form-choice();
  }

  &:first-child {
    margin-top: -(space(1-5N));
  }

  &:last-child {
    margin-bottom: -(space(1-5N));
  }

  #{dse(hint-text)} {
    margin-left: space(4N);
    margin-top: -(space(1-5N));
  }

  #{dse(error-text)},
  #{dse(valid-text)} {
    // si un élément suit, il va venir sur le texte d'erreur avec absolute
    //position: absolute;
    margin-top: -(space(0-5N));
  }

  &--sm {
    input[type="checkbox"] {
      + label {
        &::before {
          width: space(2N);
          height: space(2N);
        }

        &::after {
          left: 0;
        }
      }
    }

    #{dse(hint-text)} {
      margin-left: space(3N);
    }
  }

  &--error {
    input[type="checkbox"] + label {
      @include scheme-element-text-color(error);
    }

    @include before() {
      content: "";
      position: absolute;
      width: 2px;
      top: space(1-5N);
      height: space(3N);
      left: -(space(1N));
      @include scheme-element-bg-color(error);
    }
  }

  &--valid {
    input[type="checkbox"] + label {
      @include scheme-element-text-color(success);
    }

    @include before() {
      content: "";
      position: absolute;
      width: 2px;
      top: space(1-5N);
      height: space(3N);
      left: -(space(1N));
      @include scheme-element-bg-color(success);
    }
  }
}
