////
/// Checkboxes Module
/// @group checkboxes
////

#{dse(checkbox-group)} {
  @extend %default-text-color;
  @include relative;

  input[type="checkbox"] {
    @include absolute;
    opacity: 0;

    + label {
      @include relative;
      cursor: pointer;
      @include padding(3v 0);
      font-size: font-size(14);
      -webkit-tap-highlight-color: transparent;
      display: grid;
      display: -ms-grid;
      grid-row: 1;
      -ms-grid-row: 2;
      grid-column: 2;
      -ms-grid-column: 2;
      align-items: center;
      -ms-align-items: center;
      grid-template-columns: 1fr space(8v);
      -ms-grid-columns: 1fr space(8v);
      text-align: left;
      direction: rtl;

      @include font-icon(check-line, md, before) {
        @include display-flex(row, center, center);
        flex-shrink: 0;
        width: space(3N);
        height: space(3N);
        margin-right: space(1N);
        border-radius: space(0-5N);
        @include scheme-element-border-color(g800, true);
        @include scheme-element-text-color(t-plain);
        grid-row: 1;
        -ms-grid-row: 1;
        grid-column: 2;
        -ms-grid-column: 2;
        -ms-align-items: center;
        transition: background-color 0.1s, color 0.1s;
      }

      #{dse(hint-text)} {
        @include margin(0);
        grid-row: 2;
        grid-column: 1;
        -ms-grid-row: 2;
        -ms-grid-column: 1;
      }
    }

    &:checked,
    &:active {
      + label {
        @include before() {
          @include scheme-element-bg-color(bf500);
          @include scheme-element-text-color(g100);
        }
      }
    }

    @include scheme-element-focus(false, '+ label::before');

    @include disabled-form-choice();
  }

  &:first-child {
    @include margin-top(-3v);
  }

  &:last-child {
    @include margin-bottom(-3v);
  }

  #{dse(hint-text)} {
    @include margin-left(8v);
    @include margin-top(-3v);
  }

  #{dse(error-text)},
  #{dse(valid-text)} {
    // si un élément suit, il va venir sur le texte d'erreur avec absolute
    //position: absolute;
    @include margin-top(-1v);
  }

  &--sm {
    input[type="checkbox"] {
      + label {
        @include before {
          @include size(4v, 4v);
        }

        @include after {
          left: 0;
        }
      }
    }

    #{dse(hint-text)} {
      @include margin-left(6v);
    }
  }

  &--error {
    input[type="checkbox"] + label {
      @include scheme-element-text-color(error);
    }

    @include before(null, '') {
      @include absolute(3v, null, null, -2v, 2px, 6v);
      @include scheme-element-bg-color(error);
    }
  }

  &--valid {
    input[type="checkbox"] + label {
      @include scheme-element-text-color(success);
    }

    @include before(null, '') {
      @include absolute(3v, null, null, -2v, 2px, 6v);
      @include scheme-element-bg-color(success);
    }
  }
}
