<%#
# paramètres header links (raccourcis)
* links (object, required) : Paramètres du template
  ** links.items (array, required) : Tableau de liens d'accès direct - voir composant link
%>
<% let links = locals.links || {items:[]}; %>
<ul class="<%= prefix %>-links-group">
    <%
    let item;
    for (let i = 0; i < links.items.length; i++) {
        item = links.items[i];
    %>
    <li>
        <%- include('../../../../link/template/ejs/link', {link: { ... item, left: true }}); %>
    </li>
    <% } %>
</ul>
