////
/// Icon Business Legacy
/// @group icon-business
////

@use 'src/module/legacy';

@include legacy.is(ie11) {
  @include generate-deprecated-icons-legacy($deprecated-icons, filter-icons('business'));
}
