<%
let body = `<p class="fr-text--sm">Bienvenue ! Nous utilisons des cookies pour améliorer votre expérience et les services disponibles sur ce site. Pour en savoir plus, visitez la page <a href="">Données personnelles et cookies</a>. Vous pouvez, à tout moment, avoir le contrôle sur les cookies que vous souhaitez activer.</p>`;
let data = {title: 'À propos des cookies sur nomdusite.fr', body: body};
%>
<%- include('../../template/ejs/consent-banner.ejs', {consent: data}); %>
