////
/// Navigation Legacy
/// @group navigation
////

@include legacy(ie11) {
  /**
  * reset liste à puce
  */
  #{ns(mega-menu)},
  #{ns(menu)} {
    &__list {
      list-style: none;
    }
  }

  /**
  * reset margin
  */
  #{ns(mega-menu)} {
    &__category {
      margin: 0;
    }
  }
}

@include respond-from(lg) {
  @include legacy(ie11) {
    /**
    * Correctif de l'alignement des menus sur la droite
    */
    #{ns(nav)}__item {
      &--align-right {
        #{ns(collapse)} {
          transform: translateX(-100%);
        }
      }
    }
  }
}
