////
/// Navigation Legacy
/// @group navigation
////

@include legacy(ie11) {
  /**
  * reset liste à puce
  */
  #{ns(nav)} {
    @include disable-underline-legacy;
    @include disable-list-style-legacy;

    &__link,
    &__btn {
      @include scheme-element-bg-transparent((legacy: true, hover: true));
    }

    &__btn {
      @include icon-legacy(arrow-down-s-line, sm, after);
    }
  }

  /**
  * reset margin
  */
  #{ns(mega-menu)} {
    &__category {
      margin: 0;
    }
  }
}

@include respond-from(lg) {
  @include legacy(ie11) {
    /**
    * Correctif de l'alignement des menus sur la droite
    */
    #{ns(nav)}__item {
      position: static;

      &--align-right {
        #{ns(collapse)} {
          transform: translateX(-100%);
        }
      }
    }
  }
}
