////
/// Button Setting
/// @group button
////

$segmented-element-settings:(
  selector: 'segmented',
  append: 'input + label',
  sizes: (
    sm: (
      font-size: 3.5v,
      min-height: 8v,
      padding-x: 3v,
      icon: sm,
      icon-margin-x: 2v,
    ),
    md: (
      font-size: 4v,
      min-height: 10v,
      padding-x: 4v,
      icon: sm,
      icon-margin-x: 2v,
    ),
  ),
  places: left
);

$rounded-corner-svg: "data:image/svg+xml;charset=uft8,<svg xmlns='http://www.w3.org/2000/svg' width='4px' height='4px' viewBox='0 0 4 4'><circle fill='%23fff' r='2' cx='2' cy='2' /></svg>";
