////
/// Header Module : compact header
/// @group header
////

@use 'src/module/media-query';
@use 'src/module/preference';
@use 'src/dsfr/core/style/typography/tool/font-size' as fs;
@use 'src/dsfr/core/style/typography/tool/line-height' as lh;

#{ns(header)} {
  &--compact {

    #{ns(container--fluid)} {
      overflow-x: clip;
      overflow-y: inherit;
    }

    #{ns(header)} {

      @include body {
        &-row {
          @include padding(2v 4v);
          @include size(null, 13v);
        }
      }

      &__navbar {
        @include margin-y(1v);
      }

      &__logo {
        @include padding(3.5v);
      }

      &__service {
        @include padding(2v);
        @include before(none);
        order: 2;

        &-tagline {
          display: none;
        }
      }
    }

    @include media-query.respond-from(lg) {
      outline: none;
    }

    #{ns(logo)} {
      @include fs.font-size(0);
      @include lh.line-height(0);

      @include after(none);
    }
  }
}
