////
/// Core Main
/// @group core
////

/* ¯¯¯¯¯¯¯¯¯ *\
  CORE
\* ˍˍˍˍˍˍˍˍˍ */

@use 'src/module/path';
@use 'src/module/shame/media-query';

@include path.to-dist(1);
@include media-query.order;

@import 'index';
@import 'style/module';
@import 'style/scheme';
@import 'style/outdated';

// deprecated
@import 'deprecated/style/module';

@include _core-scheme;
