////
/// Radio Module : radio sm
/// @group radio
////

@use 'module/spacing';
@use 'module/selector';

#{selector.ns-group(radio)}--sm {
  input[type="radio"] {
    @include size(4v, 4v);
    top: #{spacing.space(1v)};

    & + label {
      @include padding-left(6v);
      background-position: calc(#{spacing.space(-0.5v)} + 1px) calc(#{spacing.space(1v)} - 1px), calc(#{spacing.space(-0.5v)} + 1px) calc(#{spacing.space(1v)} - 1px);
      background-size: #{spacing.space(4.5v)} #{spacing.space(4.5v)}, #{spacing.space(4.5v)} #{spacing.space(4.5v)};

      @include before {
        top: #{spacing.space(1v)};
        @include size(4v, 4v);
        border-radius: #{spacing.space(4v)};
        @include margin-left(-6v);
      }
    }
  }
}
