////
/// Link Tool : build
/// @group link
////

@function _sort-sizes($sizes) {
  $sorted-map: (
    md: map_get($sizes, md)
  );

  @each $size, $size-settings in $sizes {
    @if $size != md {
      $sorted-map: map-merge($sorted-map, ($size: $size-settings));
    }
  }

  @return $sorted-map;
}

@mixin _link-class($base, $size: md, $place: null, $align-on-content: false) {
  $selector: '';

  @if $size != md {
    $selector: '#{$base}--#{$size}';
  }

  @if $align-on-content {
    $selector: '#{$selector}#{$base}--align-on-content';
  }

  @if $place == only {
    @if $selector == '' {
      $selector: '#{$base}';
    }
    $selector: '#{$selector}:not([class*="#{str-slice(quote($base), 2)}--icon-"])';
  }
  @else if $place == left or $place == right {
    $selector: '#{$selector}#{$base}--icon-#{$place}';
  }

  @if $selector == '' {
    $selector: $base;
  }

  #{$selector} {
    @if $place != null {
      @include has-icon {
        @content;
      }
    }
    @else {
      @content;
    }
  }
}

@mixin _build-link-base {
  @include disable-link-style;
  @include set-text-margin(0);
  @include set-title-margin(0);
  @include display-flex(row, center, null, null, true);
  @include z-index(over);
  @include enable-blend;
}

@mixin _build-link($settings) {
  $places: map_get($settings, places);
  $sizes: _sort-sizes(map_get($settings, sizes));
  $border-radius: map-get($settings, border-radius);
  $align-on-content: map-get($settings, align-on-content);
  $base: ns(map-get($settings, selector));

  #{$base} {
    @include _build-link-base;
  }

  @each $size, $size-settings in $sizes {
    @include _link-class($base, $size) {
      @include _build-link-size($size-settings, $border-radius);
    }

    @if $align-on-content {
      @include _link-class($base, $size, null, true) {
        @include _link-align-on-content($size, null, $size-settings);
      }
    }

    @if $places != null {
      @each $place in $places {
        @include _link-class($base, $size, $place) {
          @include _build-link-icon($size-settings, $place, $size, $size == md, $place == right);
        }

        @if $align-on-content {
          @include _link-class($base, $size, $place, true) {
            @include _link-align-on-content($size, $place, $size-settings);
          }
        }
      }
    }
  }
}

@mixin build-link() {
  @include _build-link($links-settings);
}
