////
/// Link Tool : icons
/// @group link
////

@use 'module/spacing';
@use 'module/direction';

@mixin _build-link-icon($size-settings, $place, $size:md, $override-icon: true) {

  $icon-size: icon-size(map_get($size-settings, icon));

  @if $place == only {
    $icon-size: icon-size(map_get($size-settings, icon-only));
  }

  $icon-margin: _link-icon-margin(map_get($size-settings, icon));
  $icon-margin-x: spacing.space(map_get($size-settings, icon-margin-x));

  @if $place == left {
    overflow: initial;
    max-width: 100%;
    max-height: none;
    @include before {
      --icon-size: #{$icon-size};
      @include direction.margin-inline-start(-$icon-margin);
      @include direction.margin-inline-end($icon-margin-x);
    }
  }
  @else if $place == right {
    overflow: initial;
    max-width: 100%;
    max-height: none;
    @include icon-content(false, $override-icon) {
      --icon-size: #{$icon-size};
      @include direction.margin-inline-end(-$icon-margin);
      @include direction.margin-inline-start($icon-margin-x);
    }
  }
  @else if $place == only {
    $min-height: spacing.space(map_get($size-settings, min-height));
    $padding-x: ($min-height - $icon-size) * 0.5;

    overflow: hidden;
    white-space: nowrap;
    max-width: $min-height;
    max-height: $min-height;
    @include direction.padding-inline-start($padding-x);
    @include direction.padding-inline-end($padding-x);

    @include before {
      --icon-size: #{$icon-size};
      @include direction.margin-inline-start(0);
      @include direction.margin-inline-end($padding-x);
    }
  }
}
