////
/// IE11 Module
/// @group ie11
////

@include ie-hack() {
  //navigation fix alignement des menus sur la droite
  #{dse(nav)} {
    @include respond-from(md) {
      &--align-right {
        transform: translateX(-100%);
      }
    }
  }

  //sidenav fix
  #{dse(sidenav)} {
    height: auto;
  }

  .skip-links {
    &.focus-within {
      position: relative;
      transform: translateY(0);
    }
  }
}


