////
/// IE11 Module
/// @group ie11
////

@include ie-hack() {
  /**
  * fix Navigation
  */
  //navigation fix alignement des menus sur la droite
  #{dse(nav)} {
    @include respond-from(md) {
      &--align-right {
        transform: translateX(-100%);
      }
    }
  }

  //sidenav fix
  #{dse(sidenav)} {
    height: auto;
  }

  .skip-links {
    &.focus-within {
      position: relative;
      transform: translateY(0);
    }
  }

  /**
  * fix radios
  */
  .#{$prefix}-fieldset--inline {
    .#{$prefix}-radio-group {
      &:last-child {
        input[type="radio"] + label {
          @include radio-rich() {
            margin-bottom: space(2v)!important;
          }
        }
      }
    }
  }
}
