<%#
# paramètres logo

* name (string, required) : nom de l'entité

* size (string, optionnal) : modificateur de taille.
  valeurs:
  * lg : barre de recherche large

%>
<% eval(include('../../../core/index.ejs')); %>

<%
 let classes = locals.classes || [];
 classes.push(prefix + '-logo');

 switch(locals.size) {
     case 'sm':
         classes.push(prefix + '-logo--sm');
         break;

     case 'lg':
         classes.push(prefix + '-logo--lg');
         break;
 }


 %>

<p <%- includeClasses(classes); %>>
    <%- title %>
</p>
