////
/// Icon System Legacy
/// @group icon-system
////

@use 'src/module/legacy';

@include legacy.is(ie11) {
  @include generate-deprecated-icons-legacy($deprecated-icons, filter-icons('system'));

  #{ns(fi-delete-line)} {
    @include icon-image-legacy(delete-bin-line);
  }

  #{ns(fi-delete-fill)} {
    @include icon-image-legacy(delete-bin-fill);
  }

  #{ns(icon-delete-line)} {
    @include icon-image-legacy(delete-bin-line);
  }

  #{ns(icon-delete-fill)} {
    @include icon-image-legacy(delete-bin-fill);
  }
}
