////
/// Datatable Module
/// @group datatable
////

#{ns(datatable)} {
    &--scrollable {
        & #{ns(datatable)} {
            &-container {
                max-height: 20rem;
                max-width: 30rem;
            }

            &-thead {
                position: sticky;
                top: 0;
                z-index: 1;
            }

            &-cell {
                &--fixed {
                    position: sticky;
                    left: 0;
                }
            }
        }
    }

    &-container {
        width: 100%;
        overflow: auto;
        background-size: 100% 1px, 1px 100%, 1px 100%, 100% 1px;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: 100% 100%, 0 0, 100% 0, 100% 0;
    }

    &-content {
        width: 100%;
        min-width: 40rem;
    }

    &-table {
        @include size(100%);
        border-spacing: 0;
    }

    &-thead {
        & #{ns(datatable-cell)} {
            font-weight: font-weight(bold);
            background-size: 100% 1px, 100% 1px;
            background-repeat: no-repeat, no-repeat;
            background-position: 0 0, 100% 100%;

            &:first-child,
            &:last-child {
                background-size: 100% 1px, 100% 1px, 1px 100%;
                background-repeat: no-repeat, no-repeat, no-repeat;
            }

            &:first-child {
                background-position: 0 0, 100% 100%, 0 0;
            }

            &:last-child {
                background-position: 0 0, 100% 100%, 100% 0;
            }
        }
    }

    &-row {
        &__expanded {
            & #{ns(datatable-cell)} {
                background-image: none;
            }
        }

        &:last-child {
            & #{ns(datatable-cell)} {
                background-size: 0;
            }
        }
    }

    &-cell {
        text-align: left;
        vertical-align: middle;
        display: table-cell;
        border: 0;
        background-size: 100% 1px;
        background-position: bottom;
        background-repeat: no-repeat;

        @include padding(4v);
        @include text-style(sm);


        &--actionable {
            text-align: center;
        }

        &__centered {
            text-align: center;
        }

        &__title {
            font-weight: 700;
        }

        &__desc {
            font-weight: 400;
        }

        & #{ns(checkbox-group)} {
            display: inline-block;

            & #{ns(label)} {
                min-height: 1.2rem;
                font-size: 0.875rem;
            }
        }
    }
}
