////
/// Table Module
/// @group Table
////

#{ns(table)} {
  @include relative;
  overflow: hidden;
  max-width: 100%;
  @include margin-bottom(10v);

  &:not(#{ns(table--no-scroll)}) {
    table {
      width: 100%;
    }
  }

  table {
    border-spacing: 0;
  }

  caption {
    @include title-style(h4, true);
    font-weight: bold;
    text-align: left;
  }

  td,
  th {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    border: 0;
    @include padding(3v);
    @include padding(4v, md);
    @include text-style(sm);
  }

  th {
    font-weight: font-weight('bold');
  }

  thead {
    td,
    th {
      font-weight: font-weight('bold');
    }
  }

  /* Style bordered, enleve le style even/odd et ajoute des bordures entre chaque ligne */
  &--bordered {
    tbody {
      td,
      th {
        border: 0;
      }
    }
  }

  /*
  * Cache la caption
  */
  &--no-caption {
    caption {
      @include sr-only();
    }
  }

  /*
  * Fixe le caption en bas du tableau
  */
  &--caption-bottom {
    caption {
      @include margin-bottom(0);
      @include margin-top(4v);
      caption-side: bottom;
    }
  }

  /*
  * pas de scroll ni de shadow
  */
  &--no-scroll {
    min-width: auto;

    caption {
      max-width: calc(100vw - 2rem); // eol in mobile even if table overflow
    }
  }

  /*
  * Fixe la taille des colonnes du tableau
  */
  &--layout-fixed {
    table {
      table-layout: fixed;
    }
  }

  @import 'modules/table-shadow';
}
