////
/// Table Module
/// @group Table
////

#{ns(table)} {
  @include relative;
  overflow: visible;
  max-width: 100%;
  @include margin-bottom(10v);
  @include padding-top(calc(var(--table-offset) + #{space(4v)}));

  @include before('', block) {
    width: 100%;
    height: 0;
  }

  &:not(#{ns(table--no-scroll)}) {
    table {
      width: 100%;
    }
  }

  table {
    @include size(100%);
    border-spacing: 0;
    display: block;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  caption {
    @include absolute(0);
    @include title-style(h4, true);
    font-weight: bold;
    text-align: left;
  }

  td,
  th {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    border: 0;
    @include padding(3v);
    @include padding(4v, md);
    @include text-style(sm);
  }

  th {
    font-weight: font-weight('bold');
  }

  thead {
    td,
    th {
      font-weight: font-weight('bold');
    }
  }

  /* Style bordered, enleve le style even/odd et ajoute des bordures entre chaque ligne */
  &--bordered {
    tbody {
      td,
      th {
        border: 0;
      }
    }
  }

  /*
  * Cache la caption
  */
  &--no-caption {
    @include padding-top(0);
    @include before('', block) {
      top: 0 !important;
      bottom: calc(var(--table-offset) + #{space(4v)});
    }

    caption {
      @include sr-only();
      height: 0;
    }
  }

  /*
  * Fixe le caption en bas du tableau
  */
  &--caption-bottom {
    @include padding-top(0);
    @include margin-bottom(0);
    @include margin-top(4v);

    table {
      @include margin-bottom(calc(var(--table-offset) + #{space(15v)}));
    }

    caption {
      @include absolute(100%, 0, 0, 0);
      @include margin-top(4v);
      height: min-content;
      caption-side: bottom;
    }
  }

  /*
  * pas de scroll ni de shadow
  */
  &--no-scroll {
    min-width: auto;

    table {
      overflow-x: hidden;
    }

    caption {
      max-width: calc(100vw - 2rem); // eol in mobile even if table overflow
    }
  }

  /*
  * Fixe la taille des colonnes du tableau
  */
  &--layout-fixed {
    table {
      display: table;
      table-layout: fixed;
    }
  }

  @import 'modules/table-shadow';
}
