<%#
# paramètres de la zone d'action

* footer.buttonsGroup (object, optionnal) : paramètres de configuration d'un groupe de boutons

%>

<div class="<%= prefix %>-card__footer" >
    <% if (footer.buttonsGroup) { %>
    <%- include('../../../button/template/ejs/buttons-group', { buttonsGroup: footer.buttonsGroup }); %>
    <% } %>
    <% if (footer.linksGroup) { %>
    <%- include('../../../link/template/ejs/links-group', { linksGroup: footer.linksGroup }); %>
    <% } %>
</div>
