////
/// Password Module
/// @group password
////

#{ns(password)} {
  @include relative;
  @include set-text-margin(0 0 2v 0);

  #{ns-attr(capslock)} {
    @include before('', block) {
      @include absolute(3v, 3v, null, null, 4v, 4v);
      pointer-events: none;
    }
  }

  :not(#{ns-attr(capslock)}) {
    #{ns(password__input)} {
      @include padding-right(4v);
    }
  }

  &__checkbox {
    @include absolute(0, 0);
  }

  &__input {
    @include margin-bottom(3v);

    &::-webkit-caps-lock-indicator {
      content: none;
    }

    &::-ms-reveal {
      display: none;
    }
  }

  &__label {
    @include padding-right(24v);
  }

  #{ns(message--valid)}#{ns-attr(valid)} {
    @include after('\00a0,\00a0' attr(#{ns-attr(valid, null, true)}));
  }

  #{ns(message--error)}#{ns-attr(error)} {
    @include after('\00a0,\00a0' attr(#{ns-attr(error, null, true)}));
  }

  #{ns(message)} {
    @include after {
      position: absolute;
      overflow: hidden;
      width: 0;
      height: 0;
    }
  }
}
