////
/// Password Module
/// @group password
////

#{ns(password)} {
  @include relative;
  @include set-text-margin(0 0 2v 0);

  #{ns-attr(capslock)} {
    #{ns(password__input)} {
      @include padding-right(12v);
    }

    @include before('', block) {
      @include absolute(3v, 4v, null, null, 4v, 4v);
      pointer-events: none;
    }
  }

  &__checkbox {
    @include absolute(0, 0);
  }

  &__input {
    @include margin-bottom(3v);

    &::-webkit-caps-lock-indicator {
      content: none;
    }

    &::-ms-reveal {
      display: none;
    }
  }

  &__label {
    @include padding-right(24v);
  }

  #{ns(message)} {
    &:first-child {
      --comma: " ";
    }
  }

  #{ns(message--valid)}#{ns-attr(valid)} {
    --content: "\00a0-\00a0" attr(#{ns-attr(valid, null, true)}) var(--comma);
  }

  #{ns(message--error)}#{ns-attr(error)} {
    --content: "\00a0-\00a0" attr(#{ns-attr(error, null, true)}) var(--comma);
  }
}
