////
/// Schemes Settings : Blocks
/// @group schemes
////

/// configuration des blocs de couleur
/// Il y a 4 types de combinaisons de couleur :
/// - light : les couleurs claires proches du blanc
/// - dark : les couleurs foncées proches du noir
/// - soft : les couleurs claires avec une teinte
/// - strong : les couleurs foncées avec une teinte (non implémentée à ce stade)
///
/// pour chaque bloc, on définit 2 combinaisons de couleurs :
/// la première pour le fond du wrapper
/// la seconde pour les bordures du wrapper
/// @type map
$scheme-blocks : (
  light:(
    white: w bf500,
    grey-100: g100-g800 bf500,
    grey-200: g200 bf500,
    beige: beige bf500
  ),
  dark:(
    grey-800: g800-plain bf300-plain
  ),
  /*soft:(
    brown: b300 b500,
    blue-soft: bs300 bs500,
    blue-dark: bd300 bd500,
    green-light: gl300 gl500,
    green-medium: gm300 gm500,
    green-soft: gs300 gs500,
    green-warm: gw300 gw500,
    orange-dark: od300 od500,
    orange-medium: om300 om500,
    orange-soft: os300 os500,
    purple: p300 p500,
    pink-dark: pd300 pd500,
    pink-light: pl300 pl500,
    pink-soft: ps300 ps500,
    yellow-dark: yd300 yd500,
    yellow-medium: ym300 ym500,
  )*/
) !global;
