<%
const sample = getSample(include);
%>

<%- sample('Citation par défaut (texte taille xl)', './sample/quote-default', {}, true); %>

<%- sample('Citation taille lg', './sample/quote-default', {quote:{size:'lg', sources: ['<a target="_blank" href="' + contentPlaceholder('Lien vers la sources ou des infos complémentaires') + '">Un seul détail</a>']}}, true); %>

<%- sample('Citation avec image', './sample/quote-with-image', {}, true); %>

<%- sample('Citation accentuée', './sample/quote-default', { quote: {accent:'green-emeraude'} }, true); %>
