////
/// Radio Legacy
/// @group radio
////

@use 'src/module/path';
@use 'src/module/shame/media-query';

@include path.to-dist(2);
@include media-query.order;

@import 'index';
@import 'style/scheme';

@include _radio-scheme(true);

@import 'deprecated/style/scheme';

@include _radio-scheme-deprecated(true);
