////
/// Radio Main
/// @group radio
////

/* ¯¯¯¯¯¯¯¯¯ *\
  RADIO
\* ˍˍˍˍˍˍˍˍˍ */

@use 'src/module/path';
@use 'src/module/shame/media-query';

@include path.to-dist(2);
@include media-query.order;

@import 'index';
@import 'style/module';
@import 'style/scheme';

@include _radio-scheme;

// deprecated
@import 'deprecated/style/module';
@import 'deprecated/style/scheme';

@include _radio-scheme-deprecated;
