////
/// Badge Module
/// @group badge
////

@include build-badge();

#{ns(badge)} {
  @include nest-badge(md, left, null, null, false);
  @include font-weight(bold);
  @include max-width(100%);
  text-transform: uppercase;
  border-radius: space(1v);

  &--info {
    @include icon(information-fill, null);
  }

  &--success {
    @include icon(checkbox-circle-fill, null);
  }

  &--error {
    @include icon(alert-fill, null);
  }

  &--warning {
    @include icon(error-warning-fill, null);
  }

  &--new {
    @include icon(flashlight-fill, null);
  }

  &--no-icon {
    @include before {
      content: none;
    }
  }

  &--sm {
    @include nest-badge(sm, left, null, null, false);
  }
}

#{ns-group(badge)} {
  @include disable-list-style;
  display: flex;
  flex-wrap: wrap;
  @include margin-bottom(0);

  > li {
    display: inline-flex;
    @include max-width(100%);
  }

  #{ns(badge)} {
    @include margin-right(2v);
    @include margin-bottom(2v);
  }
}
