#{ns(toggle)} {
  page-break-inside: avoid;

  @include before {
    background-color: none !important;
  }

  label {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  #{ns(hint-text)} {
    @include text-style(md);
  }
}
