// TODO
@use 'namespace';
@use '../../utilities';

@mixin theme($theme: null) {
  $root: ':root';
  @if $theme != null {
    $root: ':root#{namespace.ns-attr(theme, $theme)}';
  }
  $selector: &;
  @at-root {
    #{$root} {
      @include utilities.nest($selector) {
        @content;
      }
    }
  }
}
