<%#
# paramètres icon

* icon.icon (string, required): nom de l'icone

* icon.size (string, required) [default: 'md']: taille de l'icone (sm|md|lg)

%>
<% eval(include('../../../index.ejs')); %>
<% let icon = locals.icon || {} %>

<span class="<%= prefix %>-icon-<%= icon.icon %> <% switch(icon.size) {
  case 'sm': %><%= prefix %>-icon--sm<% break;
  case 'lg': %><%= prefix %>-icon--lg<% break;
} %>" aria-hidden="true"></span>
