////
/// Cards Module
/// @group cards
////

#{dse-class(card)} {
  @include display-flex(column);
  position: relative;
  @include scheme-element-bg-color(beige, true, true);

  #{dse-class(grid-row)} & {
    @include size(null, 100%);
  }

  &:not(&--no-arrow) &__body {
    @include font-icon(arrow-right-line, lg, after) {
      @include size(6v, 6v);
      @include margin-top(auto);
      @include margin-left(auto);
      @include scheme-element-text-color(bf500, true);
    }
  }

  &__img {
    @include relative(null, null, null, null, 100%, null);
    @include aspect-ratio(16x9);

    img {
      @include absolute(0, 0, 0, 0, 100%, 100%);
      @extend %fit-cover-center;
    }
  }

  &__body {
    @include display-flex(column);
    flex: 1 1 auto;
    @include padding(6v);
  }

  &__detail {
    @include margin-top(0);
    @include margin-bottom(4v);
    @include text-styles(sm);
    @include scheme-element-text-color(g600, true);
  }

  &__title {
    @include margin-top(0);
    @include margin-bottom(2v);
    @include text-styles(xl);
  }

  &__desc {
    @include margin-top(0);
    @include margin-bottom(4v);
    @include text-styles(sm);
  }

  #{dse-class(link)},
  &__link {
    position: static;
    @include margin-top(auto);

    @include before(block, '') {
      @include absolute(0, 0, 0, 0, 100%, 100%);
      @include scheme-element-focus();
    }

    &:focus {
      outline-offset: 9999px;
    }
  }

  &__link {
    @include remove-body-link-style;
    display: inline-flex;
    @include size(100%);
  }

  @include respond-from(md) {
    &--horizontal {
      flex-direction: row;
    }

    &--horizontal &__img {
      @include size(40.78%);
    }
  }
}
