////
/// Cards Module
/// @group cards
////

#{dse(card)} {
  @extend %default-text-color;
  @include display-flex(column);
  @include relative();
  @include scheme-element-bg-color(beige, true, true);

  #{dse(grid-row)} & {
    @include size(null, 100%);
  }

  &:not(&--no-arrow) &__body {
    @include font-icon(arrow-right-line, md, after) {
      @include size(6v, 6v);
      @include margin-top(auto);
      @include margin-left(auto);
      @include scheme-element-text-color(bf500, true);
    }
  }

  &__img {
    @include relative(null, null, null, null, 100%, null);
    @include aspect-ratio(16x9);

    img {
      @include absolute(0, 0, 0, 0, 100%, 100%);
      @extend %fit-cover-center;
    }
  }

  @include body() {
    @include display-flex(column);
    flex: 1 1 auto;
    @include padding(6v);
  }

  &__detail {
    @include margin-top(0);
    @include margin-bottom(4v);
    @include text-style(xs);
    @include scheme-element-text-color(g600, true);
  }

  &__title {
    @include force-over-reset {
      @include title-style(h6);
    }
    @include scheme-element-text-color(g800);
    @include font-weight(bold);

    @include margin-top(0);
    @include margin-bottom(2v);
  }

  &__desc {
    @include margin-top(0);
    @include margin-bottom(4v);
    @include text-style(sm);
  }

  &__link {
    @extend %a-reset;
    @include override-reset-link-style;
    @include force-over-reset {
      &:focus {
        outline-offset: 9999px;
      }
    }
    display: inline-flex;
    @include size(100%);
    @include margin-top(auto);

    @include before(block, '') {
      @include absolute(0, 0, 0, 0, 100%, 100%);
      @include scheme-element-focus();
    }
  }

  @include respond-from(md) {
    &--horizontal {
      flex-direction: row;
    }

    &--horizontal &__img {
      @include size(40.78%);
    }
  }
}
