<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- section('Lien', null, 0) %>
  <%- sample('link', '../../../component/link/example/sample/link-default'); %>
</div>
