<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- sample('Ensemble de boutons radio', '../../../../component/radio/example/sample/radios.ejs', { radios: { id:'radio', checked: true } });  %>
</div>
