////
/// Button Tool - group
/// @group button
////

@use '../../../../../../../sass/selector';
@use '../../../../../../../sass/spacing';

@mixin horizontal-btns-group() {
  #{selector.ns(btn)} {
    width: auto;
    max-width: 100%;
    @include spacing.margin-x(2v);
  }

  > li {
    display: inline-flex;
    max-width: 100%;
    width: auto;
  }
}

@mixin vertical-btns-group() {
  > li {
    width: 100%;
    max-width: 100%;
  }

  #{selector.ns(btn)} {
    @include spacing.size(calc(100% - 4v));
    @include spacing.margin(0 2v 4v);
    justify-content: center;
  }
}
