/*!
 * DSFR v1.1.0 | SPDX-License-Identifier: MIT | License-Filename: LICENCE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ------------------------------------ *\
  BREADCRUMB
\* ------------------------------------ */

/**
un padding de 4px et une marge négative en compensation sont mis en place afin d'éviter de couper le focus.
 */
.fr-breadcrumb {
  margin: 1rem 0 2rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  position: relative;

  /**
   * margin-bottom de 2v pour créer cet espace entre chaque ligne
   */
  color: var(--g600);
}

.fr-breadcrumb__button {
  box-shadow: var(--link-underline);
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: var(--t-plain);
}

.fr-breadcrumb__button[aria-expanded="true"] {
  display: none;
}

.fr-breadcrumb .fr-collapse {
  margin-left: -4px;
  margin-right: -4px;
  padding-left: 4px;
  padding-right: 4px;
  transform: translateY(-4px);
}

.fr-breadcrumb__list {
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  transform: translateY(4px);
}

.fr-breadcrumb__link {
  position: relative;
  display: inline-flex;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;

  /**
     * flèche séparatrice en font-icon
     */
}

.fr-breadcrumb__link:not([aria-current]) {
  margin-right: 1.5rem;
}

.fr-breadcrumb__link:not([aria-current])::after {
  font: normal normal normal 1rem/1 dsfr-icon;
  content: "";
  position: absolute;
  top: 0.125rem;
  right: -1.25rem;
  pointer-events: none;
}

.fr-breadcrumb__link[aria-current] {
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
  pointer-events: none;
  cursor: default;
  color: var(--g800);
}

@media (min-width: 48em) {
  .fr-breadcrumb {
    margin-bottom: 2.5rem;
  }

  .fr-breadcrumb__button {
    display: none;
  }

  .fr-breadcrumb .fr-collapse {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    transform: none;
    visibility: inherit;
    overflow: visible;
    max-height: initial;
  }

  .fr-breadcrumb .fr-collapse::before {
    content: none;
  }

  .fr-breadcrumb__list {
    transform: none;
  }
}
