/*!
 * DSFR v1.1.0 | SPDX-License-Identifier: MIT | License-Filename: LICENCE.md | restricted use (see terms and conditions)
 */
.fr-breadcrumb {
  color: var(--g600);
}

.fr-breadcrumb__button {
  background-color: var(--t-plain);
}

.fr-breadcrumb__link[aria-current] {
  color: var(--g800);
}
