////
/// Download Module : download
/// @group download
////

@include build-download-link;

#{ns(download)} {
  @include set-text-margin(0);
  @include set-title-margin(0);
  @include relative;
  @include padding-bottom(6v);
  @include margin(0 0 4v 0);

  @include nest-download-link {
    @include font-weight(regular);
  }

  &__desc {
    @include text-style(sm);
    @include font-weight(regular);
    display: none;
  }

  &__detail {
    @include absolute(null, null, 0, 0);
    @include text-style(xs);
    @include font-weight(regular);
    max-width: 100%;
    white-space: nowrap;
    pointer-events: none;
    cursor: text;
    overflow: hidden;
    text-overflow: ellipsis;

    abbr {
      text-decoration: none;
    }
  }
}
