////
/// Tiles module : Variants
/// @group Tiles
////

/**
 * Modificateur tuile horizontale
 **/
&--horizontal {
  flex-direction: row;

  .#{$prefix}-tile__img-wrap {
    width: space(6N);
    height: space(6N);
    margin: auto 0 auto space(3N);

    + .#{$prefix}-tile__body {
      min-height: space(6N);
      text-align: left;

      @include respond-from(md) {
        min-height: 80px;
      }
    }

    @include respond-from(md) {
      width: 80px;
      height: 80px;
      margin: auto 0 auto space(4N);
    }
  }

  .#{$prefix}-tile__body {
    align-items: flex-start;
    padding: 0;
    margin: space(3N);

    @include respond-from(md) {
      margin: space(4N);
    }
  }
}

/**
 * Modificateur vertical à partir du breakpoint md -> horizontal en dessous du breakpoint md
 **/
&--vertical-md {
  flex-direction: row;

  .#{$prefix}-tile__img-wrap {
    width: space(6N);
    height: space(6N);
    margin: auto 0 auto space(3N);

    + .#{$prefix}-tile__body {
      min-height: space(6N);

      @include respond-from(md) {
        min-height: initial;
        text-align: center;
      }
    }

    @include respond-from(md) {
      width: 80px;
      height: 80px;
      margin: space(4N) auto 0;
    }
  }

  .#{$prefix}-tile__body {
    align-items: flex-start;
    padding: 0;
    margin: space(3N);
    text-align: left;

    @include respond-from(md) {
      align-items: center;
      padding: space(3N);
      margin: 0;
      text-align: center;
    }
  }

  @include respond-from(md) {
    flex-direction: column;
  }
}

/**
 * Modificateur horizontal à partir du breakpoint md -> vertical en dessous du breakpoint md
 **/
&--horizontal-md {
  flex-direction: column;

  .#{$prefix}-tile__img-wrap {
    width: 80px;
    height: 80px;
    margin: space(4N) auto 0;

    + .#{$prefix}-tile__body {
      min-height: initial;

      @include respond-from(md) {
        padding: 0;
        min-height: 80px;
        margin: space(4N);
      }
    }

    @include respond-from(md) {
      margin: auto 0 auto space(4N);
    }
  }

  .#{$prefix}-tile__body {
    align-items: center;
    padding: space(2N);
    margin: 0;
    text-align: center;

    @include respond-from(md) {
      align-items: flex-start;
      padding: 0;
      margin: space(4N);
      text-align: left;
    }
  }

  @include respond-from(md) {
    flex-direction: row;
  }
}
