<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >

  <%- section('Étiquette d’élément A' , null, 0) %>
  <%- include('../../../../component/breadcrumb/example/sample/sample-a.ejs', {}); %>

</div>
