<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >

  <%- section('Étiquette d’élément A', null, 0) %>

  <%- sample('lien interne', '../../../../../component/button/template/ejs/button.ejs', { button: { label: 'Libellé a interne', id: uniqueId('button'), markup:'a', href:'../' } }); %>
</div>
