////
/// Core Tool : Display sr-only
/// @group core
////

@mixin hidden() {
  @each $bp, $limits in $breakpoints {
    @if $bp != xs {
      #{ns('hidden-' + $bp )} {
        @include respond-from($bp) {
          display: none !important;
        }
      }

      #{ns('displayed-' + $bp)} {
        display: none !important;
        @include respond-from($bp) {
          display: inherit !important;
        }
      }
    }
  }
}
