////
/// Icon Map Main
/// @group icons-map
////

/* ¯¯¯¯¯¯¯¯¯ *\
  ICON COMMUNICATION
\* ˍˍˍˍˍˍˍˍˍ */

@import '../../../core/style/path/path-3';
@import '../../../media-query-order';
@import 'index';
@import 'style/module';

// deprecated
@import 'deprecated/style/setting';
@import 'deprecated/style/module';
