////
/// Pagination Main
/// @group pagination
////

/* ¯¯¯¯¯¯¯¯¯ *\
  PAGINATION
\* ˍˍˍˍˍˍˍˍˍ */

@use 'src/module/path';
@use 'src/module/shame/media-query';

@include path.to-dist(2);
@include media-query.order;

@import 'index';
@import 'style/module';
@import 'style/contrast';
@import 'style/scheme';
@import 'style/contrast-scheme';

@include _pagination-scheme;
@include _pagination-contrast-scheme();
