////
/// Summary Module
/// @group summary
////

#{dse(summary)} {
  padding: space(3N);
  @include scheme-element-bg-color(beige, true);

  @include respond-from(md) {
    padding: space(4N) space(5N) space(3N);
  }
}

#{dse(summary__title)} {
  margin: 0 0 space(2N);
  @include text-styles(xs);
  font-weight: font-weight(bold);
  text-transform: uppercase;
  @include scheme-element-text-color(g800, true);
}

#{dse(summary__list)} {
  @extend %list-reset;
  @extend %ordered-list;
  @include text-styles(xs);

  > li {
    margin: 0;
    @include line-height(snug);

    &::before {
      content: none;
    }
  }

  > li > a {
    display: inline-flex;
    padding: space(1N);
    margin: 0 (-(space(1N)));
    box-shadow: none;
    @include scheme-element-text-color(g800, true);
    @include scheme-element-bg-color(t-plain, true, after);

    &::before {
      margin-right: space(1N);
      content: counters(list-number, ".") ".";
    }
  }
}

#{dse(summary__link)} {
  text-decoration: none;
}
