////
/// Summary Module
/// @group summary
////

#{dse(summary)} {
  @extend %default-text-color;
  @include scheme-element-bg-color(beige, true);
  @include padding(6v);
  @include padding(8v 10v 6v, md);

  @include title {
    @include margin(0 0 4v);
    @include text-style(xs);
    font-weight: font-weight(bold);
    text-transform: uppercase;
    @include scheme-element-text-color(g800, true);
  }

  @include list {
    @extend %list-reset;
    @extend %ordered-list;

    > li {
      @include margin(0);
      @include before(null, none);
    }

    > li > a {
      display: inline-flex;
      @include padding(2v);
      @include margin(0 -2v);
      @include text-style(xs);
      box-shadow: none;
      @include scheme-element-text-color(g800, true);
      @include scheme-element-bg-color(t-plain, true, after);

      @include before {
        @include margin-right(2v);
        content: counters(list-number, ".") ".";
      }
    }
  }
}

#{dse(summary__link)} {
  text-decoration: none;
}
