<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >

  <%- section('Étiquette d’élément BUTTON', null, 0) %>
  <%- sample('bouton', '../../../../component/button/template/ejs/button.ejs', { button: { label: 'Libellé button', id: uniqueId('button')  } }); %>

</div>
