////
/// Core Module : Medias
/// @group core
////

#{ns(responsive-img)} {
  @include size(100%, auto);
}

#{ns(responsive-vid)} {
  @include relative;
  @include size(100%);

  @include aspect-ratio();

  &--4x3 {
    @include aspect-ratio(4x3, false);
  }

  &--1x1 {
    @include aspect-ratio(1x1, false);
  }

  &__player {
    @extend %media-overlay-cover;
    border: 0;
  }
}
