////
/// Core Settings : Medias
/// @group core
////

// Ratio
$ratio-scale: (
  32x9: 100% * 9 / 32,
  16x9: 100% * 9 / 16,
  3x2: 100% * 2 / 3,
  4x3: 100% * 3 / 4,
  1x1: 100%,
  3x4: 100% * 4 / 3,
  2x3: 100% * 3 / 2
);
