////
/// Table Module
/// @group Table
////

#{ns(table)} {
    --table-offset: #{space(4v)};
    @include set-text-margin(0);
    @include set-title-margin(0);
    @include padding-top(var(--table-offset));
    @include relative;
    @include margin-bottom(10v);

    &__wrapper {
        width: 100%;
        @include padding(1px);
        @include margin(-1px);

        background-size: 100% 1px, 1px 100%, 1px 100%, 100% 1px;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: 0 100%, 0 0, 100% 0, 100% 0;
    }

    &__container {
        width: 100%;
        overflow: auto;
    }

    &__content {
        width: 100%;
        min-width: 40rem;

        table {
            @include size(100%);
            border-spacing: 0;
        }

        thead {
            th {
                font-weight: font-weight(bold);
            }
        }

        tbody {
            tr {
                &:last-child {
                    th,
                    td {
                        background-image: none;
                    }
                }
            }
        }

        th,
        td {
            position: relative;
            display: table-cell;
            @include padding(2v 4v);
            @include text-style(sm);
            text-align: left;
            vertical-align: middle;

            background-size: 100% 1px;
            background-repeat: no-repeat;
            background-position: 100% 100%;

            #{ns(checkbox-group)} {
                display: inline-block;

                & #{ns(label)} {
                    min-height: 1.2rem;
                    font-size: 0.875rem;
                }
            }
        }

        #{ns(cell)} {
            &__actionable {
                text-align: center;
                min-width: 4rem;

                #{ns(checkbox-group)} {
                    margin-right: -.5rem;
                }
            }

            &__fixed {
                position: sticky;
                left: 0;
                z-index: 1;
            }

            &__centered {
                text-align: center;
            }

            &__title {
                font-weight: 700;
            }

            &__desc {
                font-weight: 400;
            }

            &__nowrap {
                text-wrap: nowrap;
            }

            &__inline {
                display: flex;
                align-items: center;
                @include margin(0 -2v);

                > * {
                    @include margin(0 2v);
                }
            }
        }
    }


    &__scrollable {
        & #{ns(table)} {

            &__container {
                max-height: 20rem;
            }

            &__content {
                thead {
                    position: sticky;
                    top: 0;
                    z-index: 2;
                }
            }
        }
    }

    caption {
        position: initial;
        @include title-style(h4, true);
        @include font-weight(bold);
        text-align: left;
    }

    &#{ns-attr(js-table, true)} {
        caption {
            @include absolute(0);
        }
    }
}
