////
/// Connect Module : default
/// @group connect
////

@use 'module/spacing';

#{ns(connect)} {
  @include relative;
  @include padding(1v 3v 1v 16v);
  @include display-flex(column, flex-start, center);
  height: spacing.space(14v);
  @include margin-bottom(3v);

  @include before('', block) {
    @include absolute(1v, null, 1v, 3v, 10v, 12v);
    background-image: url(svg-encode($fc-logo-svg, true));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: spacing.space(10v 12v);
  }

  &__login,
  &__brand {
    line-height: 1;
    @include z-index(over);
  }

  &__login {
    font-size: map-get($login-size, default);
    height: map-get($login-size, default);
  }

  &__brand {
    font-weight: bold;
    font-size: map-get($brand-size, default);
    height: map-get($brand-size, default);
  }
}
