////
/// Connect Module : plus
/// @group connect
////

@use 'module/spacing';

#{ns(connect)} {
  &--plus {
    @include padding-right(3em);

    @include after ('+', block) {
      @include absolute(null, 0.25em, 0);
      font-size: 3em;
      font-weight: bold;
      line-height: 1;
      transform: translate(5%, -17%);
    }
  }
}
