////
/// Input Legacy
/// @group input
////

@use 'src/module/path';
@use 'src/module/shame/media-query';

@include path.to-dist(3);
@include media-query.order;

@import 'index';
@import 'style/scheme';
@import 'style/legacy';

@include _input-scheme(true);
