<%
 let grid = locals.grid || {cols: []};
 const classes = grid.classes || [];
 classes.push(`${prefix}-grid-row`);
 if (grid.gutters) classes.push(`${prefix}-grid-row--gutters`);
 %>

<div <%- includeClasses(classes); %>>
    <% for (let cols of grid.cols) {
        if (isNaN(cols.length)) cols.length = 1;
    %>
        <%- include('./cols', {cols: cols}); %>
    <% } %>
</div>
