<% const sample = getSample(include); %>

<div class="<%= prefix %>-container">
  <%- sample('Exemple de citation', '../../../../component/quote/example/sample/quote-default', {quote: {id: uniqueId('quote')}}); %>
</div>
