////
/// services Module
/// @group consent
////

#{ns(consent-service)} {
  @include padding(8v 0);
  @include padding(5v 0 8v, md);

  &:last-child {
    @include padding(8v 0 4v);
    @include padding(5v 0 4v, md);

    #{ns(consent-service)}:last-child {
      @include margin-bottom(0);
    }
  }

  &__container {
    @include respond-from(md) {
      display: -ms-grid;
      display: grid;
      align-items: center;
      -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
    }
  }

  &__title {
    @include title-style(h6);
    @include margin-bottom(3v);

    @include respond-from(md) {
      @include margin-bottom(3v);
      @include margin-top(3v);
      -ms-grid-column: 1;
      -ms-grid-row: 1;
      grid-column: 1;
      grid-row: 1;
      @include margin-right(6v, md);
    }
  }

  &__desc {
    @include text-style(sm);
    @include margin-bottom(0);
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    grid-column: 1;
    grid-row: 2;
    @include margin-right(6v,md);
  }

  &__collapse {
    @include margin-top(2v);
    @include _nest-link($collapse-btn-settings, sm, right, arrow-down-s-line) {
      background: transparent;
      @include padding(0);
      color: inherit;

      &[aria-expanded="true" i] {
        @include icon(arrow-up-s-line, sm);
      }
    }

    &-btn {
      @include display-flex(row, center, null, null, true);
      position: relative;

      @include after('','block') {
        @include absolute(0,0,0,0,calc(100% - #{space(4v)}),100%);
        @include link-underline;
      }
    }
  }

  &__radios {
    @include margin-bottom(3v);

    @include respond-from(md) {
      overflow: hidden;
      @include margin-bottom(0);
      justify-self: flex-end;
      -ms-grid-column: 1;
      grid-column: 2;
      -ms-grid-row: 1;
      grid-row: 1;
    }
  }

  #{ns-group(radio)} {
    position: relative;

    &:not(:last-child) input[type="radio" i] + label {
      @include margin-right(11v);
    }

    + #{ns-group(radio)} {
      @include before(block,'') {
        @include size(1px, 6v);
        position: absolute;
        left: calc(#{space(-6v)} - 1px);
        top: space(3v);
      }
    }
  }
}

#{ns(consent-services)} {
  @include margin-top(8v);
  @include margin-bottom(-8v);
  @include margin-top(5v, md);
  @include margin-bottom(-5v, md);

  #{ns(consent-service)} {
    &,
    &:last-child {
      box-shadow: none;
      padding: 0;
    }

    & + #{ns(consent-service)} {
      @include margin-top(-1v, md);
    }

    &__desc {
      @include margin-bottom(6v);
      @include margin-bottom(2v,md);
    }

    &:last-child {
      @include margin-bottom(5v);
    }
  }
}
