////
/// Core Module : Icons
/// @group core
////

@font-face {
  font-family: "icons";
  src: url("data:font/truetype;charset=utf-8;base64,#{$icons-base64}") format("truetype");
}

@include has-icon {
  @extend %default-text-color;
  @include before {
    @extend %font-icon;
    font-size: icon-size(md);
  }
}

#{dse(fi)} {
  @each $size, $value in $icon-size-map {
    @if $size != md {
      &--#{$size} {
        @include before {
          font-size: #{icon-size($size)};
        }
      }
    }
  }
}

/**
 * Définitions des symboles des icones
 **/
// $icons-settings est générée dans generated/_icons.scss
@include generate-icons-content($icons-settings);
