////
/// Icons Group Annotations
/// @group icons
////

/// $icon-size-map
$icon-size-map: (
  sm: 12px,
  md: 16px,
  lg: 24px,
  xl: 32px
);

/// $sprite-path
$sprite-path: 'assets/sprite/' !default;
