////
/// Sidemenu Module
/// @group sidemenu
////

#{ns(sidemenu)} {
  @include disable-list-style;
  @include disable-link-style;
  @include relative;
  @include shadow(md);
  @include margin-x(-4v);

  a:not([href]) {
    cursor: default;
  }

  @include respond-from(md) {
    @include margin-x(0);
    @include padding-right(8v);
    box-shadow: none;
    @include before(null, none);

    #{ns(collapse)} {
      @include margin-x(-4px);
      @include padding-x(4px);
    }
  }

  @import 'modules/title';
  @import 'modules/list';
  @import 'modules/inner';
  @import 'modules/variants';
}

@import 'modules/btn';
@import 'modules/link';
