<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- section('Barre de recherche', null, 0) %>
  <%- sample('search', '../../../component/search/example/sample/search-default.ejs', {});  %>
</div>
