////
/// Tab Module
/// @group tab
////

@include build-tab();

#{ns(tabs)} {
  @include disable-list-style;
  @include disable-link-style;
  @include relative;
  overflow: hidden;
  @include margin-x(0);
  @include margin-top(-4px);
  @include padding-top(4px);
  @include display-flex(row, flex-start);

  /**
    * Animation de la hauteur du panel
    */
  transition: height $tabs-transition-duration;

  // retire le padding du container en mobile
  &--viewport-width {
    @include margin-x(calc(50% - 50vw));
    @include margin-x(0, md);
  }

  @include after('', block) {
    @include absolute(11v, 0, 0, 0);
    pointer-events: none;
  }

  /**
   * ul : element srollable des boutons
   */
  @include list {
    @include display-flex(null, flex-end);
    overflow-x: auto;
    @include width(100%);
    @include min-height(12v);
    @include absolute;
    z-index: z-index(over);

    /**
    * overflow vertical de 4px pour le focus
    */
    @include margin(-4px 0);
    @include padding(4px 3v);
  }

  /**
  * Tab button
  */
  &__tab {
    @include relative;
    overflow: visible;
    font-weight: font-weight(bold);
    @include z-index(over);
    @include margin(0 1v);
    white-space: nowrap;
    // transition: background-color 0.3s;

    &[aria-selected=true] {
      pointer-events: none;
    }

    @include after('', block) {
      @include size();
      @include absolute(0, 0, -2px, 0, 100%);
      background-size: 100% 2px, 1px calc(100% - 1px), 1px calc(100% - 1px), 100% 3px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: 0 0, 0 calc(100% - 1px), 100% calc(100% - 1px), 100% 100%;
      // transition: background-size 0.3s;
    }

    &:not([aria-selected=true]) {
      @include after {
        background-size: 0 2px, 1px 0, 1px 0, 0 3px;
      }
    }
  }

  /**
  * Tab Panel
  */
  &__panel {
    @include enable-link-style;
    @include enable-list-style;
    display: block;
    @include relative(null, null, null, 0, 100%, auto);
    @include padding(4v);
    @include padding(8v, md);
    @include margin-top(10v);
    @include margin-right(-100%);
    z-index: z-index(base);
    flex: 0 0 100%;
    transition: visibility $tabs-transition-duration, transform $tabs-transition-duration;

    &:focus,
    &:focus-visible {
      outline-offset: calc(-1rem + 2px);
      @include respond-from(md) {
        outline-offset: calc(-2rem + 2px);
      }
    }

    /**
    * Les éléments non sélectionnés sont cachés et rendus innaccessibles au focus
    * Point d'attention : visibility hidden sur le panel et surcharge sur l'élément selected avec visibility visible créé des problèmes dans la gestion du focus en cas d'imbrication d'onglets
    *
    * tabs
    * └─ panel selected
    * └─ panel (visibility hidden, tabindex -1)
    *    └─ tabs
    *       └─ panel selected (visibility visible tabindex 0)
    *            ↑ ce panel est accessible alors que caché par son panel parent
    * solution : visibility hidden seulement sur les éléments non sélectionnés
    **/
    @at-root #{&}:not(&--selected) {
      visibility: hidden;
    }
  }
}

@import 'module/shadow';
