<%#

Paramètres de sidemenu item

* sidemenuItem.isCollapsible (booolean, optional) : si true, l'élement est refermable

* sidemenuItem.collapseId (string, required) : id du collapse

* sidemenuItem.items (array, optional) : tableau de sous éléments

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
let sidemenuItem = locals.sidemenuItem || {};
const sidemenuClasses = [];
const sidemenuAttrs = {};
const btnAttrs = {};

if (sidemenuItem.active) btnAttrs['aria-current'] = true;

if (sidemenuItem.isCollapsible) {
  btnAttrs['aria-expanded'] = sidemenuItem.isExpanded === true;
  btnAttrs['aria-controls'] = sidemenuItem.collapseId;
  sidemenuClasses.push(`${prefix}-collapse`);
  sidemenuAttrs.id = sidemenuItem.collapseId;
}
%>

<%- include('../../../../core/template/ejs/action/action', { action: { label: sidemenuItem.label, type: 'button', markup: 'button', attributes: btnAttrs, classes: [`${prefix}-sidemenu__btn`] }}) %>

<div <%- includeClasses(sidemenuClasses) %> <%- includeAttrs(sidemenuAttrs)%>>
  <%- include('./sidemenu-list.ejs', {sidemenuItems: sidemenuItem.items}); %>
</div>
