<%#

Paramètres de sidemenu btn

* sidemenuItems (array, required) : tableau d'items de sidemenu

%>
<% eval(include('../../../../core/index.ejs')); %>

<% let sidemenuItems = locals.sidemenuItems || []; %>

<ul class="<%= prefix %>-sidemenu__list" >
  <%
  for (let i = 0; i < sidemenuItems.length; i++) {
    let item = sidemenuItems[i];
    item.href = item.href || sidemenuItems.href;
    item.classes = [`${prefix}-sidemenu__${item.kind}`];
    let classes = [prefix + '-sidemenu__item'];
  %>
    <li <%- includeClasses(classes); %>>
      <% if (item.kind === 'menu') { %>
        <% item.classes = [`${prefix}-sidemenu__${item.kind}`];%>
        <%- include('./sidemenu-menu.ejs', { sidemenuItem : item }); %>
      <% } else {%>
        <% item.classes = [`${prefix}-sidemenu__btn`]; %>
        <%- include('../../../../core/template/ejs/action/action', { action: item }) %>
      <% } %>
    </li>
  <% } %>
</ul>
