////
/// Link Module - group
/// @group link
////

@use 'module/spacing';

#{ns-group(links)} {
  @include disable-list-style;
  display: inline-block;
  @include margin(0 -2v);

  > li {
    display: inline;
    line-height: spacing.space(11v);
  }

  #{ns(link)} {
    @include margin(0 2v 4v);
    vertical-align: top;
  }

  &--sm {
    @include nest-link(sm, null);
  }

  &--lg {
    @include nest-link(lg, null);
  }
}
