////
/// Header Module : head
/// @group header
////

&__head {
  @include margin(0 calc(50% - 50vw));
  @include padding(0 calc(50vw - 50%));
  @include scheme-element-bg-color(beige, true);

  #{dse(btn)}[data-toggle] {
    display: block;
    @include margin(0 0 0 -3v);
    @include padding(2v 3v);
    text-transform: uppercase;
    text-align: left;
    font-size: 10px; //font-size(10); TODO: implémenter la taille 10px dans core
    line-height: 1rem;

    @include scheme-element-bg-color(t-plain, true, true);
    @include scheme-element-text-color(g800);
  }

  .#{dse(collapse)} {
    overflow: hidden;

    @include before(block, '') {
      @include margin-top(-1000px);
    }
  }
}
