////
/// Header Module : modal
/// @group header
////

#{ns(modal)} {
  pointer-events: initial;
  display: block;
  @include padding(18v 4v 0);
  @include scheme-element-bg-color(w-g750);
  overflow: auto;

  &:not(#{dse(modal)}--expanded) {
    display: flex;
    @include respond-from(lg) {
      display: block;
    }
  }

  #{ns(container)} {
    pointer-events: initial;
    @include padding(4v 4v 0);
    @include padding(0 8v 4v, lg);

    #{ns(grid-row)} {
      @include margin(0 -2v);
      @include margin(0 -4v, lg);
    }
  }

  @include respond-from(lg) {
    @include padding-top(0);
    @include margin(0);
    @include size(auto, auto);
    visibility: visible;
    opacity: 1;
    position: initial;
    background-color: transparent;
    transition: none;
    overflow: inherit;
  }

  > #{ns(link)}--close {
    @include absolute(4v,4v);
    @include respond-from(lg) {
      display: none;
    }
  }
}
