.#{$prefix}-nav:not(&__popin) {
  display: none;
  @include respond-from(md) {
    display: block;
  }
}

.#{$prefix}-nav {
  @include respond-from(md) {
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
    @include z-index(nav);

    @include scheme-element-box-shadow-color(g300, true, inset 0 1px 0 0 $COLOR);

    .#{$prefix}-menu::after,
    .#{$prefix}-mega-menu {
      @include shadow(md);
    }
  }
}
