&__navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: space(2N) space(0-5N) 0;
  width: 100%;
  padding: space(1-5N) 0 0;
  position: relative;

  @include respond-from(md) {
    flex: 1 1 auto;
    margin: 0 space(0-5N);
  }

  @include after(block, '') {
    @include absolute(0, 0, auto, 0, auto, 1px);
    margin: 0 space(1N);

    @include scheme-element-bg-color(g300, true);

    @include respond-from(md) {
      content: none;
      display: none;
    }
  }

  .#{$prefix}-service {
    margin: (- space(1-5N)) auto (- space(1-5N)) (- space(0-5N));
    padding: space(1-5N);
    position: relative;

    @include respond-from(md) {
      margin: - space(1-5N);
    }

    &__title {
      position: static;
      font-size: font-size(14);
      line-height: line-height(normal);
      font-weight: bold;
      @include scheme-element-text-color(g800, true);
      margin: 0;
      box-shadow: none;

      @include respond-from(md) {
        font-size: font-size(20);
        line-height: line-height(normal);
      }

      &:focus {
        outline-offset: 9999px;
      }

      @include before(block, '') {
        @include absolute(0, 0, 0, 0, 100%, 100%);
        @include scheme-element-focus();
      }
    }

    &__tagline {
      font-size: font-size(14);
      line-height: line-height(normal);
      margin: 0;
    }

    &__title + &__tagline {
      margin-top: space(0-5N);
    }
  }

  @include btn(md, only) {
    @include scheme-element-bg-color(t-plain, false, override);
    @include scheme-element-text-color(bf500);
    flex: 0 0 auto;

    &--menu,
    &.#{$prefix}-fi-menu-fill {
      @include scheme-element-text-color(g700);
      //@include font-icon-content(menu-fill);
    }

    &--search {
      //@include font-icon-content(search-fill);
    }

    &:first-child {
      margin-left: auto;
    }

    @include respond-from(md) {
      display: none;
    }
  }
}
