////
/// Header Module : popin
/// @group header
////

&__popin {
  @include fixed(0,0,100vh,0);
  @include size(100vw);
  @include padding(0 4v);
  @include scheme-element-bg-color(w-g750, true);
  @include z-index(modal, true);
  overflow: auto;
  visibility: hidden;
  transition: bottom 0.3s, visibility 0.3s;

  @include before(block, '') {
    @include size(100%, 18v);
  }

  @include after(block, '') {
    @include size(100%, 18v);
  }

  &--expanded {
    bottom: 0;
    visibility: visible;
  }

  #{dse(btn) + dse(fi-close-line)} {
    @include absolute(0,0);
    @include margin-top(4v);
    @include margin-right(0);
  }
}
