////
/// Datagrid Module
/// @group datagrid
////

#{ns(datagrid)} {
    align-items: start;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;

    &--fixed-height {
        height: 20rem;

        & #{ns(datagrid-thead)} {
            position: sticky;
            top: 0;
            box-shadow: 0 2px rgba(0, 42, 88, 0.05);
            z-index: 1;
        }
    }

    &--sm {
        width: 24rem;
        min-width: inherit;
    }

    &-thead {
        min-width: 100%;
        border-bottom: 1px solid #7e7e7e;
    }

    &-tbody {
        min-width: 100%;
    }

    &-tr {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: stretch;
        width: 100%;
        border-bottom: 1px solid #e1e1e1;

        &--expandable {
            display: none;
            align-items: stretch;
        }

        &--expanded {
            display: flex;
            flex-direction: row;
            border-top: 1px solid #e1e1e1;
        }

        &--sticky {
            display: flex;
            flex-wrap: nowrap;
            position: sticky;
            left: 0;
            z-index: 500;
            border-right: 1px solid #e1e1e1;
        }

        &--scrollable {
            display: flex;
            flex: 1 1 auto;
            flex-flow: row nowrap;
        }

        &--scrolling-cells {
            display: flex;
            flex: 1 1 auto;
            flex-flow: row nowrap;
        }
    }

    &-th,
    &-td {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: center;
        min-width: 10rem;
        text-align: start;
        background-color: white;

        &--rowspan {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            & #{ns(datagrid-cell)}:not(:last-child) {
                border-bottom: 1px solid #e1e1e1;
            }
        }

        &--cellspan-2 {
            flex: 2;
        }

        &--cellspan-3 {
            flex: 3;
        }

        &--sm {
            flex: 0.5;
        }

        &--lg {
            flex: 3;
        }

        &--expandable,
        &--actionable {
            min-width: 3rem;
            max-width: 3rem;
            justify-content: center;
            align-items: center;
            border-right: inherit;
        }

        &--expandable-content {
            margin: 1.5rem 1rem;
            width: 100%;
        }
    }

    &-cell {
        display: flex;
        align-items: center;
        padding: 1rem;
        word-break: break-word;
        width: 100%;
        height: 100%;

        * {
            flex-basis: 100%;
        }
    }
}
