<% if(locals.vertical) { %>
<%- include('../../../templates/ejs/typography/paragraph', { content: lorem(locals.insert, 16) + ' <span class="' + prefix + '-h5 ' + prefix + '-text-align--' + locals.align + '">' + lorem(locals.insert, 20) + '</span>.' }); %>
<% } else { %>
<%- include('../../../templates/ejs/typography/paragraph', { classes: [prefix + '-text-align--' + align], content: lorem(locals.insert) }); %>
<% } %>
