////
/// Input Module
/// @group input
////

@use 'module/spacing';

#{ns(input)} {
  display: block;
  @include size(100%);
  border-radius: spacing.space(1v) spacing.space(1v) 0 0;
  @include text-style(md);
  @include padding(2v 4v);

  /**
   * Style du placeholder
   */
  @include placeholder {
    opacity: 1;
    font-style: italic;
  }

  /**
   * On applique une hauteur maximale si l'élément n'est pas un textarea
   */
  &:not(textarea) {
    max-height: 2.5rem;
  }

  &[type=date] {
    min-height: 2.5rem;
    background-repeat: no-repeat;
    background-position: spacing.space(calc(100% - 3v) 50%);
    background-size: spacing.space(4v) spacing.space(4v);

    &::-webkit-calendar-picker-indicator {
      display: block;
      @include margin-right(-1.5v);
      opacity: 0;
    }
  }
}

/**
 * Ajout d'un wrapper quand on a besoin de mettre une icône
 */
#{ns(input-wrap)} {
  @include relative;
  display: block;

  @include has-icon {
    @include icon-size(sm, before) {
      @include absolute(3v, 3v, 3v);
      @include margin(auto);
      pointer-events: none;
    }
  }

  &--addon {
    @include display-flex;
    @include size(100%);
  }

  #{ns(input)} {
    @include padding-right(10v);
  }

  > *:first-child:not(:last-child) {
    &#{ns(input)} {
      @include padding-right(4v);
    }

    @include respond-from(md) {
      border-radius: spacing.space(1v 0 0 0);
    }
  }

  > *:last-child:not(:first-child) {
    @include respond-from(md) {
      border-radius: spacing.space(0 1v 0 0);
    }
  }

  + #{ns(hint-text)} {
    @include margin-top(2v);
  }
}

textarea#{ns(input)} {
  min-height: spacing.space(15v);
}
