////
/// Input Scheme
/// @group input
////

@mixin _input-scheme($legacy: false) {
  #{ns(input)} {
    @include scheme-element-text-color(label grey, (legacy:$legacy));
    @include scheme-element-bg-color(contrast grey, (legacy:$legacy));
    @include scheme-element-box-shadow-color(plain grey, (legacy:$legacy), bottom-2-in);

    /**
    * Style du placeholder
    */
    @include placeholder {
      @include scheme-element-text-color(mention grey, (legacy:$legacy));
    }

    /**
    * Style pour l'état désactivé
    */
    @include disabled-form-field((legacy: $legacy));

    /**
    * Modificateur pour les champs validés
    */
    &--valid {
      @include scheme-element-box-shadow-color(plain success, (legacy:$legacy), bottom-2-in);
    }

    /**
    * Modificateur pour les champs présentant des erreurs
    */
    &--error {
      @include scheme-element-box-shadow-color(plain error, (legacy:$legacy), bottom-2-in);
    }

    /**
    * On applique un style lorsque la valeur est automatiquement remplie par le navigateur
    * sur les navigateurs webkit.
    */
    @include autofill {
      @include scheme-element-box-shadow-color((plain grey) (background contrast info), (legacy:$legacy), bottom-2-in all-in);
      @include _scheme-element(-webkit-text-fill-color, text, label grey, (legacy:$legacy));
    }
  }

  #{ns(input-wrap)} {
    > *:not(:last-child) {
      &#{ns(input)}:not(#{ns(input--valid)}):not(#{ns(input--error)}) {
        @include scheme-element-box-shadow-color(action-high blue-france, (legacy:$legacy), bottom-2-in);
      }
    }
  }
}
