<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- sample('Mise en exergue', '../../../../component/highlight/example/sample/highlight-default', {highlight: {id: uniqueId('highlight')}}); %>
</div>
