/* `````````````````````
  Typography
````````````````````` */

$base-font-size-px: 16px !default;

$static-font-path: '../fonts' !default;

$font-family-sans: 'Marianne', arial, sans-serif;
$font-family-serif: 'Spectral', georgia, serif;

/// $type-scale
$type-scale: (
  12: 12px,
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
  22: 22px,
  24: 24px,
  28: 28px,
  32: 32px,
  44: 44px,
  48: 48px,
  56: 56px,
  64: 64px,
  72: 72px,
  88: 88px,
  96: 96px
);

/// $line-height-scale
$line-height-scale: (
  none: 1,
  tight: 1.25,
  snug: 1.375,
  normal: 1.5,
  relaxed: 1.625,
  loose: 2
);

$weight-scale: (
  light: 300,
  regular: 400,
  bold: 700,
  xx-bold: 900
);
