<% const sample = getSample(include); %>

<div class="<%= prefix %>-container">
  <%- sample('Alert', '../../../../component/alert/example/sample/alert-default', {alert: {type: "success", title: "Succès de l'envoi"}}); %>
</div>
