<%#
# paramètres groupe de links

* linksGroup.links (array, required): paramètres spécifique de chaque link du groupe

* linksGroup.size (string, optional) : définie la taille des links dans le groupe (default md)
  * lg : Badge taille lg
  * sm : Badge taille sm

* linksGroup.classes (array, optionnal) : Classes suplémentaires sur le groupe de links

* linksGroup.attributes (object, optionnal) : Attributs suplémentaires sur le groupe de links

#%>

<% eval(include('../../../../core/index.ejs')); %>

<%
const linksGroup = locals.linksGroup || {};
let groupClasses = linksGroup.classes || [];
let groupAttrs = linksGroup.attributes || {};
let links = linksGroup.links || [];
groupClasses.push(prefix + '-links-group');

if (linksGroup.inline) groupClasses.push(prefix + '-links-group--inline');

switch(linksGroup.size) {
    case 'sm':
        groupClasses.push(prefix + '-links-group--sm');
        break;

    case 'lg':
        groupClasses.push(prefix + '-links-group--lg');
        break;
 }
 %>

<ul <%- includeClasses(groupClasses) %> <%- includeAttrs(groupAttrs) %>>
<% for (let i = 0; i < links.length; i++) { %>
  <li>
    <%- include('./link.ejs', { link:links[i] }); %>
  </li>
<% } %>
</ul>
