////
/// Footer module : Partners
/// @group Footer
////

/**
 * La partie "partners" du footer est constituée de logos organisés
 * en partenaires principaux (ferré à gauche) et secondaires (ferrés à droite)
 */
#{ns(footer)} {
  &__partners {
    @include margin-top(4v);
    @include padding-top(4v);

    a {
      @include display-flex(null, center, center);
    }

    /**
    * On surcharge le style du logo de base
    */
    #{ns(footer__logo)} {
      @include size(auto, auto);
      @include padding(1v);
    }

    + #{ns(footer__bottom)} {
      @include margin-top(2v);
    }
  }

  &__partners-title {
    @include set-title-margin(0 0 2v 0);
    @include text-style(sm);
    flex-basis: 100%;
    text-align: center;

    @include respond-from(sm) {
      text-align: left;
    }
  }

  /**
  * Container des logos partenaires (principaux et secondaires)
  */
  &__partners-logos {
    @include display-flex(column, null, null, wrap);
    @include margin(0 0 -2v 0);

    @include respond-from(sm) {
      @include display-flex(row, flex-start, flex-start);
      @include margin-right(-2v);
      @include before('', block) {
        order: 2;
        flex: 1;
      }
    }

    @include respond-from(md) {
      @include margin-right(-4v);
      flex-wrap: nowrap;
    }
  }

  /**
  * Container des logos partenaires principaux
  */
  &__partners-main {
    @include display-flex(row,null,center);
    @include margin-x(auto);
    @include margin-bottom(8v);
    @include margin-bottom(4v, sm);

    + #{ns(footer__partners-sub)} {
      & > ul > li {
        @include margin(0 2v 0 2v, sm);
        @include margin(0 4v 0 4v, md);
      }

      @include respond-from(md) {
        & > ul {
          justify-content: flex-end;
        }
        @include padding-left(4v);
        @include padding-top(0);
      }
    }

    @include respond-from(sm) {
      order: 1;
    }
  }

  /**
  * Container des logos partenaires secondaires
  */
  &__partners-sub {
    @include margin-bottom(2v);

    &,
    & > ul {
      @include display-flex(column, center, null, wrap);
      @include respond-from(sm) {
        flex-direction: row;
        align-items: flex-start;
      }
    }

    /**
    * On surcharge le style du lien pour les logos secondaires
    */
    #{ns(footer)}__partners-link {
      @include margin-bottom(2v);
    }

    @include respond-from(sm) {
      order: 3;
    }
  }
}
