
 <%
 const form = locals.form || {};
 const fieldset = {};
 const elements = [];
 %>

<form>
 <%
  if (form.items && form.items.length) {
    form.items.forEach((item, index) => {
      const type = item.type || 'input';
      item.base ? path = item.base : path = type;
      elements.push({
        path: `${path}/template/ejs/${item.template}`,
        disabled: item.disabled || undefined,
        control: item.control,
        classes: item.classes || undefined,
        data: {
          [type]: {
            ...item.data,
            id: `${form.id}-${index}`,
            classes: item.data ? item.data.classes : undefined,
            attributes: item.data ? item.data.attributes : undefined,
            name: item.name || undefined,
            label: item.label || undefined,
            text: item.text || undefined,
            content: item.content || undefined,
            input: item.input || undefined,
            checkbox: item.checkbox || undefined,
            link: item.link || undefined,
            format: item.format || undefined,
            value: item.value || undefined,
            hint: item.hint || undefined,
            error: item.error || undefined,
            valid: item.valid || undefined,
            checked: item.checked || false,
            labelClasses: item.labelClasses || undefined,
            size: item.size || undefined,
            buttons: item.buttons || undefined,
            disabled: item.disabled || undefined,
            kind: item.kind || undefined,
            format: item.format || undefined,
            options: item.options || undefined,
            placeholder: item.placeholder || undefined,
            type: item.data ? item.data.type : undefined,
          }
        }
      });
    });
  }
  fieldset.elements = elements;
  fieldset.classes = form.classes || [];
  fieldset.hint = form.hint || undefined;
  fieldset.desc = form.desc || undefined;
  fieldset.id = form.id;
  fieldset.attributes = { 'aria-label': form.label};
  %>

  <%- include('../../../../component/form/template/ejs/fieldset', {fieldset: fieldset}) %>
</form>