<%#
# paramètres fieldset

// TODO: documentation

%>
<% eval(include('../../../../core/index.ejs')); %>
<%
let form = locals.form || {hint:'texte additionel'};
%>
<span class="<%= prefix%>-hint-text"><%= form.hint %></span>
