////
/// Sidemenu Module : list
/// @group sidemenu
////

#{ns(sidemenu)} {
  @include list {
    font-weight: font-weight('bold');

    #{ns(sidemenu__list)} {
      @include margin(0 4v 4v);
      @include margin(0 4v 4v, md);
      font-weight: font-weight();

      #{ns(sidemenu__link)},
      #{ns(sidemenu__btn)} {
        @include text-style(md);
        font-weight: font-weight();
      }

      #{ns(sidemenu__list)} {
        #{ns(sidemenu__link)},
        #{ns(sidemenu__btn)} {
          @include text-style(sm);
        }
      }
    }

    @include margin(0, md);
  }

  @include list-item {
    @include relative;
    @include before('', block) {
      @include absolute(0, 0, 0, 0, 100%, 100%);
      pointer-events: none;

      @include respond-from(md) {
        content: none;
      }
    }

    & & & {
      @include before(none);
    }
  }
}
