<%#
# paramètres select group

* valid (string, optionnal) : message de validation

* error (string, optionnal) : message d'erreur

* disabled (boolena, optionnal)

%>
<% eval(include('../../../core/index.ejs')); %>

<%
 let groupClasses = [prefix + '-select-group'];

 if (locals.error !== undefined) groupClasses.push(prefix + '-select-group--error');
 if (locals.disabled !== undefined) groupClasses.push(prefix + '-select-group--disabled');
 if (locals.valid !== undefined) groupClasses.push(prefix + '-select-group--valid');
 %>

<div <%- includeClasses(groupClasses); %>>
    <%- include('./select'); %>
</div>
