$dist-path: null;

@mixin set-dist-path-level($level) {
  @if $dist-path == null {
    $path: '';
    @for $i from 0 to $level {
      $path: '../#{$path}';
    }
    $dist-path: $path !global;
  }
  // @debug 'set' $level $dist-path;
}

@function get-dist-path () {
  // @debug $dist-path;
  @return $dist-path;
}
