////
/// Navigation Module : Menu
/// @group navigation
////

@use 'module/color';

#{ns(menu)} {
  @include margin(-4px -4v);
  @include padding(4px 4v);
  @include size(auto);

  &#{ns(collapsing)} {
    @include margin-top(0);
    @include padding-top(0);
  }

  @include respond-from(lg) {
    pointer-events: none;
    @include absolute(100%);
  }

  @include list {
    @include margin(0);
    @include padding(2v 0 6v);

    @include respond-from(lg) {
      @include width(80v);
      pointer-events: auto;
      @include padding(0);
      @include margin-bottom(8v);
    }

    & > *:first-child,
    & > *:hover,
    & > *:hover + * {
      &,
      & > #{ns(nav__link)} {
        @include color.no-box-shadow;
      }
    }
  }

  #{ns(nav__link)} {
    @include padding-x(4v);
    @include before {
      left: 0;
    }
    @include respond-from(lg) {
      @include padding(3v 4v);
      @include before {
        left: 0;
      }
    }
  }
}
