////
/// Navigation Module : Nav
/// @group navigation
////

#{ns(nav)} {
  @include disable-link-style;
  @include disable-list-style;
  @include set-text-margin(0);
  @include set-title-margin(0);
  @include z-index(nav, true);

  @include list {
    @include display-flex(column);
    @include margin(0);
    @include padding(0);

    @include respond-from(lg) {
      flex-direction: row;
      flex-wrap: nowrap;
      @include margin(0 -4v);

      & > *:first-child:nth-last-child(2) ~ *,
      & > *:first-child:nth-last-child(3) ~ *,
      & > *:first-child:nth-last-child(4) ~ * {
        @include margin-left(5v);
      }
    }

    &,
    & > * {
      & > #{ns(nav__link)},
      & > #{ns(nav__btn)} {
        font-weight: bold;

        @include respond-from(lg) {
          @include padding(4v);
          @include margin(0);
          @include size(auto, 100%);
          min-height: space(14v);
          font-weight: normal;

          &[aria-current] {
            @include before {
              @include absolute(auto, null, 0, 0, 100%, 2px);
              @include margin-top(0);
            }

            /**
             * Pour conserver le souligné de selection  par dessus la barre de mega-menu
             */
            &:not([aria-expanded="true"]) {
              @include z-index(nav);
            }
          }
        }
      }
    }
  }

  @include list-item {
    // TODO: supprimer la stylisation de la liste item, trouver une solution différente pour l'affichage du menu à droite et la barre d'espacement grise en mobile
    @include display-flex(column, stretch);
    flex: 0 1 auto;

    @include scheme-element-no-box-shadow(lg);

    @include respond-from(lg) {
      align-items: flex-start;

      &--align-right {
        align-items: flex-end;
      }
    }
  }

  &__link,
  &__btn {
    @include size(100%);
    @include padding(3v 0);
    @include text-style(md);
    text-align: left;

    @include respond-from(lg) {
      @include text-style(sm);
    }

    @include enable-blend;

    &[aria-current] {
      position: relative;
      @include before('', block) {
        @include absolute(50%, null, null, -4v, 2px, 6v);
        @include margin-top(-3v);
      }
    }
  }

  &__link {
    display: block;
  }

  &__btn {
    @include display-flex(null, center, space-between);
    flex-direction: row;
    @include padding(4v 3v 4v 4v, lg);

    @include icon(arrow-down-s-line, sm, after) {
      @include margin-left(2v);
      @include margin-right(0);
      transition: transform 0.3s;
    }

    @include respond-from(lg) {
      justify-content: flex-start;
    }

    &[aria-expanded="true"] {
      @include after {
        transform: rotate(-180deg);
      }
    }
  }
}
