<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- sample('Interrupteur', '../../../../component/toggle/example/sample/toggle-default.ejs', {toggle: {state: true}});  %>
</div>
