<%
 let grid = locals.grid || {cols: []};
 const classes = grid.classes || [];
 classes.push(`${prefix}-grid-row`);
 if (grid.gutters) classes.push(`${prefix}-grid-row--gutters`);
 %>

<div <%- includeClasses(classes); %>>
    <% for (let col of grid.cols) {
        if (isNaN(col.length)) col.length = 1;
        grid.classes = undefined;
    %>
        <%- include('./cols', {col: col}); %>
    <% } %>
</div>
