<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- sample(getText('sample.text', 'input-base'), '../../../../component/input/input-base/example/sample/input-text.ejs', {input: { id:'text-input-text'} }); %>
</div>
