////
/// Core Setting : Typography font-weight
/// @group core
////

$font-weight-scale: (
  thin: 100,
  extra-light: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800,
  heavy: 900
);

$font-weight-names: (
  100: thin,
  200: extra-light,
  300: light,
  400: regular,
  500: medium,
  600: semi-bold,
  700: bold,
  800: extra-bold,
  900: heavy
);

$font-weight-vars: (
  values: 300 400 500 700 900,
  breakpoints: false
) !default;

@if (map-get($typography-vars, font-weight) != null) {
  $font-weight-vars: map-get($typography-vars, font-weight);
}
