////
/// Core Setting : Typography title
/// @group core
////

$title-styles: (
  18: (
    line-height: 6v
  ),
  20: (
    line-height: 7v
  ),
  22: (
    line-height: 7v
  ),
  24: (
    line-height: 8v
  ),
  28: (
    line-height: 9v
  ),
  32: (
    line-height: 10v
  ),
  40: (
    line-height: 12v
  ),
  48: (
    line-height: 14v
  ),
  56: (
    line-height: 16v
  ),
  64: (
    line-height: 18v
  ),
  72: (
    line-height: 20v
  ),
  80: (
    line-height: 22v
  )
);

$title-settings: (
  h6: (
    weight: bold,
    breakpoints: (
      first: 18,
      md: 20
    ),
    margin: title
  ),
  h5: (
    weight: bold,
    breakpoints: (
      first: 20,
      md: 22
    ),
    margin: title
  ),
  h4: (
    weight: bold,
    breakpoints: (
      first: 22,
      md: 24
    ),
    margin: title
  ),
  h3: (
    weight: bold,
    breakpoints: (
      first: 24,
      md: 28
    ),
    margin: title
  ),
  h2: (
    weight: bold,
    breakpoints: (
      first: 28,
      md: 32
    ),
    margin: title
  ),
  h1: (
    weight: bold,
    breakpoints: (
      first: 32,
      md: 40
    ),
    margin: title
  ),
  xs: (
    weight: bold,
    breakpoints: (
      first: 40,
      md: 48
    ),
    margin: display
  ),
  sm: (
    weight: bold,
    breakpoints: (
      first: 48,
      md: 56
    ),
    margin: display
  ),
  md: (
    weight: bold,
    breakpoints: (
      first: 56,
      md: 64
    ),
    margin: display
  ),
  lg: (
    weight: bold,
    breakpoints: (
      first: 64,
      md: 72
    ),
    margin: display
  ),
  xl: (
    weight: bold,
    breakpoints: (
      first: 72,
      md: 80
    ),
    margin: display
  )
);
