////
/// Core Setting : Typography title
/// @group core
////

$title-styles: (
  4.5v: (
    line-height: 6v
  ),
  5v: (
    line-height: 7v
  ),
  5.5v: (
    line-height: 7v
  ),
  6v: (
    line-height: 8v
  ),
  7v: (
    line-height: 9v
  ),
  8v: (
    line-height: 10v
  ),
  10v: (
    line-height: 12v
  ),
  12v: (
    line-height: 14v
  ),
  14v: (
    line-height: 16v
  ),
  16v: (
    line-height: 18v
  ),
  18v: (
    line-height: 20v
  ),
  20v: (
    line-height: 22v
  )
);

$title-settings: (
  h6: (
    weight: bold,
    breakpoints: (
      first: 4.5v,
      md: 5v
    ),
    margin: title
  ),
  h5: (
    weight: bold,
    breakpoints: (
      first: 5v,
      md: 5.5v
    ),
    margin: title
  ),
  h4: (
    weight: bold,
    breakpoints: (
      first: 5.5v,
      md: 6v
    ),
    margin: title
  ),
  h3: (
    weight: bold,
    breakpoints: (
      first: 6v,
      md: 7v
    ),
    margin: title
  ),
  h2: (
    weight: bold,
    breakpoints: (
      first: 7v,
      md: 8v
    ),
    margin: title
  ),
  h1: (
    weight: bold,
    breakpoints: (
      first: 8v,
      md: 10v
    ),
    margin: title
  ),
  xs: (
    weight: bold,
    breakpoints: (
      first: 10v,
      md: 12v
    ),
    margin: display
  ),
  sm: (
    weight: bold,
    breakpoints: (
      first: 12v,
      md: 14v
    ),
    margin: display
  ),
  md: (
    weight: bold,
    breakpoints: (
      first: 14v,
      md: 16v
    ),
    margin: display
  ),
  lg: (
    weight: bold,
    breakpoints: (
      first: 16v,
      md: 18v
    ),
    margin: display
  ),
  xl: (
    weight: bold,
    breakpoints: (
      first: 18v,
      md: 20v
    ),
    margin: display
  )
);

$title-utilities: true !default;
@if map-get($typography-vars, text) == false {
  $title-utilities: false;
}
