<%#
# paramètres input group

* input.valid (string, optional) : message de validation

* input.error (string, optional) : message d'erreur

* input.disabled (boolean, optional) : champ désactivé

* input.groupId (string, optional) : id du groupe

* input.groupAttributes (object, optional) : attributs supplémentaires sur le groupe

%>
<% eval(include('../../../../../core/index.ejs')); %>

<%
const input = locals.input || {};
let groupClasses = [prefix + '-input-group'];
const groupAttributes = input.groupAttributes || {};
groupAttributes.id = input.groupId || uniqueId('input-group');

if (input.error) groupClasses.push(prefix + '-input-group--error');
if (input.disabled) groupClasses.push(prefix + '-input-group--disabled');
if (input.valid) groupClasses.push(prefix + '-input-group--valid');
%>

<div <%- includeClasses(groupClasses); %> <%- includeAttrs(groupAttributes); %>>
  <%- include('./input', {input: input}); %>
</div>
