////
/// Button Tool - group
/// @group button
////

@mixin horizontal-btns-group() {
  #{ns(btn)} {
    width: auto;
    max-width: 100%;
    @include margin-x(2v);
  }

  > li {
    display: inline-flex;
    max-width: 100%;
    width: auto;
  }
}

@mixin vertical-btns-group() {
  > li,
  > div {
    width: 100%;
    max-width: 100%;
  }

  #{ns(btn)} {
    @include size(calc(100% - 4v));
    @include margin(0 2v 4v);
    justify-content: center;
  }
}
