////
/// Header Module : brand
/// @group header
////

&__brand {
  @include display-flex(row, center, flex-start, wrap);
  @include margin-y(-4v, lg);
  @include size(100%);

  @include respond-from(lg) {
    flex-wrap: nowrap;
    @include size(auto);
  }

  &-top {
    @include display-flex(row, center, flex-start);
    @include size(100%);
    @include size(auto, null, lg);
  }

  @include hover-media-query {
    &#{ns(enlarge-link)} {
      a[href] {
        &:hover {
          --a: 0.1;
        }

        &:active {
          --a: 0.2;
        }
      }
    }
  }
}

&__logo,
&__operator,
&__service {
  @include padding(4v, lg);

  &:not(:last-child) {
    @include margin-right(2v, lg);
  }
}

&__logo {
  order: 1;
  flex: 0 0 auto;
  @include padding(3v);
  @include logo(sm, null) {
    @include margin(-1em);
  }
}

&__operator {
  @include padding(3v);
  order: 2;
  flex: 0 1 auto;

  img {
    display: block;
  }
}

&__service {
  @include padding-y(3v);
  @include margin-x(3v);
  @include margin-x(0, lg);
  @include size(100%);

  @include respond-from(lg) {
    width: auto;
  }

  &-title {
    @include title-style(h6, false);
  }
}
