////
/// Header Module : tools
/// @group header
////

#{ns(header)} {
  &__tools {
    @include respond-from(lg) {
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      @include padding-x(4v);
      @include margin-left(auto);
      flex: 1 0 auto;

      &-links + #{ns(header__search)} {
        @include margin-top(4v);
      }
    }

    #{ns(header__search)} {
      @include respond-from(lg) {
        @include max-size(96v);
        @include margin-left(auto);
      }
    }
  }
}
