////
/// button Scheme
/// @group button
////

@mixin _button-scheme($legacy: false) {
  #{ns(btn)} {
    @include scheme-element-bg-color(action-high blue-france, (legacy:$legacy));
    @include scheme-element-text-color(inverted blue-france, (legacy:$legacy));

    @include disabled((legacy: $legacy, text: true, background: true, can-be-link: true));

    // Outline variant
    &--secondary {
      @include btn-kind-scheme(2, $legacy);
    }

    // Grey outline variant
    &--tertiary {
      @include btn-kind-scheme(3, $legacy);
    }

    // Ghost variant
    &--tertiary-no-outline,
    &--close,
    &--display {
      @include btn-kind-scheme(4, $legacy);
    }
  }
}
