////
/// Button Setting
/// @group button
////

$btn-settings:(
  selector: btn,
  sizes: (
    sm: (
      font-size: 3.5v,
      min-height: 8v,
      padding-x: 3v,
      icon: sm,
      icon-margin-x: 2v,
      icon-only: sm,
    ),
    md: (
      font-size: 4v,
      min-height: 10v,
      padding-x: 4v,
      icon: sm,
      icon-margin-x: 2v,
      icon-only: md,
    ),
    lg: (
      font-size: 4.5v,
      min-height: 12v,
      padding-x: 6v,
      icon: md,
      icon-margin-x: 2v,
      icon-only: lg,
    )
  ),
  places: only left right,
  display: flex,
  align-on-content: true,
  blank: true,
  forced-color: buttontext
);
