////
/// Button Tool
/// @group button
////

@mixin build-btn() {
  @include _build-link($btns-settings);
}

@mixin nest-btn($size: md, $place: null, $icon:null, $from: null, $insert: true) {
  @include _nest-link($btns-settings, $size, $place, $icon, $from, $insert) {
    @content;
  }
}
