////
/// Button Tool
/// @group button
////

@mixin build-btn() {
  @include _build-link($btn-settings) {
    @content;
  }
}

@mixin nest-btn($size: md, $place: null, $icon:null, $from: null, $insert: true, $align-on-content: false) {
  @include _nest-link($btn-settings, $size, $place, $icon, $from, $insert, $align-on-content) {
    @content;
  }
}

@mixin btn-kind-scheme ($kind: 2, $legacy: false) {
  @if ($kind == 2) {
    @include scheme-element-bg-transparent((legacy:$legacy, hover: true));
    @include scheme-element-text-color(action-high blue-france, (legacy:$legacy));
    @include scheme-element-box-shadow-color(action-high blue-france, (legacy:$legacy));

    @include disabled((legacy: $legacy, text: true, box-shadow: true, can-be-link: true)) {
      @include scheme-element-bg-transparent((legacy:$legacy, hover: true));
    }
  }
  @else if ($kind == 3) {
    @include scheme-element-bg-transparent((legacy:$legacy, hover: true));
    @include scheme-element-text-color(action-high blue-france, (legacy:$legacy));
    @include scheme-element-box-shadow-color(default grey, (legacy:$legacy));

    @include disabled((legacy: $legacy, text: true, box-shadow: true, can-be-link: true)) {
      @include scheme-element-bg-transparent((legacy:$legacy, hover: true));
    }
  }
  @else if ($kind == 4) {
    @include scheme-element-bg-transparent((legacy:$legacy, hover: true));
    @include scheme-element-text-color(action-high blue-france, (legacy:$legacy));
    @include disabled((legacy: $legacy, text: true, box-shadow: false, can-be-link: true)) {
      @include scheme-element-bg-transparent((legacy:$legacy, hover: true));
    }
  }
}

@mixin horizontal-btns-group() {
  @include margin-x(-2v);

  #{ns(btn)} {
    width: auto;
    @include margin-x(2v);
    max-width: 100%;
  }

  > li {
    display: inline-flex;
    max-width: 100%;
    width: auto;

    @include before(none);
  }
}

@mixin vertical-btns-group() {
  @include margin-right(0);
  @include margin-left(0);

  > li {
    width: 100%;
    max-width: 100%;
  }

  #{ns(btn)} {
    width: 100%;
    @include margin-right(0);
    @include margin-left(0);
  }
}
