////
/// Card Module - sm
/// @group card
////

#{ns(card)} {
  &--sm &__header {
    @include nest-badge(sm);
    @include nest-tag(sm);
  }

  &--sm &__content {
    @include nest-badge(sm);
    @include nest-tag(sm);
    @include padding(6v);
  }

  &--sm &__title {
    @include title-style(h6);

    a,
    button {
      @include icon-size(sm, after);
    }
  }

  &--sm &__desc {
    @include margin-top(2v);
  }

  &--sm &__start {
    #{ns(badges-group)},
    #{ns(tags-group)} {
      @include margin-bottom(0);
    }
  }

  &--sm &__start &__detail {
    @include margin-bottom(2v);
  }

  &--sm &__end {
    @include margin-top(3v);
    @include padding-top(1v);
  }

  &--sm#{ns(enlarge-link)}:not(&--no-icon) &__end,
  &--sm#{ns(enlarge-button)}:not(&--no-icon) &__end {
    @include margin-bottom(-8v); // 4v (icon) + 1v (padding end) + 3v (marge texte icon)
    @include min-height(5v); // 4v (icon) + 1v (padding end)
    @include padding-right(6v); // 4v (icon) + 2v (padding)
  }

  &--sm#{ns(enlarge-link)}:not(&--no-icon) &__content,
  &--sm#{ns(enlarge-button)}:not(&--no-icon) &__content {
    @include padding-bottom(14v); // 6v (padding card) + 4v (icon) + 1v (padding end) + 3v (marge texte icon)
  }

  &--sm#{ns(enlarge-link)}:not(&--no-icon) &__title,
  &--sm#{ns(enlarge-button)}:not(&--no-icon) &__title {
    a,
    button {
      @include icon-size(sm, after) {
        @include right(6v);
        @include bottom(6v);
      }
    }
  }

  &--sm &__footer {
    @include padding(2v 6v 6v);
  }
}
