<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >

  <%- sample('Boutons de partage actifs', '../../../../component/share/example/sample/share-default', {}); %>

</div>
