////
/// Link Legacy
/// @group core
////

@use 'src/module/path';
@use 'src/module/shame/media-query';

@include path.to-dist(2);
@include media-query.order;

@import 'index';
@import '../button/style/tool';
@import 'style/scheme';
@import 'style/legacy';

// deprecated
// @import 'deprecated/style/module';
@import 'deprecated/style/scheme';

@include _link-scheme(true);

// deprecated
@include _link-deprecated-scheme(true);
