////
/// Accordion Module
/// @group accordion
////

#{ns(accordion)} {
  position: relative;

  // add heading style for accessibility concerns and reset margins
  @include title {
    @include margin(0);
    display: block;
    font-size: unset;
    line-height: unset;
  }

  &__btn {
    @include _build-link-base;
    @include nest-accordion-button(add-line);
    @include size(100%);
    text-align: left;
    @include margin(0);

    @include before {
      @include margin-right(0);
      @include margin-left(auto);
    }

    &[aria-expanded="true"] {
      @include font-weight('bold');

      @include before {
        @include icon-content(subtract-line);
      }
    }
    @include padding(3v 0);
    @include padding(3v 4v, md);
  }

  #{ns(collapse)} {
    @include enable-list-style;
    @include margin(0 -1v, md);
    @include padding-x(4v, md);

    transition: visibility 0.3s, padding 0.3s;

    &--expanded {
      @include padding-top(4v);
      @include padding-bottom(6v);
    }
  }
}

#{ns-group(accordions)} {
  @include disable-list-style;
}
