////
/// Core Tool : Action clickable
/// @group core
////

@mixin clickable-selector($elements: $action-elements) {
  $selectors: ();
  $elements: get-clickable-elements($elements);
  @each $element, $setting in $elements {
    $selector: map-get($setting, selector);
    $selectors: append($selectors, $selector, 'comma');
  }

  #{$selectors} {
    @content;
  }
}
