////
/// Core Tools : Global sr-only
/// @group core
////

@mixin hidden() {
  @each $bp, $limits in $breakpoints {
    #{ns('hidden-' + $bp )} {
      @include respond-from($bp) {
        display: none !important;
      }
    }

    #{ns('displayed-' + $bp)} {
      display: none !important;
      @include respond-from($bp) {
        display: inherit !important;
      }
    }
  }
}
