////
/// Core Function : encoding
/// @group core
////

@function svg-encode($svg, $legacy) {
  $svg: str-replace($svg, '#', '%23');
  @if ($legacy) {
    $svg: str-replace($svg, '<', '%3C');
    $svg: str-replace($svg, '>', '%3E');
    $svg: str-replace($svg, '"', "'");
    $svg: str-replace($svg, '{', "%7B");
    $svg: str-replace($svg, '}', "%7D");
    $svg: str-replace($svg, '’', "%E2%80%99");
  }
  @return 'data:image/svg+xml;charset=utf8,' + $svg;
}
