////
/// Core Function : string
/// @group core
////

@use "sass:math";

@function _pow10($exponent) {
  @if $exponent == 0 {
    @return 1;
  }
  $result: 1;
  @for $i from 1 through $exponent {
    $result: $result * 10;
  }
  @return $result;
}

/// Fonction de transformation d'une string en nombre intégral
/// @access public
/// @param {String} $value - le nombre en chaîne de caractères
@function str-to-num($value) {
  $length: str-length($value);
  $int: ();
  $float: ();
  $floating: false;
  $neg: false;

  @for $i from 1 through $length {
    $n: str-slice($value, $i, $i);

    @if $n == '.' {
      $floating: true;
    }
    @else if $n == '-' {
      $neg: true;
    }
    @else {
      @for $d from 0 through 9 {
        @if '#{$d}' == $n {
          @if $floating {
            $float: append($float, $d);
          }
          @else {
            $int: append($int, $d);
          }
        }
      }
    }
  }

  $result: 0;

  $length: length($int);
  @if $length > 0 {
    @for $i from 1 through $length {
      $result: $result + (nth($int, $i) * _pow10($length - $i));
    }
  }

  $length: length($float);
  @if $length > 0 {
    @for $i from 1 through $length {
      $result: $result + math.div(nth($float, $i), _pow10($i));
    }
  }

  @if $neg {
    @return -$result;
  }
  @else {
    @return $result;
  }
}

/// Remplacement dans une chaine de caractères
/// @access public
/// @param {String} $haystack - chaine de caractère où chercher
/// @param {String} $needle - élément à chercher
/// @param {String} $content - élément de remplacement
/// @return {String} la chaîne de caractères transformée
@function str-replace($haystack, $needle, $content, $start: 1) {
  $chunks: str-split($haystack, $needle);
  $result: str-join($chunks, $content);
  @return $result;
}

/// Découpage d'une chaine de caractères avec un séparateur particulier
/// @access public
/// @param {String} $string - chaine de caractère à découper
/// @param {String} $separator - séparateur
@function str-split($haystack, $needle:',', $separator: comma) {
  @if type-of($haystack) != string {
    $haystack: '#{$haystack}';
  }
  @if type-of($needle) != string {
    $needle: '#{$needle}';
  }

  $list: ();
  $length: str-length($needle);
  $index: -1;

  @while $index != null {
    $index: str-index($haystack, $needle);

    @if $index != null {
      $list: append($list, str-slice($haystack, 1, $index - 1), $separator);
      $haystack: str-slice($haystack, $index + $length);
    }
    @else {
      $list: append($list, $haystack, $separator);
    }
  }

  @return $list;
}

@function str-join($list, $separator:',') {
  $result: '';
  $s: '';

  @each $item in $list {
    $result: '#{$result}#{$s}#{$item}';
    $s: $separator;
  }

  @return $result;
}

@function is-heading($name) {
  @return str-index('#{$name}', 'h') == 1;
}
