////
/// Core Function : Action Hover
/// @group core
////

@function hover-linear-gradient ($hue, $saturation, $lightness, $alpha) {
  $hsla: 'hsl(#{$hue}, #{$saturation}, #{$lightness}, #{$alpha})';
  @return linear-gradient(90deg, unquote($hsla), unquote($hsla));
}

@function css-hsla($hue, $saturation, $lightness, $alpha) {
  @return unquote('hsla(#{$hue}, #{$saturation}, #{$lightness}, #{$alpha})');
}

@function css-hsl-alpha($hsl, $alpha) {
  @return unquote('hsla(#{$hsl}, #{$alpha})');
}

@function hover-hsla-legacy ($setting, $alpha) {
  $hue: map-get($setting, hue);
  $saturation: map-get($setting, saturation);
  $lightness-setting: map-get($setting, lightness);
  $base: map-get($lightness-setting, base);
  $modifier: map-get($lightness-setting, modifier);
  @return css-hsla($hue, $saturation, $base + $modifier, $alpha);
}
