<div class="example-controls" >
    <div class="rf-form-group">
        <fieldset class="rf-fieldset rf-fieldset--inline">
            <legend class="rf-sr-only">Interface de contrôle des test</legend>
            <div class="rf-fieldset__content">
                <div class="rf-checkbox-group">
                    <input type="checkbox" id="theme-checkbox" name="checkboxes-inline-1">
                    <label class="rf-label" for="theme-checkbox">Thème clair / sombre</label>
                </div>
                <div class="rf-checkbox-group">
                    <input type="checkbox" id="mourning-checkbox" name="checkboxes-inline-2">
                    <label class="rf-label" for="mourning-checkbox">En deuil</label>
                </div>
            </div>
        </fieldset>
    </div>
</div>
