////
/// Core Tool : Color disabled
/// @group core
////

/// Applique les couleurs disabled sur l'élément
/// @access public
/// @param {map} map des options :
///   - legacy {boolean}: version pour navigateurs modernes ou anciens.
///   - background {boolean}: true, applique le token background disabled sur la couleur de fond
///   - text {boolean}: true, applique le token text disabled sur la couleur de texte
///   - box-shadow {}: si true, applique le token border disabled sur l'élément avec la box-shadow par défaut (encadré de 1 px). si une valeur de box-shadow est fournie, applique cette valeur (voir get-box-shadow)
@mixin disabled-colors($options: ()) {
  $legacy: map-get($options, legacy);
  $text: map-get($options, text);
  $background: map-get($options, background);
  $box-shadow: map-get($options, box-shadow);

  @if $text {
    @include scheme-element-text-color(disabled grey, (legacy: $legacy));
  }

  @if $background {
    @include scheme-element-bg-color(disabled grey, (legacy: $legacy));
  }

  @if $box-shadow == true {
    @include scheme-element-box-shadow-color(disabled grey, (legacy: $legacy));
  }
  @else if $box-shadow {
    @include scheme-element-box-shadow-color(disabled grey, (legacy: $legacy), $box-shadow);
  }
}
/// Applique les couleurs disabled sur l'élément avec les sélecteurs appropriés
/// @access public
/// @param {map} map des options :
///   - can-be-link {boolean}: ajoute le sélecteur de lien sans href.
///   - legacy {boolean}: version pour navigateurs modernes ou anciens.
///   - background {boolean}: true, applique le token background disabled sur la couleur de fond
///   - text {boolean}: true, applique le token text disabled sur la couleur de texte
///   - box-shadow {}: si true, applique le token border disabled sur l'élément avec la box-shadow par défaut (encadré de 1 px). si une valeur de box-shadow est fournie, applique cette valeur (voir get-box-shadow)
@mixin disabled($options: ()) {
  $selectors: '&:disabled, &[disabled]';
  @if map-get($options, can-be-link) {
    $selectors: append($selectors, selector-associate(&, 'a:not([href])'), comma);
  }

  @at-root #{$selectors} {
    @include disabled-colors($options);
    @content;
  }
}
