////
/// Core Tool : Color disabled
/// @group core
////

@mixin disabled-colors($options: ()) {
  $legacy: map-get($options, legacy);
  $text: map-get($options, text);
  $background: map-get($options, background);
  $box-shadow: map-get($options, box-shadow);

  @if $text {
    @include scheme-element-text-color(disabled grey, (legacy: $legacy));
  }

  @if $background {
    @include scheme-element-bg-color(disabled grey, (legacy: $legacy));
  }

  @if $box-shadow == true {
    @include scheme-element-box-shadow-color(disabled grey, (legacy: $legacy));
  }
  @else if $box-shadow {
    @include scheme-element-box-shadow-color(disabled grey, (legacy: $legacy), $box-shadow);
  }
}

@mixin disabled($options: ()) {
  $selectors: '&:disabled, &[disabled]';
  @if map-get($options, can-be-link) {
    $selectors: append($selectors, selector-associate(&, 'a:not([href])'), comma);
  }

  @at-root #{$selectors} {
    @include disabled-colors($options);
    @content;
  }
}
