////
/// Core Color Tools : Hover
/// @group core
////

@mixin define-hover-props () {
  $default: map-get($action-hover, light);
  $lightness: map-get($default, lightness);

  :root {
    --ah-h: #{map-get($default, hue)};
    --ah-s: #{map-get($default, saturation)};
    --ah-lb: #{map-get($lightness, base)};
    --ah-lm: #{map-get($lightness, modifier)};
  }
}
