<% const sample = getSample(include); %>


<div class="<%= prefix %>-container">
  <%- sample('Transcription', '../../../../component/transcription/example/sample/transcription-default.ejs', {});  %>
</div>
