////
/// Share Deprecated Module
/// @group share
////

#{ns(share)} {
  &__group {
    @include disable-list-style;
    @include horizontal-btns-group;
    @include margin-x(-2v);
    @include width(auto);
    order: 2;
    display: flex;
  }

  &__link {
    @include disable-underline;
    @include tint-enabled(true, null);
    display: inline-flex;
    @include margin-x(2v);
    @include margin-bottom(4v);
  }
}

@include build-share-link(facebook, facebook-circle-line);
@include build-share-link(twitter, twitter-line);
@include build-share-link(linkedin, linkedin-box-line);
@include build-share-link(mail, mail-line);
@include build-share-link(copy, links-fill);
