/*!
 * DSFR v1.1.0 | SPDX-License-Identifier: MIT | License-Filename: LICENCE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

.fr-table {
  /* Style bordered, enleve le style even/odd et ajoute des bordures entre chaque ligne */

  /*
  * Ombres ajoutées en Js si le contenu est plus grand que le conteneur
  */
}

.fr-table caption {
  color: var(--g800);
}

.fr-table thead td,
.fr-table thead th {
  border-bottom: 0.125rem solid var(--g600);
  background-color: var(--beige);
  color: var(--g700);
}

.fr-table tbody tr:nth-child(even) {
  background-color: var(--beige);
}

.fr-table tbody tr:nth-child(odd) {
  background-color: var(--w);
}

.fr-table--bordered tbody td,
.fr-table--bordered tbody th {
  border-bottom: 1px solid var(--g400);
}

.fr-table--bordered tbody tr:nth-child(odd),
.fr-table--bordered tbody tr:nth-child(even) {
  background-color: var(--t-plain);
}

.fr-table__shadow {
  /**
    * Modifier ombre à gauche
    **/

  /**
    * Modifier ombre à droite
    **/

  /**
    * Modifier combinaison ombre à gauche et ombre à droite
    **/
}

.fr-table__shadow::before {
  box-shadow: inset 0 0 0 0 var(--scroll-shadow), inset 0 0 0 0 var(--scroll-shadow);
}

.fr-table__shadow--left::before {
  box-shadow: inset 2rem 0 1rem -2rem var(--scroll-shadow), inset 0 0 0 0 var(--scroll-shadow);
}

.fr-table__shadow--right::before {
  box-shadow: inset 0 0 0 0 var(--scroll-shadow), inset -2rem 0 1rem -2rem var(--scroll-shadow);
}

.fr-table__shadow--left.fr-table__shadow--right::before {
  content: "";
  display: block;
  box-shadow: inset 2rem 0 1rem -2rem var(--scroll-shadow), inset -2rem 0 1rem -2rem var(--scroll-shadow);
}
