////
/// Core Tool : Reset
/// @group core
////

@mixin a-reset {
  text-decoration: none;
  color: inherit;
}

@mixin enable-link-style() {
  --link-underline: 0 1px 0 0 currentColor;
  --link-blank-font: #{font-icon(sm, true)};
  --link-blank-content: "\00a0#{icon-glyph(external-link-line, true)}";
}

@mixin disable-link-style() {
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
}

@mixin link-underline() {
  box-shadow: var(--link-underline);
}

@mixin link-blank() {
  @include after(var(--link-blank-content)) {
    font: var(--link-blank-font);
  }
}
