////
/// Buttons Module
/// @group buttons
////

#{dse(btn)} {
  @include build-btn();
  @include scheme-element-bg-color(bf500, true, true);

  @include specify(a) {
    @include scheme-element-text-color(w-bf500, true);
  }

  @include disabled-link(true, true);

  $button:&;
  // Outline variant
  &--secondary {
    @include scheme-element-bg-color(t-plain, false, override);
    @include specify(a) {
      @include scheme-element-text-color(bf500);
      @include scheme-element-box-shadow-color(bf500, $button);
    }

    @include disabled-link(true, false, true) {
      @include scheme-element-bg-color(t-plain, false);
    }
  }
}

@import './modules/buttons-group.scss';
