////
/// Pagination Main
/// @group pagination
////

/* ¯¯¯¯¯¯¯¯¯ *\
  PAGINATION
\* ˍˍˍˍˍˍˍˍˍ */

@import '../../core/style/path/path-2';
@import 'index';
@import 'style/module';
@import 'style/scheme';

@include _pagination-scheme;
