<%#
# paramètres input group

* input.success (string, optional) : message de succès

* input.error (string, optional) : message d'erreur

* input.disabled (boolean, optional)

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
let groupClasses = [prefix + '-input-group'];

if (input.error !== undefined) groupClasses.push(prefix + '-input-group--error');
if (input.disabled !== undefined) groupClasses.push(prefix + '-input-group--disabled');
if (input.success !== undefined) groupClasses.push(prefix + '-input-group--success');
%>

<div <%- includeClasses(groupClasses); %>>
  <%- include('./input'); %>
</div>
