////
/// Core Function : Path
/// @group core
////

@use 'sass:meta';

@function dist-path($levels) {
  $path: '';
  @for $level from 0 to $levels {
    $path: '../#{$path}';
  }
  @return $path;
}

@mixin dist-path($level) {
  @if meta.global-variable-exists(DIST-PATH) {
    $DIST-PATH: dist-path($level) !global;
  }
}
