////
/// Core Function : Path
/// @group core
////

@function dist-path($levels) {
  $path: '';
  @for $level from 0 to $levels {
    $path: '../#{$path}';
  }
  @return $path;
}

@mixin dist-path($level) {
  @if $DIST-PATH == null {
    $DIST-PATH: dist-path($level) !global;
  }
}
