////
/// Core Function : Path
/// @group core
////

$dist-path: null;
@function dist-path($levels) {
  $path: '';
  @for $level from 0 to $levels {
    $path: '../#{$path}';
  }
  @return $path;
}

@mixin dist-path($level) {
  @if not $dist-path {
    $dist-path: dist-path($level) !global;
  }
}
