////
/// Sidemenu Module : action
/// @group sidemenu
////

/**
 * Styles du bouton et du lien d'accès direct du sidemnu
 */
#{ns(sidemenu__link)},
#{ns(sidemenu__btn)} {
  @include relative;
  @include display-flex(row, center);
  @include size(100%);
  @include padding(3v 2v);
  @include margin(0, md);
  @include text-style(md);
  text-align: left;
  font-weight: font-weight(bold);

  @include enable-tint;

  &[aria-current] {
    @include before('') {
      @include absolute(3v, null, 3v, 0, 2px);
    }
  }

  @include size(100%, null, md);
}

#{ns(sidemenu__link)} {
  &[aria-current]:not([href]) {
    pointer-events: none;
    cursor: default;
  }
}

/**
 * Style du bouton du sidemnenu pour ouvrir/refermer les listes de niveaux 1 et 2
 * Bouton pour la version mobile pour ouvrir/refermer le sidemenu
 */
#{ns(sidemenu__btn)} {
  &[aria-expanded] {
    @include display-flex(row, center);
    @include padding(3v 8v 3v 2v, md);

    @include icon(arrow-down-s-line, sm, after) {
      @include margin-left(auto);
      @include margin-right(0);
      transition: transform 0.3s;

      @include margin-right(-6v, md);
    }
  }

  &[aria-expanded="true"] {
    @include after {
      transform: rotate(-180deg);
    }
  }
}

/**
 * Modificateur pour le bouton en version mobile permettant d'ouvrir/refermer le sidemenu
 * L'icône de gauche est défini dans _sidemenu.scss (provisoire)
 */
// @TODO transformer en modifier
#{ns(sidemenu__inner)} > #{ns(sidemenu__btn)} {
  @include size(100%);
  font-weight: normal;
  @include after {
    @include margin-right(4v);
  }

  /**
  * Ajout de l'icône de menu en mode mobile (provisoire)
  */
  @include icon(menu-2-fill, sm, before) {
    @include margin-x(2v);
  }

  @include respond-from(md) {
    display: none;
  }
}
