////
/// Sidemenu Module : inner
/// @group sidemenu
////

&__inner {
  @include padding(0 8v 0 1v, md);

  /**
  * Ce wrapper ne sert que pour la version mobile
  * On l'utilise pour l'ouverture/fermeture du sidemenu entier
  */
  > #{ns(collapse)} {
    @include margin(-1v 3v 0);
    @include padding(1v 1v 0);
    @include padding(0, md);
    @include margin(0, md);

    @include respond-from(md) {
      overflow: initial;
      max-height: none;

      @include before {
        display: none;
      }

      &:not(#{ns(collapse)}--expanded) {
        visibility: inherit;
      }
    }
  }
}
