@use '../../../../../module/spacing';

#{ns(fieldset)} {
  @include relative;
  @include margin(0 -3v 4v);
  @include padding(0 1v);
  @include display-flex(row, flex-end, null, wrap);
  border: 0;

  &__legend {
    @include margin-bottom(4v);
    @include padding-x(3v);
    @include margin-x(-1v);
    @include text-style(md);
    @include font-weight(bold);
    @include width(100%);

    &--regular {
      @include font-weight(regular);
    }

    #{ns(hint-text)} {
      @include margin-top(2v);
      @include font-weight(regular);
    }
  }

  &--valid,
  &--valid &__legend,
  &--error,
  &--error &__legend,
  &--info,
  &--info &__legend {
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--valid,
  &--error,
  &--info {
    background-size: spacing.space(2px calc(100% - (4v)));
  }

  &--valid &__legend,
  &--error &__legend,
  &--info &__legend {
    background-size: 2px 100%;
  }

  &__element {
    flex: 1 1 100%;
    @include max-width(100%);
    @include padding-x(2v);
    @include margin-bottom(4v);

    &--inline {
      flex: 0 0 auto;

      &\@md {
        @include respond-from(md) {
          flex: 0 0 auto;
        }
      }

      &-grow,
      &\@md#{&}-grow {
        flex-grow: 1;
      }
    }

    &--year,
    &--postal {
      flex: 0 0 space(32v);
    }

    &--year:not(&--inline),
    &--postal:not(&--inline) {
      @include margin-right(calc(100% - 32v));
    }

    &--number {
      flex: 0 0 space(22v);
    }

    &--number:not(&--inline) {
      @include margin-right(calc(100% - 22v));
    }
  }

  &__legend,
  &__element {
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    > p,
    > #{ns(fieldset)} {
      &:last-child {
        @include after('', block) {
          @include margin-bottom(-4v);
        }
      }
    }
  }

  > #{ns(messages-group)} {
    flex: 1 1 100%;
    @include padding-x(2v);

    > #{ns(message)}:last-child {
      @include margin-bottom(4v);
    }
  }
}
