<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <div style="position:relative">
    <div class="<%= prefix%>-container">
      <%- sample('Navigation principale', '../../../../component/navigation/example/sample/navigation', {navigation: {href: '../'}}); %>
    </div>
  </div>
</div>
