////
/// Toggle Module : Group
/// @group toggle
////

/*
 * On surcharge les styles de base (provisoire)
 */

.#{$prefix}-toggle-list {
  margin: 0;
  @extend %list-reset;

  > li {
    margin-bottom: 0;

    &::before {
      content: none;
    }
  }
}
