<%#
# paramètres radio group

* size (string, optionnal) : la valeur sm permet d'opter pour de petites cases à cocher

%>
<% eval(include('../../../core/index.ejs')); %>
<%
let groupClasses = [prefix + '-radio-group'];
if(locals.rich) groupClasses.push(prefix + '-radio-rich');
switch(locals.size) {
    case 'sm' :
        groupClasses.push(prefix + '-radio-group--sm');
        break;

}
%>

<div <%- includeClasses(groupClasses); %>>
    <%- include('./radio', {rich : locals.rich ? locals.rich : false, disabled: locals.disabled ? locals.disabled : false}); %>
</div>
