<form action="">
  <%- include("../../../../input/example/sample/inputs", {input: {group: true, id:'text'}}); %>
  <%- include("../../../../button/example/sample/button-default", {button: {title: 'Envoyer'}}); %>
</form>
