#{ns(header)} {
  #{ns(links-group)} {
    @include disable-list-style;
    @include display-flex(null, stretch, null, wrap);
    @include vertical-btns-group;

    @include respond-from(lg) {
      justify-content: flex-end;
      @include horizontal-btns-group;
    }

    #{ns(link)} {
      @include disable-underline;
      @include enable-tint;

      @include has-not-icon {
        @include nest-btn(sm, null, null, null, false);
      }

      @include has-icon {
        @include nest-btn(sm, left, null, null, false);
        @include before('');
      }
    }
  }

  &__tools-links {
    #{ns-group(links)} {
      @include respond-from(lg) {
        @include horizontal-btns-group;
        justify-content: flex-end;
        @include margin(0 -1v);

        #{ns(link)} {
          @include margin-x(1v);
        }
      }
    }
  }

  & &__menu-links {
    #{ns(links-group)} {
      #{ns(link)} {
        @include size(100%);
        @include min-size(null, 12v);
        @include padding-left(0);
        @include margin-bottom(0);
      }
    }
  }

  #{ns(modal)} {
    & > * > #{ns(link--close)} {
      @include margin-bottom(6v);
      @include respond-from(lg) {
        display: none;
      }
    }
  }
}
