////
/// header Scheme
/// @group header
////

@mixin _header-deprecated-scheme($legacy: false) {
  #{ns(header)} {
    &__menu-links {
      #{ns(link)} {
        @include btn-kind-scheme(4, $legacy);
        @include scheme-element-box-shadow-color(default grey, (legacy:$legacy), bottom-1-in);
      }
    }

    &__tools-links {
      #{ns(link)} {
        @include btn-kind-scheme(4, $legacy);
      }
    }
  }
}
