////
/// Header Module : modal
/// @group header
////

#{ns(modal)} {
  overflow: auto;
  justify-content: initial;

  &:not([role="dialog"]) {
    transition: none;
  }

  @include padding-top(4v);
  @include padding-bottom(18v);

  @include before(none, none);
  @include after(none, none);

  @include respond-from(lg) {
    @include padding(0);
    @include margin(0);
    @include size(auto, auto);
    visibility: visible;
    opacity: 1;
    position: initial;
    background-color: transparent;
    overflow: initial;
  }

  & > * > #{ns(link--close)} {
    @include margin-bottom(6v);
    @include respond-from(lg) {
      display: none;
    }
  }
}
