////
/// Header Module : navigation bar
/// @group header
////

&__navbar {
  @include display-flex(row,flex-end);
  @include padding(1v);
  @include margin-left(auto);
  order: 3;
  flex: 0 0 auto;
  align-self: flex-start;
  @include z-index(menu);

  @include respond-from(lg) {
    display: none;
  }

  @include nest-btn(md, only) {
    flex: 0 0 auto;
    white-space: nowrap;

    &--menu {
      @include font-icon(menu-fill, null);
    }

    &--search {
      @include font-icon(search-line, null);
    }
  }
}
