////
/// Label Module
/// @group label
////

@include build-label();

#{ns(label)} {
  @include font-weight('bold');
  text-transform: uppercase;
  border-radius: space(1v);

  @include has-icon {
    @include nest-label(md, left, null, null, false){
      @include before {
        @include margin-left(0);
      }
    }
  }

  &--sm {
    @include has-icon {
      @include nest-label(sm, left, null, null, false){
        @include before {
          @include margin-left(0);
        }
      }
    }
  }

}

#{ns-group(labels)} {
  @include disable-list-style;
  display: flex;
  flex-wrap: wrap;
  @include margin-bottom(0);

  > li {
    display: inline-flex;
  }

  #{ns(label)} {
    @include margin-right(2v);
    @include margin-bottom(2v);
  }

  a#{ns(label)},
  button#{ns(label)} {
    @include margin-right(3v);
    @include margin-bottom(3v);

    &--sm {
      @include margin-right(6v);
      @include margin-bottom(6v);
    }
  }
}
