<%#
# paramètres navigation menu btn

* menu.collapseId (string, required) : id du collapse

* menu.label (string, required) : label du bouton

* menu.active (boolean, optional) : si true l'élément est actif

%>

<% let menu = locals.menu || {} %>
<button class="<%= prefix %>-nav__btn" aria-expanded="false" aria-controls="<%= menu.collapseId %>" <% if(menu.active) { %> aria-current="true" <% } %>><%- menu.label %></button>