<%#
# paramètres navigation menu link

* link.label (string, required) : Libellé du lien

* link.id (string, required) : id du lien

* link.href (string, required) : url du lien

* link.icon (string, optional) : icone du lien

* link.iconPlace (string, optional) : emplacement de l'icone
  si non défini alors que le paramètre icon est défini, bouton avec icone seule, sans libellé
  valeurs :
  * left : icone à gauche du libellé
  * right : icone à droite du libellé

* link.blank (boolean, optional) [default: false] : si true, target '_blank'

* link.active (boolean, optional) : si true l'élément est actif

* link.isPage (boolean, optional) : si true aria-current: 'page', sinon aria-current: 'true'

%>

<%
let link = locals.link || {};
const classes = link.classes || [];
classes.push(prefix + '-nav__link');

if (link.icon !== undefined) classes.push(`${prefix}-icon-${link.icon}`);

if (link.iconPlace !== undefined) {
  switch (link.iconPlace) {
    case 'left':
    classes.push(`${prefix}-link--icon-left`);
      break;

    case 'right':
    classes.push(`${prefix}-link--icon-right`);
      break;
  }
}

let attrs = {
  href: link.href,
  id: link.id
}
if (link.blank) attrs = {...targetBlankData(), ...attrs};

if (link.active) attrs['aria-current'] = link.isPage ? 'page' : 'true';

%>
<a <%- includeClasses(classes); %> <%- includeAttrs(attrs); %> ><%- link.label %></a>
