<%#
# paramètres navigation menu link

* link.label (string, required) : label du lien

* link.id (string, required) : id du lien

* link.href (string, required) : url du lien

* link.blank (boolean, optional) [default: false] : si true, target '_blank' 

* link.active (boolean, optional) : si true l'élément est actif

* link.isPage (boolean, optional) : si true aria-current: 'page', sinon aria-current: 'true'

%>

<%
let link = locals.link || {};
let attrs = {
  href: link.href,
  id: link.id
}
if (link.blank) attrs = {...targetBlankData(), ...attrs};

if (link.active) attrs['aria-current'] = link.isPage ? 'page' : 'true';

%>
<a class="<%= prefix %>-nav__link" <%- includeAttrs(attrs); %> ><%- link.label %></a>
