<%
 let data = {
   text: locals.text || lorem(),
   size: locals.size || undefined,
   author: locals.author || 'Auteur',
   href: locals.href || contentPlaceholder('https://lien-vers-la-source.fr'),
   sources: locals.sources || ['<cite>Ouvrage</cite>', 'Détail 1', 'Détail 2', 'Détail 3', '<a target="_blank" href="' + contentPlaceholder('Lien vers la sources ou des infos complémentaires') + '">Détail 4</a>'],
  };
 %>

<%- include('../../templates/ejs/quote.ejs', data); %>
