<%
 let data = {
   text: locals.text || lorem(),
   size: locals.size || undefined,
   author: locals.author || 'Auteur',
   image: locals.image || {img: '../img/placeholder.1x1.png', alt: true },
   href: locals.href || 'https://lien-vers-la-source.fr',
   sources: locals.sources || ['<cite>Ouvrage</cite>', 'Détail 1', 'Détail 2', 'Détail 3', '<a href="">Détail 4</a>'],
  };
 %>

<%- include('../../templates/ejs/quote.ejs', data); %>
