////
/// Radios Module
/// @group radios
////

/**
 * L'input de type radio avec son label est contenu dans un groupe
 * Ce groupe contient également le texte d'aide (optionnels)
 */
#{ns-group(radio)} {
  /**
   * Dans le cas d'un groupe de radios, on supprime l'espacement du premier groupe
   */
  &:first-child {
    @include margin-top(-3v);

    input[type="radio" i] + label {
      @include margin-top(0);
    }
  }

  /**
   * Dans le cas d'un groupe de radios, on supprime l'espacement du dernier groupe
   */
  &:last-child {
    @include margin-bottom(-3v);

    input[type="radio" i] + label {
      @include radio-rich() {
        @include margin-bottom(6v);
      }
    }
  }

  /**
   * On cache l'input de type radio pour le styler via le label
   */
  input[type="radio" i] {
    @include absolute;
    opacity: 0;

    /**
     * On applique un display grid sur le label afin de gérer le positionnement des élements
     */
    + label {
      @include relative;
      @include padding(3v 0);
      @include text-style(md);
      -webkit-tap-highlight-color: transparent;
      display: grid;
      display: -ms-grid;
      grid-row: 1;
      -ms-grid-row: 2;
      grid-column: 2;
      -ms-grid-column: 2;
      align-items: center;
      -ms-align-items: center;
      grid-template-columns: 1fr space(8v);
      -ms-grid-columns: 1fr space(8v);
      text-align: left;
      direction: rtl;

      &,
      & > * {
        unicode-bidi: plaintext;
      }

      /**
       * Style du texte d'aide dans le label
       */
      #{ns(hint-text)} {
        @include margin(0);
        grid-row: 2;
        grid-column: 1;
        -ms-grid-row: 2;
        -ms-grid-column: 1;
      }

      /**
       * On utilise un pseudo element before pour customiser l'aspect du bouton radio
       */
      @include before(inline-block, '') {
        @include size(6v, 6v);
        @include margin-right(2v);
        flex-shrink: 0;
        border: 1px solid;
        border-radius: 50%;
        transform-origin: center;
        grid-row: 1;
        -ms-grid-row: 1;
        grid-column: 2;
        -ms-grid-column: 2;
        align-items: center;
        -ms-align-items: center;
        transition: transform 0.3s;
      }
    }

    /**
     * On applique les styles au pseudo élément before du label quand l'input présente
     * un état check
     */
    &:checked {
      + label {
        /**
         * Cas du radio riche
         */
        @include radio-rich() {
          @include size(100%);
        }
      }
    }
  }

  /**
   * Modificateur pour la taille sm
   */
  &--sm {
    input[type="radio" i] {
      & + label {
        @include before() {
          @include size(4v, 4v);
        }
      }
    }
  }
}

@import 'modules/radios-rich';
