/*!
 * DSFR v1.1.0 | SPDX-License-Identifier: MIT | License-Filename: LICENCE.md | restricted use (see terms and conditions)
 */
/* ------------------------------------ *\
  SKIPLINK
\* ------------------------------------ */
.fr-skiplinks {
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
  position: absolute;
  padding: 1rem 0;
  transform: translateY(-100%);
  background-color: var(--g200);
}

.fr-skiplinks:focus-within {
  position: relative;
  transform: translateY(0);
}

.fr-skiplinks__list {
  display: flex;
  flex-direction: column;
  margin: 0 -1rem -1.5rem;
}

.fr-skiplinks__list > li {
  margin: 0 1rem 1.5rem;
}

.fr-skiplinks__list > li::before {
  content: none;
}

.fr-skiplinks__list > li .fr-link {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.fr-skiplinks__list > li .fr-link::before {
  font: normal normal normal 1.5rem/1 dsfr-icon;
  content: none;
}

.fr-skiplinks__list:focus-within {
  position: relative;
  transform: translateY(0);
}

@media (min-width: 48em) {
  .fr-skiplinks__list > li {
    margin: 0 1rem;
  }

  .fr-skiplinks__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /**
  * Correctif
  */
  .fr-skiplinks.focus-within {
    position: relative;
    transform: translateY(0);
  }
}
