<%

const elements = [];

elements.push({
  type: 'paragraph',
  data: {
    content: getText('login.desc', 'login'),
    size: 'sm'
  }
});

elements.push({
  type: 'hint',
  data: {
    text: getText('hint.mandatory', 'form')
  }
})

elements.push({
  type: 'input',
  base: 'input/input-base',
  template: 'input',
  data: {
    id: uniqueId('username'),
    label: getText('login.username', 'login'),
    hint: getText('login.username.hint', 'login'),
    name: 'username'
  }
})

elements.push({
  type: 'password',
  template: 'password',
  name: 'password',
  data: {
    id: uniqueId('password'),
    input: {
      label: getText('login.password', 'login'),
      autocomplete: 'new-password'
    },
    checkbox: true,
    format: {
      label: getText('format.label', 'password'),
      items: [
        {
          label: getText('format.characters', 'password'),
          state: 'info'
        },
        {
          label: getText('format.special', 'password'),
          state: 'info'
        },
        {
          label: getText('format.digit', 'password'),
          state: 'info'
        }
      ]
    }
  }
})


elements.push({
  type: 'checkbox',
  template: 'checkbox-group',
  data: {
    id: uniqueId('checkbox-cnil'),
    label: getText('login.optin', 'register'),
    name: 'checkbox-cnil',
    checked: false,
    size: 'sm',
  }
})

elements.push({
  type: 'checkbox',
  template: 'checkbox-group',
  data: {
    id: uniqueId('checkbox-cnil'),
    label: getText('login.optin', 'register'),
    name: 'checkbox-cnil',
    checked: false,
    size: 'sm',
  }
})

elements.push({
  type: 'buttonsGroup',
  base: 'button',
  template: 'buttons-group',
  data: {
    inline: true,
    classes: [prefix + '-btns-group--right'],
    buttons: [
      {
        label: getText('login.button', 'register'),
        kind: 1,
        type: 'submit',
        classes: [prefix + '-mt-2v']
      }
    ]
  },
});

const data = {
  id: uniqueId('login'),
  legend: `<h5>${getText('login.legend', 'register')}</h5>`,
  classes: [prefix + '-mb-0'],
  elements: elements
};
 %>
<%- JSON.stringify(data); %>
