////
/// Core Settings : Typography texts
/// @group core
////

$texts-settings: (
  xs: (
    default: (
      font-size: 12,
      line-height: 'normal',
      color-set: g600
    )
  ),
  sm: (
    default: (
      font-size: 14,
      line-height: 'normal'
    )
  ),
  md: (
    default: (
      font-size: 16,
      line-height: 'normal'
    )
  ),
  lg: (
    default: (
      font-size: 18,
      line-height: 'normal'
    ),
    responsive: (
      md: (
        font-size: 20
      )
    )
  ),
  xl: (
    alt: lead,
    default: (
      font-size: 20,
      line-height: 'snug'
    ),
    responsive: (
      md: (
        font-size: 24
      )
    )
  ),
);

$content: (
  12: (
    line-height: 5v,
    margin-bottom: 10v
  ),
  14: (
    line-height: 6v,
    margin-bottom: 10v
  ),
  16: (
    line-height: 6v,
    margin-bottom: 10v
  ),
  18: (
    line-height: 7v,
    margin-bottom: 10v
  ),
  20: (
    line-height: 8v,
    margin-bottom: 10v
  ),
  22: (
    line-height: 9v,
    margin-bottom: 12v
  ),
);

$content-settings: (
  xs: (
    default: 12
  ),
  sm: (
    default: 14
  ),
  md: (
    default: 16
  ),
  lg: (
    default: 18,
    md: 20
  ),
  xl: (
    default: 20,
    md: 22
  )
);
