/* `````````````````````
  Typography
````````````````````` */

$base-font-size-px: 16px !default;

$static-font-path: '../fonts' !default;

$font-family-sans: 'Marianne', arial, sans-serif;
$font-family-serif: 'Spectral', georgia, serif;


