////
/// Sidemenu Module : button
/// @group sidemenu
////

/**
 * Style du bouton du sidemnenu pour ouvrir/refermer les listes de niveaux 1 et 2
 * Bouton pour la version mobile pour ouvrir/refermer le sidemenu
 */
#{ns(sidemenu__btn)} {
  @include relative;
  @include display-flex(row-reverse, center);
  @include size(100%, 100%);
  @include padding(3v 2v);
  @include margin(0 auto);
  @include text-style(md);
  text-align: left;
  font-weight: font-weight(bold);
  background: 0;
  border: 0;

  @include font-icon(arrow-down-s-line, sm) {
    @include margin-left(auto);
    @include margin-right(0);
    transition: transform 0.3s;

    @include respond-from(md) {
      @include margin-right(-6v, md);
    }
  }

  &[aria-expanded="true" i] {
    border: 0;
    @include before {
      transform: rotate(-180deg);
    }
  }

  /**
    * Modificateur pour le bouton en version mobile permettant d'ouvrir/refermer le sidemenu
    * L'icône de gauche est défini dans _sidemenu.scss (provisoire)
    */
  @at-root #{ns(sidemenu__inner)} > #{&} {
    @include size(100%);
    font-weight: normal;
    @include before {
      @include margin-right(4v);
    }

    /**
    * Ajout de l'icône de menu en mode mobile (provisoire)
    */
    @include font-icon(menu-2-fill, sm, after) {
      @include margin-x(2v);
    }

    @include respond-from(md) {
      display: none;
    }
  }

  @include respond-from(md) {
    @include size(100%);
    @include padding(3v 8v 3v 2v);
    border: 0;
  }
}
