////
/// Sidemenu Module : inner
/// @group sidemenu
////

&__inner {
  @include respond-from(md) {
    @include padding(0 8v 0 1v);
  }

  /**
  * Ce wrapper ne sert que pour la version mobile
  * On l'utilise pour l'ouverture/fermeture du sidemenu entier
  */
  > #{ns(collapse)} {
    @include margin(0 4v);
    @include margin(0, md);

    @include respond-from(md) {
      overflow: initial;
      max-height: none;

      @include before {
        display: none;
      }

      &:not(#{ns(collapse)}--expanded) {
        visibility: visible;
      }
    }
  }
}
