////
/// Sidemenu Module : list
/// @group sidemenu
////

@include list {
  font-weight: font-weight('bold');

  #{ns(sidemenu__list)} {
    @include margin(0 2v 6v);
    @include margin(0 4v, md);
    font-weight: font-weight();
    #{ns(sidemenu__link)},
    #{ns(sidemenu__btn)} {
      @include text-style(md);
      font-weight: font-weight();
    }

    #{ns(sidemenu__list)} {
      #{ns(sidemenu__link)},
      #{ns(sidemenu__btn)} {
        @include text-style(sm);
        @include padding(3v 2v, md);
      }
    }
  }

  @include margin(0,md);
}

@include list-item {
  @include relative;
  @include before(null, none);

  &:last-child {
    border: 0;
  }

  &--active {

    & > #{ns(sidemenu__link)},
    & > #{ns(sidemenu__btn)} {
      @include after(null, '') {
        @include absolute(3v, null, 3v, 0, 2px);
      }
    }
  }

  @include respond-from(md) {
    border: 0;
  }

  #{ns(sidemenu__item)} #{ns(sidemenu__item)} {
    border: 0;
  }
}
