////
/// Sidemenu Module
/// @group sidemenu
////

#{ns(sidemenu)} {
  @include disable-list-style;
  @include disable-link-style;
  @include set-text-margin(0);
  @include set-title-margin(0);
  @include relative;
  @include shadow(md);
  @include margin-x(-4v);

  a:not([href]) {
    cursor: default;
  }

  @include scheme-element-no-box-shadow(md);
  @include margin-x(0, md);
  @include padding-right(8v, md);

  #{ns(collapse)} {
    @include margin(-1v -1v 0);
    @include padding(1v 1v 0);
    @include margin-x(-1v, md);
    @include padding-x(1v, md);
  }

  @import 'module/title';
  @import 'module/list';
  @import 'module/inner';
  @import 'module/variants';
  @import 'module/action';
}
