////
/// Sidemenu Scheme
/// @group sidemenu
////

#{ns(sidemenu)} {
  @include scheme-element-bg-color(default neutral);

  @include respond-from(md) {
    @include scheme-element-bg-transparent(true);
  }

  @include title {
    @include scheme-element-text-color(title neutral);
    @include scheme-element-box-shadow-color(default neutral, false, bottom-1-in);
    @include respond-from(md) {
      box-shadow: none;
    }
  }

  @include list-item {
    @include scheme-element-box-shadow-color(default neutral, false, bottom-1-in);
    @include respond-from(md) {
      box-shadow: none;
    }

    &:last-child {
      #{ns(sidemenu__btn)} {
        @include scheme-element-box-shadow-color(default neutral, false, bottom-1-in);
        @include respond-from(md) {
          box-shadow: none;
        }
      }
    }

    &--active {
      & > #{ns(sidemenu__btn)},
      & > #{ns(sidemenu__link)} {
        @include scheme-element-text-color(title blue-france);
        @include after {
          background-color: currentColor;
        }
      }
    }
  }

  &__inner {
    @include respond-from(md) {
      @include scheme-element-box-shadow-color(default neutral, false, right-1-in);
    }
  }

  @include respond-from(md) {
    &--right {
      #{ns(sidemenu__inner)} {
        @include scheme-element-box-shadow-color(default neutral, false, left-1-in);
      }
    }

    &--full-border {
      #{ns(sidemenu__inner)} {
        // @include scheme-element-border-color(g300, true);
        @include scheme-element-box-shadow-color(default neutral);
      }
    }
  }
}

#{ns(sidemenu__btn)} {
  @include scheme-element-text-color(title neutral);

  @at-root #{ns(sidemenu__inner)} > #{&} {
    @include scheme-element-bg-color(default neutral);
  }

  @include respond-from(md) {
    @include after {
      @include scheme-element-bg-transparent(true);
    }
  }
}

#{ns(sidemenu__link)} {
  @include scheme-element-text-color(title neutral);
  @include after {
    @include scheme-element-bg-transparent(true);
  }
}
