////
/// Sidemenu Scheme
/// @group sidemenu
////

@mixin _sidemenu-scheme($legacy: false) {
  #{ns(sidemenu)} {
    /*
    @include scheme-element-bg-color(default grey);

    @include respond-from(md) {
      @include scheme-element-bg-transparent((legacy:$legacy, hover: true));
    }
    */

    @include title {
      @include scheme-element-text-color(title grey, (legacy:$legacy));
      @include scheme-element-box-shadow-color(default grey, (legacy:$legacy), bottom-1-in);
      @include scheme-element-no-box-shadow(md);
    }

    @include list-item {
      @include scheme-element-box-shadow-color(default grey, (legacy:$legacy), bottom-1-in);
      @include scheme-element-no-box-shadow(md);

      &:last-child {
        #{ns(sidemenu__btn)} {
          @include scheme-element-box-shadow-color(default grey, (legacy:$legacy), bottom-1-in);
          @include scheme-element-no-box-shadow(md);
        }
      }
    }

    &__inner {
      @include respond-from(md) {
        @include scheme-element-box-shadow-color(default grey, (legacy:$legacy), right-1-in);
      }
    }

    @include respond-from(md) {
      &--right {
        #{ns(sidemenu__inner)} {
          @include scheme-element-box-shadow-color(default grey, (legacy:$legacy), left-1-in);
        }
      }

      &--full-border {
        #{ns(sidemenu__inner)} {
          @include scheme-element-box-shadow-color(default grey, (legacy:$legacy));
        }
      }
    }

    &__link,
    &__btn {
      @include scheme-element-text-color(action-high grey, (legacy:$legacy));

      &[aria-current] {
        @include scheme-element-text-color(active blue-france, (legacy:$legacy));
        @include after {
          @include scheme-element-bg-color(border active blue-france, (legacy:$legacy));
        }
      }
    }

    &__btn {
      @at-root #{ns(sidemenu__inner)} > #{&} {
        @include scheme-element-bg-color(default grey, (legacy:$legacy));
      }
    }
  }
}
