////
/// Footer Module
/// @group footer
////

#{ns(footer)} {
  @include disable-link-style;
  @include disable-list-style;
  @include size(100%);
  @include padding-top(10v);

  @include body {
    @include display-flex(row, center, null, wrap);
    @include margin-bottom(4v);
    @include margin-bottom(6v, md);

    & + #{ns(footer__bottom)} {
      @include margin-top(4v);
    }
  }

  /**
   * Conteneur du bloc marque, avec le logo principal et éventuellement
   * un logo opérateur
   */
  &__brand {
    @include display-flex(row, center);
    flex-basis: 100%;

    @include logo(md, lg) {
      @include margin(-1em);
    }

    /**
     * Si on ajoute un logo opérateur à côté du logo principal, on lui applique une marge à gauche
     * On prévoit que le logo soit encapsulé dans un <a>, ou bien directement en img ou en svg
     * (Eventuellement prévoir une classe pour pouvoir le mettre en background image)
     */
    #{ns(logo)} + #{ns(footer__brand-link)} {
      @include margin-left(6v);
      @include margin-left(12v, md);
    }

    @include respond-from(md) {
      flex-basis: auto;
      @include padding-right(4v);
    }
  }

  /**
   * On fixe une largeur maximale pour le logo opérateur
   */
  &__logo {
    @include size(200px, auto);
    max-height: 100%;
  }

  @import 'module/content';
  @import 'module/top';
  @import 'module/bottom';
  @import 'module/partners';
}
