$values: (
  3v: (
    text: 5v
  ),
  3.5v: (
    text: 6v
  ),
  4v: (
    text: 6v
  ),
  4.5v: (
    text: 7v,
    title: 6v
  ),
  5v: (
    text: 8v,
    title: 7v
  ),
  5.5v: (
    text: 9v,
    title: 7v
  ),
  6v: (
    title: 8v
  ),
  7v: (
    title: 9v
  ),
  8v: (
    title: 10v
  ),
  10v: (
    title: 12v
  ),
  12v: (
    title: 14v
  ),
  14v: (
    title: 16v
  ),
  16v: (
    title: 18v
  ),
  18v: (
    title: 20v
  ),
  20v: (
    title: 22v
  )
);
