////
/// Connect Module
/// @group connect
////

#{ns(connect)} {
  @include padding(1v 3v 1v 16v);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-repeat: no-repeat;
  user-select: none;
  font-size: 0;
  min-height: space(14v);

  @include hover-blend-background((url(svg-encode($fc-logo-svg, true)), url(svg-encode($fc-plus-svg, true))), (space(10v 12v), 0), (space(3v 1v), space(calc(100% - 3v) 50%)));

  @include _pseudo(before after, null, block) {
    line-height: 1;
    z-index: 1;
  }

  @include connect-pseudo(login, fr);

  @include connect-pseudo(brand, default);

  @each $code, $content in $login {
    [lang="#{$code}"] &,
    &[lang="#{$code}"] {
      @include connect-pseudo(login, $code);
    }
  }

  &--plus {
    @include padding-right(12v);
    @include hover-blend-background-size((space(10v 12v), space(6v 6v)));
    @include connect-pseudo(brand, plus) {
      @include margin-right(-10px);
      overflow: hidden;
      @include width(100%);
    }
  }

  &--agent {
    @include connect-pseudo(brand, agent);
  }

  * {
    display: none;
  }
}
