////
/// Core Legacy : Placement
/// @group core
////

@use 'module/legacy';
@use 'module/color';

@include legacy.is(ie11) {
  #{ns(placement)} {
    border: 1px solid #ddd;
    
    &--top {
      @include before('', block) {
        border-color: #ddd transparent transparent  transparent;
      }

      @include after('', block) {
        border-color: #fff transparent transparent transparent;
      }
    }

    &--bottom {
      @include before('', block) {
        border-color: transparent transparent #ddd transparent;
      }

      @include after('', block) {
        border-color: transparent transparent #fff transparent;
      }
    }
  }
}
