////
/// Core Module : Placement
/// @group core
////

@use 'module/spacing';

#{ns(placement)} {
  --referent-middle: spacing.space(4v);
  position: fixed;
  top: 0;
  left: 0;
  // transition: opacity 0.3s, visibility 0.3s;

  @include before('', block) {
    border-style: solid;
    position: absolute;
    // transition: left 0.5s;
  }

  @include after('', block) {
    border-style: solid;
    position: absolute;
    // transition: left 0.5s;
  }

  &--top {
    @include before('', block) {
      border-width: spacing.space(1.5v 1v 0 1v);
      bottom: spacing.space(-1.5v);
      top: initial;
    }

    @include after('', block) {
      border-width: spacing.space(1.5v 1v 0 1v);
      bottom: spacing.space(-1v);
      top: initial;
    }
  }

  &--bottom {
    @include before('', block) {
      border-width: spacing.space(0 1v 1.5v 1v);
      top: spacing.space(-1.5v);
      bottom: initial;
    }

    @include after('', block) {
      border-width: spacing.space(0 1v 1.5v 1v);
      top: spacing.space(-1v);
      bottom: initial;
    }
  }

  &--middle {
    @include before('', block) {
      left: calc(50% - #{spacing.space(0.75v)});
    }

    @include after('', block) {
      left: calc(50% - #{spacing.space(0.75v)});
    }
  }

  &--left {
    @include before('', block) {
      left: spacing.space(calc(var(--referent-middle) - 1v));
    }

    @include after('', block) {
      left: spacing.space(calc(var(--referent-middle) - 1v));
    }
  }

  &--right {
    @include before('', block) {
      left: spacing.space(calc(100% - var(--referent-middle) - 1v));
    }

    @include after('', block) {
      left: spacing.space(calc(100% - var(--referent-middle) - 1v));
    }
  }
}
