/*!
 * DSFR v1.1.0 | SPDX-License-Identifier: MIT | License-Filename: LICENCE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

.fr-tabs {
  /**
   * ul : element srollable des boutons
   */

  /**
  * Tab button
  */
}

.fr-tabs::after {
  box-shadow: inset 1px -1px 0 0 var(--g300), inset -1px 0 0 var(--g300);
}

.fr-tabs__list {
  /**
    * Reset du style par défaut du li
    */
}

.fr-tabs__list::after {
  box-shadow: 0 1px 0 0 var(--g300);
}

.fr-tabs__list > li:not(:first-child)::before {
  box-shadow: 0 1px 0 0 var(--g300);
}

.fr-tabs__list > li:last-child::after {
  box-shadow: 0 1px 0 0 var(--g300);
}

.fr-tabs__list > li:first-child::before {
  box-shadow: 0 1px 0 0 var(--g300);
}

.fr-tabs__tab:not([aria-selected=true]) {
  background-color: var(--bf100-g750);
  color: var(--g700);
  box-shadow: 0 1px 0 0 var(--g300);
}

:root:not([data-fr-theme="dark"]) .fr-tabs__tab:not([aria-selected=true]) {
  --color-hover: rgba(182, 182, 255, 0.5);
  --color-active: rgba(119, 119, 255, 0.5);
}

:root:not([data-fr-theme="dark"]) [class*="fr-scheme-light"] .fr-tabs__tab:not([aria-selected=true]),
:root:not([data-fr-theme="dark"]) [class*="--scheme-light-"] .fr-tabs__tab:not([aria-selected=true]) {
  --color-hover: rgba(182, 182, 255, 0.5);
  --color-active: rgba(119, 119, 255, 0.5);
}

:root:not([data-fr-theme="dark"]) [class*="fr-scheme-dark"] .fr-tabs__tab:not([aria-selected=true]),
:root:not([data-fr-theme="dark"]) [class*="--scheme-dark-"] .fr-tabs__tab:not([aria-selected=true]) {
  --color-hover: rgba(79, 79, 79, 0.5);
  --color-active: rgba(115, 115, 115, 0.5);
}

:root[data-fr-theme="dark"] .fr-tabs__tab:not([aria-selected=true]) {
  --color-hover: rgba(79, 79, 79, 0.5);
  --color-active: rgba(115, 115, 115, 0.5);
}

.fr-tabs__tab:not([aria-selected=true])[disabled],
.fr-tabs__tab:not([aria-selected=true]):disabled {
  color: var(--g600-g400);
  background-color: var(--g200);
}

.fr-tabs__tab[aria-selected=true] {
  box-shadow: inset 0 0.125rem 0 0 var(--bf500);
  background-color: var(--t-plain);
  color: var(--bf500);
}

.fr-tabs__tab[aria-selected=true]:hover:not([disabled]),
.fr-tabs__tab[aria-selected=true]:hover:not(:disabled),
.fr-tabs__tab[aria-selected=true]:active:not([disabled]),
.fr-tabs__tab[aria-selected=true]:active:not(:disabled) {
  background-image: none;
}

.fr-tabs__tab[aria-selected=true]::after {
  box-shadow: -1px 0 0 0 var(--g300), 1px 0 0 0 var(--g300);
}

@media (hover: hover) and (pointer: fine) {
  .fr-tabs__tab:not([aria-selected=true]):not(a):not(:disabled):hover,
  a.fr-tabs__tab:not([aria-selected=true])[href]:hover {
    background-image: linear-gradient(0deg, var(--color-hover), var(--color-hover));
  }

  .fr-tabs__tab:not([aria-selected=true]):not(a):not(:disabled):active,
  a.fr-tabs__tab:not([aria-selected=true])[href]:active {
    background-image: linear-gradient(0deg, var(--color-active), var(--color-active));
  }
}
