////
/// Table Module
/// @group Table
////

#{ns(table)} {
  caption {
    @include scheme-element-text-color(g800, true);
  }

  thead {
    td,
    th {
      @include scheme-element-border-color(g600, true, bottom, 0.125rem solid $COLOR);
      @include scheme-element-bg-color(beige);
      @include scheme-element-text-color(g700);
    }
  }

  tbody tr:nth-child(even) {
    @include scheme-element-bg-color(beige);
  }

  tbody tr:nth-child(odd) {
    @include scheme-element-bg-color(white);
  }

  /* Style bordered, enleve le style even/odd et ajoute des bordures entre chaque ligne */
  &--bordered {
    tbody {
      td,
      th {
        @include scheme-element-border-color(g400, true, bottom, 1px solid $COLOR);
      }

      tr {
        &:nth-child(odd),
        &:nth-child(even) {
          @include scheme-element-bg-color(t-plain);
        }
      }
    }
  }

  $empty: inset 0 0 0 0 $COLOR;
  $left: inset space(8v) 0 space(4v) (space(-8v)) $COLOR;
  $right: inset space(-8v) 0 space(4v) (space(-8v)) $COLOR;

  /*
  * Ombres ajoutées en Js si le contenu est plus grand que le conteneur
  */
  &__shadow {
    @include before {
      @include scheme-element-box-shadow-color(scroll-shadow, true, ($empty, $empty));
    }

    /**
    * Modifier ombre à gauche
    **/
    &--left {
      @include before {
        @include scheme-element-box-shadow-color(scroll-shadow, false, ($left, $empty));
      }
    }

    /**
    * Modifier ombre à droite
    **/
    &--right {
      @include before {
        @include scheme-element-box-shadow-color(scroll-shadow, false, ($empty, $right));
      }
    }

    /**
    * Modifier combinaison ombre à gauche et ombre à droite
    **/
    &--left#{&}--right {
      @include before('', block) {
        @include scheme-element-box-shadow-color(scroll-shadow, false, ($left, $right));
      }
    }
  }
}
