////
/// Header Legacy
/// @group header
////

@use '../../../../../../sass/legacy';

@include legacy.is(ie11) {
  #{selector.ns(header)} {
    @include typography.disable-list-style-legacy;
    @include disable-underline-legacy;

    #{ns-group(btns)} {
      &:not(#{ns-group(btns)}--sm):not(#{ns-group(btns)}--lg) {
        @include class-not-start-with(#{selector.ns(btns-group--icon-, '')}) {
          #{selector.ns(btn)} {
            @include has-not-icon {
              &:not(#{selector.ns(btn--display)}) {
                @include icon.icon-legacy(null, sm, before, false);
              }
            }

            @include has-icon {
              @include icon.icon-legacy(null, sm, before, false);
            }

            &#{selector.ns(btn--display)} {
              @include icon.icon-legacy(null, sm, before, false);
            }
          }
        }
      }
    }

    &__tools-links {
      #{selector.ns(link)} {
        overflow: visible;
      }
    }

    #{selector.ns(modal)} {
      @include media-query.from(lg) {
        position: static;
        overflow: visible;
      }
    }
  }
}
