////
/// Header Legacy
/// @group header
////

@use '../../../../../../sass/selector';
@use '../../../../../../sass/icon';
@use '../../../../../../sass/media-query';
@use '../../../../../../sass/action';
@use '../../../../../../sass/typography';

@mixin first() {
  #{selector.class(header)} {
    @include typography.disable-list-style-legacy;
    @include action.disable-underline-legacy;

    #{selector.class(btns, (group: true))} {
      &:not(#{(selector.class(btns, (group: true, modifier: sm)), selector.class(btns, (group: true, modifier: lg)))}) {
        @include selector.not-start(btns, (group: true, modifier: icon-)) {
          #{selector.class(btn)} {
            @include icon.not-selector {
              #{selector.class(btn, (modifier: display, combine: not))} {
                @include icon.icon-legacy(null, sm, before, false);
              }
            }

            @include icon.selector {
              @include icon.icon-legacy(null, sm, before, false);
            }

            #{selector.class(btn, (modifier: display, combine: true))} {
              @include icon.icon-legacy(null, sm, before, false);
            }
          }
        }
      }
    }

    &__tools-links {
      #{selector.class(link)} {
        overflow: visible;
      }
    }

    #{selector.class(modal)} {
      @include media-query.from(lg) {
        position: static;
        overflow: visible;
      }
    }
  }
}
