<% const sample = getSample(include); %>

<div class="<%= prefix %>-container">
  <%- sample('Téléchargement de fichier', '../../../../component/download/deprecated/example/sample/download-default', { download: { id: 'download' }}); %>
</div>
