////
/// Forms Module
/// @group forms
////

#{dse-group(select), dse-group(input)} {
  &:not(:last-child) {
    @include margin-bottom(6v);
  }

  /**
   * Modificateur au niveau du groupe pour appliquer un état validé aux labels
   */
  &--valid {
    #{dse(label)} {
      @include scheme-element-text-color(success);
    }
  }

  /**
   * Modificateur au niveau du groupe pour appliquer un état d'erreur aux labels
   */
  &--error {
    #{dse(label)} {
      @include scheme-element-text-color(error);
    }
  }

  /**
   * Modificateur au niveau du groupe pour appliquer un état inactif aux labels
   */
  &--disabled {
    #{dse(label)} {
      @include disabled-colors(true);
    }
  }
}

#{dse(label)} {
  display: block;
  font-size: font-size(14);
  line-height: line-height(normal);
  font-family: $font-family-sans;
  @include scheme-element-text-color(g800, true);

  /**
   * Modificateur au niveau du label pour appliquer un état d'erreur au label
   */
  &--error {
    @include scheme-element-text-color(error);
  }

  & + #{dse(input)},
  & + #{dse(select)} {
    @include margin-top(2v);
  }
}

/**
 * Style du texte d'aide
 */
#{dse(hint-text)} {
  @include specify(p) {
    @include text-styles(xs, g600);
  }

  @include margin-y(0);

  & + #{dse(input)},
  & + #{dse(input-wrap)},
  & + #{dse(select)} {
    @include margin-top(2v);
  }
}

/**
 * Style du texte d'erreur
 */
#{dse(error-text)} {
  @include display-flex(row, center);
  @include specify(p) {
    @include text-styles(xs, error);
  }

  @include margin-top(2v);

  @include font-icon(alert-line, sm) {
    display: inline-block;
    @include margin-right(1v);
  }
}

/**
 * Style du texte de l'état validé
 */
#{dse(valid-text)} {
  @include display-flex(row, center);
  @include specify(p) {
    @include text-styles(xs, success);
  }

  @include margin-top(2v);

  @include font-icon(check-line, sm) {
    display: inline-block;
    @include margin-right(1v);
  }
}

#{dse-group(form)} {
  @include margin-bottom(8v);
}

/**
 * Style d'un ensemble de champs
 */
#{dse(fieldset)} {
  position: relative;
  @include margin(0);
  @include padding(0);
  border: 0;
  @include scheme-element-text-color(g800, true);

  #{dse(hint-text)} {
    @include margin-bottom(4v);
  }

  &__legend {
    @include margin-bottom(4v);
    @include font-weight(bold);

    + #{dse(hint-text)} {
      @include margin-top(-2v);
    }
  }

  &__content {
    position: relative;

    // + #{dse(error-text)} {
    //   margin-top: space(2N);
    // }

    > #{dse-group(input)}:first-child {
      @include margin-top(4v);
    }
  }

  /**
   * Modificateur pour afficher les éléments en inline
   */
  &--inline {
    .#{$prefix}--fieldset__content {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: flex-start;
    }

    #{dse-group(checkbox)} {
      display: inline-flex;
      @include margin-bottom(0);

      &:not(:last-child) {
        margin-right: space(5v);
      }
    }

    #{dse-group(radio)} {
      display: inline-flex;
      margin-bottom: 0;

      &:not(:last-child) {
        input[type="radio"] + label {
          @include margin-right(7v);
        }
      }

      &:first-child {
        input[type="radio"] + label {
          @include margin-top(0);
        }
      }

      &:last-child {
        input[type="radio"] + label {
          @include margin-bottom(0);
        }
      }
    }

    #{dse(hint-text)} {
      @include margin-y(1v);
    }

    #{dse(fieldset__legend)} {
      @include margin-bottom(1v);
    }

    #{dse(error-text)},
    #{dse(valid-text)} {
      @include margin-top(-1v);
    }
  }

  /**
   * Modificateur pour gérer l'état d'erreur
   */
  &--error {
    #{dse(fieldset__content)} {
      @include before(null, '') {
        @include absolute(3v, null, 3v, -2v, 2px);
        @include scheme-element-bg-color(error, true);
      }
    }

    #{dse(label)} {
      @include scheme-element-text-color(error);
    }
  }

  /**
   * Modificateur pour gérer l'état de validation
   */
  &--valid {
    #{dse(fieldset__content)} {
      @include before(null, '') {
        @include absolute(3v, null, 3v, -2v, 2px);
        @include scheme-element-bg-color(success);
      }
    }

    #{dse(label)} {
      @include scheme-element-text-color(success);
    }
  }

  /**
   * Mixin disabled pour gérer l'état disabled
   */
  @include disabled(true, false, false, #{dse(label)});
}
