////
/// Forms Module
/// @group forms
////

#{dse-group(select), dse-group(input)} {
  &:not(:last-child) {
    @include margin-bottom(6v);
  }

  &--valid {
    #{dse(label)} {
      @include scheme-element-text-color(success);
    }
  }

  &--error {
    #{dse(label)} {
      @include scheme-element-text-color(error);
    }
  }

  &--disabled {
    #{dse(label)} {
      @include disabled-colors(true);
    }
  }
}

#{dse(label)} {
  display: block;
  font-size: font-size(14);
  line-height: line-height(normal);
  font-family: $font-family-sans;
  @include scheme-element-text-color(g800, true);

  &--error {
    @include scheme-element-text-color(error);
  }

  & + #{dse(input)},
  & + #{dse(select)} {
    @include margin-top(2v);
  }
}

#{dse(hint-text)} {
  @include text-styles(xs);
  @include scheme-element-text-color(g600, true);

  @include margin-y(0);

  & + #{dse(input)},
  & + #{dse(input-wrap)},
  & + #{dse(select)} {
    @include margin-top(2v);
  }
}

#{dse(error-text)} {
  @include display-flex(row, center);
  @include text-styles(xs);
  @include scheme-element-text-color(error, true);

  @include margin-top(2v);



  @include font-icon(alert-line, sm) {
    display: inline-block;
    @include margin-right(1v);
  }
}

#{dse(valid-text)} {
  @include display-flex(row, center);
  @include text-styles(xs);
  @include scheme-element-text-color(success, true);

  @include margin-top(2v);



  @include font-icon(check-line, sm) {
    display: inline-block;
    @include margin-right(1v);
  }
}

#{dse-group(form)} {
  @include margin-bottom(8v);
}

#{dse(fieldset)} {
  position: relative;
  @include margin(0);
  @include padding(0);
  border: 0;
  @include scheme-element-text-color(g800, true);

  #{dse(hint-text)} {
    @include margin-bottom(4v);
  }

  &__legend {
    @include margin-bottom(4v);
    @include font-weight(bold);

    + #{dse(hint-text)} {
      @include margin-top(-2v);
    }
  }

  &__content {
    position: relative;

    // + #{dse(error-text)} {
    //   margin-top: space(2N);
    // }

    > #{dse-group(input)}:first-child {
      @include margin-top(4v);
    }
  }

  &--inline {
    #{dse-group(radio)},
    #{dse-group(checkbox)} {
      display: inline-flex;
      @include margin-bottom(0);

      &:not(:last-child) {
        @include margin-right(6v);
      }

      &:first-child {
        @include margin-top(0);
      }

      &:last-child {
        @include margin-bottom(0);
      }
    }

    #{dse(hint-text)} {
      @include margin-y(1v);
    }

    #{dse(fieldset__legend)} {
      @include margin-bottom(1v);
    }

    #{dse(error-text)},
    #{dse(valid-text)} {
      @include margin-top(-1v);
    }
  }

  &--error {
    #{dse(fieldset__content)} {
      @include before(null, '') {
        @include absolute(3v, null, 3v, -2v, 2px);
        @include scheme-element-bg-color(error, true);
      }
    }

    #{dse(label)} {
      @include scheme-element-text-color(error);
    }
  }

  &--valid {
    #{dse(fieldset__content)} {
      @include before(null, '') {
        @include absolute(3v, null, 3v, -2v, 2px);
        @include scheme-element-bg-color(success);
      }
    }

    #{dse(label)} {
      @include scheme-element-text-color(success);
    }
  }

  @include disabled(true, false, false, #{dse(label)});
}
