////
/// Forms Tools
/// @group forms
////

/// Mixin pour gérer l'état disabled avec sur un champ input avec un box-shadow
///
/// @access public
///
/// @param {String} $element [input]
///
/// @example scss - On ajoute un style disabled sur un élément de type input
///   .foo {
///     @include disabled-form-field(input);
///   }
@mixin disabled-form-field($element:input) {
  @at-root #{selector_unify(&, $element)} {
    @include disabled(true, false, inset 0 -2px 0 0 $COLOR) {
      /**
       * Override de l'opacité chrome sur un élément disabled
       */
      opacity: 1;
      @content;
    }
  }
}

/// Mixin pour gérer l'état disabled sur un label et les pseudo-elements before et after, l'input étant masqué
///
/// @access public
///
/// @example scss - On ajoute un style disabled sur le label et ses pseudo-elements
///   .foo {
///     @include disabled-form-choice();
///   }
@mixin disabled-form-choice() {
  @at-root #{selector_unify(&, input)} {
    @include disabled(true, false, false, '+ label') {
      &::before {
        @include disabled-colors(false, true, border);
      }
      @content;
    }
  }
}

/// Placeholder pour les textes d'aide
%hint-text {
  display: block;
  @include margin-top(0);
  @include margin-bottom(0);
  @include text-style(xs);
}
