////
/// Forms Tools
/// @group forms
////

@mixin disabled-form-field($element:input) {
  @at-root #{selector_unify(&, $element)} {
    @include disabled(true, false, inset 0 -2px 0 0 $COLOR) {
      opacity: 1; /* override de l'opacité chrome sur un élément disabled */
      @content;
    }
  }
}

@mixin disabled-form-choice() {
  @at-root #{selector_unify(&, input)} {
    @include disabled(true, false, false, '+ label') {
      &::before,
      &::after {
        @include disabled-colors(false, true, border);
      }
      @content;
    }
  }
}

%hint-text {
  font-size: font-size(12);
  line-height: line-height(normal);
  font-family: $font-family-sans;
  margin-top: 0;
  margin-bottom: 0;

  @include scheme-element-text-color(g600, true);
}
