////
/// Tile Module : default
/// @group tile
////

@use '../../../../../../../sass/action';
@use '../../../../../../../sass/disable';
@use '../../../../../../../sass/display';
@use '../../../../../../../sass/selector';
@use '../../../../../../../sass/spacing';
@use '../../../../../../../sass/typography';

@mixin first() {
  #{selector.ns(tile)} {
    @include spacing.relative;
    @include display.flex(column-reverse);
    @include typography.set-text-margin(0);
    @include typography.set-title-margin(0 0 2v);

    /**
   * Forcer la hauteur à 100% pour que les tuiles aient la même hauteur dans le contexte de la grille
   */
    #{selector.ns(grid-row)} & {
      @include spacing.size(null, 100%);
    }

    &__link {
      display: inline-flex;
      @include disable.underline;
      @include spacing.size(100%);
    }

  @include hover-brighten(#{&}#{selector.ns(enlarge-link)}, #{&}__img);

    /**
   * Conteneur pour l'image, on force les dimensions à 80x80 tout en permettant de mettre une image
   * ne respectant pas cette taille :
   * Si l'image est plus grande, elle sera croppée afin de ne jamais dépasser 80x80.
   * Si l'image est plus petite, elle sera centrée, en hauteur, en largeur ou bien les deux.
   */
    &__img {
      @include display.flex(null, center, center);
      flex-shrink: 0;
      @include spacing.size(20v, 20v);
      @include spacing.margin(8v auto 0);
      overflow: hidden;
      @include action.hover-brighten-filter;

      /**
     * Dans le cas d'un svg inline sans largeur et hauteur spécifiées, on lui attribue une largeur de 100%.
     */
      > svg {
        @include spacing.size(100%);
      }
    }

    /**
   * Partie de la tuile contenant le titre (obligatoire) et la description (optionnel)
   */
    @include selector.body {
      @include display.flex(column, center, center);
      flex-grow: 1;
      @include spacing.padding(4v);
      @include spacing.padding(6v, md);
      text-align: center;
    }

    /**
   * Titre de la tuile
   */
    @include selector.title {
      @include typography.text-style(md);
      @include typography.font-weight(bold);
    }

    /**
   * Description de la tuile
   */
    &__desc {
      @include typography.text-style(md);
    }
  }
}
