////
/// Official Module
/// @group official
////

#{ns(official)} {

  &__title {
    @include padding(calc(#{space(3v)} / 2) 0);
    @include relative;
  }

  &__button {
    @include padding(0);
    @include text-style(md);

    @include before('', 'block'){
      @include absolute(0,0,0,0);
    }

    @include icon(arrow-down-s-line, sm, after) {
      display: inline-block;
      @include margin-left(1v);
      transition: transform 0.3s;
    }

    &[aria-expanded="true"] {
      @include after {
        transform: rotate(-180deg);
      }
    }
  }

  &__content {
    #{ns(container)} {
      @include padding-top(4v);
      @include padding-top(6v, md);
      @include padding-bottom(4v);
      @include padding-bottom(2v, md);
    }

    #{ns(grid-row)} > *:first-child > #{ns(official__col)} {
      @include padding-left(0);
    }

    #{ns(official__col)} {
      @include padding-left(16v);
      @include relative;
      @include before {
        @include display-flex(row, center, center);
        @include absolute(0,null,null,0,12v,12v);
        border-radius: 100%;
      }

      p {
        @include margin-bottom(2v);

        &:last-child {
          @include margin-bottom(6v,md);
        }
      }
    }
  }
}
