<%- section('Nouvelles versions', null, 0) %>

<ul>
  <li>
    <a href="../card/download/"><%- getText('subdir.download', 'card') %></a>
  </li>
  <li>
    <a href="../link/download/"><%- getText('subdir.download', 'link') %></a>
  </li>
</ul>
