////
/// Utility Main
/// @group utility
////

@use 'src/module/path';
@use 'src/module/shame/media-query';

@include path.to-dist(1);
@include media-query.order;

@import 'colors/main';
@import 'icons/main';
