////
/// Core Tools : Global visibility
/// @group core
////

@mixin visibility($visibility: visible, $breakpoint: null) {
  @include respond-from($breakpoint) {
    visibility: $visibility;
  }
}

@mixin build-visibility() {
  $visibility-vars: map-get($display-vars, visibility);
  $buildBreakpoints: map-get($visibility-vars, breakpoints);
  $breakpointsList: if($buildBreakpoints == all, $breakpoints, $buildBreakpoints);

  @if ($visibility-vars != true and map-get($visibility-vars, active) != false) {
    @each $type in $visibilityTypes {
      #{ns(visibility)}--#{$type} {
        visibility: $type !important;
      }
    }

    @if ($breakpointsList != false) {
      @each $bp, $limit in $breakpointsList {
        @each $type in $visibilityTypes {
          @include respond-from($bp) {
            #{ns(visibility)}--#{$type}-#{$bp} {
              visibility: $type !important;
            }
          }
        }
      }
    }
  }
}
