<%#
# paramètres paragraph

* paragraph.classes (array, optional): Classes suplémentaires sur le paragraphe

* paragraph.content (string, optional): contenu du paragraphe

* paragraph.size (string, optional) : taille de la police dans le paragraphe

* paragraph.weight (string, optional) : Graisse de la police dans le paragraphe

* paragraph.alt (boolean, optional) [default: false]: Si true, utilise la police alternative (spectral)

%>
<% eval(include('../../../index.ejs')); %>

<%
 let paragraph = locals.paragraph || {};
 let paragraphClasses = paragraph.classes || [];
 switch(paragraph.size) {
    case 'xs' :
    case 'sm' :
    case 'md' :
    case 'lg' :
    case 'lead' :
      paragraphClasses.push(`${prefix}-text--${paragraph.size}`);
      break;
 }

 switch(paragraph.weight) {
    case 'light' :
    case 'regular' :
    case 'bold' :
    case 'heavy' :
      paragraphClasses.push(`${prefix}-text--${paragraph.weight}`);
      break;
 }

 if (paragraph.alt === true) paragraphClasses.push(`${prefix}-text--alt`);

 %>

<p <%- includeClasses(paragraphClasses); %>><%- paragraph.content || '' %></p>
