<div class="<%= prefix %>-header__navbar">
    <%
        const attrs = {};
        attrs[`data-${prefix}-opened`] = false;

        if (locals.search) {
          const label = search.label || 'Rechercher';
    %>
    <%- include('../../../buttons/templates/ejs/button', {
        classes: [prefix + '-btn--search'],
        title: label,
        attributes: {
            ...attrs,
            'aria-controls': search.modalId,
        },
        label: label,
        id: search.id
    }); %>
    <% } %>

    <%
        if (locals.menu) {
            const label = menu.label || 'Menu';

    %>
    <%- include('../../../buttons/templates/ejs/button', {
        classes: [prefix + '-btn--menu'],
        title: label,
        attributes: {
            ...attrs,
            'aria-controls': menu.modalId,
            'aria-haspopup': 'menu'
        },
        label: label,
        id: menu.id
    }); %>
    <% } %>
</div>
