////
/// Follow Legacy
/// @group core
////

@use 'src/module/path';
@use 'src/module/shame/media-query';

@include path.to-dist(2);
@include media-query.order;

@import 'index';
@import 'style/scheme';
@import 'style/legacy';

// deprecated
@import 'deprecated/style/tool';
@import 'deprecated/style/legacy';
@import 'deprecated/style/scheme';

@include _follow-scheme(true);

// deprecated
@include _follow-deprecated-scheme(true);
