////
/// Callout Legacy
/// @group callout
////

@use 'src/module/legacy';

@include legacy.is(ie11) {
  /**
  * Marge des titres et textes
  */
  #{ns(callout)} {
    &__title {
      @include margin(0 0 2v);
    }

    &__text {
      @include margin(0);
    }
  }
}
