////
/// Core Function
/// @group core
////

@import 'function/map';
@import 'function/list';
@import 'function/string';
@import 'function/unit';
@import 'function/encoding';
@import 'function/important';

@import 'selector/function';
@import 'action/function';
@import 'color/function';
@import 'spacing/function';
