////
/// Core Module
/// @group core
////

@import 'action/module';
@import 'artwork/module';
@import 'motion/module';
@import 'typography/module';
@import 'color/module';
@import 'reset/module';
@import 'icon/module';
@import 'display/module';
@import 'media/module';
@import 'grid/module';
@import 'selector/module';
@import 'collapse/module';
@import 'spacing/module';
@import 'placement/module';
