////
/// Core Scheme
/// @group core
////

@import 'reset/scheme';
@import 'action/scheme';
@import 'typography/scheme';
@import 'color/scheme';
@import 'display/scheme';

@mixin _core-scheme($legacy: false) {
  @include _core-reset-scheme($legacy);
  @include _core-action-scheme($legacy);
  @include _core-typography-scheme($legacy);
  @include _core-color-scheme($legacy);
  @include _core-display-scheme($legacy);
}
