////
/// Core Setting
/// @group core
////

@import '../variables.scss';
@import 'reset/setting';
@import 'action/setting';
@import 'selector/setting';
@import 'spacing/setting';
@import 'typography/setting';
@import 'motion/setting';
@import 'icon/setting';
@import 'media/setting';
@import 'grid/setting';
@import 'collapse/setting';
