////
/// Core Variables
/// Les utilitaires des cores sont paramètrables ici, ces variables reprennent celles des settings de chaque utilitaire sans le '!default' à la fin.
/// De cette façon les utilitaires générés peuvent être modifiés ici au besoin (en reprennant la même structure de données) ou retirés en les passant à 'false'
/// Tips: `yarn build --styles -p core` pour tester la compilation du core
/// @group core
////

$variables: (
  reset: (
    font-face: (
      path:'../fonts'
    ),
    body: false,
    box-sizing: false,
    focus: false,
    heading: false,
    hr: false,
    link: false,
    list: false,
    text: false,
    button: false,
    input: false
  ),
  display: (
    hr: false,
    ellipsis: false,
    hidden: (
      active: false,
      breakpoints: sm md lg,
    ),
    unhidden: (
      active: false,
      breakpoints: sm md lg,
    ),
  ),
  colors: (
    // shadow: (
    //   active: false,
    //   breakpoints: sm md lg
    // ),
  ),
  typography: (
    // text: false,
    // title: false,
  ),
  spacing: (
    margin: (
      active: false,
      from: -8,
      through: 32,
      half: 2,
      special: auto,
      breakpoints: md
    ),
    padding: (
      active: false,
      from: 0,
      half: 2,
      through: 32,
      breakpoints: md
    )
  )
);