////
/// Summary Module
/// @group summary
////

//TODO: rapprocher de la liste ordonnée et vérifier les sous-niveaux.

#{ns(summary)} {
  @include disable-link-style;
  @include padding(6v);
  @include padding(8v, md);
  @include text-style(xs);

  @include title {
    @include margin(0 0 2v);
    font-weight: font-weight(bold);
    text-transform: uppercase;
  }

  li {
    position: relative;
    @include padding(0);
    @include before(none);
  }

  &__link {
    @include before(var(--li-content)) {
      @include padding-right(1v);
    }
    display: inline-block;
    @include padding(2v);
    @include margin-x(-2v);
  }
}
