<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- sample('Interrupteur coché', '../../../../../component/toggle/example/sample/toggle-default.ejs', {toggle: {checked: true, state: true}});  %>
</div>
