////
/// Core Tool : Display ellipsis
/// @group core
////

@mixin build-ellipsis() {
  $display-ellipsis-vars: map-get($display-vars, ellipsis);
  $buildBreakpoints: map-get($display-ellipsis-vars, breakpoints);

  @if ($display-ellipsis-vars != false and map-get($display-ellipsis-vars, active) != false) {
    #{ns(ellipsis)} {
      @include ellipsis();
    }

    @if ($buildBreakpoints == all) {
      @each $bp, $limit in $breakpoints {
        @include respond-from($bp) {
          #{ns(ellipsis)}-#{$bp} {
            @include ellipsis();
          }
        }
      }
    }
    @else if ($buildBreakpoints != false and $buildBreakpoints != null) {
      @each $bp, $limit in $buildBreakpoints {
        @include respond-from($bp) {
          #{ns(ellipsis)}-#{$bp} {
            @include ellipsis();
          }
        }
      }
    }
  }
}

@mixin ellipsis() {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
