/*!
 * DSFR v1.1.0 | SPDX-License-Identifier: MIT | License-Filename: LICENCE.md | restricted use (see terms and conditions)
 */
.fr-sidemenu {
  background-color: var(--w-g750);
}

.fr-sidemenu__title {
  color: var(--g800);
  background-color: var(--t-plain);
  border-bottom: 1px solid var(--g300);
}

.fr-sidemenu__item {
  border-bottom: 1px solid var(--g300);
}

.fr-sidemenu__item:last-child .fr-sidemenu__btn {
  border-bottom: 1px solid var(--t-plain);
}

.fr-sidemenu__item--active > .fr-sidemenu__btn,
.fr-sidemenu__item--active > .fr-sidemenu__link {
  color: var(--bf500);
}

.fr-sidemenu__item--active > .fr-sidemenu__btn::after,
.fr-sidemenu__item--active > .fr-sidemenu__link::after {
  background-color: currentColor;
}

.fr-sidemenu__btn {
  color: var(--g800);
}

.fr-sidemenu__inner > .fr-sidemenu__btn {
  background-color: var(--w-g750);
}

.fr-sidemenu__link {
  color: var(--g800);
  background-color: var(--t-plain);
}

:root:not([data-fr-theme="dark"]) .fr-sidemenu__link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-fr-theme="dark"]) [class*="fr-scheme-light"] .fr-sidemenu__link,
:root:not([data-fr-theme="dark"]) [class*="--scheme-light-"] .fr-sidemenu__link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-fr-theme="dark"]) [class*="fr-scheme-dark"] .fr-sidemenu__link,
:root:not([data-fr-theme="dark"]) [class*="--scheme-dark-"] .fr-sidemenu__link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root[data-fr-theme="dark"] .fr-sidemenu__link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

@media (min-width: 48em) {
  .fr-sidemenu {
    background-color: var(--t-plain);
  }

  .fr-sidemenu__inner {
    border-right: 1px solid var(--g300);
  }

  .fr-sidemenu--right .fr-sidemenu__inner {
    border-left: 1px solid var(--g300);
  }

  .fr-sidemenu--full-border .fr-sidemenu__inner {
    border: 1px solid var(--g300);
  }

  .fr-sidemenu__btn {
    background-color: var(--t-plain);
  }

  :root:not([data-fr-theme="dark"]) .fr-sidemenu__btn {
    --color-hover: var(--block-color-hover);
    --color-active: var(--block-color-active);
  }

  :root:not([data-fr-theme="dark"]) [class*="fr-scheme-light"] .fr-sidemenu__btn,
  :root:not([data-fr-theme="dark"]) [class*="--scheme-light-"] .fr-sidemenu__btn {
    --color-hover: var(--block-color-hover);
    --color-active: var(--block-color-active);
  }

  :root:not([data-fr-theme="dark"]) [class*="fr-scheme-dark"] .fr-sidemenu__btn,
  :root:not([data-fr-theme="dark"]) [class*="--scheme-dark-"] .fr-sidemenu__btn {
    --color-hover: var(--block-color-hover);
    --color-active: var(--block-color-active);
  }

  :root[data-fr-theme="dark"] .fr-sidemenu__btn {
    --color-hover: var(--block-color-hover);
    --color-active: var(--block-color-active);
  }
}

@media (min-width: 48em) and (hover: hover) and (pointer: fine) {
  .fr-sidemenu__btn:not(a):not(:disabled):hover,
  a.fr-sidemenu__btn[href]:hover {
    background-image: linear-gradient(0deg, var(--color-hover), var(--color-hover));
  }

  .fr-sidemenu__btn:not(a):not(:disabled):active,
  a.fr-sidemenu__btn[href]:active {
    background-image: linear-gradient(0deg, var(--color-active), var(--color-active));
  }
}

@media (hover: hover) and (pointer: fine) {
  .fr-sidemenu__link:not(a):not(:disabled):hover,
  a.fr-sidemenu__link[href]:hover {
    background-image: linear-gradient(0deg, var(--color-hover), var(--color-hover));
  }

  .fr-sidemenu__link:not(a):not(:disabled):active,
  a.fr-sidemenu__link[href]:active {
    background-image: linear-gradient(0deg, var(--color-active), var(--color-active));
  }
}
