
@import 'reset/module';
@import 'typography/module';



.#{$prefix}-sr-only {
  @include sr-only();
}

//@include sr-only-from();
//@include sr-only-to();

:root {
  --focus-z-index: 25000;
}

.#{$prefix}-fi {
  &--sm::before {
    font-size: icon-size(sm);
  }

  &--md::before {
    font-size: icon-size(md);
  }

  &--lg::before {
    font-size: icon-size(lg);
  }

  &--xl::before {
    font-size: icon-size(xl);
  }
}
