////
/// Core Settings
/// @group core
////

/*
  Variables :
    -> Unit
    -> Colors
    -> Typography
    -> Spacing
*/

@import 'settings/colors';

/* `````````````````````
  Typography
````````````````````` */

$base-font-size-px: 16px !default;

$base-font-color: $grey-600;

$static-font-path: '../fonts' !default;

$font-family-sans: 'Marianne', arial, sans-serif;
$font-family-serif: 'Spectral', georgia, serif;

/// $type-scale
$type-scale: (
  12: 12px,
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
  22: 22px,
  24: 24px,
  28: 28px,
  32: 32px,
  44: 44px,
  48: 48px,
  56: 56px,
  64: 64px,
  72: 72px,
  88: 88px,
  96: 96px
);

/// $line-height-scale
$line-height-scale: (
  none: 1,
  tight: 1.25,
  snug: 1.375,
  normal: 1.5,
  relaxed: 1.625,
  loose: 2
);

$weight-scale: (
  light: 300,
  regular: 400,
  bold: 700,
  xx-bold: 900
);

/* `````````````````````
  Spacing
````````````````````` */
$base-unit: 8px;

/// $space-scale
$space-scale: (
  0: 0,
  0-5N: 4px,
  1N: 8px,
  1-5N: 12px,
  2N: 16px,
  2-5N: 20px,
  3N: 24px,
  3-5N: 28px,
  4N: 32px,
  5N: 40px,
  6N: 48px,
  7N: 56px,
  8N: 64px,
  9N: 72px,
  12N: 96px,
  15N: 120px
);

// Transition
$base-transition-ease: cubic-bezier(0.25, 0.1, 0.25, 1);

// Breakpoints
$breakpoints: (
  xs: 0 35.98em,
  sm: 36em 47.98em,
  md: 48em 61.98em,
  lg: 62em 74.98em,
  xl: 75em,
) !default;

// Ratio
$ratio-scale: (
  32x9: 28.125%,
  16x9: 56.25%,
  3x2: 66.667%,
  4x3: 75%,
  1x1: 100%,
  3x4: 133.333%,
  2x3: 150%
);

// shadows
$shadow-sm: 0 1px 4px 0 rgba(0, 0, 0, 0.23), 0 2px 0 -2px rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.16);
$shadow-md: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 16px -16px rgba(0, 0, 0, 0.32);

/// $container-max-width
$container-max-width: 1136px !default;


