////
/// Core Settings
/// @group core
////

@import '../../generated/icons';

@import 'global/settings';
@import 'grid/settings';
@import 'icons/settings';
@import 'medias/settings';
@import 'typography/settings';
@import 'collapse/settings';
