////
/// Core Group Annotations
/// @group core
////

/*
  Variables :
    -> Unit
    -> Colors
    -> Typography
    -> Spacing
*/

/* `````````````````````
  Colors
````````````````````` */

$grey-800: #1e1e1e;
$grey-750: #2a2a2a;
$grey-700: #383838;
$grey-600: #6a6a6a;
$grey-500: #9c9c9c;
$grey-400: #cecece;
$grey-300: #e7e7e7;
$grey-200: #f0f0f0;
$grey-100: #f8f8f8;

$blue-france-700: #00006d;
$blue-france-600: #000074;
$blue-france-500: #000091;
$blue-france-400: #7f7fc8;
$blue-france-300: #bfbfe3;
$blue-france-200: #e5e5f4;
$blue-france-100: #f2f2f9;

$red-marianne-700: #a9000b;
$red-marianne-600: #ca000d;
$red-marianne-500: #e1000f;
$red-marianne-400: #f07087;
$red-marianne-300: #f7bfc3;
$red-marianne-200: #fce5e7;
$red-marianne-100: #fdf2f3;

$green-warm-700: #706849;
$green-warm-600: #877e59;
$green-warm-500: #958b62;
$green-warm-400: #cac5b0;
$green-warm-300: #e4e2d8;
$green-warm-200: #f4f3ef;

$green-light-700: #6d823b;
$green-light-600: #88a34a;
$green-light-500: #91ae4f;
$green-light-400: #c8d6a7;
$green-light-300: #e3ebd3;
$green-light-200: #f4f7ed;

$green-medium-700: #107449;
$green-medium-600: #19905b;
$green-medium-500: #169b62;
$green-medium-400: #8acdb0;
$green-medium-300: #c5e6d8;
$green-medium-200: #e7f5ef;

$green-dark-700: #344f4b;
$green-dark-600: #40605b;
$green-dark-500: #466964;
$green-dark-400: #a2b4b1;
$green-dark-300: #d1d9d8;
$green-dark-200: #ecf0ef;
$green-dark-100: #f6f7f7;

$green-soft-700: #008169;
$green-soft-600: #22967e;
$green-soft-500: #00ac8c;
$green-soft-400: #80d5c6;
$green-soft-300: #bfeae2;
$green-soft-200: #e5f7f4;

$blue-soft-700: #41548e;
$blue-soft-600: #5266a1;
$blue-soft-500: #5770be;
$blue-soft-400: #abb8df;
$blue-soft-300: #d5dbef;
$blue-soft-200: #ededf2;

$blue-dark-700: #363a5b;
$blue-dark-600: #444871;
$blue-dark-500: #484d7a;
$blue-dark-400: #a3a6bc;
$blue-dark-300: #d1d2de;
$blue-dark-200: #ecedf1;
$blue-dark-100: #f6f6f8;

$pink-soft-700: #bf6a5e;
$pink-soft-600: #d07c75;
$pink-soft-500: #ff8d7e;
$pink-soft-400: #ffc6be;
$pink-soft-300: #ffe2df;
$pink-soft-200: #fff4f2;

$pink-dark-700: #9c6759;
$pink-dark-600: #c0806f;
$pink-dark-500: #d08a77;
$pink-dark-400: #e8c5bb;
$pink-dark-300: #f3e2dd;
$pink-dark-200: #faf3f1;

$pink-light-700: #bf9176;
$pink-light-600: #ddb094;
$pink-light-500: #ffc29e;
$pink-light-400: #ffe0cf;
$pink-light-300: #fff0e7;
$pink-light-200: #fff9f5;

$yellow-medium-700: #bfae00;
$yellow-medium-600: #ead737;
$yellow-medium-500: #ffe800;
$yellow-medium-400: #fff480;
$yellow-medium-300: #fff9bf;
$yellow-medium-200: #fffde6;

$yellow-dark-700: #be9b31;
$yellow-dark-600: #e3bd41;
$yellow-dark-500: #fdcf41;
$yellow-dark-400: #fee7a0;
$yellow-dark-300: #fef3cf;
$yellow-dark-200: #fffaec;

$orange-medium-700: #bf7330;
$orange-medium-600: #d38742;
$orange-medium-500: #ff9940;
$orange-medium-400: #ffcc9f;
$orange-medium-300: #ffe6cf;
$orange-medium-200: #fff5ec;

$orange-dark-700: #a9664a;
$orange-dark-600: #d0805b;
$orange-dark-500: #e18863;
$orange-dark-400: #f0c5b1;
$orange-dark-300: #f7e1d8;
$orange-dark-200: #fcf3ef;

$orange-soft-700: #bf5339;
$orange-soft-600: #cb634b;
$orange-soft-500: #ff6f4c;
$orange-soft-400: #ffb7a5;
$orange-soft-300: #ffdbd2;
$orange-soft-200: #fff0ed;

$purple-700: #5e3a44;
$purple-600: #714753;
$purple-500: #7d4e5b;
$purple-400: #bea7ad;
$purple-300: #ded3d6;
$purple-200: #f2edef;
$purple-100: #f8f6f7;

$brown-700: #794e43;
$brown-600: #956052;
$brown-500: #a26859;
$brown-400: #d1b4ac;
$brown-300: #e8dad5;
$brown-200: #f6f0ee;

$info-dark-mode: #5e74d9;
$info: #3a55d1;
$success: #0d6635;
$success-dark-mode: #13904b;
$warning: #fa5c00;
$warning-dark-mode: #ff6105;
$error: #b60000;
$error-dark-mode: #f00000;

$white: #fff;

$beige:#f9f8f6;

$color-focus: #2a7ffe;
$color-focus-dark-mode: #5398ff;

/* `````````````````````
  Typography
````````````````````` */

$base-font-size-px: 16px !default;

$base-font-color: $grey-600;

$static-font-path: '../fonts' !default;

$font-family-sans: 'Marianne', arial, sans-serif;
$font-family-serif: 'Spectral', georgia, serif;

/// $type-scale
$type-scale: (
  12: 12px,
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
  22: 22px,
  24: 24px,
  28: 28px,
  32: 32px,
  44: 44px,
  48: 48px,
  56: 56px,
  64: 64px,
  72: 72px,
  88: 88px,
  96: 96px
);

/// $line-height-scale
$line-height-scale: (
  none: 1,
  tight: 1.25,
  snug: 1.375,
  normal: 1.5,
  relaxed: 1.625,
  loose: 2
);

$weight-scale: (
  light: 300,
  regular: 400,
  bold: 700,
  xx-bold: 900
);

/* `````````````````````
  Spacing
````````````````````` */
$base-unit: 8px;

/// $space-scale
$space-scale: (
  0: 0,
  0-5N: 4px,
  1N: 8px,
  1-5N: 12px,
  2N: 16px,
  2-5N: 20px,
  3N: 24px,
  3-5N: 28px,
  4N: 32px,
  5N: 40px,
  6N: 48px,
  7N: 56px,
  8N: 64px,
  9N: 72px,
  12N: 96px,
  15N: 120px
);

// Transition
$base-transition-ease: cubic-bezier(0.25, 0.1, 0.25, 1);

// Breakpoints
$bp-sm: 36em !default;
$bp-md: 48em !default;
$bp-lg: 62em !default;
$bp-xl: 75em !default;

// Ratio
$ratio-scale: (
  32x9: 28.125%,
  16x9: 56.25%,
  3x2: 66.667%,
  4x3: 75%,
  1x1: 100%,
  3x4: 133.333%,
  2x3: 150%
);

// shadows
$shadow-sm: 0 1px 4px 0 rgba(0, 0, 0, 0.23), 0 2px 0 -2px rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.16);
$shadow-md: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 16px -16px rgba(0, 0, 0, 0.32);

/// $container-max-width
$container-max-width: 1136px !default;


