$consent-btn-settings:(
  selector: 'consent-service__collapse-btn',
  sizes: (
    md: (
      font-size: 3.5v,
      min-height: 0,
      padding-x: 0,
      padding-y: 0,
      icon: sm,
      icon-margin-x: 1v
    )
  ),
  places: right,
  display: flex,
  no-modifier: true
);
