////
/// Core Setting : Typography content
/// @group core
////

$text-styles: (
  3v: (
    line-height: 5v
  ),
  3.5v: (
    line-height: 6v
  ),
  4v: (
    line-height: 6v
  ),
  4.5v: (
    line-height: 7v
  ),
  5v: (
    line-height: 8v
  ),
  5.5v: (
    line-height: 9v
  ),
);

$text-settings: (
  xs: (
    breakpoints: (
      first: 3v,
    ),
    margin: text
  ),
  sm: (
    breakpoints: (
      first: 3.5v,
    ),
    margin: text
  ),
  md: (
    breakpoints: (
      first: 4v,
    ),
    margin: text
  ),
  lg: (
    breakpoints: (
      first: 4.5v,
    ),
    margin: text
  ),
  xl: (
    alt: lead,
    breakpoints: (
      first: 5v,
    ),
    margin: text
  )
);

$text-utilities: true !default;
@if map-get($typography-vars, text) == false {
  $text-utilities: false;
}
