////
/// Share Module
/// @group share
////

#{selector.ns(share)} {
  @include display.flex(column);
  @include typography.set-text-margin(0 0 4v);
  @include typography.set-title-margin(0 0 4v);

  &__title {
    @include typography.text-style(md);
    order: 1;
  }

  &__text {
    @include typography.text-style(xs);
    @include spacing.max-width(72v, md);
    order: 3;
  }

  #{ns-group(btns)} {
    @include horizontal-btns-group;
    @include spacing.width(auto);
    order: 2;

    #{selector.ns(btn)} {
      justify-content: flex-start;
    }

    &:not(#{ns-group(btns)}--sm):not(#{ns-group(btns)}--lg) {
      #{selector.ns(btn)} {
        @include has-not-icon {
          @include nest-btn(md, only, null, null, false);
          @include icon.icon(null, md, before);
        }
      }
    }
  }
}

@include build-share-social-icons();
@include build-share-icon(mail, mail-line);
@include build-share-icon(copy, links-fill);
