
<%
let id = 'consent';

let elementAccept = { label : 'Accepter'};
let elementRefuse = { label : 'Refuser'};

let finalities = [
  {
    id: 'finality',
    title: 'Préférences pour tous les services. <a href="">Données personnelles et cookies</a>',
    radios: [
      { name : id + '-all', element: {label: 'Tout accepter'},  id: id + '-all-accept'},
      { name : id + '-all', element: {label: 'Tout refuser'}, id: id + '-all-refuse' }
    ]
  },
  {
    id: 'finality-0',
    title: 'Cookies obligatoires',
    desc: 'Ce site utilise des cookies nécessaires à son bon fonctionnement qui ne peuvent pas être désactivés.',
    radios: [
      { name : id + '-finality-0', element: {...elementAccept},  id: id + '-finality-0-accept'},
      { disabled: true, name : id + '-finality-0', element: {...elementRefuse}, id: id + '-finality-0-refuse' }
    ]
  },
  {
    id: 'finality-1',
    title: 'Nom de la finalité',
    desc: 'Description optionnelle de la finalité, lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in suscipit nulla, et pulvinar velit.',
    radios: [
      { name : id + '-finality-1-', element: {...elementAccept},  id: id + '-finality-1-accept'},
      { name : id + '-finality-1-', element: {...elementRefuse}, id: id + '-finality-1-refuse' }
    ],
    services: [
      {
        title: "Sous finalité 1",
        radios: [
          { name : id + '-finality-1-service-1', element: {...elementAccept},  id: id + '-finality-1-service-1-accept'},
          { name : id + '-finality-1-service-1', element: {...elementRefuse}, id: id + '-finality-1-service-1-refuse' }
        ]
      },
      {
        title: "Sous finalité 2",
        radios: [
          { name : id + '-finality-1-service-2', element: {...elementAccept},  id: id + '-finality-1-service-2-accept'},
          { name : id + '-finality-1-service-2', element: {...elementRefuse}, id: id + '-finality-1-service-2-refuse' }
        ]
      },
      {
        title: "Sous finalité 3",
        radios: [
          { name : id + '-finality-1-service-3', element: {...elementAccept},  id: id + '-finality-1-service-3-accept'},
          { name : id + '-finality-1-service-3', element: {...elementRefuse}, id: id + '-finality-1-service-3-refuse' }
        ]
      }
    ]
  },
  {
    id: 'finality-2',
    title: 'Nom de la finalité',
    desc: 'Description optionnelle de la finalité, lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in suscipit nulla, et pulvinar velit.',
    radios: [
      { name : id + '-finality-2-', element: {...elementAccept},  id: id + '-finality-2-accept'},
      { name : id + '-finality-2-', element: {...elementRefuse}, id: id + '-finality-2-refuse' }
    ],
    services: [
      {
        title: "Sous finalité 1",
        radios: [
          { name : id + '-finality-2-service-1', element: {...elementAccept},  id: id + '-finality-2-service-1-accept'},
          { name : id + '-finality-2-service-1', element: {...elementRefuse}, id: id + '-finality-2-service-1-refuse' }
        ]
      },
      {
        title: "Sous finalité 2",
        desc: "Ce service utilise 3 cookies.",
        radios: [
          { name : id + '-finality-2-service-2', element: {...elementAccept},  id: id + '-finality-2-service-2-accept'},
          { name : id + '-finality-2-service-2', element: {...elementRefuse}, id: id + '-finality-2-service-2-refuse' }
        ]
      },
      {
        title: "Sous finalité 3",
        radios: [
          { name : id + '-finality-2-service-3', element: {...elementAccept},  id: id + '-finality-2-service-3-accept'},
          { name : id + '-finality-2-service-3', element: {...elementRefuse}, id: id + '-finality-2-service-3-refuse' }
        ]
      }
    ]
  },
]
%>

<%- include('../../../templates/ejs/manager', {finalities: finalities}); %>
