////
/// Input Legacy
/// @group input
////

@use 'module/legacy';
@use 'module/selector';
@use 'module/color';
@use 'module/spacing';

@include legacy.is(ie11) {
  #{selector.ns-group(range)} {
    &#{selector.ns-attr(js-range)} {
      input[type=range] {
        @include padding(0);

        @include selector.range-ms-track {
          @include height(1v);
          background: transparent;
          border-color: transparent;
          border-width: #{spacing.space(3v)} 0;
          color: transparent;
        }

        @include selector.range-ms-fill-lower {
          @include height(1v);
          background: transparent;
          border-color: transparent;
          border-width: #{spacing.space(3v)} 0;
          color: transparent;
        }

        @include selector.range-ms-thumb {
          @include size(6v, 6v);
          border-radius: 50%;
          border: none;
        }

        &:not(:only-of-type) {
          pointer-events: auto;
        }
      }

      &#{selector.ns-group(range)}--double {
        input[type=range] {
          width: calc(100% - #{spacing.space(3v)});
        }

        input[type=range]:nth-of-type(2) {
          left: #{spacing.space(6v)};
        }
      }
    }

    &--sm {
      &#{selector.ns-attr(js-range)} {
        input[type=range] {
          @include selector.range-ms-track {
            @include height(0.5v);
            border-width: #{spacing.space(2.5v)} 0;
          }

          @include selector.range-ms-thumb {
            @include size(4v, 4v);
          }
        }

        &#{selector.ns-group(range)}--double {
          input[type=range] {
            width: calc(100% - #{spacing.space(3v)});
          }

          input[type=range]:nth-of-type(2) {
            left: #{spacing.space(6v)};
          }
        }
      }
    }
  }
}
