<% const sample = getSample(include); %>

<div class="<%= prefix %>-container">
  <%- sample('Alerte avec bouton fermer', '../../../../../component/alert/example/sample/alert-dismissable', {alert: {type: "info", title: "Information Covid"}}); %>
</div>
