<%#

Paramètres de sidemenu btn

* sidemenuBtn.label (string, required) : label du bouton

* sidemenuBtn.active (booolean, optional) : si true, l'élement est actif

* sidemenuBtn.collapseId (string, required) : id du collapse

%>
<% let sidemenuBtn = locals.sidemenuBtn || {}; %>
<button class="<%= prefix %>-sidemenu__btn" aria-expanded="false" aria-controls="<%= sidemenuBtn.collapseId %>" <% if(sidemenuBtn.active) { %> aria-current="true" <% } %>><%- sidemenuBtn.label %></button>