<%#

Paramètres de sidemenu btn

* sidemenuItems (array, required) : tableau d'items de sidemenu

%>

<% let sidemenuItems = locals.sidemenuItems || []; %>

<ul class="<%= prefix %>-sidemenu__list" >
    <%
        for (let i = 0; i < sidemenuItems.length; i++) {
            let item = sidemenuItems[i];
            let classes = [prefix + '-sidemenu__item'];
    %>
        <li <%- includeClasses(classes); %>>
            <%- include('./' + item.type, {sidemenuItem : item}); %>
        </li>
    <% } %>
</ul>
