////
/// Selects Module
/// @group selects
////

$svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='$COLOR' d='M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z'/></svg>");

#{dse(select)} {
  display: block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  @include size(100%);
  border: 0;
  border-radius: space(1v) space(1v) 0 0;
  @include text-style(md);
  @include padding(2v 10v 2v 4v);
  background-repeat: no-repeat;
  background-position: calc(100% - #{space(2v)}) 50%;
  background-size: space(6v) space(6v);
  cursor: pointer;

  @include scheme-element-text-color(g800, true);
  @include scheme-element-bg-color(g200, true);
  @include scheme-element-box-shadow-color(g800,true,inset 0 -2px 0 0 $COLOR);
  @include scheme-element-data-uri-svg(g800, $svg, background-image);
  @include scheme-element-focus();

  /**
   * Modificateur pour gérer l'état d'erreur
   */
  &--error {
    @include scheme-element-box-shadow-color(error,false,inset 0 -2px 0 0 $COLOR);
  }

  /**
   * Modificateur pour gérer l'état de validation
   */
  &--valid {
    @include scheme-element-box-shadow-color(success,false,inset 0 -2px 0 0 $COLOR);
  }

  /**
   * Mixin pour gérer l'état disabled
   */
  @include disabled-form-field(select) {
    @include scheme-element-data-uri-svg(get-disabled-color(border), $svg, background-image);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    @include scheme-element-box-shadow-color(g200,true,inset 0 0 0 100px $COLOR);
    @include _scheme-element(g800, -webkit-text-fill-color, true);
  }
}
