<form action="">
  <%- include("../../../../input/input-base/example/sample/inputs", {inputs: {id:'input-sample'}}); %>
  <%- include("../../../../button/example/sample/button-default", {button: {type: 'submit', title: 'Envoyer'}}); %>
</form>
