////
/// Core Setting : Color
/// @group core
////

@import 'setting/options';
@import 'setting/sets';
@import 'setting/decisions';
@import 'setting/hover';
@import 'setting/static';
@import 'setting/box-shadows';
@import 'setting/shadow';
@import 'setting/variable';
