
@mixin container() {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: #{space(map-get($grid-gutter-width, xs))};
  padding-left: #{space(map-get($grid-gutter-width, xs))};

  @include respond-from(sm) {
    padding-right: #{space(map-get($grid-gutter-width, lg))};
    padding-left: #{space(map-get($grid-gutter-width, lg))};
  }

  @include respond-from(xl) {
    max-width: $container-max-width;
    padding-right: 0;
    padding-left: 0;
  }
}
