<% const sample = getSample(include); %>

<%
const getContent = (id) => {
    return `<div id="anchor-${id}">
        <h2>Contenu ${id}</h2>
    <p>${lorem()}</p>
</div>`;
}

const links = [12, 0, 2, 2,0,0,0,0,0,0,0,0,12];
let data = {list:[]};
let content = '';

for (let i = 0; i < links.length; i++) {
    let id = i + 1
    content += getContent(id);

    if (links[i]) {
        for (let j = 0; j < links[i]; j++) {
            id = `${i + 1}.${j + 1}`;
            content += getContent(id);
        }
    }
}

%>

<%- sample('Sommaire', './sample/summary', {summary: {links: links}}, true); %>

<%- content; %>
