<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- sample(getText('sample.button', 'input-base'), '../../../../component/input/input-base/example/sample/input-button.ejs', {input: { id:'text-input-button'} }); %>
</div>
