<% const sample = getSample(include); %>

<div class="<%= prefix %>-container">
  <%- sample(getText('sample.tooltip', 'tooltip'), '../../../../../component/tooltip/example/sample/tooltip-button.ejs'); %>
</div>
