////
/// Select Module
/// @group select
////

@use 'module/spacing';

#{ns(select)} {
  display: block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  @include size(100%);
  border-radius: spacing.space(1v 1v 0 0);
  @include text-style(md);
  @include padding-y(2v);
  background-repeat: no-repeat;
  background-size: spacing.space(6v) spacing.space(6v);
}

#{ns(select-group)} {
  #{ns(message)} {
    &:first-child {
      @include margin-top(2v);
    }
  }
}
