////
/// Select Module
/// @group select
////

#{ns(select)} {
  display: block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  @include size(100%);
  border-radius: space(1v 1v 0 0);
  @include text-style(md);
  @include padding(2v 10v 2v 4v);
  background-repeat: no-repeat;
  background-position: space(calc(100% - 2v) 50%);
  background-size: space(6v) space(6v);
}
