////
/// Notice Legacy
/// @group notice
////

@include legacy(ie11) {
  /**
  * reset des marges dans le bandeau
  */
  #{ns(notice)} {
    &__title,
    p {
      @include margin(0);
    }

    &--info {
      #{ns(notice)}__body {
        @include icon-legacy(info-fill, null, before, false);
      }
    }
  }
}
