////
/// notice Scheme
/// @group notice
////

@mixin _notice-scheme($legacy: false) {
  #{ns(notice)} {
    @include scheme-element-bg-color(contrast grey, (legacy:$legacy, hover: false, active: false));
    @include scheme-element-text-color(title grey, (legacy:$legacy));

    &--info {
      @include scheme-element-bg-color(contrast info, (legacy:$legacy, hover: false, active: false));
      @include scheme-element-text-color(default info, (legacy:$legacy));
    }
  }
}
