<% const sample = getSample(include); %>

<div class="<%= prefix %>-container">
  <%- sample(getText('sample', 'tooltip'), '../../../../component/tooltip/example/sample/tooltip-hover.ejs'); %>
</div>
