<% const sample = getSample(include); %>

<div class="<%= prefix %>-container">
  <%- sample('Indicateur d\'étapes', '../../../../component/stepper/example//sample/stepper-default', {stepper: {id: uniqueId('stepper')}}); %>
</div>
