////
/// Core Function : Color get scheme set
/// @group core
////

/// Obtenir une combinaison de couleur
/// @access private
/// @param {String} $token - token de decision sous forme de map avec les propriétés context, use et tint
/// @return {String} Retourne la combinaison de couleur correspondante
@function _get-scheme-set($token) {
  $context: map-get($token, context);
  $use: map-get($token, use);
  $tint: map-get($token, tint);
  $family: _get-family($tint);
  $shade: _get-scheme-shade($context, $use, $family);
  @return _get-scheme-set-by-shade($shade, $family, $tint);
}
