////
/// Core Function : Color get result
/// @group core
////

/// Remplace les variables par les couleurs dans la valeur à traiter
/// @access public
/// @param {list} $colors - list d'éléments de couleur sous diverses formes comme renvoyées par get-colors.
/// @param {} $value - définition de la valeur à traiter
/// @return {String} Retourne la valeur avec les couleurs remplacées
@function get-result($colors, $value: $COLOR) {
  $length: length($colors);
  $result: str-replace($value, '$COLOR', '$color#1');
  @for $i from 1 through $length {
    $color: nth($colors, $i);
    $needle: '$color#1';
    @if $length > 1 {
      $needle: '$color##{$i}';
    }
    $result: str-replace($result, $needle, $color);
  }
  @return $result;
}
