////
/// Core Function : Color get blend hsl color
/// @group core
////

/// Obtenir la liste hsl modifiée correspondant à la modification au hover de la couleur
/// @access private
/// @param {String} $option - option de couleur (voir setting/options)
/// @param {String} $theme - theme de la couleur (light, dark)
/// @return {String} Retourne la couleur correspondante
@function _get-blend-hsl-color($option, $theme: light) {
  $hue: _get-color-from-option($option, hue);
  $saturation: _get-color-from-option($option, saturation);
  $base: _get-color-from-option($option, lightness);

  $lightness: $base;

  @if $theme == light {
    @if $lightness > 35% {
      $lightness: $base - 25%;
    }
    @else {
      $lightness: $base + 25%;
    }
  }
  @else {
    @if $lightness < 70% {
      $lightness: $base + 25%;
    }
    @else {
      $lightness: $base - 25%;
    }
  }

  $hsl: #{$hue}, #{$saturation}, #{$lightness};

  @return $hsl;
}
