////
/// Connect Standalone Module
/// @group connect
////

#{ns(connect)} {
  @include standalone-box-sizing;
  @include standalone-font-face(connect, $connect-subset, regular bold);
  @include a-reset(true);
  @include btn-reset(true);
  @include standalone-cursor(get-clickable-elements());
  @include standalone-focus(get-clickable-elements());
  @include text-style(md);
  font-size: max(1rem, 16px);
}
