////
/// Tags Tools
/// @group tags
////

@include _build-link-placeholders($tags-settings, tag, true);

@mixin build-tag() {
  @include _build-link($tags-settings, tag, true);
}

@mixin nest-tag($size:md, $place: null, $icon:null, $from: null, $align-on-content: false) {
  @include _nest-link(tag, $size, $place, $icon, $from, $align-on-content, $tags-settings) {
    @content;
  }
}
