////
/// Content Module
/// @group content
////

#{ns(content-media)} {
  @include size(100%);
  @include margin(10v 0);
  @include display-flex(column, center);
  @include set-text-margin(0);
  @include set-title-margin(0);

  &__img {
    @include size(100%);
  }

  #{class-start-with(ns('responsive-img', ''))},
  #{class-start-with(ns('responsive-vid', ''))} {
    @include aspect-ratio();
  }

  &__caption {
    @include display-flex(column);
    @include size(100%);
    @include margin-top(3v);
    @include text-style(xs);
    @include nest-link(xs, null) {
      @include margin-right(auto);
    }
  }

  #{ns(transcription)} {
    @include margin-top(6v);
  }

  + #{ns(transcription)} {
    @include margin-top(-4v);
    @include margin-bottom(10v);
  }

  $medias: (#{&}__img, ns(responsive-vid));
  @include content-media-sizes($medias, 25%);
}
