////
/// Content Module
/// @group content
////

#{ns(content-media)} {
  @include size(100%);
  @include margin(10v 0);
  @include display-flex(column, center);
  @include set-text-margin(0);
  @include set-title-margin(0);

  &__img {
    @include size(100%);
    @include relative;

    //le padding permettant de définir le ratio d'aspect est appliqué sur un pseudo-élément before qui hérite de la modification de taille --lg et --sm de l'élément img ou vid
    @include aspect-ratio();
  }

  &__img > *,
  &__asset {
    @include media-overlay-cover;
  }

  &__caption,
  &__transcription {
    @include size(100%);
    @include margin-top(2v);
    text-align: right;
  }

  &__caption {
    @include text-style(xs);
  }

  &__transcription {
    @include nest-link(sm, right, menu-2-fill, null, true, true);
  }

  $medias: (#{&}__img, ns(responsive-vid));
  $captions: (#{&}__caption, #{&}__transcription);
  @include content-media-sizes($medias, $captions, 25%);
}
