<%#
# paramètres logo

* logo.classes (array, optional) : classes spécifiques à rajouter sur le composant

* logo.title (string, required) : Attribut 'title' du logo (reprend le nom de l'entité)

* logo.size (string, optional) : modificateur de taille.
  valeurs :
  * sm : logo small
  * lg : logo large
  * default : logo taille md

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
 let logo = locals.logo || {};
 let classes = logo.classes || [];
 classes.push(prefix + '-logo');

 switch(logo.size) {
     case 'sm':
         classes.push(prefix + '-logo--sm');
         break;

     case 'lg':
         classes.push(prefix + '-logo--lg');
         break;
 }
 %>

<p <%- includeClasses(classes); %>>
    <%- logo.title %>
</p>
