////
/// Core Variables
/// Les utilitaires des cores sont paramètrables ici, ces variables reprennent celles des settings de chaque utilitaire sans le '!default' à la fin.
/// De cette façon les utilitaires générés peuvent être modifiés ici au besoin (en reprennant la même structure de données) ou retirés en les passant à 'false'
/// Tips: `yarn build --styles -p core` pour tester la compilation du core
/// @group core
////

$variables: (
  reset: (
    body: true,
    box-sizing: true,
    font-face: (
      path:'../fonts'
    ),
    focus: true,
    heading: true,
    link: true,
    list: true,
    text: true,
    button: true,
    input: true
  ),
  display: (
    display: (
      active: true,
      breakpoints: sm md lg,
    ),
    position: (
      active: true,
      breakpoints: sm md lg,
    ),
    // TODO: Déplacer les position-values (right,left,top,bottom) dans spacing
    position-values: (
      active: false, // TODO: activer après refacto mixin sapcing
      from: -8,
      through: 32,
      special: 50% 100% auto,
      breakpoints: sm md lg,
    ),
    flex-properties: (
      active: true,
      breakpoints: sm md lg,
    ),
    visibility: (
      active: true,
      breakpoints: sm md lg
    ),
  ),
  colors: (
    shadow: (
      active: true,
      breakpoints: sm md lg
    ),
  ),
  typography: (
    text: true,
    title: true,
    font-weight: (
      active: true,
      breakpoints: false,
    ),
    font-style: (
      active: true,
      breakpoints: false,
    ),
    text-align: (
      active: true,
      breakpoints: sm md lg,
    ),
    text-transform: (
      active: true,
      breakpoints: sm md lg,
    ),
    vertical-align: (
      active: true,
      breakpoints: sm md lg,
    ),
  ),
  spacing: (
    margin: (
      active: true,
      from: -8,
      through: 32,
      special: auto,
      breakpoints: md,
    ),
    padding: (
      active: true,
      from: 0,
      through: 32,
      breakpoints: md,
    )
    /* width: (
      from: 0,
      through: 32,
      special: auto 100% 50%
    ),
    max-width: (
      from: 0,
      through: 32,
      special: auto 100% 50%
    ),
    min-width: (
      from: 0,
      through: 32,
      special: auto 100% 50%
    ),
    height: (
      from: 0,
      through: 32,
      special: auto 100%
    ),
    max-height: (
      from: 0,
      through: 32,
      special: auto 100%
    ),
    min-height: (
      from: 0,
      through: 32,
      special: auto 100%
    ) */
  )
) !default;
