
<div class="<%= prefix %>-grid-row <%= prefix %>-grid-row--gutters">
  <%
      const downloads = locals.downloads || [{}];
      for (const download of downloads) {
         const col = download.col || { md: 4};
         const colClasses = [`${prefix}-col-${col.start || 12}`];
         for (const bp of ['sm', 'md', 'lg', 'xl']) if (col[bp]) colClasses.push(`${prefix}-col-${bp}-${col[bp]}`);
         %>
         <div <%- includeClasses(colClasses); %>>
             <%- include('download-card', { download: download }); %>
         </div>
         <%
      }
  %>
</div>
