/*!
 * DSFR v1.1.0 | SPDX-License-Identifier: MIT | License-Filename: LICENCE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ------------------------------------ *\
  FOLLOW
\* ------------------------------------ */

/**
* Mixin d'ajout des icones des réseaux sociaux
**/
.fr-follow {
  padding: 1.5rem 0;
  background-color: var(--bf100-g750);
}

.fr-follow__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.fr-follow__title + .fr-follow__desc {
  margin-top: -0.5rem;
}

.fr-follow__desc {
  margin-bottom: 1rem;
}

.fr-follow__newsletter .fr-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;

  /* added line */
  border: 0;
}

.fr-follow__newsletter .fr-input-wrap {
  display: flex;
  flex-direction: column;
  max-width: 37.5rem;
  margin-top: 0;
}

.fr-follow__newsletter .fr-input-wrap .fr-input {
  margin-bottom: 1rem;
  margin-top: 0;
}

.fr-follow__newsletter .fr-input-wrap .fr-btn {
  justify-content: center;
}

.fr-follow__newsletter .fr-hint-text {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.fr-follow__newsletter .fr-valid-text,
.fr-follow__newsletter .fr-error-text {
  margin-top: 1rem;
}

.fr-follow__newsletter .fr-valid-text + .fr-hint-text,
.fr-follow__newsletter .fr-error-text + .fr-hint-text {
  margin-top: 1rem;
}

.fr-follow__social .fr-link {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  flex-direction: row;
  overflow: hidden;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.fr-follow__social .fr-link::before {
  font: normal normal normal 1.5rem/1 dsfr-icon;
  margin-left: 0;
  margin-right: 0.25rem;
  font-size: 1.5rem;
}

.fr-follow__social .fr-follow__title {
  margin-bottom: 0.75rem;
}

.fr-follow__social .fr-links-group {
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
}

.fr-follow__social .fr-links-group--lg .fr-link {
  font-size: 1.25rem;
  line-height: 2rem;
  min-height: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  flex-direction: row;
  overflow: hidden;
  max-width: 3rem;
  max-height: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-follow__social .fr-links-group--lg .fr-link::before {
  font: normal normal normal 2rem/1 dsfr-icon;
  margin-left: 0;
  margin-right: 0.5rem;
  font-size: 2rem;
}

.fr-follow__social .fr-links-group > li {
  margin-right: 1rem;
  display: inline-flex;
}

.fr-follow__social .fr-links-group > li:last-child {
  margin-right: 0;
}

.fr-follow .fr-grid-row > *:not(:first-child) {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  box-shadow: 0 -1px 0 0 var(--bf300-plain);
}

.fr-follow .fr-link--facebook::before {
  content: "";
}

.fr-follow .fr-link--twitter::before {
  content: "";
}

.fr-follow .fr-link--instagram::before {
  content: "";
}

.fr-follow .fr-link--linkedin::before {
  content: "";
}

.fr-follow .fr-link--youtube::before {
  content: "";
}

.fr-follow .fr-input {
  background-color: var(--w);
}

.fr-follow__newsletter-legal {
  color: var(--g600);
}

@media (min-width: 36em) {
  .fr-follow__newsletter .fr-input-wrap {
    flex-direction: row;
  }

  .fr-follow__newsletter .fr-input-wrap .fr-btn {
    border-radius: 0 0.25rem 0 0;
  }

  .fr-follow__newsletter .fr-input-wrap .fr-input {
    margin-bottom: 0;
    border-radius: 0.25rem 0 0 0;
  }

  .fr-follow__newsletter .fr-hint-text {
    margin-top: 0.5rem;
  }

  .fr-follow__newsletter .fr-valid-text,
  .fr-follow__newsletter .fr-error-text {
    margin-top: 1rem;
  }
}

@media (min-width: 48em) {
  .fr-follow {
    padding: 2rem 0;
  }

  .fr-follow__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .fr-follow__newsletter .fr-valid-text + .fr-hint-text,
  .fr-follow__newsletter .fr-error-text + .fr-hint-text {
    margin-top: 0.5rem;
  }

  .fr-follow .fr-grid-row > * > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }

  .fr-follow .fr-grid-row > *:not(:first-child) {
    padding-left: calc(100% / 12);
    padding-top: 0;
    margin-top: 0;
    box-shadow: -1px 0 0 0 var(--bf300-plain);
  }

  .fr-follow .fr-grid-row > *:not(:last-child) {
    padding-right: calc(100% / 12);
  }

  .fr-follow .fr-grid-row > *:first-child:last-child > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .fr-follow .fr-grid-row > *:first-child:last-child > .fr-follow__newsletter > * {
    max-width: 50%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  .fr-follow .fr-grid-row > *:first-child:last-child > .fr-follow__newsletter > :first-child {
    padding-right: 0.75rem;
    padding-left: 0;
  }

  .fr-follow .fr-grid-row > *:first-child:last-child > .fr-follow__newsletter > :last-child {
    padding-right: 0;
    padding-left: 0.75rem;
  }

  .fr-follow .fr-grid-row > *:first-child:last-child > .fr-follow__newsletter .fr-follow__desc {
    margin-bottom: 0;
  }

  .fr-follow .fr-grid-row > *:first-child:last-child > .fr-follow__social .fr-follow__title {
    margin-bottom: 0;
  }
}
