<% const sample = getSample(include); %>

<div class="<%= prefix %>-container">
  <%- sample('Alerte ajoutée dynamiquement (type)', '../../../../../component/alert/example/sample/alert-dismissable', {alert: {alert: true, type: "error", title: "Erreur détectée dans le formulaire"}}, null, '../../../../../component/alert/example/layout-dynamic.ejs'); %>
</div>