<%
const addressData = JSON.parse(include('../../../../../pattern/address/example/data/address.json.ejs'));

const data = {
  id: 'identity',
  legend: `<h3 class="${prefix}-h5">${getText('address.legend', 'register')}</h3>`,
  classes: [prefix + '-mb-0'],
  elements: [
    {
      type: 'hint',
      data: {
        markup: 'p',
        text: getText('hint.mandatory', 'form')
      }
    },
    {
      type: 'fieldset',
      data: addressData
    }
  ]
};
%>

<%- JSON.stringify(data); %>
