<%
const sexData = JSON.parse(include('../../../../../pattern/civility/example/data/sex.json.ejs'));
const nameData = JSON.parse(include('../../../../../pattern/name/example/data/name.json.ejs', { name: { fields: ['lastname', 'firstname'], checkbox: true }}));

const data = {
  id: 'identity',
  legend: `<h3 class="${prefix}-h5">${getText('identity.legend', 'register')}</h3>`,
  classes: [prefix + '-mb-0'],
  elements: [
    {
      type: 'hint',
      data: {
        markup: 'p',
        text: getText('hint.mandatory', 'form')
      }
    },
    {
      type: 'fieldset',
      data: sexData
    },
    {
      type: 'fieldset',
      data: nameData
    }
  ]
};
 %>

<%- JSON.stringify(data); %>
