////
/// Breadcrumb Module
/// @group breadcrumb
////

/**
un padding de 4px et une marge négative en compensation sont mis en place afin d'éviter de couper le focus.
 */
#{dse(breadcrumb)} {
  @include margin(2v -2v 4v);
  @include padding(2v);
  overflow: hidden;
  font-size: font-size(12);
  line-height: 1;
  position: relative;

  &__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: font-size(12);
    line-height: 1.5;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    @include scheme-element-text-color(g600, true);
    @include scheme-element-bg-color(t-plain);
    @include scheme-element-focus();
  }

  &__list {
    @include override-body-ol-style {
      line-height: 1.5;
    }
    display: block;
    font-size: font-size(12);
    line-height: 1;

    &[hidden] {
      display: none;
    }
  }

  /**
  margin-bottom de 1N pour créer cet espace entre chaque ligne
   */
  &__item {
    display: inline;

    &:first-child::before {
      content: none;
    }

    /**
    flèche séparatrice en svg avec un espace à la suite
     */
    @include override-body {
      @include margin-bottom(2v);
      line-height: 1.125rem;
      vertical-align: middle;

      &:not(:first-child) {
        @include font-icon(arrow-right-s-line, md);

        &::before {
          @include scheme-element-text-color(g600, true);
          margin-right: 0;
          //margin-top: 0.0625rem;
          //margin-bottom: 0.5625rem;
          vertical-align: middle;
        }
      }
    }
  }

  &__item a {
    display: inline;
    vertical-align: middle;
  }

  /**
    on place un espace après l'élément de manière à ce qu'il ne soit pas présent devant la flèche au retour à la ligne
   */
  &__item:not(:last-child)::after {
    margin-right: 0;
    content: '';
  }

  &__item:not(:last-child) a {
    @include scheme-element-text-color(g600, true);
    @include link-underline;
  }

  /**
    lien actuel non clickable, bold et sans underline
     */
  &__item--current {
    pointer-events: none;
  }

  &__item--current a {
    @include scheme-element-text-color(g800, true);
  }

  /**
  Mobile first, le label du "button" mobile est caché à partir du breakpoint md
   */

  @include respond-from(md) {
    @include margin-bottom(6v);
  }
}
