////
/// Component Legacy
/// @group component
////

@import '../media-query-order';
@import 'logo/legacy';
@import 'card/legacy';
@import 'quote/legacy';
@import 'breadcrumb/legacy';
@import 'form/legacy';
@import 'link/legacy';
@import 'sidemenu/legacy';
@import 'highlight/legacy';
@import 'summary/legacy';
@import 'table/legacy';
@import 'tile/legacy';
@import 'accordion/legacy';
@import 'alert/legacy';
@import 'badge/legacy';
@import 'button/legacy';
@import 'radio/legacy';
@import 'checkbox/legacy';
@import 'toggle/legacy';
@import 'skiplink/legacy';
@import 'select/legacy';
@import 'tab/legacy';
@import 'pagination/legacy';
@import 'share/legacy';
@import 'footer/legacy';
@import 'tag/legacy';
@import 'input/legacy';
@import 'callout/legacy';
@import 'modal/legacy';
@import 'navigation/legacy';
@import 'search/legacy';
@import 'consent/legacy';
@import 'follow/legacy';
@import 'header/legacy';
