////
/// Component Main
/// @group component
////

@import '../media-query-order';
@import '../core/style/path/path-1';
@import 'upload/main';
@import 'logo/main';
@import 'connect/main';
@import 'quote/main';
@import 'breadcrumb/main';
@import 'form/main';
@import 'link/main';
@import 'sidemenu/main';
@import 'highlight/main';
@import 'summary/main';
@import 'table/main';
@import 'download/main';
@import 'tile/main';
@import 'accordion/main';
@import 'badge/main';
@import 'button/main';
@import 'radio/main';
@import 'checkbox/main';
@import 'toggle/main';
@import 'skiplink/main';
@import 'select/main';
@import 'tab/main';
@import 'pagination/main';
@import 'footer/main';
@import 'tag/main';
@import 'alert/main';
@import 'notice/main';
@import 'card/main';
@import 'input/main';
@import 'content/main';
@import 'callout/main';
@import 'modal/main';
@import 'navigation/main';
@import 'share/main';
@import 'search/main';
@import 'consent/main';
@import 'follow/main';
@import 'header/main';
