$setting: (
  color: (
    decisions: (
      background: (
        decisions: default alt contrast flat action-high action-low,
        exclude: red-marianne
      ),
      text: (
        decisions: default title label mention inverted action-high,
        exclude: red-marianne
      ),
      border: (
        decisions: default plain,
        exclude: red-marianne
      ),
      artwork: (
        decisions: major minor decorative background motif,
      )
    )
  ),
  border: (
    width: (
      from: 0,
      through: 2
    )
  )
);
