////
/// Checkboxes Module
/// @group checkboxes
////

/**
 * L'input de type checkbox avec son label est contenu dans un groupe
 * Ce groupe contient également les textes de validation, d'erreur et d'aide (optionnels)
 */
#{ns(checkbox-group)} {
  @include relative;

  /**
   * On cache l'input de type checkbox pour le styler via le label
   */
  input[type="checkbox" i] {
    @include absolute;
    opacity: 0;

    /**
     * On applique un display grid sur le label afin de gérer le positionnement des élements
     */
    + label {
      @include relative;
      @include padding(3v 0);
      -webkit-tap-highlight-color: transparent;
      @include display-flex(row, center, flex-start, wrap);

      /**
       * Style du texte d'aide dans le label
       */
      #{ns(hint-text)} {
        @include margin(0);
        @include size(100%);
        @include margin-left(8v);
      }

      /**
       * On ajoute l'icône check-line en taille sm via un pseudo element before
       */
      @include icon(check-line, sm, before) {
        @include display-flex(row, center, center);
        flex-shrink: 0;
        @include size(6v, 6v);
        @include margin-right(2v);
        border-radius: space(1v);
        transition: background-color 0.1s, color 0.1s;
      }
    }
  }

  /**
   * Dans le cas d'un fieldset, on supprime l'espacement du premier groupe
   */
  &:first-child {
    @include margin-top(-3v);
  }

  /**
   * Dans le cas d'un fieldset, on supprime l'espacement du dernier groupe
   */
  &:last-child {
    @include margin-bottom(-3v);
  }

  /**
   * Texte de validation et d'erreur
   */
  #{ns(error-text)},
  #{ns(valid-text)} {
    @include margin-top(1v);
  }

  /**
   * Modificateur de taille sm
   */
  &--sm {
    input[type="checkbox" i] {
      + label {
        @include before {
          @include size(4v, 4v);
        }

        @include after {
          left: 0;
        }

        #{ns(hint-text)} {
          @include margin-left(6v);
        }
      }
    }
  }

  /**
   * Modificateur pour gérer l'état erreur
   */
  &--error {
    input[type="checkbox" i] + label {
      @include scheme-element-text-color(error);
    }

    @include before('') {
      @include absolute(3v, null, null, -2v, 2px, 6v);
      @include scheme-element-bg-color(error);
    }
  }

  /**
   * Modificateur pour gérer l'état validé
   */
  &--valid {
    input[type="checkbox" i] + label {
      @include scheme-element-text-color(success);
    }

    @include before('') {
      @include absolute(3v, null, null, -2v, 2px, 6v);
      @include scheme-element-bg-color(success);
    }
  }
}
