<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- section('Mise en exergue', null, 0) %>
  <%- sample('highlight', '../../../component/highlight/example/sample/highlight-default', {}); %>
</div>
