////
/// Form Module
/// @group form
////

#{ns(label)} {
  display: block;
  @include text-style(md);

  & + #{ns(input)},
  & + #{ns(input-wrap)},
  & + #{ns(select)} {
    @include margin-top(2v);
  }
}

/**
 * Style du texte d'aide
 */
#{ns(hint-text)} {
  display: block;
  @include text-style(xs);
  @include set-text-margin(0 0 4v);
}

/**
 * Style de texte de validation formulaire
 */
#{ns(error-text)},
#{ns(valid-text)},
#{ns(info-text)} {
  @include display-flex(row, center);
  @include text-style(xs);
  @include margin-top(4v);
  @include margin-bottom(0);
  @include icon(null, sm) {
    display: inline-block;
    @include margin-right(1v);
  }
}

/**
 * Icone du texte d'erreur
 */
#{ns(error-text)} {
  @include icon-image(error-fill);
}

/**
 * Icone du texte de l'état validé
 */
#{ns(valid-text)} {
  @include icon-image(success-fill);
}

/**
 * Icone du texte état informatif
 */
#{ns(info-text)} {
  @include icon-image(information-fill);
}

/**
 * Style d'un ensemble de champs
 */
#{ns(fieldset)} {
  @include relative;
  @include margin(0 0 8v 0);
  @include padding(0);
  border: 0;

  &__legend {
    @include margin-bottom(4v);
    @include padding-x(0);
    @include text-style(md);
    @include font-weight(bold);

    #{ns(hint-text)} {
      @include margin-top(2v);
      @include margin-bottom(0);
      @include font-weight(regular);
    }
  }

  &__content {
    @include relative;
  }

  /**
   * Modificateur pour gérer l'état d'erreur
   */
  &--error {
    #{ns(fieldset__content)} {
      @include before('') {
        @include absolute(0, null, 4v, -2v, 2px);
      }
    }
  }

  /**
   * Modificateur pour gérer l'état de validation
   */
  &--valid {
    #{ns(fieldset__content)} {
      @include before('') {
        @include absolute(0, null, 4v, -2v, 2px);
      }
    }
  }
}

#{ns-group(controls) } {
  @include display-flex(row, flex-end, null, wrap);
  @include margin-x(-2v);
  @include margin-bottom(-4v);
}

#{ns(control) } {
  flex: 1 1 100%;
  @include margin-x(2v);
  @include margin-bottom(4v);

  & > #{ns(label)} {
    #{ns(hint-text)} {
      @include margin-top(1v);
    }
  }

  #{ns(fieldset)} {
    @include margin-bottom(0);
  }

  &--inline {
    flex: 0 0 auto;

    &-grow {
      flex-grow: 1;
    }
  }

  &--postal {
    flex: 0 0 space(28v);
}

&--postal:not(&--inline) {
      @include margin-right(calc(100% - 28v));
  }

  &--number {
    flex: 0 0 space(18v);
}

&--number:not(&--inline) {
      @include margin-right(calc(100% - 18v));
  }
}
