<%#
# paramètres input group

* input.valid (string, optional) : message de validation

* input.error (string, optional) : message d'erreur

* input.disabled (boolean, optional)

%>
<% eval(include('../../../../../../core/index.ejs')); %>

<%
let groupClasses = [prefix + '-input-group'];

if (input.error !== undefined) groupClasses.push(prefix + '-input-group--error');
if (input.disabled !== undefined) groupClasses.push(prefix + '-input-group--disabled');
if (input.valid !== undefined) groupClasses.push(prefix + '-input-group--valid');
%>

<div <%- includeClasses(groupClasses); %>>
  <%- include('./input'); %>
</div>
