////
/// Share Main
/// @group share
////

/* ¯¯¯¯¯¯¯¯¯ *\
  SHARE
\* ˍˍˍˍˍˍˍˍˍ */

@import 'index';
@import 'style/module';
@import 'style/scheme';

// deprecated
@import 'deprecated/style/tool';
@import 'deprecated/style/module';
@import 'deprecated/style/scheme';

@include _share-scheme;

// deprecated
@include _share-deprecated-scheme;
