////
/// Footer Module
/// @group footer
////

.#{$prefix}-footer {
  width: 100%;
  @include scheme-element-border-color(bf500, true, top, 2px solid $COLOR);
  @include scheme-element-border-color(g400, true, bottom, 1px solid $COLOR);
  padding-top: space(5N);
  line-height: line-height();

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  &__brand {
    display: flex;
    align-items: center;
    flex-basis: 100%;

    @include logo(md, lg) {
      margin: -1em;
    }

    /**
     * Si on ajoute un logo opérateur à côté du logo principal, on lui applique une marge à gauche
     * On prévoit que le logo soit encapsulé dans un <a>, ou bien directement en img ou en svg
     * (Eventuellement prévoir une classe pour pouvoir le mettre en background image)
     */
    > a + a,
    > a + img,
    > a + svg {
      margin-left: space(3N);
      box-shadow: none;

      @include respond-from(md) {
        margin-left: space(6N);
      }
    }

    .#{$prefix}-footer__body--operator & {
      flex-basis: 100%;

      .#{$prefix}-footer__link + .#{$prefix}-footer__link {

        .#{$prefix}-footer__logo {
          width: auto;
          min-width: initial;
          max-height: 100px;
        }
      }

      .#{$prefix}-footer__logo {
        min-width: initial;
        max-width: 100%;

        @include respond-from(sm) {
          max-width: 200px;
        }

        @include respond-from(lg) {
          min-width: 200px;
          max-width: 100%;
        }
      }

      @include respond-from(lg) {
        flex-basis: 50%;
      }
    }

    @include respond-from(md) {
      flex-basis: calc(100% / 3);
      padding-right: space(2N);
    }
  }

  &__logo {
    width: 200px;
    height: auto;
  }

  @import 'modules/content';
  @import 'modules/top';
  @import 'modules/bottom';
  @import 'modules/partners';
}
