////
/// Footer Module
/// @group footer
////

#{dse(footer)} {
  width: 100%;
  @include scheme-element-border-color(bf500, true, top, 2px solid $COLOR);
  @include scheme-element-border-color(g400, true, bottom, 1px solid $COLOR);
  @include padding-top(10v);
  line-height: line-height();

  &__body {
    @include display-flex(row, null, null, wrap);
  }

  &__brand {
    @include display-flex(row, center);
    flex-basis: 100%;

    @include logo(md, lg) {
      @include margin(-1em);
    }

    /**
     * Si on ajoute un logo opérateur à côté du logo principal, on lui applique une marge à gauche
     * On prévoit que le logo soit encapsulé dans un <a>, ou bien directement en img ou en svg
     * (Eventuellement prévoir une classe pour pouvoir le mettre en background image)
     */
    > a + a,
    > a + img,
    > a + svg {
      @include margin-left(6v);
      @include margin-left(12v, md);
    }

    > a + a {
      @include override-body-link-style;
    }

    /**
     * Styles quand un logo opérateur est présent
     */
    #{dse(footer__body--operator)} & {
      flex-basis: 100%;

      #{dse(footer__link)} + #{dse($prefix)} {

        #{dse(footer__logo)} {
          width: auto;
          min-width: initial;
          max-height: 100px;
        }
      }

      .#{$prefix}-footer__logo {
        min-width: initial;
        max-width: 100%;

        @include respond-from(sm) {
          max-width: 200px;
        }

        @include respond-from(lg) {
          min-width: 200px;
          max-width: 100%;
        }
      }

      @include respond-from(lg) {
        flex-basis: 50%;
      }
    }

    @include respond-from(md) {
      flex-basis: calc(100% / 3);
      padding-right: space(2w);
    }
  }

  /**
   * On fixe une largeur maximale pour le logo opérateur
   */
  &__logo {
    width: 200px;
    height: auto;
  }

  @import 'modules/content';
  @import 'modules/top';
  @import 'modules/bottom';
  @import 'modules/partners';
}
