.#{$prefix}-footer {
  width: 100%;
  @include scheme-element-border-color(bf500, true, top, 2px solid $COLOR);
  @include scheme-element-border-color(g400, true, bottom, 1px solid $COLOR);
  padding-top: space(5N);
  line-height: line-height();

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  &__brand {
    display: flex;
    align-items: center;
    flex-basis: 100%;

    @include logo(md, lg) {
      margin: -1em;
    }

    a + a {
      margin-left: space(3N);
      box-shadow: none;

      @include respond-from(md) {
        margin-left: space(6N);
      }
    }

    .#{$prefix}-footer__body--operator & {
      flex-basis: 100%;

      .#{$prefix}-footer__link + .#{$prefix}-footer__link {

        .#{$prefix}-footer__logo {
          width: auto;
          min-width: initial;
          max-height: 100px;
        }
      }

      .#{$prefix}-footer__logo {
        min-width: initial;
        max-width: 100%;

        @include respond-from(sm) {
          max-width: 200px;
        }

        @include respond-from(lg) {
          min-width: 200px;
          max-width: 100%;
        }
      }

      @include respond-from(lg) {
        flex-basis: 50%;
      }
    }

    @include respond-from(md) {
      flex-basis: calc(100% / 3);
      padding-right: space(2N);
    }
  }

  &__logo {
    width: 200px;
    height: auto;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: space(3N);

    @include respond-from(md) {
      margin-top: 0;
      flex-basis: calc(100% - (100% / 3));
    }

    .#{$prefix}-footer__body--operator & {
      margin-top: space(3N);

      @include respond-from(lg) {
        margin-top: 0;
        flex-basis: 50%;
      }
    }
  }

  &__content-desc {
    margin: 0 0 space(2N);
    line-height: line-height(normal);
  }

  &__content-links {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: -(space(2N));

    > li {
      margin-right: space(3N);
      margin-top: space(1N);

      &::before {
        content: none;
      }

      &:last-child {
        margin-right: 0;
      }

      > a {
        display: inline-flex;
        font-weight: font-weight(bold);
        box-shadow: none;
      }

      @include respond-from(sm) {
        margin-right: space(7N);
      }
    }

    @include respond-from(sm) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: space(5N);
    padding: 0 0 space(2N);
    @include scheme-element-border-color(g400, true, top, 1px solid $COLOR);

    @include respond-from(sm) {
      flex-wrap: nowrap;
      padding: 0;
    }
  }

  &__bottom-list {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 0 (-(space(2N)));
    padding: space(1N) 0;
    width: calc(100% + #{space(2N)});

    > li {
      position: relative;
      margin: space(1N) 0 0 space(2N);

      &::before {
        content: none;
      }

      &::after {
        content: "";
        position: absolute;
        right: -(space(1N));
        top: 0;
        bottom: 0;
        margin: auto;
        height: 70%;
        width: 1px;
        @include scheme-element-bg-color(g400);

        @include respond-from(sm) {
          right: -(space(2N));
        }
      }

      &:last-child::after {
        content: none;
      }

      > a {
        box-shadow: none;
        font-size: font-size(12);
        @include scheme-element-text-color(g600);
      }

      @include respond-from(sm) {
        margin: 0 0 0 space(4N);
      }
    }

    @include respond-from(sm) {
      margin-left: -(space(4N));
      width: calc(100% + #{space(4N)});
      padding: space(2N) 0;
    }
  }

  &__link {
    box-shadow: none;
    font-size: font-size(12);
    @include scheme-element-text-color(g600);
  }

  &__bottom-copy {
    flex-shrink: 0;
    font-size: font-size(12);
    @include scheme-element-text-color(g600);
    margin-top: space(2N);

    @include respond-from(sm) {
      margin-top: 0;
      margin-left: space(4N);
    }
  }

  &__top {
    display: flex;
    @include scheme-element-bg-color(beige);
    margin: -(space(5N)) 0 space(5N);
    padding: space(2N) 0;
  }

  &__top-cat {
    margin: 0 0 space(1N);
    font-size: font-size(12);
    font-weight: font-weight(bold);
    text-align: center;

    @include respond-from(sm) {
      text-align: left;
    }
  }

  &__top-list {
    text-align: center;
    margin: 0;

    > li {
      &::before {
        content: none;
      }

      > a {
        box-shadow: none;
        font-size: font-size(12);
        @include scheme-element-text-color(g600);
      }
    }

    @include respond-from(sm) {
      text-align: left;
    }
  }

  &__partners {
    margin-top: space(5N);
    padding-top: space(2N);
    @include scheme-element-border-color(g400, true, top, 1px solid $COLOR);

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      background: $white;
      padding: space(2N);
      box-shadow: none;

      @include respond-from(sm) {
        width: 160px;
        height: 90px;
      }

      @include respond-from(md) {
        margin: space(2N);
      }
    }

    .#{$prefix}-footer__logo {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: calc(90px - #{space(2N)});
    }
  }

  &__partners-title {
    flex-basis: 100%;
    font-size: font-size(14);
    font-weight: font-weight();
    margin: 0;
    text-align: center;

    @include respond-from(sm) {
      text-align: left;
    }
  }

  &__partners-logos {
    display: flex;
    flex-wrap: wrap;

    @include respond-from(md) {
      flex-wrap: nowrap;
      margin: 0 (-(space(2N)));
    }
  }

  &__partners-main {
    flex-basis: 100%;
    padding-top: space(4N);

    + .#{$prefix}-footer__partners-sub {

      @include respond-from(md) {
        justify-content: flex-end;
        padding-left: space(6N);
      }
    }

    @include respond-from(sm) {
      flex-basis: auto;
    }
  }

  &__partners-sub {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 100%;
    padding-top: space(4N);

    > a {
      box-shadow: none;
      margin: 0 0 space(2N);

      @include respond-from(sm) {
        margin: space(2N);
      }
    }

    @include respond-from(sm) {
      margin: 0 (-(space(2N)));
    }

    @include respond-from(md) {
      margin: 0;
    }
  }
}
