////
/// Form legacy
/// @group form
////

@use 'src/module/legacy';

@include legacy.is(ie11) {
  #{ns(error-text)} {
    @include icon-legacy(error-fill, sm);
  }

  #{ns(valid-text)} {
    @include icon-legacy(success-fill, sm);
  }
}
