$download-settings:(
  selector: 'download__link',
  sizes: (
    md: (
      font-size: 16,
      min-height: 0,
      padding-x: 0,
      padding-y: 0,
      icon: sm,
      icon-margin-x: 2v
    )
  ),
  places: right,
  underline: true,
  no-modifier: true
);
