////
/// Download Tool
/// @group download
////

@mixin build-download-link() {
  @include _build-link($download-settings) {
    @content;
  }
}

@mixin nest-download-link() {
  @include _nest-link($download-settings, md, right, download-line, null, true, false, false) {
    @content;
  }
}
