////
/// Core Function : Color get set prop name
/// @group core
////

/// Obtenir une couleur depuis une combinaison
/// @access private
/// @param {String} $set - combinaison de couleur obtenue par la fonction get-scheme-set
/// @return {String} Retourne le nom de la custom property correspondante
@function _get-set-prop($set) {
  $light: str-split(nth($set, 1), '-');
  $ll: length($light);
  $dark: str-split(nth($set, 2), '-');
  $dl: length($dark);
  $name: '#{nth($set, 1)}';
  $identical: true;
  @for $i from 1 through $dl {
    @if $ll < $i or nth($light, $i) != nth($dark, $i) {
      $identical: false;
    }
    @if $identical == false {
      $name: '#{$name}-#{nth($dark, $i)}';
    }
  }
  @return $name;
}
