<%#
# paramètres summary item

* summaryItem.href (string, required) : url ou ancre du lien

* summaryItem.label (string, required) : label du lien

* summaryItem.list (array, optional) : Tableau de liens enfants (href, label)

%>
<% let summaryItem = locals.summaryItem || {}; %>
<li>
    <a class="<%= prefix %>-summary__link" href="<%- summaryItem.href %>"><%- summaryItem.label %></a>
    <% if (summaryItem.list) { %>
        <%- include('./list', {summaryList: summaryItem.list}); %>
    <% } %>
</li>
