.docs-story {
  background-color: var(--background-default-grey);
}

.hide-src-toggle .docblock-code-toggle {
  display: none !important;
}

.sbdocs-wrapper {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.sb-show-main.sb-main-padded {
  border: 1px solid var(--border-default-grey);
}

#modal--modal button[data-fr-opened="true"],
#story--modal--modal-story--primary button[data-fr-opened="true"],
#story--modal--modal-story button[data-fr-opened="true"],
#story--modal--size-sm-story button[data-fr-opened="true"],
#story--modal--size-md-story button[data-fr-opened="true"],
#story--modal--size-lg-story button[data-fr-opened="true"],
#story--modal--footer button[data-fr-opened="true"] {
  margin-bottom: calc(100vh - 40px);
}

#story--navigation--navigation-story--primary-inner,
#story--navigation--menu-story-inner,
#story--navigation--mega-menu-story-inner,
#storybook-root > .fr-nav {
  position: relative;
}

#story--navigation--navigation-story--primary,
#story--navigation--mega-menu-story {
  height: 450px;
}

#story--navigation--menu-story {
  height: 180px;
}

#story--transcription--transcription-story--primary .fr-modal[open="true"] {
  height: 100vh;
}

#story--translate--translate-story--primary {
  height: 220px;
}

#display--display button[data-fr-opened="true"],
#story--display--display-story--primary button[data-fr-opened="true"] {
  margin-bottom: calc(100vh - 40px);
}

[data-fr-scrolling="false"] #story--display--header-display-story,
[data-fr-scrolling="false"] #story--display--footer-display-story {
  height: 760px;
}

#story--header--header-story--primary {
  height: 300px;
}

#story--header--translate-story,
#story--header--tool-links-translate-story {
  height: 250px;
}

#tooltip--tooltip,
#story--tooltip--tooltip-story--primary,
#story--tooltip--tooltip-hover-story {
  padding: 20px 0;
}

#sidemenu--sidemenu,
#sidemenu--submenu-sidemenu,
#sidemenu--link,
#story--sidemenu--sidemenu-story--primary-inner {
  max-width: 300px;
}

#consent--consent-banner,
#story--consent--consent-banner-story--primary {
  height: 360px;
}

#consent--consent-modal,
#story--consent-modal--consent-modal-story--primary {
  height: 500px;
}

#anchor--card--no-background-card-story .docs-story {
  --idle: transparent;
  --hover: var(--background-alt-orange-terre-battue-hover);
  --active: var(--background-alt-orange-terre-battue-active);
  background-color: var(--background-alt-orange-terre-battue);
}
