.docs-story {
  background-color: var(--background-default-grey);
}

#storybook-preview-wrapper {
  padding-top: 2rem;
}

.hide-src-toggle .docblock-code-toggle {
  display: none !important;
}

.sbdocs-wrapper {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#modal--modal button[data-fr-opened='true'],
[id^="story--modal"] button[data-fr-opened='true'] {
  margin-bottom: 30rem;
}

/* corrige la hauteur du modal__body car l'iframe de storybook est plus grande que la modal */
#storybook-docs .fr-modal > .fr-container,
#storybook-docs .fr-modal > .fr-container > .fr-grid-row,
#storybook-docs .fr-modal > .fr-container > .fr-grid-row > .fr-col-12,
#storybook-docs .fr-modal__body {
  height: 100%;
  max-height: 100%;
}

#story--navigation--navigation-story--primary-inner,
#story--navigation--menu-story-inner,
#story--navigation--mega-menu-story-inner,
#storybook-root > .fr-nav {
  position: relative;
}

#story--navigation--navigation-story--primary,
#story--navigation--mega-menu-story {
  height: 450px;
}

#story--navigation--menu-story {
  height: 180px;
}

.fr-transcription:has(.fr-modal[open="true"]),
#transcription--transcription button[data-fr-opened='true'],
#display--display button[data-fr-opened='true'] {
  margin-bottom: 30rem;
}

#display--header-display .storybook-root:has(.fr-modal[open="true"]),
#story--display--display-story--primary:has(.fr-modal[open="true"]),
#story--display--default-story:has(.fr-modal[open="true"]),
#story--display--header-display-story:has(.fr-modal[open="true"]),
#story--display--footer-display-story:has(.fr-modal[open="true"]) {
  height: 400px;
}

#story--header--header-story--primary:has(.fr-modal[open="true"]),
#header--header #storybook-root:has(.fr-modal[open="true"]),
#header--header-minimal #storybook-root:has(.fr-modal[open="true"]),
#header--tool-links-search #storybook-root:has(.fr-modal[open="true"]) {
  height: 300px;
}

#story--header--translate-story:has(.fr-modal[open="true"]),
#story--header--tool-links-translate-story:has(.fr-modal[open="true"]) {
  height: 250px;
}

#tooltip--tooltip,
#story--tooltip--tooltip-story--primary,
#story--tooltip--tooltip-hover-story {
  padding: 20px 0;
}

#tooltip--tooltip .fr-btn,
#tooltip--tooltip-click-button .fr-btn {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

#sidemenu--sidemenu,
#sidemenu--submenu-sidemenu,
#sidemenu--link,
#story--sidemenu--sidemenu-story--primary-inner {
  max-width: 300px;
}

#consent--consent-banner,
#story--consent--consent-banner-story--primary,
#consent--consent-banner #storybook-root {
  height: 360px;
}

#consent--consent-modal:has(.fr-modal[open="true"]),
#story--consent-modal--consent-modal-story--primary:has(.fr-modal[open="true"]) {
  height: 500px;
}

#skiplink--skiplink #storybook-root {
  height: 5rem;
}

#anchor--card--no-background-card-story .docs-story {
  --idle: transparent;
  --hover: var(--background-alt-orange-terre-battue-hover);
  --active: var(--background-alt-orange-terre-battue-active);
  background-color: var(--background-alt-orange-terre-battue);
}
