/*!
 * DSFR v1.5.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  SHARE
\* ˍˍˍˍˍˍˍˍˍ */
.fr-share {
  display: flex;
  flex-direction: column;

  --text-spacing: 0 0 1rem;
  --title-spacing: 0 0 1rem;
}

.fr-share__btn {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
}

.fr-share__title {
  font-size: 1rem;
  line-height: 1.5rem;
  order: 1;
}

.fr-share__text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  order: 3;
}

.fr-share .fr-btns-group {
  width: calc(100% + 1rem);
  margin-right: -1rem;
  margin-bottom: 0.5rem;
  width: auto;
  order: 2;
}

.fr-share .fr-btns-group .fr-btn {
  width: auto;
  margin-right: 1rem;
  max-width: 100%;
  justify-content: flex-start;
}

.fr-share .fr-btns-group > li {
  display: inline-flex;
  max-width: 100%;
  width: auto;
}

.fr-share .fr-btns-group > li::before {
  content: none;
}

.fr-share .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg) .fr-btn:not([class^="fr-icon-"]):not([class*=" fr-icon-"]):not([class^="fr-fi-"]):not([class*=" fr-fi-"]) {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
}

.fr-share .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg) .fr-btn:not([class^="fr-icon-"]):not([class*=" fr-icon-"]):not([class^="fr-fi-"]):not([class*=" fr-fi-"])::before {
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.fr-btn--facebook {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
}

.fr-btn--facebook::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/logo/facebook-circle-line.svg");
  mask-image: url("../../icons/logo/facebook-circle-line.svg");
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.fr-btn--twitter {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
}

.fr-btn--twitter::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/logo/twitter-line.svg");
  mask-image: url("../../icons/logo/twitter-line.svg");
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.fr-btn--linkedin {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
}

.fr-btn--linkedin::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/logo/linkedin-box-line.svg");
  mask-image: url("../../icons/logo/linkedin-box-line.svg");
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.fr-btn--mail {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
}

.fr-btn--mail::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/business/mail-line.svg");
  mask-image: url("../../icons/business/mail-line.svg");
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.fr-btn--copy {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
}

.fr-btn--copy::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/business/links-fill.svg");
  mask-image: url("../../icons/business/links-fill.svg");
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.fr-share__group {
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
  width: calc(100% + 1rem);
  margin-right: -1rem;
  margin-bottom: 0.5rem;
  width: auto;
  order: 2;
  display: flex;
}

.fr-share__group .fr-btn {
  width: auto;
  margin-right: 1rem;
  max-width: 100%;
}

.fr-share__group > li {
  display: inline-flex;
  max-width: 100%;
  width: auto;
}

.fr-share__group > li::before {
  content: none;
}

.fr-share__link {
  --underline-img: none;
  --link-blank-content: none;
  --hover-tint: var(--hover);
  display: inline-flex;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
  color: var(--text-action-high-blue-france);
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
}

.fr-share__link--facebook {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
}

.fr-share__link--facebook::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/logo/facebook-circle-line.svg");
  mask-image: url("../../icons/logo/facebook-circle-line.svg");
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.fr-share__link--twitter {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
}

.fr-share__link--twitter::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/logo/twitter-line.svg");
  mask-image: url("../../icons/logo/twitter-line.svg");
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.fr-share__link--linkedin {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
}

.fr-share__link--linkedin::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/logo/linkedin-box-line.svg");
  mask-image: url("../../icons/logo/linkedin-box-line.svg");
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.fr-share__link--mail {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
}

.fr-share__link--mail::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/business/mail-line.svg");
  mask-image: url("../../icons/business/mail-line.svg");
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.fr-share__link--copy {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
}

.fr-share__link--copy::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../../icons/business/links-fill.svg");
  mask-image: url("../../icons/business/links-fill.svg");
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.fr-share .fr-btn {
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
  color: var(--text-action-high-blue-france);
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
}

.fr-share .fr-btn:disabled,
.fr-share a.fr-btn:not([href]) {
  color: var(--text-disabled-grey);
  box-shadow: inset 0 0 0 1px var(--border-disabled-grey);
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
}

.fr-share__link:disabled,
a.fr-share__link:not([href]) {
  color: var(--text-disabled-grey);
  box-shadow: inset 0 0 0 1px var(--border-disabled-grey);
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
}

@media (min-width: 48em) {
  .fr-share__text {
    max-width: 18rem;
  }
}
