////
/// Callouts Module
/// @group callouts
////

#{dse(callout)} {
  position: relative;
  font-family: $font-family-sans;
  padding: space(3w);
  @include component-as-scheme(light, grey-200, false, 0 0 0 space(1v));

  /**
   * Inclusion de l'icône (optionnel)
   */
  @include custom-icons(lg) {
    display: block;
    @include margin(-2v 0 2v);

    @include respond-from(md) {
      @include absolute(4v, null, null, 4v);
      @include margin(0);
    }
  }

  /**
   * Si une icône est présente, on rajoute du padding à partir du breakpoint md
   */
  @include has-icon {
    @include padding(14v 12v 10v, md);
  }

  &__title {
    font-size: font-size(22);
    line-height: line-height("snug");
    @include scheme-element-text-color(g800, true);
    @include margin(0 0 2v);
  }

  &__text {
    @include text-styles(md);
    @include margin(0);
  }

  /**
   * Modificateur pour la taille du texte (lg: 18px/1.25rem)
   */
  &__text--lg {
    @include text-styles(lg);
  }

  @include component-as-scheme-modifiers(soft, 0 0 0 space(1v));

  /**
   * Ajout de marge quand on inclut un bouton (optionnel)
   */
  #{dse(btn)} {
    @include margin-top(4v);
  }

  @include padding(8v 12v, md);
}
