////
/// Skiplink Legacy
/// @group skiplink
////

@use 'src/module/path';
@use 'src/module/shame/media-query';

@include path.to-dist(2);
@include media-query.order;

@import 'index';
@import 'style/legacy';
@import 'style/scheme';

@include _skiplink-scheme(true);
