////
/// Icon Media
/// @group icons-media
////

@import '../../../core/style/path/path-3';
@import '../../../media-query-order';
@import 'index';
@import 'style/legacy';

// deprecated
@import 'deprecated/style/setting';
@import 'deprecated/style/legacy';
