////
/// Alert Module
/// @group alert
////

#{ns(alert)} {
  @include relative();
  @include padding(4v 9v 3v 14v);
  @include icon(null, md);
  @include set-title-margin(0 0 1v);
  @include set-text-margin(0 0 1v);

  @include before {
    @include absolute(0, null, null, 0, null, 100%);
    @include padding(4v 2v);
  }

  &__title {
    @include title-style(h6);
  }

  #{ns(link--close)} {
    @include absolute(1v,3v);
    @include nest-link(sm, only, null, null, false, false);
  }

  + #{ns(alert)} {
    @include margin-top(4v);
  }

  &--info {
    @include icon(info-fill, null);
  }

  &--success {
    @include icon(success-fill, null);
  }

  &--error {
    @include icon(error-fill, null);
  }

  &--warning {
    @include icon(warning-fill, null);
  }

  &--sm {
    @include padding(2v 9v 1v 12v);

    @include before {
      @include padding(2v 2v);
    }
  }
}
