<%
const data = {
  id: 'recover',
  legend: `<h2 class="${prefix}-h5">${getText('recover.legend', 'login')}</h2>`,
  classes: [`${prefix}-mb-0`],
  elements:[
    {
      type: 'paragraph',
      data: {
        content: getText('recover.desc', 'login'),
        size: 'sm'
      }
    },
    {
      type: 'input',
      data: {
        id: uniqueId('username'),
        label: getText('recover.username', 'login'),
        hint: getText('recover.username.hint', 'login'),
        name: 'username'
      }
    },
    {
      type: 'buttonsGroup',
      data: {
        inline: true,
        classes: [`${prefix}-btns-group--right`, `${prefix}-mt-2v`],
        buttons: [
          {
            label: getText('recover.button', 'login'),
            type: 'submit',
            kind: 1
          }
        ]
      }
    }
  ]
};
 %>

<%- JSON.stringify(data); %>
