////
/// Core Tools : Reset
/// @group core
////

%btn-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

%a-reset {
  text-decoration: none;
}

%list-reset {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

%body-reset {
  font-family: $font-family-sans;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include scheme-element-text-color(g700, true);
}
