%btn-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

%a-reset {
  text-decoration: none;
  box-shadow: none;
}

@mixin all-selector() {
  $selectors: '';
  $separator: '';

  @each $attr in ('[class^="#{$prefix}-"]' '[class*="#{$prefix}-"]') {
    @each $descendant in ('' ' *') {
      @each $pseudo in ('' '::before' '::after') {
        $selectors: '#{$selectors}#{$separator}#{$attr}#{$descendant}#{$pseudo}';
        $separator:',';
      }
    }
  }

  #{$selectors} {
    @content;
  }
}
