////
/// Core Tools : Global selector
/// @group core
////

/// Préfixage d'un élément css, généralement un nom de classe
/// @access public
/// @param {String} $name - nom de l'élément
/// @param {String} $notation - notation du sélecteur, par défaut un point pour les classes
@function ns($name, $notation: '.') {
  $class-name: $notation + $prefix + '-' + $name;
  @return $class-name;
}

/// Préfixage d'une classe de groupe
/// @access public
/// @param {String} $name - nom de l'élément, à mettre au pluriel
@function ns-group($name) {
  @return ns($name + '-group');
}

/// Préfixage d'un attribut css
/// @access public
/// @param {String} $name - nom de l'attribut
/// @param {String} $value - valeur de l'attribut
@function ns-attr($name, $value: null, $case-insensitive: true, $no-brackets:false) {
  $attr: 'data-#{ns($name, "")}';
  @if $no-brackets {
    @return $attr;
  }
  @if $value == null {
    @return '[' + $attr + ']';
  }
  @else {
    $i: '';
    @if $case-insensitive {
      $i: ' i';
    }
    @return '[' + $attr + '="' + $value + '"' + $i + ']';
  }
}

@function class-start-with($start) {
  @return (unquote('[class^="#{$start}"]'), unquote('[class*=" #{$start}"]'));
}

@function class-not-start-with($start) {
  @return unquote(':not([class^="#{$start}"]):not([class*=" #{$start}"])');
}

@function class-end-with($end) {
  @return (unquote('[class$="#{$end}"]'), unquote('[class*="#{$end} "]'));
}

@function class-not-end-with($end) {
  @return unquote(':not([class$="#{$end}"]):not([class*="#{$end} "])');
}

@function selector-associate($selector, $element) {
  $segments: str-split(quote($selector), ',');
  $result: ();
  @each $segment in $segments {
    $elements: str-split($segment, ' ');
    $r: ();
    $length: length($elements);
    @if $length > 1 {
      @for $i from 1 to $length {
        $r: append($r, unquote(nth($elements, $i)), 'space');
      }
    }
    $u: selector-unify(nth($elements, -1), $element);
    @if $u != null {
      $r: append($r, $u, 'space');
      $result: append($result, $r, 'comma');
    }
  }
  @return $result;
}
