////
/// Core Tools : Collapse
/// @group core
////

@mixin collapse($className: collapse) {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, max-height 0.3s;

  &::before {
    display: block;
    content: '';
    margin-top: -100vh;
    transition: margin-top 0.3s;
  }

  &--expanded {
    opacity: 1;
    max-height: 99999px;
    visibility: visible;

    &::before {
      margin-top: 0;
    }
  }
}
