<% const sample = getSample(include); %>


<div class="<%= prefix %>-container">
  <%- sample('Tag cliquable', '../../../../../component/tag/example/sample/tag-clickable', { tag: { href: '../'}});  %>
</div>
