////
/// Table Tool : shadow
/// @group Table
////

@use 'src/module/spacing';
@use 'src/module/color';

@function _get-table-shadow($side, $active: true, $theme: light) {
  @if $active == false {
    @return inset 0 0 0 0 color.$black;
  }

  $x: 8v;
  @if $side == right {
    $x: -8v;
  }

  @return spacing.space(inset #{$x} 0 4v -8v color.$black);
}

@mixin _table-scroll-shadow($left: false, $right: false) {
  box-shadow: _get-table-shadow(left, $left), _get-table-shadow(right, $right);
}
