/*!
 * DSFR v1.1.0 | SPDX-License-Identifier: MIT | License-Filename: LICENCE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* DSFR LEGACY */

/* COMPONENT LEGACY */
@media all and (-ms-high-contrast: none) and (min-width: 62em), (-ms-high-contrast: active) and (min-width: 62em) {
  .fr-nav--align-right {
    transform: translateX(-100%);
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /**
  * Correctif radio
  */
  .fr-fieldset--inline .fr-radio-group:last-child input[type="radio"] + label[style*='background-image:'],
  .fr-fieldset--inline .fr-radio-group:last-child input[type="radio"] + label[class^="fr-ifi-"],
  .fr-fieldset--inline .fr-radio-group:last-child input[type="radio"] + label[class*=" fr-ifi-"] {
    margin-bottom: 0.5rem !important;
  }

  /**
  * Correctif alignement vertical IE
  * Inconvéniant : fixe la height à la min-height, soit 5.5 rem
  */
  .fr-radio-rich input[type="radio"] + .fr-label {
    height: 1px;
  }

  /**
  * Correctif
  */
  .fr-skiplinks.focus-within {
    position: relative;
    transform: translateY(0);
  }

  /**
  * Correctif de la hauteur de la navigation latérale
  */
  .fr-sidenav {
    height: auto;
  }

  /**
  * Correctif de l'alignement des menus sur la droite
  */
}
