////
/// Logo Module
/// @group logo
////

#{ns(logo)} {
  @include disable-link-style;
  display: inline-block;
  @include padding(1em);
  @include font-weight(bold);
  line-height: #{(13 / 12.6)}em;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  vertical-align: middle;
  text-indent: -0.1em;
  @include logo-size(md);
  @include margin-bottom(0);

  @include before('', block) {
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-image: url(svg-encode($svg-marianne, true)), linear-gradient(90deg, $blue-france 0%, $blue-france 50%, $red-marianne 50%, $red-marianne 100%), linear-gradient(90deg, $black 0%, $black 100%);
  }

  @include after('', block) {
    background-repeat: no-repeat;
    background-image: url(svg-encode($svg-motto, true));
  }

  &--sm {
    @include logo-size(sm);
  }

  &--lg {
    @include logo-size(lg);
  }
}

:root#{ns-attr(mourning)} #{ns(logo)} {
  @include before {
    box-shadow: 0 0 0 1px $white;
  }
}
