////
/// Logo Tools
/// @group logo
////

@mixin logo-size($size) {
  $font-size: map-get($logo-sizes, $size);
  font-size: #{($font-size * 1.05)};

  @include before {
    @include size(#{2.75 * $font-size}, #{$font-size});
    @include margin-bottom(#{($font-size / 3)});
    background-size: #{2.75 * $font-size} #{1.125 * $font-size}, #{2.75 * $font-size} #{$font-size}, 0;
    background-position: 0 #{(-0.0625 * $font-size)}, 0 0, 0 0;

    @at-root :root#{ns-attr(mourning)} #{&} {
      background-size: #{2.75 * $font-size} #{1.125 * $font-size}, 0, #{2.75 * $font-size} #{$font-size};
    }
  }

  @include after {
    min-width: #{2.625 * $font-size};
    background-size: #{5.25 * $font-size} #{3.75 * $font-size};
    background-position: 0 calc(100% + #{1.875 * $font-size});
    padding-top: #{((53/24) * $font-size)};

    @at-root :root#{ns-attr(theme, 'dark')} #{&} {
      background-position: #{-2.625 * $font-size} 100%;
    }
  }
}

@mixin logo($size: md, $size-md: null) {
  #{ns(logo)} {
    @include logo-size($size);

    @if $size-md != null {
      @include respond-from(md) {
        @include logo-size($size-md);
      }
    }

    @content;
  }
}

@function _color-marianne($blue, $red) {
  $tmp: str-replace($svg-marianne, '$BLUE', $blue);
  @return str-replace($tmp, '$RED', $red);
}
