////
/// Sidemenu Module
/// @group sidemenu
////

#{dse(sidemenu)} {
  @extend %default-text-color;
  @include relative;
  @include shadow(md);
  @include scheme-element-bg-color(w-g750, true);

  /**
   * Ajout de l'icône de menu en mode mobile (provisoire)
   */
  @include font-icon(menu-2-fill, md) {
    @include absolute(3v);
    @include margin-left(2v);
    transform: translateY(1px);
  }

  /**
   * Ce wrapper ne sert que pour la version mobile
   * On l'utilise pour l'ouverture/fermeture du sidemenu entier
   */
  &__wrapper {
    @include margin(0 4v);
    @include collapse();

    &--expanded {
      max-height: 100%;
    }

    @include respond-from(md) {
      overflow: initial;
      max-height: initial;
      @include margin(0);
      opacity: 1;

      &::before {
        display: none;
      }

      &#{&}--expanded {
        opacity: 1;
      }

      &:not(#{&}--expanded) {
        max-height: initial;
        visibility: visible;
      }
    }
  }

  /**
   * Titre facultatif
   */
  @include title {
    @include margin(0);
    @include padding(4v 0);
    font-size: font-size(18);
    font-weight: font-weight(bold);
    line-height: line-height(normal);
    @include scheme-element-text-color(g800);
    @include scheme-element-bg-color(t-plain, true);
    @include scheme-element-border-color(g300, true, bottom);

    @include respond-from(md) {
      @include margin(0 0 6v);
      @include padding(0);
      font-size: font-size(20);
      border: 0;
    }
  }

  @include list {
    @extend %list-reset;
    font-weight: font-weight('bold');

    #{dse(sidemenu__list)} {
      @include margin(0 0 0 4v);
      font-weight: font-weight();
    }

    @include margin(0,md);
  }

  @include list-item {
    @include relative;
    @include margin(1v);
    @include scheme-element-border-color(g300, true, bottom);

    @include before(null, none);

    &:last-child {
      border: 0;

      #{dse(sidemenu__btn)} {
        @include scheme-element-border-color(t-plain, true, bottom);
      }
    }

    &--active {
      & > #{dse(sidemenu__btn)} {
        @include scheme-element-text-color(bf500);
      }

      & > #{dse(sidemenu__link)} {
        @include scheme-element-text-color(bf500);

        @include before(null, '') {
          @include absolute(0, null, 0, -2v, 2px);
          @include margin(3v 0);
          background-color: currentColor;
        }
      }
    }

    @include respond-from(md) {
      @include margin(2v 0);
      border: 0;
    }
  }

  &__inner {
    @include respond-from(md) {
      @include padding(0 8v 0 1v);
      @include scheme-element-border-color(g300, true, right);
    }
  }

  @include respond-from(md) {
    @include scheme-element-bg-color(t-plain, true);
  }
}

@import 'modules/collapse-wrapper';
@import 'modules/variants';
@import 'modules/btn';
@import 'modules/link';
