////
/// Follow Module
/// @group follow
////

#{ns(follow)} {
  @include padding(6v 0);
  @include padding(8v 0, md);
  @include set-title-margin(0 0 2v);
  @include set-text-margin(0 0 4v);

  &__newsletter {
    // bloc newsletter

    #{ns(label)} {
      @include sr-only();
    }

    #{ns(input-wrap)} {
      @include display-flex(column);
      @include max-width(150v);
      @include margin-top(0);

      #{ns(input)} {
        @include margin-bottom(4v);
        @include margin-top(0);
      }

      #{ns(btn)} {
        justify-content: center;
      }

      @include respond-from(sm) {
        flex-direction: row;

        #{ns(btn)} {
          border-radius: 0 #{space(1v)} 0 0;
        }

        #{ns(input)} {
          @include margin-bottom(0);
          border-radius: #{space(1v)} 0 0 0;
        }
      }
    }

    #{ns(hint-text)} {
      @include margin-top(6v);
      @include margin-bottom(0);
    }

    #{ns(valid-text)},
    #{ns(error-text)} {
      @include margin-top(4v);
      + #{ns(hint-text)} {
        @include margin-top(4v);
        @include margin-top(2v, md);
      }
    }

    @include respond-from(sm) {
      #{ns(hint-text)} {
        @include margin-top(2v);
      }

      #{ns(valid-text)},
      #{ns(error-text)} {
        @include margin-top(4v);
      }
    }
  }

  &__social {
    // bloc social
    @include set-text-margin(0 0 3v);
    @include set-title-margin(0 0 3v);
    @include nest-link(md, only, null, null, true, true);

    #{ns(links-group)} {
      @include disable-list-style;

      &--lg {
        @include nest-link(lg, only);

        > li {
          @include margin-right(2v);
          @include margin-right(4v, md);
        }
      }

      > li {
        @include margin-right(4v);
        display: inline-flex;

        &:last-child {
          @include margin-right(0);
        }
      }
    }
  }

  #{ns(grid-row)} {
    > * > div {
      @include respond-from(md) {
        @include display-flex(column, flex-start, center);
        @include height(100%);
      }
    }

    > *:not(:first-child) {
      // Séparateur en box-shadow dans schemes
      @include padding-left(calc(100% / 12), md);
      @include margin-top(6v);
      @include padding-top(6v);
      @include padding-top(0, md);
      @include margin-top(0, md);
    }

    > *:not(:last-child) {
      @include padding-right(calc(100% / 12), md);
    }

    > *:first-child:last-child {
      > div {
        @include respond-from(md) {
          @include display-flex(row, center, space-between);
        }
      }

      > #{ns(follow)}__newsletter {
        // code spécifique à newsletter seul
        @include set-text-margin(0,md);
        @include respond-from(md) {
          & > * {
            @include max-width(50%);
            @include padding-right(3v);
            @include padding-left(3v);
          }

          & > :first-child {
            @include padding-right(3v);
            @include padding-left(0);
          }

          & > :last-child {
            @include padding-right(0);
            @include padding-left(3v);
          }
        }
      }

      > #{ns(follow)}__social {
        // code spécifique à social seul
        @include set-title-margin(0, md);
      }
    }
  }

  @include social-icon(facebook, facebook-circle-fill);
  @include social-icon(twitter, twitter-fill);
  @include social-icon(instagram, instagram-fill);
  @include social-icon(linkedin, linkedin-box-fill);
  @include social-icon(youtube, youtube-fill);
}
