////
/// Logo Setting
/// @group logo
////

$follow-icons: (
  facebook: facebook-circle-fill,
  twitter: twitter-fill,
  linkedin: linkedin-box-fill,
  youtube: youtube-fill,
  instagram: instagram-fill,
  github: github-fill,
);
