////
/// Pagination Module
/// @group pagination
////

#{dse(pagination)} {
  @extend %default-text-color;

  @include list {
    @extend %list-reset;
    @include display-flex(row, null, null, wrap);
    @include padding(0);
    @include margin(0 -2px);
  }

  @include list-item {
    @include display-flex(row, center, center);
    @include padding(0 3v);
    @include margin(2px 2px 2v);
    @include scheme-element-text-color(g800);
    border-radius: space(4v);
    min-width: space(8v);
    height: space(8v);

    &:not(&--first):not(&--prev)::before,
    &:not(&--next):not(&--last)::after {
      content: none;
      display: none;
      @include margin(0);
    }

    &--from-md {
      display: none;

      @include respond-from(md) {
        display: flex;
      }
    }

    &--active {
      @include scheme-element-bg-color(bf500, true, true);
      @include scheme-element-text-color(w-bf500);
      border-radius: space(4v);
      pointer-events: none;
    }

    &--disabled {
      cursor: not-allowed;
      @include scheme-element-text-color(g600-g500);
    }

    &--first + &:not(&--prev),
    &--prev + &,
    &--next,
    &:not(&--next) + &--last {
      @include margin-left(3v);
    }

    &--first,
    &--prev,
    &--next,
    &--last {
      @include padding-left(1v);
      @include padding-right(1v);
    }

    &--first {
      @include font-icon(arrow-left-s-first-line, md) {
        display: block;
        @include size(6v,6v);
        @include margin(0);
      }
    }

    &--prev {
      @include font-icon(arrow-left-s-line, md) {
        display: block;
        @include size(6v,6v);
        @include margin(0);
      }
    }

    &--next {
      @include font-icon(arrow-right-s-line, md, after) {
        display: block;
        @include size(6v,6v);
        @include margin(0);
      }
    }

    &--last {
      @include font-icon(arrow-right-s-last-line, md, after) {
        display: block;
        @include size(6v,6v);
        @include margin(0);
      }
    }
  }

  &__item--first &__label,
  &__item--prev &__label,
  &__item--next &__label,
  &__item--last &__label {
    display: none;
    @include respond-from(md) {
      display: inline;
    }
  }

  &__item--first &__label,
  &__item--prev &__label {
    @include padding(0 2v 0 1v);
  }

  &__item--next &__label,
  &__item--last &__label {
    @include padding(0 1v 0 2v);
    display: none;

    @include respond-from(md) {
      display: inline;
    }
  }

  &__item--first &__link,
  &__item--prev &__link {
    @include margin-left(-7v);
    @include padding-left(7v);
    @include margin-right(-1v);
    @include padding-right(1v);
  }

  &__item--next &__link,
  &__item--last &__link {
    @include margin-right(-7v);
    @include padding-right(7v);
    @include margin-left(-1v);
    @include padding-left(1v);
  }

  &__item--disabled &__link {
    pointer-events: none;
  }

  &__link {
    @extend %a-reset;
    @include override-reset-link-style;
    @include display-flex(row, center, center);
    @include padding(0 3v);
    @include margin(0 -3v);
    min-width: space(8v);
    height: space(8v);
    box-shadow: none;
    @include scheme-element-bg-color(t-plain, true, true);

    @include before {
      border-radius: space(4v);
    }

    /**
    &:focus {
      outline: none !important;
      &::after {
        content:'';
        position: absolute;
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        border-radius: calc(2rem + 8px);
        @include scheme-element-border-color(focus, true, null, $COLOR solid 2px);
      }
    }
     */
  }
}
