////
/// Core Module : Reset input & form field
/// @group core
////

@if (map-get($reset-settings, input)) {
  input,
  select,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include font-family;
    @include text-adjustments;
    border-radius: 0;
    border: 0;
    background-color: transparent;
    margin: 0; // Address margins set differently in Firefox 4+, Safari, and Chrome.
  }
}
