////
/// Core Module : Reset link
/// @group core
////

@if (map-get($reset-settings, link)) {
  :root {
    @include enable-link-style;
  }

  a {
    @include a-reset;
  }

  [href] {
    @include link-underline;
  }

  [target="_blank"] {
    @include link-blank;
  }

  #{ns(enlarge-link)} {
    position: relative;

    a {
      @include enlarge-link;
    }
  }

  #{ns(raw-link)} {
    @include disable-link-style;
  }

  #{ns(reset-link)} {
    @include disable-link-style;
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
