////
/// Badge Module - group
/// @group badge
////

#{ns-group(badges)} {
  @include disable-list-style;
  display: flex;
  flex-wrap: wrap;
  @include margin-x(-1v);
  @include margin-bottom(0);

  > li {
    display: inline-flex;
    @include max-width(100%);
  }

  #{ns(badge)} {
    @include margin(0 1v 2v 1v);
  }

  &--sm {
    @include nest-badge(sm);
  }
}
