<%#
# paramètres toggle group

* toggle.hint (string, optional): texte additionel

// TODO: templatisation

%>
<% eval(include('../../../../core/index.ejs')); %>

<% let toggle = locals.toggle || {}; %>
<% const id = toggle.id || uniqueId('toggle'); %>
<ul class="<%= prefix %>-toggle__list">
  <%
    for (let i = 0; i < 5; i++) {
  %>
    <li>
        <%- include('./toggle.ejs', {toggle: {...toggle, id: id + i}} ); %>
    </li>
  <% } %>
</ul>
