////
/// Tile Module : sm
/// @group tile
////

#{ns(tile--sm)} {
  @include padding(6v 6v 7v);
  @include nest-badge(sm);
  @include nest-tag(sm);

  #{ns(tile)} {
    &__title {
      @include text-style(md);
      @include margin-bottom(1v);

      a,
      button {
        @include icon-size(sm, after);
      }
    }

    &__desc {
      @include text-style(sm);
    }

    &__start {
      @include margin-bottom(2v);
    }

    &__pictogram {
      @include size(14v, 14v);
    }
  }

  &#{ns(tile--horizontal)} {
    #{ns(tile)} {
      &__header {
        @include margin-right(6v);
      }

      &__pictogram {
        @include size(10v, 10v);
      }
    }
  }

  &#{ns(enlarge-link)}:not(#{ns(tile--no-icon)}),
  &#{ns(enlarge-button)}:not(#{ns(tile--no-icon)}) {
    #{ns(tile__title)} {
      a,
      button {
        @include icon-size(sm, after) {
          @include absolute(null, 6v, 7v);
        }
      }
    }

    #{ns(tile__content)} {
      @include padding-bottom(8v);
    }
  }
}
