////
/// Modal Module
/// @group modal
////

#{ns(modal)} {
  // reset dialog
  border: none;
  color: inherit;
  visibility: hidden;
  opacity: 0;
  @include padding(0);
  @include margin(0);
  @include display-flex(column, stretch, space-between);
  @include fixed(0, 0, 0, 0, 100%, 100%);
  z-index: z-index(modal);
  // transition in/out
  transition: opacity 0.3s, visibility 0.3s;

  &:focus {
    outline: none;
  }

  @include before(block, '') {
    @include size(0, 8v);
    flex: 1 0 space(8v);
  }

  @include after(block) {
    @include size(0, 8v);
    flex: 1 0 space(8v);
  }

  /**
  * Modifier pour fixer la modale en haut en mobile (par defaut en bas)
  */
  &--top {
    @include before {
      content: none;
      @include respond-from(md) {
        content: '';
      }
    }

    @include after {
      content: '';
    }
  }

  @include respond-from(md) {
    @include before {
      @include size(0, 10vh);
      flex: 1 0 10vh;
    }

    @include after(null, '') {
      @include size(0, 10vh);
      flex: 1 0 10vh;
    }
  }

  &--opened {
    // transition in/out
    visibility: inherit;
    opacity: 1;
    @include size(100%, 100%);
    transition: opacity 0.3s, visibility 0.3s;
  }

  @include body {
    overflow-y: auto;
    flex: 1 1 auto;
    max-height: calc(100vh - 2rem);
    @include shadow(md);

    @include respond-from(md) {
      max-height: 80vh;
    }
  }

  &__header {
    flex: auto 0 0;
    @include display-flex(null, center);
    @include padding(4v 4v 2v);
  }

  &__content {
    @include padding-x(4v);
    @include padding-x(8v, md);
    @include margin-bottom(14v);
    @include margin-bottom(16v, md);
  }

  &__footer {
    flex: auto 0 0;
    @include display-flex(null);
    @include padding(4v);
    @include padding(8v, md);
    @include margin-top(-10v);
    @include margin-top(-12v, md);
    @include sticky(null,null,0);
    transition: box-shadow 0.3s;
    z-index: z-index(modal-footer-focus);

    #{ns-group(btns)} {
      margin-bottom: -1rem;
      width: calc(100% + #{space(4v)});
    }
  }

  &__title {
    @include title-style('h4');
    @include font-weight('bold');

    [class*="#{$prefix}-fi-"] {
      @include margin-right(2v);
    }

    @include margin-top(0);
    @include margin-bottom(2v);
    @include margin-bottom(4v, md);
  }
}
