<% const sample = getSample(include); %>


<div class="<%= prefix %>-container">
  <%- sample(getText('sample', 'translate'), '../../../../component/translate/example/sample/translate-default', {});  %>
</div>
