////
/// Breadcrumb Module
/// @group breadcrumb
////

/**
un padding de 4px et une marge négative en compensation sont mis en place afin d'éviter de couper le focus.
 */
#{ns(breadcrumb)} {
  @include margin(4v 0 8v);
  @include margin-bottom(10v, md);
  @include text-style(xs);
  position: relative;

  &__button {
    @include link-underline;
    @include text-style(xs);
    @include margin(0);
    @include padding(0);
    color: inherit;

    &[aria-expanded="true" i] {
      display: none;
    }

    @include respond-from(md) {
      display: none;
    }
  }

  #{ns(collapse)} {
    @include margin-x(-4px);
    @include padding-x(4px);
    transform: translateY(-4px);

    @include respond-from(md) {
      @include margin-x(0);
      @include padding-x(0);
      transform: none;
      visibility: visible;
      overflow: visible;
      max-height: initial;
      @include before(none);
    }
  }

  @include list() {
    @include disable-list-style;
    @include display-flex(row, null, null, wrap, true);
    transform: translateY(4px);

    @include respond-from(md) {
      transform: none;
    }
  }

  /**
   * margin-bottom de 2v pour créer cet espace entre chaque ligne
   */
  &__link {
    position: relative;
    display: inline-flex;
    @include text-style(xs);
    @include margin-bottom(2v);

    /**
     * flèche séparatrice en font-icon
     */
    &:not([aria-current]) {
      @include margin-right(6v);
      @include font-icon(arrow-right-s-line, sm, after);
      @include after {
        @include absolute(0.5v, -5v);
        pointer-events: none;
      }
    }

    &[aria-current] {
      @include disable-link-style;
      pointer-events: none;
      cursor: default;
    }
  }
}

@import 'schemes';
