/*!
 * DSFR v1.1.0 | SPDX-License-Identifier: MIT | License-Filename: LICENCE.md | restricted use (see terms and conditions)
 */
.fr-modal {
  background-color: var(--overlay);
}

.fr-modal__body {
  background-color: var(--w);
}

.fr-modal__body.fr-scroll-shadow .fr-modal__footer {
  box-shadow: 0 -8px 8px 0 rgba(0, 0, 0, 0.1), 0 -8px 16px -16px rgba(0, 0, 0, 0.32);
  background-color: var(--w-g750);
}

.fr-modal__title {
  color: var(--g800);
}

.fr-modal__footer {
  background-color: var(--w);
}
