////
/// Button Module - Expand
/// @group button
////

@use 'src/module/animate';

#{ns(btn--sort)} {
  @include nest-btn(sm, only, arrow-up-down-line, null, false);

  &[aria-sort='ascending'],
  &[aria-sort='descending'],
  &-asc,
  &-desc {
    @include nest-btn(sm, only, arrow-up-line, null, false);
    @include animate.rotate('&', 0);
  }

  &[aria-sort='descending'],
  &-desc {
    @include animate.rotate('&');
  }
}
