////
/// Table Module : default
/// @group Table
////

@use '../../../../../module/media-query';

#{ns(table)} {
    --table-offset: #{space(4v)};
    --table-offset-height: 0;
    --table-offset-width: 0;
    --row-header-cell-width: #{space(36.5v)};
    --cell-actionable-width: #{space(16v)};

    @include set-text-margin(0);
    @include set-title-margin(0);
    @include relative;
    @include margin-bottom(10v);

    &:not(:has(#{ns(table__container)})) {
        @include padding-top(var(--table-offset));
    }

    &__wrapper {
        width: 100%;
        @include padding(1px 1px 0);
        @include margin(-1px 0);

        position: relative;
        @include before('', block) {
            @include absolute(inherit, 0, 0 , 0, 100%, calc(100% - var(--table-offset)));
            pointer-events: none;
        }
    }

    &__container {
        width: 100%;
        overflow: auto;
        @include padding-top(var(--table-offset));
    }

    &__content {
        width: 100%;
        min-width: 40rem;

        #{ns(cell)} {
            &__fixed {
                position: sticky;
                left: 0;

                & + #{ns(cell__fixed--last)} {
                    left: var(--cell-actionable-width);
                }
            }

            &__actionable {
                text-align: center;
                @include min-width(16v);
                @include width(16v);

                #{ns(checkbox-group)} {
                    margin-right: -0.5rem;
                }
            }

            &__center {
                text-align: center;
            }

            &__right {
                text-align: right;
            }

            &__top {
                vertical-align: top;
            }

            &__bottom {
                vertical-align: bottom;
            }

            &__title {
                font-weight: 700;
            }

            &__desc {
                font-weight: 400;
            }

            &__inline {
                display: flex;
                align-items: center;
                @include margin(0 -2v);

                > * {
                    @include margin(0 2v);
                }
            }

            &__multiline {
                &,
                & * {
                    white-space: normal;
                }
            }
        }

        #{ns(col)} {
            &__xs {
                white-space: normal;
                @include min-width(16v);
            }
            &__sm {
                white-space: normal;
                @include min-width(20v);
            }
            &__md {
                white-space: normal;
                @include min-width(50v);
            }
            &__lg {
                white-space: normal;
                @include min-width(100v);
            }
        }

        table {
            @include size(100%);
            border-spacing: 0;

            thead {
                th {
                    font-weight: font-weight(bold);
                }

                tr {
                    &:first-child {
                        th {
                            &:not(#{ns(cell__fixed)}) {
                                @include relative;

                                &:hover {
                                    &::after {
                                        position: absolute;
                                        content: '';
                                        top: -1px;
                                        left: -1px;
                                        height: var(--table-offset-height);
                                        width: calc(100% + 1px);
                                        z-index: 2;
                                        background-size: 100% 2px, 2px 100%, 2px 100%, 100% 2px;
                                        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
                                        background-position: 100% 100%, 0 0, 100% 0, 100% 0;
                                        pointer-events: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            tbody {
                tr {
                    &:hover {
                        position: relative;

                        &::after {
                            position: absolute;
                            content: '';
                            top: -1px;
                            left: -1px;
                            width: calc(100% + 1px);
                            height: calc(100% + 1px);
                            z-index: 4;
                            background-size: 100% 2px, 2px 100%, 2px 100%, 100% 2px;
                            background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
                            background-position: 100% 100%, 0 0, 100% 0, 100% 0;
                            pointer-events: none;
                        }
                    }
                }
            }
        }

        #{ns(cell__row--header)} {
            z-index: 1;
            width: var(--row-header-cell-width);
            min-width: var(--row-header-cell-width);
            max-width: var(--row-header-cell-width);
            white-space: inherit;

            + th,
            + td {
                &#{ns(cell__fixed)} {
                    left: var(--row-header-cell-width);

                    & + #{ns(cell__fixed--last)} {
                        left: calc(var(--row-header-cell-width) + var(--cell-actionable-width));
                    }
                }
            }
        }

        th,
        td {
            display: table-cell;
            @include padding(2v 4v);
            @include text-style(sm);
            text-align: left;
            vertical-align: middle;
            white-space: nowrap;
            background-size: 100% 1px;
            background-repeat: no-repeat;
            background-position: 100% 100%;

            #{ns(checkbox-group)} {
                display: inline-block;

                & #{ns(label)} {
                    min-height: 1.2rem;
                    font-size: 0.875rem;
                }
            }
        }
    }

    caption {
        position: initial;
        @include title-style(h4, true);
        @include font-weight(bold);
        text-align: left;
    }

    &__detail {
        @include text-style(sm);
    }

    &#{ns-attr(js-table, true)} {
        caption {
            @include absolute(0);
        }
    }

    #{ns(collapse)} {
        #{&}:not(&--expanded) {
            display: none;
        }

        &--expanded {
            &::before {
                content: none;
            }

            & > #{ns(cell__fixed)} {
                &#{ns(cell__actionable--select)} {
                    z-index: 4;

                    #{ns(checkbox-group)} {
                        transform: translateX(var(--cell-actionable-width));
                    }
                }
            }
        }
    }
}
