////
/// Table Module : default
/// @group Table
////

@use '../../../../../module/media-query';

#{ns(table)} {
    --table-offset: #{space(4v)};
    --table-offset-width: 0;
    --scroll-offset-left: 0;
    --th-row-width: #{space(36.5v)};
    --head-col-width: 0;
    --head-col-position-left: 0;

    @include set-text-margin(0);
    @include set-title-margin(0);
    // @include padding-top(var(--table-offset));
    @include relative;
    @include margin-bottom(10v);

    &:not(:has(#{ns(table__container)})) {
        @include padding-top(var(--table-offset));
    }

    &__wrapper {
        width: 100%;
        @include padding(1px 1px 0);
        @include margin(-1px 0);

        // background-size: 1px 100%, 1px 100%, 100% 1px;
        // background-repeat: no-repeat, no-repeat, no-repeat;
        // background-position: 0 0, 100% 0, 100% 0;

        position: relative;
        @include before('', block) {
            @include absolute(inherit, 0, 0 , 0, 100%, calc(100% - var(--table-offset)));
            pointer-events: none;
        }
    }

    &__container {
        width: 100%;
        overflow: auto;
        @include padding-top(var(--table-offset));

        // @include padding(1px 1px 0);
        // @include margin(-1px 0);
        // position: relative;
        // @include before('', block) {
        //     @include absolute(0, 0, 0 , 0, 100%, 100%);
        //     pointer-events: none;
        // }
    }

    &__content {
        width: 100%;
        min-width: 40rem;

        #{ns(cell)} {
            &__actionable {
                text-align: center;
                @include min-width(16v);
                @include width(16v);

                position: sticky;
                left: 0;
                z-index: 2;

                #{ns(checkbox-group)} {
                    margin-right: -0.5rem;
                }

                & + #{ns(cell__actionable--last__right)} {
                    left: #{space(16v)};
                }
            }

            &__center {
                text-align: center;
            }

            &__right {
                text-align: right;
            }

            &__top {
                vertical-align: top;
            }

            &__bottom {
                vertical-align: bottom;
            }

            &__title {
                font-weight: 700;
            }

            &__desc {
                font-weight: 400;
            }

            &__inline {
                display: flex;
                align-items: center;
                @include margin(0 -2v);

                > * {
                    @include margin(0 2v);
                }
            }

            &__multiline {
                &,
                & * {
                    white-space: normal;
                }
            }

            &__expanded {
                @include padding(0);
            }

            // &__hover {
            //     position: relative;

            //     &::after {
            //         position: absolute;
            //         content: '';
            //         top: 0;
            //         left: 0;
            //         width: 100%;
            //         height: 100%;
            //         z-index: 1;
            //         background-size: 2px 100%, 2px 100%;
            //         background-repeat: no-repeat, no-repeat;
            //         background-position: 0 0, 100% 0;
            //         pointer-events: none;
            //     }
            // }
        }

        #{ns(col)} {
            &__xs {
                white-space: normal;
                @include min-width(16v);
            }
            &__sm {
                white-space: normal;
                @include min-width(20v);
            }
            &__md {
                white-space: normal;
                @include min-width(50v);
            }
            &__lg {
                white-space: normal;
                @include min-width(100v);
            }
        }

        table {
            @include size(100%);
            border-spacing: 0;
            position: relative;

            thead {
                // tr {
                //     &:first-child {
                //         #{ns(cell__hover)} {
                //             &::after {
                //                 background-size: 2px 100%, 2px 100%, 100% 2px;
                //                 background-repeat: no-repeat, no-repeat, no-repeat;
                //                 background-position: 0 0, 100% 0, 0 0;
                //             }
                //         }
                //     }
                // }

                th {
                    font-weight: font-weight(bold);

                    background-size: 1px 100%, 100% 1px;
                    background-repeat: no-repeat, no-repeat;
                    background-position: 100% 0, 0 100%;

                    &:first-child {
                        &:hover {
                            &::after {
                                left: var(--head-col-position-left);
                                width: var(--head-col-width);
                            }
                        }
                    }

                    &:last-child {
                        background-size: 100% 1px;
                        background-repeat: no-repeat;
                        background-position: 100% 100%;
                    }

                    &:hover {
                        &::after {
                            position: absolute;
                            content: '';
                            top: -1px;
                            left: calc(var(--head-col-position-left) - 2px);
                            width: calc(var(--head-col-width) + 2px);
                            height: calc(100% + 1px);
                            z-index: 4;
                            background-size: 100% 2px, 2px 100%, 2px 100%, 100% 2px;
                            background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
                            background-position: 100% 100%, 0 0, 100% 0, 100% 0;
                            pointer-events: none;
                        }
                    }
                }
            }

            tbody {
                tr {
                    &:hover {
                        position: relative;

                        &::after {
                            position: absolute;
                            content: '';
                            top: -1px;
                            left: -1px;
                            width: calc(100% + 1px);
                            height: calc(100% + 1px);
                            z-index: 4;
                            background-size: 100% 2px, 2px 100%, 2px 100%, 100% 2px;
                            background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
                            background-position: 100% 100%, 0 0, 100% 0, 100% 0;
                            pointer-events: none;
                        }
                    }

                    &:last-child {
                        th,
                        td {
                            &[scope='row'] {
                                background-size: 1px 100%, 100% 1px;
                                background-repeat: no-repeat, no-repeat;
                                background-position: 100% 0, 0 100%;
                            }
                        }

                        // #{ns(cell__hover)} {
                        //     &::after {
                        //         background-size: 100% 2px, 2px 100%, 2px 100%;
                        //         background-repeat: no-repeat, no-repeat, no-repeat;
                        //         background-position: 100% 100%, 0 0, 100% 0;
                        //     }
                        // }
                    }

                    &.fr-collapse {
                        &.fr-collapse--expanded {
                            display: table-row;

                            &::before {
                                content: none;
                            }

                            & > .fr-cell__actionable,
                            & .fr-cell__expanded tr > .fr-cell__actionable {
                                &.fr-cell__actionable--select {
                                    z-index: 2;

                                    .fr-checkbox-group {
                                        transform: translateX(4rem);
                                    }
                                }
                            }
                        }

                        &:not(.fr-collapse--expanded) {
                            display: none;
                        }
                    }
                }
            }
        }

        th[scope='row'] {
            position: sticky;
            left: 0;
            z-index: 1;

            background-size: 1px 100%, 100% 1px;
            background-repeat: no-repeat, no-repeat;
            background-position: 100% 0, 0 100%;
            width: var(--th-row-width);
            min-width: var(--th-row-width);
            max-width: var(--th-row-width);
            white-space: inherit;

            + th,
            + td {
                &#{ns(cell__actionable)} {
                    left: var(--th-row-width);

                    & + #{ns(cell__actionable--last__right)} {
                        left: calc(var(--th-row-width) + 4rem);
                    }
                }
            }
        }

        th,
        td {
            // position: relative;
            display: table-cell;
            @include padding(2v 4v);
            @include text-style(sm);

            text-align: left;
            vertical-align: middle;
            white-space: nowrap;

            background-size: 100% 1px;
            background-repeat: no-repeat;
            background-position: 100% 100%;

            #{ns(checkbox-group)} {
                display: inline-block;

                & #{ns(label)} {
                    min-height: 1.2rem;
                    font-size: 0.875rem;
                }
            }
        }
    }

    caption {
        position: initial;
        @include title-style(h4, true);
        @include font-weight(bold);
        text-align: left;
    }

    &__detail {
        @include text-style(sm);
    }

    &#{ns-attr(js-table, true)} {
        &:not(:has(#{ns(table__container)})) {
            caption {
                @include absolute(0);
            }
        }

        &:has(#{ns(table__container)}) {
            caption {
                @include absolute(calc(var(--table-offset) * -1),inherit, inherit, var(--scroll-offset-left), var(--table-offset-width));
            }
        }
    }

    #{ns-attr(collapse)} {
        display: inherit;

        &:not(#{ns-attr(collapse--expanded)}) {
            display: none;
        }
    }
}
