////
/// Content Tool
/// @group content
////

@use "sass:math";

@mixin content-media-sizes($medias, $gap) {
  @each $size in $content-sizes {
    $g: $gap;

    @if $size == sm {
      $g: -$gap;
    }

    &--#{$size} {
      #{$medias} {
        width: #{100% + math.div($g, 1.5)};

        @include respond-from(md) {
          width: #{100% + $g};
        }
      }

      @if $size == lg {
        #{$medias} {
          max-width: 100vw;
        }
      }
    }
  }
}
