////
/// Core Settings : Reset focus
/// @group core
////

$focus-settings: (
  a: (
    selector: 'a',
    cursor: pointer,
    disabled: (
      selector: '&:not([href])',
      cursor: not-allowed
    )
  ),
  button: (
    selector: 'button',
    cursor: pointer,
    enabled: true,
    disabled: (
      selector: '&:disabled',
      cursor: not-allowed
    )
  ),
  input: (
    selector: 'input',
    enabled: true,
    disabled: (
      selector: '&:disabled',
      cursor: not-allowed
    )
  ),
  choices: (
    selector: 'input[type="checkbox"], input[type="radio"]',
    focus: '& + label::before',
    hover: '&, & + label',
    enabled: true,
    cursor: pointer,
    disabled: (
      selector: '&:disabled',
      cursor: not-allowed
    )
  ),
  input-buttons: (
    selector: 'input[type="button"], input[type="color"], input[type="date"], input[type="datetime-local"], input[type="file"], input[type="image"], input[type="month"], input[type="range"], input[type="reset"], input[type="submit"], input[type="time"], input[type="week"]',
    enabled: true,
    cursor: pointer,
    no-focus: true
  ),
  select: (
    selector: 'select',
    cursor: pointer,
    enabled: true,
    disabled: (
      selector: '&:disabled',
      cursor: not-allowed
    )
  ),
  textarea: (
    selector: 'textarea',
    enabled: true,
    disabled: (
      selector: '&:disabled',
      cursor: not-allowed
    )
  ),
  tabindex: (
    selector: '[tabindex]',
    disabled: (
      selector: '&[tabindex="-1"]'
    )
  ),
  medias: (
    selector: 'video, audio',
    focus: '&[controls]',
    cursor: pointer,
    disabled: (
      selector: '&:not([href])',
      cursor: not-allowed
    )
  ),
  contenteditable: (
    selector: '[contenteditable]:not([contenteditable="false"])',
  ),
  details: (
    selector: 'details, details > summary:first-of-type',
    cursor: pointer,
  )
);
