<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <%- sample('Onglets', '../../../../component/tab/example//sample/tabs-default', {tabs: { tabsCount: 4, icon: 'checkbox-circle-line' }});  %>
</div>
