@import '../core/src/styles/settings';
@import '../core/src/styles/tools';

@import '../schemes/src/styles/settings';
@import '../schemes/src/styles/tools';

@import 'generated/icons';
@import 'src/styles/settings';
@import 'src/styles/tools';
@import 'src/styles/module';
