#{selector.ns(header)} {
  #{selector.ns(links-group)} {
    @include typography.disable-list-style;
    @include display.flex(null, stretch, null, wrap);
    @include vertical-btns-group;

    @include media-query.from(lg) {
      justify-content: flex-end;
      @include horizontal-btns-group;
    }

    #{selector.ns(link)} {
      @include disable-underline;
      @include enable-tint;

      @include has-not-icon {
        @include nest-btn(sm, null, null, null, false);
      }

      @include has-icon {
        @include nest-btn(sm, left, null, null, false);
        @include selector.before('');
      }
    }
  }

  &__tools-links {
    #{ns-group(links)} {
      @include media-query.from(lg) {
        @include horizontal-btns-group;
        justify-content: flex-end;
        @include spacing.margin(0 -1v);

        #{selector.ns(link)} {
          @include spacing.margin-x(1v);
        }
      }
    }
  }

  & &__menu-links {
    #{selector.ns(links-group)} {
      #{selector.ns(link)} {
        @include spacing.size(100%);
        @include spacing.min-size(null, 12v);
        @include spacing.padding-left(0);
        @include spacing.margin-bottom(0);
      }
    }
  }

  #{selector.ns(modal)} {
    & > * > #{selector.ns(link--close)} {
      @include spacing.margin-bottom(6v);
      @include media-query.from(lg) {
        display: none;
      }
    }
  }
}
