<%#
# paramètres socials

* socials.title (string, required) : titre du bloc réseaux sociaux

* socials.networks (array, required) : Tableau de réseaux sociaux
  ** socials.networks[].label (string, required) : nom du réseau social
  ** socials.networks[].url (string, required) : adresse url du réseau social

%>
<% eval(include('../../../../core/index.ejs'));

let socials = locals.socials || {buttons: []};
let socialsClasses = [prefix + '-follow__social'];

const mapSocialButton = (data) => {
  const button = {
      markup: 'a',
      title: data.title,
      label: data.label,
      href: data.url,
      id: data.id || uniqueId('social-button'),
      blank: true,
      classes: []
  }
  if (data.classes) button.classes = data.classes;
  if (data.type) button.classes.push(`${prefix}-btn--${data.type}`);
  if (data.attributes) button.attributes = data.attributes;

  return button;
};

const buttonsGroup = {
    size: socials.size || 'md',
    buttons: socials.buttons.map(button => mapSocialButton(button))
}
%>

<div <%- includeClasses(socialsClasses); %> >
  <h2 class="<%= prefix %>-h5"><%- socials.title %></h2>
  <%- include('../../../button/template/ejs/buttons-group', {buttonsGroup : buttonsGroup}); %>
</div>
