////
/// Core Setting : Reset
/// @group core
////

@import 'setting/font-face';
@import 'setting/focus';

$reset-settings: (
  body: true,
  box-sizing: true,
  font-face: (
    path:'../fonts'
  ),
  focus: true,
  heading: true,
  link: true,
  list: true,
  text: true,
  button: true,
  input: true
) !default;
