////
/// Core Tool : Selector icon
/// @group core
////

$icon-prefixes: icon- fi-;

@mixin has-icon() {
  $start: ();
  @each $prefix in $icon-prefixes {
    $start: append($start, class-start-with(ns($prefix, '')), 'comma');
  }

  @include _class-pattern($start) {
    @content;
  }
}

@mixin has-not-icon() {
  $start: '';
  @each $prefix in $icon-prefixes {
    $start: '#{$start}#{class-not-start-with(ns($prefix, ''))}';
  }

  @include _class-pattern(unquote($start)) {
    @content;
  }
}
