<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >

  <%- sample('case à cocher cochée', '../../../../../component/checkbox/template/ejs/checkbox-group.ejs', { checkbox: { label: 'Libellé case à cocher', value: '1', id: uniqueId('checkbox'), checked: true, attributes: { value: 'checkbox-value' }} }); %>

</div>
