////
/// Core Setting : Spacing z-index
/// @group core
////

/// Liste des z-index présent dans le DS
/// @type map
$z-indexes: (
  auto: auto,
  below: -2,
  under: -1,
  base: 0,
  over: 1,
  above: 2,
);
